<template>
  <div class="file-box">
    <div class="file-title">{{ groupName }}工程入网</div>
    <div class="accessNetwork-box">
      <div class="equipment-select">
        <el-form :model="accessNetwork">
          <el-form-item label="工程入网设备：">
            <el-select v-model="accessNetwork.device" placeholder="可选可输入" multiple disabled allow-create clearable filterable @blur="e => selectBlur(e)">
              <el-option v-for="(item, index) in options" :key="index" :label="item" :value="item" />
            </el-select>
          </el-form-item>
          <div class="upload-box">
            <div class="upload-item">
              <div class="upload-title">
                <span style="color: red">*</span>
                {{ deviceName }}入网文件上传：
              </div>
              <el-upload class="upload-demo" ref="upload" action="" :on-success="handleSuccess" :http-request="handleUpload" :auto-upload="true" :multiple="false" :file-list="fileList">
                <el-button class="el-icon-upload2 button1" slot="trigger" size="small" type="primary">点击上传</el-button>
                <el-button class="el-icon-tickets button2" size="small" type="primary" @click="downloadExcel()">申请模板下载</el-button>
              </el-upload>
            </div>
          </div>
        </el-form>
      </div>
    </div>
    <div class="success-box"></div>
  </div>
</template>

<script setup lang="ts">
import { uploadFile } from '@/api/CMOBprocess/projectAccess';
import { ElMessage, ElMessageBox } from 'element-plus';
import { getCurrentInstance, onMounted, reactive } from 'vue';

const props = defineProps({
  groupName: { type: String },
  deviceName: { type: String }
});

const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;
const {
  proxy: { $forceUpdate }
}: any = getCurrentInstance();

const state = reactive({
  accessNetwork: {
    device: []
  },
  deviceId: '',
  options: [],
  fileList: []
});

const selectBlur = (e, prop, prop2) => {
  if (e.target.value !== '') {
    state[prop][prop2] = e.target.value;
    $forceUpdate(); // 强制更新\
  }
};
// downloadExcel(){
//     ElMessage({ type: "success", message: "下载中...", center: true });
//     window.location.href = (`http://188.103.137.104/api/cmdb_order/download_template?device=${this.deviceName}`)
// },
const handleUpload = file => {
  let data = { file: file.file, device: state.deviceName, group: '专业组' };
  uploadFile(data).then(res => {
    if (res.data.code == 1) {
      ElMessage.success(res.data.message || '文件上传成功。');
      state.deviceId = res.data.data.file_id;
      $bus.emit('fileId', state.deviceId);
    } else {
      ElMessageBox.confirm(res.data.msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'error'
      }).then(() => {});
      state.fileList = [];
    }
  });
};

onMounted(() => {
  state.accessNetwork.device = [state.deviceName];
});
</script>
<style lang="scss" scoped>
.file-box {
  width: 100%;
  min-height: 200px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  .file-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding-left: 10px;
    background: #eaecef;
    border-radius: 1px 1px 0px 0px;
  }
  .accessNetwork-box {
    width: 100%;
    padding: 10px;
    .equipment-select {
      width: 100%;
      :deep(.el-form-item__content) {
        width: 44%;
      }
      .upload-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .upload-item {
          width: 48%;
          margin-bottom: 20px;
          .upload-title {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            font-family: PingFangSC-Regular-, PingFangSC-Regular;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.85);
            padding: 0;
            margin: 0;
          }
          .button1 {
            width: 120px;
            color: rgba(0, 0, 0, 0.65);
            font-size: 14px;
            background: #f7f7f7;
            border-radius: 2px;
            border: 1px solid #d9d9d9;
            margin-right: 10px;
          }
          :deep(.el-icon-upload2):before {
            margin-right: 5px;
          }
          .button2 {
            font-size: 14px;
            background: transparent;
            color: #448ef7;
            border: none;
          }
          :deep(.el-icon-tickets):before {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
</style>
