<template>
  <div class="form-box">
    <div class="form-content">
      <el-form :model="state.ruleForm" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <div class="from-box">
          <div class="item_box">
            <el-form-item label="工单发起人：">
              <el-input v-model="state.ruleForm.initiator" disabled></el-input>
            </el-form-item>
            <el-form-item label="所属云平台：">
              <el-select v-model="state.ruleForm.cloudPlatform" placeholder="可选可输入" clearable disabled filterable @blur="e => selectBlur(e, 'ruleForm', 'cloudPlatform')">
                <el-option v-for="(item, index) in state.options" :key="index" :label="item" :value="item" />
              </el-select>
            </el-form-item>
          </div>
          <div class="item_box">
            <el-form-item label="工单名称：">
              <el-input v-model="state.ruleForm.projectName" disabled placeholder="请输入工单名称"></el-input>
            </el-form-item>
            <el-form-item label="工程期数：">
              <el-select v-model="state.ruleForm.engineeringNumber" placeholder="可选可输入" clearable disabled filterable @blur="e => selectBlur(e, 'ruleForm', 'engineeringNumber')">
                <el-option v-for="(item, index) in state.options2" :key="index" :label="item" :value="item" />
              </el-select>
            </el-form-item>
          </div>
          <div class="item_box">
            <el-form-item label="所属专业组：">
              <el-select v-model="state.ruleForm.ProfessionalGroup" ref="groupselect" placeholder="可选可输入" multiple disabled allow-create clearable filterable>
                <el-option v-for="(item, index) in state.options3" :key="index" :label="item" :value="item" />
              </el-select>
            </el-form-item>
            <el-form-item label="硬件资源池：">
              <el-select v-model="state.ruleForm.hardwareResourcePool" placeholder="可选可输入" clearable disabled filterable @blur="e => selectBlur(e, 'ruleForm', 'hardwareResourcePool')">
                <el-option v-for="(item, index) in state.options4" :key="index" :label="item" :value="item" />
              </el-select>
            </el-form-item>
          </div>
        </div>
        <apply-file v-for="(item, index) in state.ruleForm.ProfessionalGroup" :key="index" :group-name="item" :device-name="state.device"></apply-file>
      </el-form>
    </div>
    <div class="line-box"></div>
    <div class="reject-table">
      <div class="table-header">审核记录</div>
      <el-table ref="multipleTable" :data="detailTable" tooltip-effect="dark" style="width: 100%; margin-bottom: 20px" border :header-cell-style="{ background: '#EAECEF', color: '#000' }">
        <el-table-column label="审核节点" align="center" prop="audit_node"></el-table-column>
        <el-table-column label="审核结果" align="center" prop="audit_result"></el-table-column>
        <el-table-column label="操作时间" align="center" prop="updated_time"></el-table-column>
        <el-table-column label="审批人" align="center" prop="audit_name"></el-table-column>
        <el-table-column label="审批人联系方式" align="center" prop="audit_phone"></el-table-column>
        <el-table-column label="审核意见" align="center" prop="audit_opinion"></el-table-column>
      </el-table>
    </div>
    <div class="submit-but">
      <el-button size="small" type="primary" :disabled="this.deviceList.length <= 0" @click="submitApplyForm">提交申请</el-button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { againSubmitOrder } from '@/api/CMOBprocess/projectAccess';
import { getCurrentInstance, onMounted, reactive } from 'vue';
import ApplyFile from './applyFile';
const props = defineProps({
  rejectFillTips: { type: Boolean },
  detailTable: { type: Array },
  rejectList: { type: Array }
});

const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;
const {
  proxy: { $forceUpdate }
}: any = getCurrentInstance();

const state = reactive({
  ruleForm: {
    initiator: '',
    cloudPlatform: '',
    projectName: '',
    engineeringNumber: '',
    ProfessionalGroup: [],
    hardwareResourcePool: ''
  },
  rejectFillTips: false,
  device: '',
  deviceList: [],
  orderId: '',
  options: [],
  options2: [],
  options3: [],
  options4: [],
  options5: [],
  id: 1
});

const selectBlur = (e, prop, prop2) => {
  if (e.target.value !== '') {
    state[prop][prop2] = e.target.value;
    $forceUpdate(); // 强制更新\
  }
};
const submitApplyForm = () => {
  let data = {
    file_id: state.deviceList[0],
    id: state.id
  };
  againSubmitOrder(state.orderId, data).then(res => {});
  state.rejectFillTips = false;
  $bus.emit('changeShowTip', state.rejectFillTips);
};

onMounted(() => {
  $bus.on('fileId', deviceId => {
    state.deviceList[0] = deviceId;
    $forceUpdate();
  });
  state.id = sessionStorage.getItem('role_id');
  state.rejectList.forEach(item => {
    if (item.itemfild == 'initiator') {
      state.ruleForm.initiator = item.itemVal;
    }
    if (item.itemfild == 'cloud') {
      state.ruleForm.cloudPlatform = item.itemVal;
    }
    if (item.itemfild == 'order_name') {
      state.ruleForm.projectName = item.itemVal;
    }
    if (item.itemfild == 'periods') {
      state.ruleForm.engineeringNumber = item.itemVal;
    }
    if (item.itemfild == 'specialty') {
      state.ruleForm.ProfessionalGroup = [item.itemVal];
    }
    if (item.itemfild == 'pool') {
      state.ruleForm.hardwareResourcePool = item.itemVal;
    }
    if (item.itemfild == 'device') {
      state.device = item.itemVal;
    }
    if (item.itemfild == 'order_id') {
      state.orderId = item.itemVal;
    }
  });
});
</script>
<style lang="scss" scoped>
.form-box {
  width: 100%;
  .form-content {
    width: 63%;
    padding: 15px 0;
    margin: auto;
    .from-box {
      width: 100%;
    }
    .item_box {
      height: 96px;
      display: flex;
      justify-content: space-between;
    }
    .el-form-item {
      width: 44%;
    }
    :deep(.el-form-item__label) {
      float: none;
      font-weight: normal;
      line-height: 30px;
    }
    :deep(.el-select) {
      width: 100%;
    }
    :deep(.el-input__inner) {
      height: 36px;
      line-height: 36px;
    }
    :deep(.el-form-item__content) {
      margin: 0 !important;
    }
  }
  .line-box {
    width: 100%;
    height: 1px;
    background: #e9e9e9;
  }
  .reject-table {
    width: 100%;
    padding: 30px 0;
    .table-header {
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      font-weight: 600;
      font-family: PingFangSC-Medium-, PingFangSC-Medium;
      height: 32px;
    }
  }
  .submit-but {
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    :deep(.el-button--mini),
    .el-button--small {
      font-size: 14px;
    }
  }
}
</style>
