<template>
    <div class="reject-box">
        <div class="reject-detail">
            <div class="detail-header">
                工单详情
            </div>
            <div class="detail-item">
                <div v-for="(item,index) in detailList" :key="index">
                    <span>{{item.itemName}}</span>：
                    <span>{{item.itemVal}}</span>
                </div>
            </div>
        </div>
        <div class="reject-table">
            <div class="table-header">
                审核记录
            </div>
            <el-table
            ref="multipleTable"
            :data="detailTable"
            v-loading="detailLoading" 
            element-loading-text="加载中"
            tooltip-effect="dark"
            style="width: 100%;margin-bottom:20px"
            border
            :header-cell-style="{ background: '#EAECEF', color: '#000'}"
            >
                <el-table-column label="审核节点" align="center" prop="" ></el-table-column>
                <el-table-column label="审核结果" align="center" prop="" ></el-table-column>
                <el-table-column label="操作时间" align="center" prop="" ></el-table-column>
                <el-table-column label="审批人" align="center" prop="" ></el-table-column>
                <el-table-column label="审批人联系方式" align="center" prop="" ></el-table-column>
                <el-table-column label="审核意见" align="center" prop="" ></el-table-column>
            </el-table>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        detailList:{type:Array},
        detailTable:{type:Array},
        detailLoading:{type:Boolean}
    },
    data(){
        return{

        }
    }
}
</script>
<style lang="scss" scoped>
.reject-box{
    width: 100%;
    .reject-detail{
        width: 100%;
        padding: 30px 0;
        border-bottom: 1px solid #E8E8E8;;
        .detail-header{
            color: rgba(0,0,0,0.85);
            font-size: 14px;
            font-weight: 600;
            font-family: PingFangSC-Medium-, PingFangSC-Medium;
            height: 32px;
        }
        .detail-item{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            div{
                min-width: 25.5%;
                max-width: 33.3%;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                :nth-child(1){
                    display: inline-block;
                    font-family: PingFangSC-Regular-, PingFangSC-Regular;
                    color: rgba(0,0,0,0.85);
                }
                :nth-child(2){
                    display: inline-block;
                    font-family: HelveticaNeue-, HelveticaNeue;
                    color: rgba(0,0,0,0.65);
                }
            }
        }
    }
    .reject-table{
        width: 100%;
        padding: 30px 0;
        .table-header{
            color: rgba(0,0,0,0.85);
            font-size: 14px;
            font-weight: 600;
            font-family: PingFangSC-Medium-, PingFangSC-Medium;
            height: 32px;
        }
    }
}

</style>