<template>
    <div class="reject-table">
        <div class="table-header">
            审核记录
        </div>
        <el-table
        ref="multipleTable"
        :data="detailTable"
        v-loading="detailLoading" 
        element-loading-text="加载中"
        tooltip-effect="dark"
        style="width: 100%;margin-bottom:20px"
        border
        :header-cell-style="{ background: '#EAECEF', color: '#000'}"
        >
            <el-table-column label="审核节点" align="center" prop="audit_node" ></el-table-column>
            <el-table-column label="审核结果" align="center" prop="audit_result" ></el-table-column>
            <el-table-column label="操作时间" align="center" prop="updated_time" ></el-table-column>
            <el-table-column label="审批人" align="center" prop="audit_name" ></el-table-column>
            <el-table-column label="审批人联系方式" align="center" prop="audit_phone" ></el-table-column>
            <el-table-column label="审核意见" align="center" prop="audit_opinion" ></el-table-column>
        </el-table>
    </div>
</template>
<script>
export default {
    props:{
        detailTable:{type:Array},
        detailLoading:{type:Boolean}
    },
}
</script>
<style lang="scss" scoped>
.reject-table{
    width: 100%;
    padding: 30px 0;
    .table-header{
        color: rgba(0,0,0,0.85);
        font-size: 14px;
        font-weight: 600;
        font-family: PingFangSC-Medium-, PingFangSC-Medium;
        height: 32px;
    }
}
</style>