<template>
    <div class="reject-detail">
        <div class="detail-header">
            工单详情
        </div>
        <div class="detail-item">
            <div v-for="(item,index) in detailList" :key="index">
                <span>{{item.itemName}}</span>：
                <span v-if="index == detailList.length-1" style="color:#448EF7;cursor: pointer;" @click="downloadFile(item.itemVal,item.hash_value)">
                    {{item.itemVal}}
                    <span class="iconfont icon-xiazai" style="color:#448EF7"></span>
                </span>
                <span v-else>{{item.itemVal}}</span>
            </div>
        </div>
    </div>
</template>
<script>
import {downloadOrder} from '@/api/CMOBprocess/projectAccess'
export default {
    props:{
        detailList:{type:Array}
    },
    methods:{
        // downloadFile(name,e){
        //     this.$message({ type: "success", message: "下载中...", center: true });
        //     window.location.href = (`http://188.103.137.104/api/cmdb_order/filedown/${e}`)
        // }
        downloadFile(name,e){
            this.$message({ type: "success", message: "下载中...", center: true });
            downloadOrder(e).then((res)=>{
                console.log(res);
                let data = res.data // 这里后端对文件流做了一层封装，将data指向res.data即可
                if (!data) {
                        return
                }
                let url = window.URL.createObjectURL(new Blob([data]))
                let a = document.createElement('a')
                a.style.display = 'none'
                a.href = url
                a.setAttribute('download',`${name}`)
                document.body.appendChild(a)
                a.click() //执行下载
                window.URL.revokeObjectURL(a.href) //释放url
                document.body.removeChild(a) //释放标签
            })
        },
    }
}
</script>
<style lang="scss" scoped>
.reject-detail{
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #E8E8E8;
    .detail-header{
        color: rgba(0,0,0,0.85);
        font-size: 14px;
        font-weight: 600;
        font-family: PingFangSC-Medium-, PingFangSC-Medium;
        height: 32px;
    }
    .detail-item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        div{
            min-width: 32.5%;
            max-width: 33.3%;
            height: 34px;
            line-height: 34px;
            font-size: 14px;
            :nth-child(1){
                display: inline-block;
                font-family: PingFangSC-Regular-, PingFangSC-Regular;
                color: rgba(0,0,0,0.85);
            }
            :nth-child(2){
                display: inline-block;
                font-family: HelveticaNeue-, HelveticaNeue;
                color: rgba(0,0,0,0.65);
            }
        }
    }
}
</style>