<template>
    <div class="progress-header" >
        <el-steps class="step-box" :active="stepActive" finish-status="success">
            <el-step title="工程入网申请" style="width:180px;flex-basis:21%;"></el-step>
            <el-step title="专业组数据管理员审核" style="width:253px;flex-basis:32%;"></el-step>
            <el-step title="数据组确认" style="width:220px;flex-basis:22%;"></el-step>
            <el-step title="专业组数据管理员审核" style="width:240px;flex-basis:32%;"></el-step>
            <el-step title="数据组确认" style="width:200px;flex-basis:20.5%;"></el-step>
            <el-step title="完成" style="flex-basis:20%;"></el-step>
        </el-steps>
    </div>
</template>
<script>
export default {
    props:{
        stepActive:{type:Number}
    },
    data(){
        return{

        }
    }
}
</script>
<style lang="scss" scoped>
.progress-header{
    width: 100%;
    height: 120px;
    position: relative;
    .step-box{
        position: absolute;
        left: 48%;
        top: 50%;
        transform: translate(-50% , -50%);
        ::v-deep .el-steps--horizontal{
            position: relative;
        }
        ::v-deep .el-step__icon{
            width: 20px;
            height: 20px;
        }
        ::v-deep .el-step__icon-inner{
            color: #fff;
        }
        ::v-deep .el-step__head.is-finish .el-step__icon-inner{
            color: #fff;
        }
        ::v-deep .el-step__head.is-finish .el-step__icon.is-text{
            background: #fff;
            border-color: #448EF7;
        }
        ::v-deep .el-step__head.is-process .el-step__icon.is-text{
            border-color: #3D97FF;
            background: #3D97FF;
        }
        ::v-deep .el-step__head.is-process .el-step__line{
            height: 1px;
        }
        ::v-deep .el-step__line{
            color: #333333;
        }
        ::v-deep .el-step__head.is-success{
            color: #333;
            border-color: rgba(0,0,0,0.15);
        }
        ::v-deep .el-step__title.is-success{
            color: #333333;
        }
        ::v-deep .el-step__head.is-success .el-step__icon.is-text{
            border-color: #3D97FF;
            background: transparent;
        }
        ::v-deep .el-step__head.is-success .el-step__icon-inner{
            color: #1890FF;
        }
        ::v-deep .el-step__title.is-process{
            color: #333;
        }
        ::v-deep .el-step__title.is-finish{
            color: #333;
        }
        ::v-deep .el-step__head.is-wait .el-step__line{
            background: rgba(0,0,0,0.15);
        }
        ::v-deep .el-step__title{
            width: 140px;
            font-size: 14px;
            line-height: 38px;
            position: absolute;
            left: 24px;
            top: -8px;
        }
        ::v-deep .el-step__title.is-wait{
            color: #8c8c8c;
        }
        ::v-deep .el-step.is-horizontal .el-step__line {
            height: 1px;
            top: 11px;
            width: 50px;
            left: 66%;
        }
        ::v-deep .el-step__line-inner{
            border-color:rgba(0,0,0,0.05);
        }
        ::v-deep .el-step__head.is-wait .el-step__icon.is-text{
            background: rgba(0,0,0,0.15);
            opacity: 1;
        }
        ::v-deep .el-step__head.is-wait .el-step__icon-inner{
            color: rgba(0,0,0,0.25);
        }
    }
}
</style>