<template>
  <div class="file-box">
    <div class="file-title">{{ props.deviceList.professionalGroup }}工程入网</div>
    <div class="accessNetwork-box">
      <div class="equipment-select">
        <el-form :model="props.deviceList" :rules="state.rules">
          <el-form-item label="工程入网设备：" prop="accessNetworkEquipment">
            <el-select v-model="props.deviceList.devices" placeholder="请选择入网设备" multiple clearable filterable @change="deviceChange" @blur="e => selectBlur(e, 'deviceList', 'devices')">
              <el-option v-for="(item, index) in state.optionsList" :key="index" :label="item" :value="item" />
            </el-select>
          </el-form-item>
          <div class="upload-box">
            <div class="upload-item" v-for="(item, index) in props.deviceList.devices" :key="index">
              <div class="upload-title">
                <span style="color: red">*</span>
                {{ item }}入网文件上传：
              </div>
              <upload-file :device-name="item" :device-list="props.deviceList"></upload-file>
            </div>
          </div>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { selectList } from '@/api/CMOBprocess/projectAccess';
import { getCurrentInstance, reactive, watch } from 'vue';
import uploadFile from '../components/uploadFile.vue';

const $forceUpdate = getCurrentInstance()!.proxy!.$forceUpdate;
const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;

const props = defineProps({
  deviceList: { type: Object }
});

const state = reactive({
  accessNetworkForm: {
    accessNetworkEquipment: []
  },
  rules: {
    accessNetworkEquipment: [
      { required: true, message: '可选可输入', trigger: 'blur' },
      { min: 1, max: 100, message: '请选择工程入网设备', trigger: 'blur' }
    ]
  },
  optionsList: [],
  // fileList:[],
  dataVal: {}
  // butStatus:false,
});

const selectBlur = (e, prop, prop2) => {
  if (e.target.value !== '') {
    state[prop][prop2] = e.target.value;
    $forceUpdate(); // 强制更新\
  }
};

const deviceChange = () => {
  let fileObject = {};
  for (let i = 0; i < props.deviceList.deviceFiles.length; i++) {
    let item = props.deviceList.deviceFiles[i];
    fileObject[item.device] = item;
  }
  props.deviceList.deviceFiles = [];
  for (let i = 0; i < props.deviceList.devices.length; i++) {
    const device = props.deviceList.devices[i];
    if (Object.keys(fileObject).indexOf(device) > -1) {
      props.deviceList.deviceFiles.push(fileObject[device]);
    } else {
      props.deviceList.deviceFiles.push({
        device: device,
        file_id: null,
        specialty: props.deviceList.professionalGroup
      });
    }
  }
};

const getDeviceList = () => {
  let data = '';
  selectList(data).then(res => {
    if (res.data.code == 1) {
      state.optionsList = res.data.data.device[props.deviceList.professionalGroup];
    }
    props;
  });
};

getDeviceList();

watch(
  () => props.deviceList,
  (val, old) => {
    if (val.professionalGroup != old.professionalGroup) {
      getDeviceList();
    }
  }
);
</script>
<style lang="scss" scoped>
.file-box {
  width: 100%;
  min-height: 200px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  .file-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding-left: 10px;
    background: #eaecef;
    border-radius: 1px 1px 0px 0px;
  }
  .accessNetwork-box {
    width: 100%;
    padding: 10px;
    .equipment-select {
      width: 100%;
      :deep(.el-form-item__content) {
        width: 44%;
      }
      .upload-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .upload-item {
          width: 48%;
          margin-bottom: 20px;
          .upload-title {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            font-family: PingFangSC-Regular-, PingFangSC-Regular;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.85);
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
</style>
