<template>
  <div class="form-content">
    <el-form :model="state.ruleForm" :rules="state.rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
      <div class="from-box">
        <div class="item_box">
          <el-form-item label="工单发起人：" prop="initiator">
            <el-input v-model="state.ruleForm.initiator" disabled></el-input>
          </el-form-item>
          <el-form-item label="所属云平台：" prop="cloudPlatform">
            <el-select v-model="state.ruleForm.cloudPlatform" placeholder="可选可输入" clearable filterable @change="chooseCloud" @blur="e => selectBlur(e, 'ruleForm', 'cloudPlatform')">
              <el-option v-for="(item, index) in state.options" :key="index" :label="item" :value="item" />
            </el-select>
          </el-form-item>
        </div>
        <div class="item_box">
          <el-form-item label="工程期数：" prop="engineeringNumber">
            <el-select v-model="state.ruleForm.engineeringNumber" placeholder="可选可输入" clearable filterable @blur="e => selectBlur(e, 'ruleForm', 'engineeringNumber')">
              <el-option v-for="(item, index) in state.options2" :key="index" :label="item" :value="item" />
            </el-select>
          </el-form-item>
          <el-form-item label="硬件资源池：" prop="hardwareResourcePool">
            <!-- :disabled="!ruleForm.cloudPlatform" -->
            <el-select v-model="state.ruleForm.hardwareResourcePool" placeholder="可选可输入" clearable allow-create filterable @blur="e => selectBlur(e, 'ruleForm', 'hardwareResourcePool')">
              <el-option v-for="(item, index) in state.options3" :key="index" :label="item" :value="item" />
            </el-select>
          </el-form-item>
        </div>
        <div class="item_box">
          <el-form-item label="所属专业组：" prop="ProfessionalGroup">
            <el-select v-model="state.ruleForm.ProfessionalGroup" ref="groupselect" @change="selectGroup" placeholder="请选择所属专业组" multiple clearable filterable>
              <el-option v-for="(item, index) in state.options4" :key="index" :label="item" :value="item" />
            </el-select>
          </el-form-item>
        </div>
      </div>
      <file-components v-for="(item, index) in state.ruleForm.deviceFileList" :key="index" :device-list="item"></file-components>
      <div class="submit-but">
        <el-button
          size="small"
          type="primary"
          ref="submitButRef"
          :disabled="!state.ruleForm.cloudPlatform || !state.ruleForm.engineeringNumber || !state.ruleForm.hardwareResourcePool || state.ruleForm.ProfessionalGroup.length <= 0 || state.ruleForm.deviceFileList[0].deviceFiles.length <= 0"
          @click="submitApplyForm">
          提交申请
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<script setup lang="ts">
import { selectList, submitApply } from '@/api/CMOBprocess/projectAccess';
import { ElMessage, ElMessageBox } from 'element-plus';
import { getCurrentInstance, reactive, ref } from 'vue';
import FileComponents from './fileComponents.vue';

const $forceUpdate = getCurrentInstance()!.proxy!.$forceUpdate;
const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;

const state = reactive({
  ruleForm: {
    initiator: '',
    cloudPlatform: '',
    engineeringNumber: '',
    ProfessionalGroup: [],
    deviceFileList: [],
    hardwareResourcePool: ''
  },
  rules: {
    cloudPlatform: [
      { required: true, message: '可选可输入', trigger: 'blur' },
      { min: 1, max: 20, message: '请选择所属云平台', trigger: 'blur' }
    ],
    engineeringNumber: [
      { required: true, message: '请输入工程期数', trigger: 'blur' },
      { min: 1, max: 50, message: '', trigger: 'blur' }
    ],
    ProfessionalGroup: [
      { required: true, message: '请输入所属专业组', trigger: 'blur' },
      { min: 1, max: 50, message: '', trigger: 'blur' }
    ],
    hardwareResourcePool: [
      { required: true, message: '请输入硬件资源池', trigger: 'blur' },
      { min: 1, max: 50, message: '', trigger: 'blur' }
    ]
  },
  options: [],
  options2: [],
  options3: [],
  options4: [],
  options5: [],
  showTips: 1,
  deviceList: [],
  paramUser: {
    id: 1,
    role_names: []
  },
  allUp: true,
  poolBack: [],
  poolAll: {
    网络云大区: [
      '网络云-大区金华DMZ0',
      '网络云-大区金华可信1',
      '网络云-大区金华可信2',
      '网络云-大区金华可信3',
      '网络云-大区金华可信4',
      '网络云-大区金华可信5',
      '网络云-大区金华可信6',
      '网络云-大区金华可信7',
      '网络云-大区金华可信8',
      '网络云-大区金华网管池9',
      '网络云-大区金华DMZ10',
      '网络云-大区金华可信11',
      '网络云-大区金华网管12',
      '网络云-大区金华省内13',
      '网络云-大区宁波DMZ0',
      '网络云-大区宁波可信1',
      '网络云-大区宁波可信2',
      '网络云-大区宁波可信3',
      '网络云-大区宁波DMZ4',
      '网络云-大区宁波可信5',
      '网络云-大区宁波可信6',
      '网络云-大区宁波省内7',
      '网络云-大区宁波网管8'
    ],
    网络云省内: ['网络云-省内杭州01', '网络云-省内杭州02', '网络云-省内金华04'],
    平台云: ['平台云-滨江01', '平台云-石桥01', '平台云-石桥02', '平台云-石桥03', '平台云-萧山01', '平台云-萧山02', '平台云-萧山03', '平台云-萧山04', '平台云-萧山05', '平台云-萧山06', '平台云-萧山07', '平台云-金华01', '平台云-金华02', '平台云-金华03', '平台云-金华04', '平台云-金华05'],
    政企云: ['政企云-石桥01', '政企云-石桥02', '政企云-萧山01', '政企云-萧山02'],
    融合边缘云: ['融合边缘云-杭州01', '融合边缘云-宁波01', '融合边缘云-湖州01', '融合边缘云-衢州01', '融合边缘云-丽水01', '融合边缘云-绍兴01', '融合边缘云-台州01', '融合边缘云-嘉兴01', '融合边缘云-金华01', '融合边缘云-金华02', '融合边缘云-金华03', '融合边缘云-舟山01', '融合边缘云-温州01'],
    网络边缘云: [
      '网络边缘云-共享-嘉兴01',
      '网络边缘云-共享-嘉兴02',
      '网络边缘云-共享-台州01',
      '网络边缘云-共享-台州02',
      '网络边缘云-共享-台州03',
      '网络边缘云-共享-衢州01',
      '网络边缘云-共享-衢州02',
      '网络边缘云-共享-丽水01',
      '网络边缘云-共享-丽水02',
      '网络边缘云-共享-湖州01',
      '网络边缘云-共享-湖州02',
      '网络边缘云-入驻-湖州01',
      '网络边缘云-共享-杭州01',
      '网络边缘云-共享-杭州02',
      '网络边缘云-入驻-杭州01',
      '网络边缘云-入驻-杭州02',
      '网络边缘云-入驻-杭州03',
      '网络边缘云-入驻-杭州04',
      '网络边缘云-入驻-杭州05',
      '网络边缘云-入驻-杭州06',
      '网络边缘云-入驻-杭州07',
      '网络边缘云-入驻-杭州08',
      '网络边缘云-入驻-杭州09',
      '网络边缘云-共享-金华01',
      '网络边缘云-共享-金华02',
      '网络边缘云-共享-宁波01',
      '网络边缘云-共享-宁波02',
      '网络边缘云-入驻-宁波01',
      '网络边缘云-入驻-宁波02',
      '网络边缘云-入驻-宁波03',
      '网络边缘云-入驻-宁波04',
      '网络边缘云-入驻-宁波05',
      '网络边缘云-入驻-宁波06',
      '网络边缘云-入驻-宁波07',
      '网络边缘云-共享-绍兴01',
      '网络边缘云-共享-绍兴02',
      '网络边缘云-入驻-绍兴02',
      '网络边缘云-共享-温州01',
      '网络边缘云-共享-温州02',
      '网络边缘云-入驻-温州01',
      '网络边缘云-共享-舟山01',
      '网络边缘云-共享-舟山02'
    ],
    移动边缘云: ['移动边缘云-金华03', '移动边缘云-温州03'],
    非云: []
  }
});

const submitButRef = ref();

// methods
const selectBlur = (e, prop, prop2) => {
  if (e.target.value !== '') {
    state[prop][prop2] = e.target.value;
    $forceUpdate();
  }
};

const selectGroup = () => {
  let groupObject = {};
  for (let i = 0; i < state.ruleForm.deviceFileList.length; i++) {
    let item = state.ruleForm.deviceFileList[i];
    groupObject[item.professionalGroup] = item;
  }
  // console.log(groupObject,"-----------groupObject------------");
  state.ruleForm.deviceFileList = [];
  for (let i = 0; i < state.ruleForm.ProfessionalGroup.length; i++) {
    const groupName = state.ruleForm.ProfessionalGroup[i];
    //  console.log(groupName,"------------groupName------------");
    if (Object.keys(groupObject).indexOf(groupName) > -1) {
      state.ruleForm.deviceFileList.push(groupObject[groupName]);
    } else {
      state.ruleForm.deviceFileList.push({
        professionalGroup: groupName,
        devices: [],
        deviceFiles: []
      });
    }
  }
};

const getSelectData = () => {
  let data = '';
  if (state.ruleForm.cloudPlatform) {
    data = state.ruleForm.cloudPlatform;
  }
  selectList(data)
    .then(res => {
      state.options = res.data.data.cloud;
      state.options2 = res.data.data.periods;
      state.options4 = res.data.data.specialty;

      // 硬件资源池
      if (data == '') {
        state.options3 = res.data.data.pool;
        state.options3.push('移动边缘云-温州03');

        state.poolBack = state.options3;
      }
      if (data == '移动边缘云') {
        state.options3 = res.data.data.pool.map(item => {
          return '移动' + item.replace(/DC/g, '');
        });
        state.options3.push('移动边缘云-温州03');
      } else if (data == '网络边缘云') {
        state.options3 = res.data.data.pool.map(item => {
          return '网络' + item;
        });
      } else if (data == '融合边缘云') {
        state.options3 = res.data.data.pool.map(item => {
          return '融合' + item;
        });
      }
    })
    .catch(() => {
      state.options3 = state.poolBack;
      // this.options2 = [];
      // this.options3 = [];
      // this.options4 = [];
    });
};

const chooseCloud = () => {
  state.ruleForm.hardwareResourcePool = '';
  getSelectData();
};

const submitApplyForm = () => {
  submitButRef.value.disabled = true;
  state.deviceList = [];
  // console.log(this.ruleForm.deviceFileList,'文件外层');
  state.ruleForm.deviceFileList.forEach(item => {
    if (item.deviceFiles.length <= 1) {
      state.deviceList.push(item.deviceFiles[0]);
    } else {
      item.deviceFiles.forEach(num => {
        state.deviceList.push(num);
      });
    }
  });
  // console.log(this.deviceList,'提交时候文件id');
  state.deviceList.forEach(item => {
    if (!item || !item.file_id) {
      ElMessageBox.confirm('您还有未上传的文件项,请先上传文件再提交申请', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {});
      state.allUp = false;
    } else {
      state.allUp = true;
    }
  });
  if (!state.allUp) {
    return;
  } else {
    let data = {
      cloud: state.ruleForm.cloudPlatform,
      periods: state.ruleForm.engineeringNumber,
      pool: state.ruleForm.hardwareResourcePool,
      order_type: '工程入网',
      param_user: state.paramUser,
      device_info: state.deviceList
    };
    submitApply(data).then(res => {
      if (res.data.code == 1) {
        state.deviceList = [];
        state.showTips = 2;
        $bus.emit('changeShow', this.showTips);
      } else {
        ElMessage({
          type: 'error',
          message: '提交失败，请重试！',
          center: true
        });
      }
    });
  }
  setTimeout(() => {
    submitButRef.value.disabled = false;
  }, 1000);
};

// created
state.paramUser.role_names = [];
state.paramUser.id = sessionStorage.getItem('role_id');
state.paramUser.role_names.push(sessionStorage.getItem('roleName'));
state.ruleForm.initiator = sessionStorage.getItem('name');
getSelectData();
</script>

<style lang="scss" scoped>
.form-content {
  width: 63%;
  padding-top: 15px;
  margin: auto;
  .from-box {
    width: 100%;
    margin-bottom: 10px;
  }
  .item_box {
    height: 96px;
    display: flex;
    justify-content: space-between;
  }
  .el-form-item {
    width: 44%;
    align-items: center;
  }
  :deep(.el-form-item__label) {
    float: none;
    font-weight: normal;
    line-height: 30px;
  }
  :deep(.el-select) {
    width: 100%;
  }
  :deep(.el-input__inner) {
    height: 36px;
    line-height: 36px;
  }
  :deep(.el-form-item__content) {
    margin: 0 !important;
  }
  .submit-but {
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    :deep(.el-button--mini),
    .el-button--small {
      font-size: 14px;
    }
  }
}
</style>
