<template>
    <el-upload
    class="upload-demo"
    ref="upload"
    action=""
    :on-remove="delFile"
    :http-request="handleUpload"
    :auto-upload="true"
    :limit="1"
    :file-list="fileList">
        <el-button class="el-icon-upload2 button1" slot="trigger" size="small" type="primary">点击上传</el-button>
        <el-button class="el-icon-tickets button2" size="small" type="primary" @click="downloadExcel(deviceName)">申请模板下载</el-button>
    </el-upload>
</template>
<script>
import {uploadFile,downloadTemp} from '@/api/CMOBprocess/projectAccess'
export default {
    props:{
        deviceName:{type:String},
        deviceList:{type:Object},
    },
    data(){
        return{
            fileList:[],
            role:'',
            group:'工程组',
        }
    },
    methods:{
        downloadExcel(e){
            this.$message({ type: "success", message: "下载中...", center: true });
            downloadTemp(e).then((res)=>{
                console.log(res);
                let data = res.data // 这里后端对文件流做了一层封装，将data指向res.data即可
                if (!data) {
                        return
                }
                let url = window.URL.createObjectURL(new Blob([data]))
                let a = document.createElement('a')
                a.style.display = 'none'
                a.href = url
                a.setAttribute('download',`${e}.xlsx`)
                document.body.appendChild(a)
                a.click() //执行下载
                window.URL.revokeObjectURL(a.href) //释放url
                document.body.removeChild(a) //释放标签
            })
        },
        // handleSuccess(res, file) { // action 
        // // console.log(file,'文件上传成功返回参数');
        //     if (res.code == 1) {
        //         this.$message.success(res.message || '文件上传成功。');
        //         this.deviceList.deviceFiles.forEach(item=>{
        //             if (item.device=== this.deviceName){
        //                 item.file_id  = res.data.file_id
        //             }
        //         })
        //     } else {
        //         this.$confirm(res.msg, '提示', {
        //             confirmButtonText: '确定',
        //             cancelButtonText: '取消',
        //             type: 'error'
        //         }).then(() => {         
        //         });
        //         this.fileList = []
        //     }
        // },
        delFile(file,fileList){
            this.deviceList.deviceFiles.forEach((item)=>{
                if(item.file_id == file.response.data.file_id){
                    item.file_id = null
                    // this.deviceList.deviceFiles.splice(this.deviceList.indexOf(item),1)
                }
            })
        },
        handleUpload(file){
            let data = {'file':file.file,'device':this.deviceName,'group':this.group}
            uploadFile(data).then((res)=>{
                if (res.data.code == 1) {
                    this.$message.success(res.data.message || '文件上传成功。');
                    this.deviceList.deviceFiles.forEach(item=>{
                        if (item.device=== this.deviceName){
                            item.file_id  = res.data.data.file_id
                        }
                    })
                } else {
                    this.$confirm(res.data.msg, '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'error'
                    }).then(() => {         
                    });
                    this.fileList = []
                }
            })
        },
    },
}
</script>
<style lang="scss" scoped>
.button1{
    width: 120px;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    background: #F7F7F7;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    margin-right: 10px;
}
::v-deep .el-icon-upload2:before{
    margin-right: 5px;
}
.button2{
    font-size: 14px;
    background: transparent;
    color: #448EF7;
    border: none;
}
::v-deep .el-icon-tickets:before{
    margin-right: 5px;
}
</style>