<template>
  <div class="container-warp">gailan</div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
}
</style>
