<template>
  <div class="apply-page">
    <div class="card-body">
      <h3 class="label">工单信息</h3>

      <div class="form-box">
        <el-form :model="orderForm" ref="basicForm" label-width="100px" :inline="false">
          <el-row :gutter="24">
            <el-col class="gutter-row" :span="12">
              <el-form-item
                label="工单发起人"
                prop="userName"
                :rules="[{ required: true, message: '请填写工单发起人' }]">
                <el-input v-model="orderForm.userName" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="所属云平台" prop="cloud" :rules="[{ required: true, message: '请选择所属云平台' }]">
                <el-select v-model="orderForm.cloud" placeholder="请选择所属云平台" clearable @change="onChangeCloud">
                  <el-option
                    v-for="item in cloudOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item
                label="硬件资源池"
                prop="relatedPool"
                :rules="[{ required: true, message: '请选择硬件资源池' }]">
                <el-select v-model="orderForm.relatedPool" value-key="" :placeholder="'请先选择所属云平台'" clearable>
                  <template #empty>
                    <div style="height: 60px; line-height: 60px; text-align: center; color: #acaeb5">
                      {{ orderForm.cloud ? '该云平台下暂无硬件资源池' : '请先选择所属云平台' }}
                    </div>
                  </template>

                  <el-option
                    v-for="item in poolOptions.list"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="所属专业组" prop="group" :rules="[{ required: true, message: '请选择所属专业组' }]">
                <el-select v-model="orderForm.group" value-key="" placeholder="" clearable filterable @change="">
                  <el-option
                    v-for="item in groupOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>

        <div class="btn-boxs">
          <el-button @click="openDeviceModalHandle" type="primary">点击添加下线设备</el-button>
          <device-modal
            style="text-align: left"
            v-model:show="openDeviceModal"
            :cloud="orderForm.cloud"
            :group="orderForm.group"
            :pool="orderForm.relatedPool"
            @add-device="addDeviceHandle"></device-modal>
        </div>
      </div>

      <div class="device-tables">
        <deviceTableItem
          v-for="(data, key) in tableList.map"
          :key="key"
          :btnText="data.name"
          :columns="data.columns"
          :dataSource="data.list"
          @on-click="row => deleteRowHandle(row, key)"></deviceTableItem>
      </div>

      <div class="btn-bottom">
        <el-button class="btn" :disabled="!canSubmit" @click="submitOrder" style="marginright: 10px" type="primary">
          提交申请
        </el-button>
        <el-button class="btn" :disabled="!canSubmit" @click="saveOrder" type="primary">保存</el-button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import api from '@/api/networkAccess';
import { ElMessage } from 'element-plus';
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import deviceModal from './components/deviceModal.vue';
import deviceTableItem from './components/deviceTableItem.vue';
import { init } from './hooks/apply';

const router = useRouter();
const { orderForm, cloudOptions, tableList, getPoolByCloud, poolOptions, groupOptions } = init();
const onChangeCloud = cloud => {
  orderForm.relatedPool = null;
  getPoolByCloud(cloud);
};

let openDeviceModal = ref(false);
let basicForm = ref();

const openDeviceModalHandle = () => {
  basicForm.value
    .validate()
    .then(() => {
      openDeviceModal.value = true;
    })
    .catch(error => {
      console.log('error', error);
    });
};

const addDeviceHandle = deviceConfig => {
  let { columns } = deviceConfig;
  columns.push({
    title: '操作',
    key: 'operationDelete',
    fixed: 'right',
    width: 160
  });
  tableList.map[deviceConfig.code] = {
    ...deviceConfig,
    columns
  };
};

const deleteRowHandle = (row, code) => {
  console.log('deleteRowHandle', tableList.map[code]);
  // center.delete(tableList.map[code],row.index)
  tableList.map[code].list.splice(row.index, 1);
};

// 提交申请
const submitOrder = () => {
  const deviceGroupLists = Object.keys(tableList.map).map(key => {
    const deviceChildIds = tableList.map[key].list.map(t => t.key);
    return {
      deviceChildIds,
      deviceTypeCode: key
    };
  });
  const data = {
    cloud: orderForm.cloud,
    deviceGroupLists,
    group: orderForm.group,
    relatedPool: orderForm.relatedPool,
    status: 1, //0 草稿 1 直接推
    userId: orderForm.userId,
    userName: orderForm.userName
  };
  if (orderForm.id) {
    data['id'] = orderForm.id;
  }
  api
    .submitOrder(data)
    .then(res => {
      ElMessage.success(res.data.message);
      router.push('/operations/workManagement/networkElement');
    })
    .catch(err => {
      ElMessage.error(err);
    });
};
// 保存申请
const saveOrder = () => {
  const deviceGroupLists = Object.keys(tableList.map).map(key => {
    const deviceChildIds = tableList.map[key].list.map(t => t.key);
    return {
      deviceChildIds,
      deviceTypeCode: key
    };
  });
  const data = {
    cloud: orderForm.cloud,
    deviceGroupLists,
    group: orderForm.group,
    relatedPool: orderForm.relatedPool,
    status: 0, //0 草稿 1 直接推
    userId: orderForm.userId,
    userName: orderForm.userName
  };
  if (orderForm.id) {
    data['id'] = orderForm.id;
  }
  api
    .submitOrder(data)
    .then(res => {
      ElMessage.success('草稿保存成功');
      router.push('/operations/workManagement/networkElement');
    })
    .catch(err => {
      ElMessage.error(err);
    });
};

const canSubmit = computed(() => {
  return Object.keys(tableList.map).length > 0;
});
</script>

<style lang="scss" scoped>
.apply-page {
  height: calc(100% - 26px);
  margin-top: 26px;
  .card-body {
    padding: 24px 24px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
    height: 100%;
    overflow-y: auto;
    .label {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      margin-bottom: 20px;
    }
    .information-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .font-project {
        color: #ff4d4f;
      }
    }
    .form-box {
      width: 80%;
      margin: 0 auto;
      .btn-boxs {
        text-align: right;
      }
    }

    .btn-bottom {
      margin: 26px 0;
      text-align: right;
    }
  }
}

:deep(.el-input) {
  width: 100%;
}

:deep(.el-select) {
  width: 100%;
}
.gutter-row {
  margin: 10px 0;
}
</style>
