<template>
  <div class="apply-page">
    <div class="card-body">
      <h3 class="label">工单信息</h3>

      <div class="form-box">
        <el-form :model="orderForm" name="basic" label-width="120px" :inline="false" label-position="left">
          <el-row :gutter="24">
            <el-col class="gutter-row" :span="12">
              <el-form-item label="工单发起人" prop="userName">
                <el-input disabled v-model="orderForm.userName"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="发起时间" prop="crateTime">
                <el-input disabled v-model="orderForm.crateTime"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="工单ID" prop="id">
                <el-input disabled v-model="orderForm.id"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="所属专业组" prop="group">
                <el-input disabled v-model="orderForm.group"></el-input>
              </el-form-item>
            </el-col>
            <!-- <el-col class="gutter-row" :span="12">
              <el-form-item label="当前处理人" prop="pointName">
                <el-input disabled v-model="orderForm.pointName"></el-input>
              </el-form-item>
            </el-col> -->
          </el-row>
        </el-form>
      </div>
    </div>

    <div class="card-body">
      <h3 class="label">工单操作</h3>

      <div class="information-box">
        <p class="information">以下是主机组发起的实体网元下线流程的设备信息，下线流程已结束！</p>
      </div>

      <deviceTableItem
        v-for="(data, key) in tableList.map"
        :key="key"
        :btnText="data.name"
        :columns="data.columns"
        :dataSource="data.list"
        @on-click="updateRelation"></deviceTableItem>
    </div>
  </div>
</template>

<script>
import api from '@/api/networkAccess';
import { ElMessage } from 'element-plus';
import { computed, defineComponent, reactive } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import deviceTableItem from './components/deviceTableItem.vue';
export default defineComponent({
  components: {
    deviceTableItem
  },
  setup() {
    const orderForm = reactive({
      userId: '',
      userName: '',
      crateTime: '',
      id: '',
      point: '',
      pointName: '',
      group: ''
    });
    let tableList = reactive({
      map: {}
    });
    const route = useRoute();
    const router = useRouter();

    const orderId = route.params.orderId;

    function updateFormData(data) {
      if (data.point === 6) {
        Object.keys(orderForm).forEach(key => {
          orderForm[key] = data[key];
        });

        data['deviceGroupLists'].forEach(t => {
          let columns = t.deviceAttrs.attr.map(t => {
            if (t.name === 'life_cycle_state') {
              return {
                key: 'operationSelect',
                dataIndex: t.name,
                width: '200px',
                title: t.property
              };
            } else {
              return {
                key: t.name,
                dataIndex: t.name,
                width: '200px',
                title: t.property
              };
            }
          });
          tableList.map[t.deviceTypeCode] = {
            name: t.deviceType,
            columns,
            list: t.deviceInfoList.map(t => {
              return {
                ...t,
                neTime: '',
                key: t.instance_id
              };
            })
          };
        });
      } else {
        const stepsMap = [
          'apply',
          'resRelation',
          'professionalConfirm1',
          'generalControlConfirm',
          'professionalConfirm2',
          'dataConfirm',
          'complete'
        ];
        const code = stepsMap[data.point];
        if (code) {
          router.push('/operations/projectAccess/networkElementTwo/' + code + '/' + orderId);
        }
      }
    }

    function getDataByOrderId(orderId) {
      api.getOrderInfo(orderId).then(({ data: { data } }) => {
        updateFormData(data);
      });
    }
    getDataByOrderId(orderId);

    // 刷新实例关系
    function updateRelation() {
      api.refreshDevice(orderId).then(({ data: { data } }) => {
        updateFormData(data);
      });
    }

    let canSubmit = computed(() => {
      return false;
    });
    function submitOrder() {
      let tag = true;
      const list = ['下线未下电', '下线已下电', '下电未报废'];
      const queryData = [];
      Object.keys(tableList.map).forEach(key => {
        tableList.map[key].list.forEach(t => {
          if (t.neTime !== '' && list.indexOf(t['life_cycle_state']) > -1) {
            queryData.push({
              code: key,
              id: t['instance_id'],
              lifeCycleState: t['life_cycle_state'],
              neTime: t.neTime.format('YYYY-MM-DD')
            });
          } else {
            tag = false;
          }
        });
      });
      if (tag) {
        api
          .replenish(orderId, queryData)
          .then(() => {
            ElMessage.success('提交成功');
            router.push('/operations/workManagement/networkElement');
          })
          .catch(err => {
            ElMessage.error(err);
          });
      } else {
        ElMessage.warning('请专业组更新生命周期状态和补充退网时间并提交数据');
      }
    }
    return {
      orderForm,
      tableList,
      canSubmit,
      submitOrder,
      updateRelation
    };
  }
});
</script>

<style lang="scss" scoped>
.apply-page {
  height: calc(100% - 26px);
  margin-top: 26px;
  overflow-y: auto;
  .card-body {
    margin-bottom: 26px;
    padding: 24px 24px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
    .label {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      margin-bottom: 20px;
    }
    .information-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .font-project {
        color: #ff4d4f;
      }
    }
    .form-box {
      width: 80%;
      margin: 0 auto;
    }
    .btn-bottom {
      margin: 26px 0;
      text-align: right;
    }
  }
}
</style>
