<template>
  <div class="apply-page">
    <div class="card-body">
      <h3 class="label">工单信息</h3>

      <div class="form-box">
        <el-form :model="orderForm" name="basic" label-width="120px" :inline="false" label-position="left">
          <el-row :gutter="24">
            <el-col class="gutter-row" :span="12">
              <el-form-item label="工单发起人" prop="userName">
                <el-input disabled v-model="orderForm.userName"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="发起时间" prop="crateTime">
                <el-input disabled v-model="orderForm.crateTime"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="工单ID" prop="id">
                <el-input disabled v-model="orderForm.id"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="所属专业组" prop="group">
                <el-input disabled v-model="orderForm.group"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="当前处理人" prop="pointName">
                <el-input disabled v-model="orderForm.pointName"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </div>

    <div class="card-body">
      <h3 class="label">工单操作</h3>

      <div class="information-box">
        <p class="information">
          请数据组确认下线实体网元的
          <span class="font-project">生命周期状态</span>
          和
          <span class="font-project">设备退网时间</span>
          是否已更新。
        </p>
        <p class="information">
          如数据
          <span class="font-project">更新失败则点击“数据更新”按钮重新更新</span>
          ，待数据更新成功后提交工单。
        </p>
      </div>

      <el-button class="btn" @click="updateData" style="marginright: 10px" type="primary">数据更新</el-button>

      <deviceTableItem
        v-for="(data, key) in tableList.map"
        :key="key"
        :btnText="data.name"
        :columns="data.columns"
        :dataSource="data.list"
        @on-click="updateRelation"></deviceTableItem>
      <div class="btn-bottom">
        <el-button class="btn" @click="submitOrder" style="marginright: 10px" type="primary">提交</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent, reactive } from 'vue';
import deviceTableItem from './components/deviceTableItem.vue';

import api from '@/api/networkAccess';
import { ElMessage } from 'element-plus';
import { useRoute, useRouter } from 'vue-router';
export default defineComponent({
  components: {
    deviceTableItem
  },
  setup() {
    const orderForm = reactive({
      userId: '',
      userName: '',
      crateTime: '',
      id: '',
      point: '',
      pointName: '',
      group: ''
    });
    let tableList = reactive({
      map: {}
    });
    const route = useRoute();
    const router = useRouter();

    const orderId = route.params.orderId;

    function updateFormData(data) {
      if (!data) return;
      if (data.point === 5) {
        Object.keys(orderForm).forEach(key => {
          orderForm[key] = data[key];
        });

        data['deviceGroupLists'].forEach(t => {
          let columns = t.deviceAttrs.attr.map(t => {
            return {
              key: t.name,
              dataIndex: t.name,
              width: '200px',
              title: t.property
            };
          });
          columns.concat([
            {
              title: '设备已关机',
              key: 'operation',
              fixed: 'right',
              width: 160
            },
            {
              title: '设备已关机',
              key: 'operation',
              fixed: 'right',
              width: 160
            },
            {
              title: '设备已关机',
              key: 'operation',
              fixed: 'right',
              width: 160
            },
            {
              title: '设备已关机',
              key: 'operation',
              fixed: 'right',
              width: 160
            }
          ]);
          tableList.map[t.deviceTypeCode] = {
            name: t.deviceType,
            columns,
            list: t.deviceInfoList.map(t => {
              return {
                ...t,
                key: t.instance_id
              };
            })
          };
        });
      } else {
        const stepsMap = [
          'apply',
          'resRelation',
          'professionalConfirm1',
          'generalControlConfirm',
          'professionalConfirm2',
          'dataConfirm',
          'complete'
        ];
        const code = stepsMap[data.point];
        if (code) {
          router.push('/operations/projectAccess/networkElementTwo/' + code + '/' + orderId);
        }
      }
    }

    function getDataByOrderId(orderId) {
      api.getOrderInfo(orderId).then(({ data: { data } }) => {
        updateFormData(data);
      });
    }
    getDataByOrderId(orderId);

    // 刷新实例关系
    function updateRelation() {
      api.refreshDevice(orderId).then(({ data: { data } }) => {
        updateFormData(data);
      });
    }

    let canSubmit = computed(() => {
      return false;
    });
    function submitOrder() {
      api
        .checkOrderBySj(orderId)
        .then(res => {
          ElMessage.success(res.data.message);
          router.push('/operations/workManagement/networkElement');
        })
        .catch(err => {
          ElMessage.error(err);
        });
    }
    function updateData() {
      ElMessageBox.confirm(
        `确认需再次更新申请数据么？
                重新更新数据后请核实更新是否成功，成功后提交工单。`,
        '数据更新',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning'
        }
      )
        .then(() => {
          return new Promise((resolve, reject) => {
            api
              .refresh(orderId)
              .then(({ data: { data } }) => {
                updateFormData(data);
                resolve();
              })
              .catch(() => {
                reject();
              });
          }).catch(() => console.log('Oops errors!'));
        })
        .catch(() => {
          // onCancel() {}
        });
    }
    return {
      orderForm,
      tableList,
      canSubmit,
      submitOrder,
      updateData,
      updateRelation
    };
  }
});
</script>

<style lang="scss" scoped>
.apply-page {
  height: calc(100% - 26px);
  margin-top: 26px;
  overflow-y: auto;
  .card-body {
    margin-bottom: 26px;
    padding: 24px 24px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
    .label {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      margin-bottom: 20px;
    }
    .information-box {
      .font-project {
        color: #ff4d4f;
      }
    }
    .form-box {
      width: 80%;
      margin: 0 auto;
    }
    .btn-bottom {
      margin: 26px 0;
      text-align: right;
    }
  }
}
</style>
