<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2024-01-09 10:11:28
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-16 14:50:59
 * @FilePath: /digital-common/src/views/processManagement/networkAccess/index.vue
-->
<template>
  <div class="network-access">
    <div class="page-head">
      <div class="steep-list">
        <el-steps align-center style="width: 100%" :active="currentStep" finish-status="success">
          <el-step v-for="item in stepsList" :title="item.title" style="min-width: 140px; flex-basis: 16.66%"></el-step>
        </el-steps>
      </div>
    </div>
    <div class="page-body">
      <router-view></router-view>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRoute } from 'vue-router';
const stepsList = [
  { title: '资源下线申请' },
  { title: '资源关联关系判断' },
  { title: '专业组确认' },
  { title: '总控组确认' },
  { title: '专业组确认' },
  { title: '数据组确认' },
  { title: '完成' }
];
const route = useRoute();
const name = route.name;

const stepsMap = [
  'apply',
  'resRelation',
  'professionalConfirm1',
  'generalControlConfirm',
  'professionalConfirm2',
  'dataConfirm',
  'complete'
];
let currentStep = ref(0);

const index = stepsMap.indexOf(name);
currentStep.value = index;
</script>

<style lang="scss" scoped>
.network-access {
  padding: 20px;
  background-color: #e8eaed;
  .page-head {
    box-sizing: border-box;
    padding: 62px 32px 30px 32px;
    background-color: #fff;
    .steep-list {
      display: flex;
      justify-self: center;
    }
  }
  .page-body {
    box-sizing: content-box;
    overflow: hidden;
    background-color: #e8eaed;
  }
}
</style>
