<template>
  <div class="apply-page">
    <div class="card-body">
      <h3 class="label">工单信息</h3>

      <div class="form-box">
        <el-form :model="orderForm" name="basic" label-width="120px" :inline="false" label-position="left">
          <el-row :gutter="24">
            <el-col class="gutter-row" :span="12">
              <el-form-item label="工单发起人" prop="userName">
                <el-input disabled v-model="orderForm.userName"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="发起时间" prop="crateTime">
                <el-input disabled v-model="orderForm.crateTime"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="工单ID" prop="id">
                <el-input disabled v-model="orderForm.id"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="所属专业组" prop="group">
                <el-input disabled v-model="orderForm.group"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="gutter-row" :span="12">
              <el-form-item label="当前处理人" prop="pointName">
                <el-input disabled v-model="orderForm.pointName"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </div>

    <div class="card-body">
      <h3 class="label">工单操作</h3>

      <div class="information-box">
        <p class="information">
          工单目前已挂起，请确认
          <span class="font-project">设备关联情况</span>
        </p>
      </div>

      <deviceTableItem
        v-for="(data, key) in tableList.map"
        :key="key"
        :btnText="data.name"
        :columns="data.columns"
        :dataSource="data.list"
        @on-click="onClickRow"></deviceTableItem>

      <device-info-modal v-model:show="showInfo" :relationInfo="currentRelation.list"></device-info-modal>

      <div class="btn-bottom">
        <el-button class="btn" :disabled="!canSubmit" @click="submitOrder" style="marginright: 10px" type="primary">
          再次提交
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent, reactive, ref } from 'vue';
import deviceTableItem from './components/deviceTableItem.vue';

import api from '@/api/networkAccess';
import { useRoute, useRouter } from 'vue-router';

import deviceInfoModal from './components/deviceInfoModal';
export default defineComponent({
  components: {
    deviceTableItem,
    deviceInfoModal
  },
  setup() {
    const orderForm = reactive({
      userId: '',
      userName: '',
      crateTime: '',
      id: '',
      point: '',
      pointName: '',
      group: ''
    });
    let tableList = reactive({
      map: {}
    });
    const route = useRoute();
    const router = useRouter();

    const orderId = route.query.orderId;

    function updateFormData(data) {
      if (data.point === 1) {
        Object.keys(orderForm).forEach(key => {
          orderForm[key] = data[key];
        });

        data['deviceGroupLists'].forEach(t => {
          let columns = t.deviceAttrs.attr.map(t => {
            return {
              key: t.name,
              dataIndex: t.name,
              width: '200px',
              title: t.property
            };
          });
          columns.push({
            title: '关联实例',
            dataIndex: 'deviceChildList',
            key: 'associatedInstance',
            fixed: 'right',
            width: 160
          });
          columns.push({
            title: '操作',
            key: 'operation',
            fixed: 'right',
            width: 160
          });
          tableList.map[t.deviceTypeCode] = {
            name: t.deviceType,
            columns,
            list: t.deviceInfoList.map(t => {
              const deviceChildList = t.deviceChildList
                .filter(t => {
                  if (t.type === 'list') {
                    return t.value.length > 0;
                  } else {
                    return t.value;
                  }
                })
                .map(t => {
                  if (t.type === 'list') {
                    return {
                      ...t,
                      value: t.value.map(cr => {
                        const nameItem = cr.filter(({ name }) => name == 'name');
                        let name = '--';
                        if (nameItem.length > 0) {
                          name = nameItem[0].value;
                        }
                        return {
                          name,
                          relation: cr
                        };
                      })
                    };
                  } else {
                    return t;
                  }
                });
              return {
                ...t,
                deviceChildList,
                key: t.instance_id
              };
            })
          };
        });
      } else {
        const stepsMap = [
          'apply',
          'resRelation',
          'professionalConfirm1',
          'generalControlConfirm',
          'professionalConfirm2',
          'dataConfirm',
          'complete'
        ];
        const code = stepsMap[data.point];
        if (code) {
          router.push('/operations/projectAccess/networkElementTwo/' + code + '/' + orderId);
        }
      }
    }

    function getDataByOrderId(orderId) {
      api.getOrderInfo(orderId).then(({ data: { data } }) => {
        updateFormData(data);
      });
    }
    getDataByOrderId(orderId);
    function onClickRow(row, key) {
      if (key === 'updateRelation') {
        updateRelation();
      } else {
        openDeviceModal(row);
      }
    }
    // 刷新实例关系
    function updateRelation() {
      api.refreshDevice(orderId).then(({ data: { data } }) => {
        updateFormData(data);
      });
    }
    let showInfo = ref(false);
    let currentRelation = reactive({
      list: []
    });
    function openDeviceModal(row) {
      console.log('openDeviceModal', row);
      currentRelation.list = row.value;
      showInfo.value = true;
    }

    let canSubmit = computed(() => {
      return false;
    });
    function submitOrder(row) {}
    return {
      orderForm,
      tableList,
      canSubmit,
      submitOrder,
      onClickRow,
      showInfo,
      currentRelation
    };
  }
});
</script>

<style lang="scss" scoped>
.apply-page {
  height: calc(100% - 26px);
  margin-top: 26px;
  overflow-y: auto;
  .card-body {
    margin-bottom: 26px;
    padding: 24px 24px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
    .label {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      margin-bottom: 20px;
    }
    .information-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .font-project {
        color: #ff4d4f;
      }
    }
    .form-box {
      width: 80%;
      margin: 0 auto;
    }
    .btn-bottom {
      margin: 26px 0;
      text-align: right;
    }
  }
}
</style>
