<template>
  <!-- <div class="big-box">
        <div class="content-box" v-for="item,index in routeData" :key="index">
            <div class="itemRoute">
                <div>{{item.label}}</div>
                <div class="childerTwo" v-for="item,index in item.children" :key="index" v-if="item.children.length != 0">

                </div>
            </div>
        </div>
    </div> -->
  <div class="card-box">
    <el-tag closable v-if="item.is_button">{{ item.label }}</el-tag>
    <el-card v-else>
      <div slot="header" class="clearfix">
        <span class="itemName">{{ item.label }}</span>
        <div class="but-box">
          <el-button type="primary" link>新增</el-button>
          <el-button style="color: red" type="primary" link>删除</el-button>
        </div>
      </div>
      <authority-management v-for="(sub, index) in item.children" :key="index" :item="sub" />
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'authorityManagement',
  props: {
    item: {
      type: Object
    }
  },
  data() {
    return {
      detailData: [],
      defaultProps: {
        children: 'children',
        label: 'label',
        isLeaf: 'isLeaf'
      },
      buttonList: []
    };
  },
  mounted() {
    // this.setCheckedNodes()
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
.card-box {
  width: 100%;
}
.clearfix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .itemName {
    display: inline-block;
  }
  .but-box {
    width: 100px;
    display: flex;
    justify-content: space-around;
  }
}
.el-card__header {
  padding: 10px;
}
.el-card.is-always-shadow {
  margin-bottom: 20px;
}
</style>
