<template>
  <div class="big-box">
    <div class="content-box">
      <div class="button-box">
        <!-- <button class="iconfont icon-xinjian01 button" @click="addData()">新增</button> -->
        <el-button :icon="Plus" @click="addData" type="primary" size="small" style="height: 30px; margin-left: 20px; background: #1890ff">用户</el-button>
      </div>
      <el-table :data="state.routeData" style="width: 100%; margin-bottom: 20px" row-key="id" border v-loading="state.loading" element-loading-text="加载中" :default-expand-all="false" :tree-props="{ children: 'children', hasChildren: 'hasChildren' }">
        <el-table-column prop="name" label="目录"></el-table-column>
        <el-table-column label="操作" align="center" width="220">
          <template #default="scope">
            <el-button type="primary" link size="small" @click="AddDirectory(scope.row)">新增</el-button>
            <label></label>
            <el-button type="primary" link size="small" @click="editor(scope.row)">修改</el-button>
            <label></label>
            <el-button type="danger" link size="small" style="color: red" @click="delDirectory(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-dialog title="新增目录编辑" v-model="state.newDirectoryVisible" height="40%" width="60%" top="6%" class="el-body">
        <div class="dialog-box">
          <div class="line-box"></div>
          <el-form :model="state.directoryForm">
            <el-form-item label="目 录 名 称">
              ：
              <el-input v-model="state.directoryForm.directory_name" style="width: 70%"></el-input>
            </el-form-item>
            <el-form-item label="目 录 路 径">
              ：
              <el-input v-model="state.directoryForm.directory_path" style="width: 70%"></el-input>
            </el-form-item>
            <el-form-item label="目 录 图 标">
              ：
              <el-input v-model="state.directoryForm.directory_icon" style="width: 70%"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button style="background: #3d97ff; color: #fff" @click="state.newDirectoryVisible = false">取 消</el-button>
          <el-button style="background: #3d97ff; color: #fff" :disabled="!state.directoryForm.directory_name || !state.directoryForm.directory_path" @click="submitAdd(state.directoryForm)">添加</el-button>
        </div>
      </el-dialog>
      <el-dialog title="新增子目录" v-model="state.newChildVisible" height="40%" width="60%" top="6%" class="el-body">
        <div class="dialog-box">
          <div class="line-box"></div>
          <el-form :model="state.childDirectoryForm">
            <el-form-item label="父目录名称">
              ：
              <el-input v-model="state.childDirectoryForm.parent_name" disabled style="width: 70%"></el-input>
            </el-form-item>
            <el-form-item label="新增目录名称">
              ：
              <el-input v-model="state.childDirectoryForm.directory_name" style="width: 70%"></el-input>
            </el-form-item>
            <el-form-item label="目 录 路 径">
              ：
              <el-input v-model="state.childDirectoryForm.directory_path" style="width: 70%"></el-input>
            </el-form-item>
            <el-form-item label="新 增 类 型">
              ：
              <el-select v-model="state.childDirectoryForm.directory_type" placeholder="请选择新增类型">
                <el-option label="目录" value="0"></el-option>
                <el-option label="菜单" value="1"></el-option>
                <el-option label="权限" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button style="background: #3d97ff; color: #fff" @click="state.newChildVisible = false">取 消</el-button>
          <el-button style="background: #3d97ff; color: #fff" :disabled="!state.childDirectoryForm.directory_name || !state.childDirectoryForm.parent_name || !state.childDirectoryForm.directory_type" @click="submitChildAdd(state.childDirectoryForm)">添加</el-button>
        </div>
      </el-dialog>
      <el-dialog title="编辑目录" v-model="state.editVisible" height="40%" width="60%" top="6%" class="el-body">
        <div class="dialog-box">
          <div class="line-box"></div>
          <el-form :model="state.editDirectoryForm">
            <el-form-item label="目 录 名 称">
              ：
              <el-input v-model="state.editDirectoryForm.directory_name" style="width: 70%"></el-input>
            </el-form-item>
            <el-form-item label="目 录 路 径">
              ：
              <el-input v-model="state.editDirectoryForm.directory_path" style="width: 70%"></el-input>
            </el-form-item>
            <el-form-item label="目 录 图 标">
              ：
              <el-input v-model="state.editDirectoryForm.directory_icon" style="width: 70%"></el-input>
            </el-form-item>
            <el-form-item label="新 增 类 型">
              ：
              <el-select v-model="state.editDirectoryForm.directory_type" placeholder="请选择修改类型">
                <el-option label="目录" value="0"></el-option>
                <el-option label="菜单" value="1"></el-option>
                <el-option label="权限" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button style="background: #3d97ff; color: #fff" @click="state.editVisible = false">取 消</el-button>
          <el-button style="background: #3d97ff; color: #fff" :disabled="!state.editDirectoryForm.directory_name || !state.editDirectoryForm.directory_path || !state.editDirectoryForm.directory_type" @click="submitChildEdit(state.editDirectoryForm)">提交</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { addAuthority, authorityTable, delAuthority, editAuthority } from '@/api/authorityApi';
import { Plus } from '@element-plus/icons-vue';
import { ElMessage, ElMessageBox } from 'element-plus';
import { onMounted, reactive } from 'vue';

const state = reactive({
  newDirectoryVisible: false,
  directoryForm: {
    directory_name: '',
    directory_path: '',
    directory_icon: '',
    parent_id: ''
  },
  loading: true,
  newChildVisible: false,
  childDirectoryForm: {
    parent_name: '',
    parent_id: '',
    directory_name: '',
    directory_path: '',
    directory_icon: '',
    directory_type: ''
  },
  editDirectoryForm: {
    directory_name: '',
    directory_path: '',
    directory_icon: '',
    directory_type: '',
    directory_id: '',
    parent_id: ''
  },
  roleId: '',
  editVisible: false,
  routeData: []
});

const getTableData = () => {
  // let roleId = this.roleId
  authorityTable(state.roleId).then(res => {
    if (res.data.code === 1) {
      state.routeData = res.data.data.list;
    }
    state.loading = false;
  });
};
const addData = () => {
  state.newDirectoryVisible = true;
  state.directoryForm = {};
};
// 新增目录提交
const submitAdd = e => {
  let params = {
    name: state.directoryForm.directory_name,
    path: state.directoryForm.directory_path,
    icon: '',
    type: 0
  };
  addAuthority(params).then(res => {
    if (res.data.code === 1) {
      ElMessage({ type: 'success', message: '新增目录成功', center: true });
    }
    getTableData();
  });
  state.newDirectoryVisible = false;
};

const AddDirectory = e => {
  state.childDirectoryForm = {};
  state.newChildVisible = true;
  state.childDirectoryForm.parent_name = e.name;
  state.childDirectoryForm.parent_id = e.id;
};

// 新增子目录提交
const submitChildAdd = e => {
  console.log(e, '新增子目录');
  let params = {
    name: state.childDirectoryForm.directory_name,
    path: state.childDirectoryForm.directory_path,
    parent_id: state.childDirectoryForm.parent_id,
    icon: '',
    type: state.childDirectoryForm.directory_type
  };
  addAuthority(params).then(res => {
    if (res.data.code === 1) {
      ElMessage({ type: 'success', message: '新增目录成功', center: true });
    }
    getTableData();
  });
  state.newChildVisible = false;
};

// 修改
const editor = e => {
  state.editDirectoryForm.directory_name = e.name;
  state.editDirectoryForm.directory_path = e.path;
  state.editDirectoryForm.directory_icon = e.icon;
  state.editDirectoryForm.directory_id = e.id;
  state.editDirectoryForm.directory_type = e.type.toString();
  state.editDirectoryForm.parent_id = e.parent_id;
  state.editVisible = true;
};

// 提交编辑
const submitChildEdit = e => {
  let permissionId = e.directory_id;
  let data = {
    name: e.directory_name,
    path: e.directory_path,
    icon: e.directory_icon,
    type: e.directory_type,
    parent_id: state.editDirectoryForm.parent_id
  };
  editAuthority(permissionId, data).then(res => {
    if (res.data.code === 1) {
      ElMessage({ type: 'success', message: '修改目录成功', center: true });
    }
    getTableData();
  });
  state.editVisible = false;
};

// 删除
const delDirectory = e => {
  ElMessageBox.confirm('是否确认要删除该菜单', '提示', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning'
  }).then(() => {
    let permissionId = e.id;
    delAuthority(permissionId).then(res => {
      if (res.data.code === 1) {
        ElMessage({ type: 'success', message: '删除成功', center: true });
      }
      getTableData();
    });
  });
};

onMounted(() => {
  state.roleId = sessionStorage.getItem('role_id');
  getTableData();
});
</script>
<style>
.el-message {
  margin-top: 30px;
  text-align: center;
}
.el-message--info .el-message__content {
  color: #333 !important;
  font-size: 16px;
}
.el-message .el-icon-info {
  color: #333 !important;
  font-size: 16px;
}
</style>
<style lang="scss" scoped>
.big-box {
  padding: 15px 13px;
  background: #e9ebec;
  .content-box {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    .button-box {
      width: 200px;
      height: 50px;
      .button:hover {
        cursor: pointer !important;
      }
      .button {
        width: 72px;
        height: 34px;
        line-height: 34px;
        font-size: 14px;
        display: flex;
        justify-content: space-around;
        background: #1890ffff;
        color: #fff;
        border: 1px #ced5dcff solid;
        border-radius: 4px;
      }
    }
    .el-body {
      :deep(.el-dialog__body) {
        padding: 0;
      }
      .dialog-box {
        height: 60vh;
        overflow: auto;
        padding: 10px 0 0 20px;
        .line-box {
          width: 100%;
          height: 1px;
          margin-bottom: 30px;
          background: rgba(0, 0, 0, 0.06);
        }
        :deep(.el-form-item__label) {
          width: 105px;
          text-align: left;
        }
      }
    }
    label::before {
      display: inline-block;
      content: '|';
      font-size: 15px;
      color: #1890ffff;
      margin: 0 8px;
    }
  }
}
</style>
