<template>
  <div class="big-box">
    <div class="role_mode">
      <div class="button-box">
        <div></div>
        <el-button :icon="Plus" @click="setUser" type="primary" size="small" style="height: 30px; margin-bottom: 20px; background: #1890ff">新增角色</el-button>
      </div>
      <div class="table-box">
        <el-table ref="multipleTable" :data="state.tableData" stripe tooltip-effect="dark" style="width: 100%" border :header-cell-style="{ background: '#F2F2F2', color: '#000' }">
          <el-table-column label="序号" align="center" width="60">
            <template #default="scope">
              <span>{{ (state.page - 1) * state.pageSize + scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column label="角色" align="center" prop="name"></el-table-column>
          <el-table-column label="创建日期" align="center" prop="created_time"></el-table-column>
          <el-table-column label="操作" align="center">
            <template #default="scope">
              <el-button type="primary" link size="small" @click="openEdit(scope.row)">修改角色信息</el-button>
              <label class="lableline"></label>
              <el-button type="primary" link size="small" @click="openAuthority(scope.row)">修改角色权限</el-button>
              <label class="lableline"></label>
              <el-button type="danger" link size="small" style="color: red" @click="openDelete(scope.row)">删除角色</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination :total="state.tableTotal" :current-page="state.page" :page-size="state.pageSize" :page-sizes="[10, 20, 50]" background layout="total, sizes, prev, pager, next, jumper" align="center" @size-change="sizeChange" @current-change="currentChange"></el-pagination>
      </div>
      <div class="add_role">
        <el-dialog title="新增角色" v-model="state.userVisible" height="50%" width="60%" top="10%" class="el-body">
          <div class="dialog-box">
            <div class="line-box"></div>
            <el-form ref="ruleForm" :model="state.addForm" label-width="85px" class="demo-ruleForm">
              <el-form-item label="角色名称" prop="addRoleName">
                ：
                <el-input v-model="state.addForm.addRoleName" placeholder="请输入"></el-input>
              </el-form-item>
              <!-- <div class="flex">
                        <p class="xing">权限配置</p>
                        <div class="margin32">
                            <div class="item-box" v-for="(item,index) in addRoleList" :key="index">
                                <el-form-item :label="item.module">
                                    <el-checkbox v-if="item.power[0]" label="查看" v-model="item.power[0].has" name="check"></el-checkbox>
                                    <el-checkbox v-if="item.power[1]" label="编辑" v-model="item.power[1].has" name="editor"></el-checkbox>
                                </el-form-item>
                            </div>
                        </div>
                    </div> -->
            </el-form>
          </div>
          <div slot="footer" class="dialog-footer">
            <el-button @click="state.userVisible = false">取消</el-button>
            <el-button type="primary" @click="submitForm(state.addForm)">保存</el-button>
          </div>
        </el-dialog>
        <el-dialog title="修改角色权限" v-model="state.editAuthorityVisible" height="60%" width="60%" top="4%" class="el-body">
          <div class="dialog-box" style="height: 500px">
            <el-table
              :data="state.routerData"
              ref="permissionTableRef"
              style="width: 100%; margin-bottom: 20px"
              row-key="id"
              border
              @select="handleSelection"
              @select-all="handleSelectAll"
              @selection-change="handleSelectionChange"
              :default-expand-all="false"
              :tree-props="{ children: 'children', hasChildren: 'hasChildren' }">
              <el-table-column type="selection" width="55"></el-table-column>
              <el-table-column prop="name" label="目录"></el-table-column>
              <!-- <el-table-column label="操作" align="center" width="190">
                          <template slot-scope="scope">
                              <el-button type="primary" link size="small" @click="AddDirectory(scope.row)">新增</el-button>
                              <label></label>
                              <el-button type="primary" link size="small" @click="editor(scope.row)">修改</el-button>
                              <label></label>
                              <el-button type="primary" link size="small" style="color:red" @click="delDirectory(scope.row)">删除</el-button>
                          </template>
                    </el-table-column> -->
            </el-table>
          </div>
          <div slot="footer" class="dialog-footer">
            <el-button @click="state.editAuthorityVisible = false">取消</el-button>
            <el-button type="primary" @click="submitEdit()">保存</el-button>
          </div>
        </el-dialog>
        <el-dialog title="修改角色名" v-model="state.roleNameVisible" height="50%" width="60%" top="10%" class="el-body">
          <div class="dialog-box">
            <div class="line-box"></div>
            <el-form :model="state.editForm" ref="editForm" label-width="85px" class="demo-editForm">
              <el-form-item label="角色名">
                ：
                <el-input v-model="state.editForm.name" placeholder="请输入"></el-input>
              </el-form-item>
            </el-form>
          </div>
          <div slot="footer" class="dialog-footer">
            <el-button @click="state.roleNameVisible = false">取消</el-button>
            <el-button type="primary" :disabled="!state.editForm.name" @click="submitEditForm(state.editForm)">保存</el-button>
          </div>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { addRole, authorityTable, delRole, editRole, editRoleAuthority, getRole } from '@/api/authorityApi';
import { Plus } from '@element-plus/icons-vue';
import { ElMessage, ElMessageBox } from 'element-plus';
import { onMounted, reactive, ref } from 'vue';
import { useRoute } from 'vue-router';
const state = reactive({
  write: true,
  search: {},
  tableData: [],
  tableTotal: 0,
  page: 1,
  pageSize: 20,
  rolerData: [],
  userVisible: false,
  roleNameVisible: false,
  addRoles: [],
  addForm: {
    addRoleName: ''
  },
  permissionWrite: false,
  editForm: {
    name: ''
  },
  editAuthorityVisible: false,
  ruleEditList: [],
  ruleEdit: [],
  editId: '',
  routerData: [],
  roleIds: '',
  multipleSelection: []
});

const route = useRoute();

const permissionTableRef = ref();

const setUser = () => {
  state.userVisible = true;
  state.addRoles = [];
};
const roleTable = () => {
  let params = { page: state.page, page_size: state.pageSize };
  getRole(params).then(res => {
    if (res.data.code === 1) {
      state.tableData = res.data.data.list;
      state.tableTotal = res.data.data.pagination.total;
    }
  });
};
const initSelection = children => {
  for (let i = 0; i < children.length; i++) {
    if (children[i].has) {
      permissionTableRef.value.toggleRowSelection(children[i], true);
      if (children[i].children) {
        initSelection(children[i].children);
      }
    }
  }
};
// 修改角色信息
const openEdit = options => {
  state.roleNameVisible = true;
  state.editForm = options;
};
// 提交修改
const submitEditForm = e => {
  // console.log(e,'eeeeeeeee');
  let data = { name: e.name };
  let roleId = e.id;
  editRole(roleId, data).then(res => {
    if (res.data.code === 1) {
      ElMessage({ type: 'success', message: '修改成功', center: true });
      state.roleNameVisible = false;
    } else {
      ElMessage({ type: 'error', message: '修改失败', center: true });
    }
  });
};
// 删除
const openDelete = e => {
  ElMessageBox.confirm('是否确认要删除该角色', '提示', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning'
  }).then(() => {
    let roleId = e.id;
    delRole(roleId).then(res => {
      if (res.data.code === 1) {
        ElMessage({
          type: 'success',
          message: '删除成功',
          center: true
        });
      } else {
        ElMessage({ type: 'error', message: '删除失败', center: true });
      }
      roleTable();
    });
  });
};
const getRoleData = async () => {
  await authorityTable(state.roleIds).then(res => {
    if (res.data.code === 1) {
      state.routerData = res.data.data.list;
    }
  });
};
// 修改角色权限
const openAuthority = async e => {
  state.editAuthorityVisible = true;
  state.roleIds = e.id;
  await getRoleData();
  initSelection(state.routerData);
};
const handleSelectAll = () => {
  const isAllSelected = permissionTableRef.value.store.states.isAllSelected;
  var _handleSelectAll = data => {
    data.forEach(item => {
      permissionTableRef.value.toggleRowSelection(item, isAllSelected);
      _handleSelectAll(item.children || []);
    });
  };
  _handleSelectAll(state.routerData);
};

const handleSelectionChange = val => {
  state.multipleSelection = val;
};

const handleSelection = (selection, current) => {
  // 判断selection中是否存在current,若是存在那么就代表是被勾选上了,若是不存在代表是取消勾选了
  console.log(selection, '选择时的数据');
  state.ruleEditList = selection;
  const isChecked = !!selection.find(item => item.id === current.id);
  // 如果当前项被取消勾选
  if (!isChecked) {
    // 那么其所有的后代也应该被取消勾选
    toggleCheckedChildren(selection, current, false);
    // 那么若是所有的兄弟都被取消勾选的话,其祖先也应该被取消勾选
    if (current.type != 2) {
      uncheckedParents(selection, current);
    }
  } else {
    // 如果当前项被勾选
    // 那么若同一组的元素都被勾选了,那么父元素将也被勾选,依次往上类推
    checkedParents(selection);
    // 那么其所有的后代都要被勾选
    toggleCheckedChildren(selection, current, true);
  }
};
const toggleCheckedChildren = (selection, item, isChecked) => {
  var _toggleCheckedChildren = data => {
    data.find(element => {
      permissionTableRef.value.toggleRowSelection(element, isChecked);
      if (isChecked && !selection.find(item => item.id === element.id)) {
        selection.push(element);
      } else if (!isChecked && selection.find(item => item.id === element.id)) {
        for (let i = selection.length - 1; i >= 0; i--) {
          if (selection[i].id === element.id) {
            selection.splice(i, 1);
            break;
          }
        }
      }
      _toggleCheckedChildren(element.children || []);
    });
  };
  _toggleCheckedChildren(item.children || []);
};
const checkedParents = selection => {
  var _checkedParents = element => {
    const children = element.children;
    if (children && children.length) {
      const anyChildrenChecked = children.some(child => {
        return _checkedParents(child);
      });
      if (anyChildrenChecked) {
        permissionTableRef.value.toggleRowSelection(element, true);
        if (!selection.find(item => item.id === element.id)) {
          selection.push(element);
        }
      }
    }
    return selection.find(item => item.id === element.id);
  };
  state.routerData.forEach(element => {
    _checkedParents(element);
  });
};
const uncheckedParents = (selection, item) => {
  var _uncheckedParents = element => {
    const children = element.children;
    if (children && children.length) {
      const allChildrenUnChecked = children.every(child => {
        return _uncheckedParents(child);
      });
      if (allChildrenUnChecked) {
        permissionTableRef.value.toggleRowSelection(element, false);
        for (let i = selection.length - 1; i >= 0; i--) {
          if (selection[i].id === element.id) {
            selection.splice(i, 1);
            break;
          }
        }
        return true;
      } else {
        return false;
      }
    }
    return selection.every(item => item.id !== element.id);
  };
  state.routerData.forEach(element => {
    _uncheckedParents(element);
  });
};
const submitForm = e => {
  let data = { name: e.addRoleName };
  addRole(data).then(res => {
    if (res.data.code === 1) {
      ElMessage({ type: 'success', message: '新增成功', center: true });
      state.userVisible = false;
    } else {
      ElMessage({ type: 'error', message: '新增失败', center: true });
    }
    roleTable();
  });
};
const submitEdit = () => {
  state.ruleEdit = [];
  console.log(state.ruleEditList, '权限选择数据');
  state.ruleEditList.forEach(item => {
    state.ruleEdit.push(item.id);
  });
  let roleId = state.roleIds;
  let data = { permission_ids: state.ruleEdit };
  // let data = { id: this.editId, permissions: this.ruleEdit };
  editRoleAuthority(roleId, data).then(res => {
    ElMessage({ type: 'success', message: res.data.msg });
  });
  state.editAuthorityVisible = false;
};
// rowOperation(row, $index, now) {
//   if (now === "edit") {
//     this.editId = row.id
//     let params = {'id':row.id}
//     rolePermissions(params).then((res)=>{
//       this.editAuthorityVisible = true
//       this.ruleEditList = res.data.data.list
//     })
//   }else if (now === "delete") {
//     let params = {'id':row.id}
//     delRole(params).then((res)=>{
//       ElMessage({type:"success",message:res.data.msg});
//       this.roleTable()
//     })
//   }
// },
const sizeChange = val => {
  state.pageSize = val;
  roleTable();
};
const currentChange = val => {
  state.page = val;
  roleTable();
};
const formatterTime = value => {
  if (value > 0) {
    const newDate = new Date();
    newDate.setTime(value * 1000);
    return newDate.toLocaleString();
  } else {
    return '-';
  }
};

onMounted(() => {
  state.write = route.meta.write as boolean;
  roleTable();
});
</script>

<style>
:deep(.el-table::-webkit-scrollbar) {
  /*滚动条整体样式*/
  width: 2px !important; /*高宽分别对应横竖滚动条的尺寸*/
  height: 2px !important;
}
:deep(.el-table::-webkit-scrollbar-thumb) {
  /*滚动条里面小方块*/
  border-radius: 1px;
  box-shadow: inset005pxrgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2); /*设置滚动条颜色*/
}
:deep(.el-table::-webkit-scrollbar-track) {
  /*滚动条里面轨道*/
  box-shadow: inset005pxrgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.el-input {
  width: 80% !important;
}
.el-form-item__label {
  text-align: left;
}
.el-dialog__body {
  padding: 10px 20px;
}
.el-message {
  margin-top: 30px;
  text-align: center;
}
.el-message--info .el-message__content {
  color: #333 !important;
  font-size: 16px;
}
.el-message .el-icon-info {
  color: #333 !important;
  font-size: 16px;
}
.el-table__header tr,
.el-table__header th {
  padding: 0;
  height: 40px;
}
</style>
<style lang="scss">
.lableline::before {
  display: inline-block;
  content: '|';
  font-size: 15px;
  color: #1890ffff;
  margin: 0 5px;
}
.flex {
  display: flex;
}
.button-box {
  display: flex;
  justify-content: space-between;
}
.el-table--border {
  margin-bottom: 20px;
}
.big-box {
  padding: 15px 13px;
  background: #e9ebec;
}
.el-body {
  ::v-deep .el-dialog__body {
    padding: 0;
  }
  .dialog-box {
    overflow: auto;
    padding: 10px 0 20px 10px;
    .line-box {
      width: 100%;
      height: 1px;
      margin-bottom: 30px;
      background: rgba(0, 0, 0, 0.06);
    }
  }
}
.role_mode {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  .top_box {
    margin-bottom: vw(30);
    .width70 {
      display: flex;
      width: 60%;
      justify-content: space-between;
    }
  }
  .add_role {
    .customWidth {
      width: 55% !important;
      .el-form-item__label {
        text-align: left !important;
      }
    }
  }
}
</style>
