<template>
  <div class="big-box">
    <div class="user_mode">
      <div class="flex top_box">
        <div></div>
        <!-- <div class="demo-input-suffix">
        登录名
        <el-input
            style=" width: 225px;margin:0 40px 0 8px"
            clearable
            v-model="search.name"
            placeholder="请输入内容">
        </el-input>
        用户名
        <el-input
            style=" width: 225px;margin:0 40px 0 8px"
            clearable
            v-model="search.username"
            placeholder="请输入内容">
        </el-input>
        <button class="button2" @click="queryBut()">查询</button>
      </div> -->
        <div class="flex width70">
          <el-button :icon="Plus" @click="setUser" type="primary" size="small" style="height: 30px; margin-left: 20px; background: #1890ff">新增用户</el-button>
        </div>
      </div>
      <div class="table-box">
        <el-table ref="multipleTable" :data="state.tableData" stripe tooltip-effect="dark" style="width: 100%" border :header-cell-style="{ background: '#F2F2F2', color: '#000' }">
          <el-table-column label="序号" align="center" width="50">
            <template #default="scope">
              <span>{{ (state.page - 1) * state.pageSize + scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column label="用户名" align="center" prop="username"></el-table-column>
          <!-- <el-table-column label="组织" align="center" prop=""></el-table-column> -->
          <el-table-column label="创建日期" align="center" prop="created_time"></el-table-column>
          <el-table-column label="角色" align="center">
            <template #default="scope">
              <el-tag type="success" style="margin-left: 8px" v-for="(item, index) in scope.row.role_names" :key="index">{{ item }}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template #default="scope">
              <el-button type="primary" link size="small" @click="openEdit(scope.row)">修改用户信息</el-button>
              <label class="lableline"></label>
              <el-button type="primary" link size="small" @click="openReset(scope.row)">重置密码</el-button>
              <label class="lableline"></label>
              <el-button type="danger" link size="small" style="color: red" @click="openDelete(scope.row)">删除用户</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination :total="state.tableTotal" :current-page="state.page" :page-size="state.pageSize" :page-sizes="[10, 20, 50]" background layout="total, sizes, prev, pager, next, jumper" align="center" @size-change="sizeChange" @current-change="currentChange"></el-pagination>
      </div>
      <el-dialog title="新增用户" v-model="state.userVisible" height="40%" width="60%" top="10%" class="el-body">
        <div class="dialog-box">
          <div class="line-box"></div>
          <el-form :model="state.ruleForm" :rules="state.addRules" ref="ruleFormRef" class="demo-ruleForm">
            <!-- <el-form-item label="登录名" prop="name">
              <el-input v-model="ruleForm.name" placeholder="请输入"></el-input>
            </el-form-item> -->
            <el-form-item label="用户名" prop="username">
              ：
              <el-input v-model="state.ruleForm.username" placeholder="请输入用户名" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
              ：
              <!-- <span class="svg-container">
                <svg-icon icon-class="password" />
              </span> -->
              <el-input
                :key="state.passwordType"
                ref="passwordWriteRef"
                :type="state.passwordType"
                v-model="state.ruleForm.password"
                style="width: 80%"
                name="password"
                tabindex="2"
                auto-complete="new-password"
                :readonly="state.readonlyFlag"
                @focus="handlerIpClick"
                clearable
                placeholder="请输入6-20位字母、数字或下划线组成的密码，且以字母开头！"></el-input>
              <span class="show-pwd" @click="showPwd">
                <svg-icon :icon-class="state.passwordType === 'password' ? 'eye-open' : 'eye'" />
              </span>
            </el-form-item>
            <!-- <el-form-item label="联系方式" prop="phone">
              <el-input v-model="ruleForm.phone" placeholder="请输入"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
              <el-input v-model="ruleForm.email" placeholder="请输入"></el-input>
            </el-form-item>
            <el-form-item label="角色" prop="role">
              <el-input type="number" v-model="ruleForm.role" placeholder="请输入"></el-input>
            </el-form-item> -->
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="state.userVisible = false">取消</el-button>
          <el-button type="primary" :disabled="!state.ruleForm.username || !state.ruleForm.password" @click="submitAddForm(state.ruleForm)">保存</el-button>
        </div>
      </el-dialog>
      <el-dialog title="修改用户信息" v-model="state.userNameVisible" height="50%" width="60%" top="10%" class="el-body">
        <div class="dialog-box">
          <div class="line-box"></div>
          <el-form :model="state.editForm">
            <el-form-item label="用 户 名">
              ：
              <el-input v-model="state.editForm.username" placeholder="请输入" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="修改角色">
              ：
              <el-select v-model="state.editForm.roleName" multiple filterable allow-create default-first-option @change="changeSelect" clearable placeholder="请选择修改类型" style="width: 600px">
                <el-checkbox v-model="checked" @change="selectAll" style="margin-left: 10px">全选</el-checkbox>
                <el-option v-for="(item, index) in state.options" :key="index" :label="item.role_name" :value="item.role_id"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="state.userNameVisible = false">取消</el-button>
          <el-button type="primary" :disabled="!state.editForm.username" @click="submitEditForm(state.editForm)">保存</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { RoleTable, addUser, delUser, editUser, getUser, resetPsw } from '@/api/authorityApi';
import { Plus } from '@element-plus/icons-vue';
import { ElMessage, ElMessageBox } from 'element-plus';
import { computed, nextTick, onMounted, reactive, ref } from 'vue';

// const validatePhone = (rule, value, callback) => {
//   if (/^[1][\d]{10}$/.test(value) == false) {
//     callback(new Error('请输入正确的手机号'))
//   } else {
//     callback()
//   }
// }
const validatePassword = (rule, value, callback) => {
  if (/^[a-zA-Z](?![a-zA-Z]+$)[\w@]{5,19}$/.test(value) == false) {
    callback(new Error('密码需由6-20位字母丶数字丶下划线或@组成，且以字母开头！'));
  } else {
    callback();
  }
};
// const validateEmail = (rule, value, callback) => {
//   if (/^[a-z1-9](?:\w|\-)+@[a-z\d]+\.[a-z]{2,4}$/i.test(value) == false) {
//     callback(new Error('请输入正确的邮箱'))
//   } else {
//     callback()
//   }
// }

const state = reactive({
  write: false,
  search: {},
  disabledPswd: false,
  addRules: {
    password: [{ required: true, trigger: 'blur', validator: validatePassword }]
  },
  editRules: {
    username: ''
  },
  passwordVisible: false,
  userData: [],
  tableData: [],
  page: 1,
  pageSize: 20,
  tableTotal: 0,
  userVisible: false,
  ruleForm: {
    username: '',
    password: ''
  },
  passwordType: 'password',
  readonlyFlag: true,
  userNameVisible: false,
  editForm: {
    username: '',
    userid: '',
    roleName: []
  },
  options: []
  // checked:true,
});

const checked = computed(() => {
  return state.options && state.editForm.roleName.length === state.options.length;
});

const passwordWriteRef = ref();
const showPwd = () => {
  if (state.passwordType === 'password') {
    state.passwordType = '';
  } else {
    state.passwordType = 'password';
  }
  nextTick(() => {
    passwordWriteRef.value.focus();
  });
};
const userTable = () => {
  let params = { page: state.page, page_size: state.pageSize };
  getUser(params).then(res => {
    if (res.data.code === 1) {
      state.tableData = res.data.data.list;
      state.tableTotal = res.data.data.pagination.total;
    }
  });
};
const getRoleLise = () => {
  RoleTable();
};
// 取消新增用户时浏览器记住密码
const handlerIpClick = () => {
  state.readonlyFlag = false;
};
const getRoleTable = () => {
  state.options = [];
  let params = {
    page: 1,
    page_size: 200
  };
  RoleTable(params).then(res => {
    if (res.data.code === 1) {
      res.data.data.list.forEach(item => {
        state.options.push({
          role_name: item.name,
          role_id: item.id.toString()
        });
      });
    }
  });
};
const setUser = () => {
  state.userVisible = true;
  state.ruleForm.username = '';
  state.ruleForm.password = '';
};
const queryBut = () => {
  // if (state.search.name) {
  //     params.name = state.search.name
  // }
  // if (state.search.username) {
  //     params.username = state.search.username
  // }
};

const ruleFormRef = ref();
// 提交新增
const submitAddForm = options => {
  ruleFormRef.value.validate(valid => {
    if (valid) {
      let data = {
        username: options.username,
        password: options.password
      };
      addUser(data).then(res => {
        state.userVisible = false;
        state.ruleForm = {
          username: '',
          password: ''
        };
        userTable();
        ElMessage({ type: 'success', message: '新增成功', center: true });
      });
    } else {
      ElMessage({ type: 'error', message: '密码需由6-20位字母丶数字丶下划线或@组成，且以字母开头！', center: true });
    }
  });
};
// rowOperation(row, $index, now) {
//   if (now === "edit") {
//     state.passwordVisible = true
//     state.EditForm.name = row.name
//   } else if (now === "delete") {
//     let params = {'id': row.id}
//     delUser(params).then((res) => {
//       state.userTable()
//       ElMessage({type: "success", message: res.data.msg});
//     })
//   }
// },

// 打开修改
const openEdit = e => {
  console.log(e, '携参');
  state.editForm.roleName = [];
  state.userNameVisible = true;
  state.editForm.username = e.username;
  state.editForm.userid = e.id;
  e.role_ids.forEach(item => {
    state.editForm.roleName.push(item.toString());
  });
  getRoleTable();
};
const changeSelect = val => {
  // if (val.length === state.options.length) {
  //   state.checked = true
  // } else {
  //   state.checked = false
  // }
};
// 角色全选
const selectAll = () => {
  if (state.checked) {
    state.editForm.roleName = [];
  } else {
    state.editForm.roleName = [];
    state.options.map(item => {
      state.editForm.roleName.push(item.role_id);
    });
  }
};
// 提交修改
const submitEditForm = e => {
  console.log(e, '122121');
  let data = { username: e.username, role_ids: e.roleName };
  let userId = e.userid;
  editUser(userId, data).then(res => {
    if (res.data.code === 1) {
      ElMessage({ type: 'success', message: '修改成功', center: true });
    } else {
      ElMessage({ type: 'error', message: '修改失败，请重试！', center: true });
    }
    state.userNameVisible = false;
    userTable();
  });
};
// 删除用户
const openDelete = e => {
  let userId = e.id;
  ElMessageBox.confirm('是否确认要删除该用户', '提示', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning'
  }).then(() => {
    delUser(userId).then(res => {
      if (res.data.code === 1) {
        ElMessage({ type: 'success', message: '删除成功', center: true });
        userTable();
      } else {
        ElMessage({ type: 'success', message: '删除失败，请联系管理员！', center: true });
      }
    });
  });
};
// const submitEdut = (e) => {
//   let data = {'username': e.name, 'password': e.password}
//   editPassword(data).then((res) => {
//     state.passwordVisible = false
//     state.EditForm.password = ''
//     ElMessage({type: "success", message: res.data.msg});
//   })
// },
// 重置密码
const openReset = e => {
  ElMessageBox.confirm('是否确认要重置该用户密码', '提示', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning'
  }).then(() => {
    let userId = e.id;
    resetPsw(userId).then(res => {
      if (res.data.code === 1) {
        let password = res.data.data.password;
        ElMessage({ type: 'success', message: '密码重置成功', center: true });
        openResetPsw(password);
      }
    });
  });
};
const openResetPsw = e => {
  ElMessageBox.alert(`用户重置密码为：<strong>${e}</strong>`, {
    dangerouslyUseHTMLString: true
  });
};
const sizeChange = val => {
  state.pageSize = val;
  userTable();
};
const currentChange = val => {
  state.page = val;
  userTable();
};

const formatterTime = value => {
  if (value > 0) {
    const newDate = new Date();
    newDate.setTime(value * 1000);
    return newDate.toLocaleString();
  } else {
    return '-';
  }
};

onMounted(() => {
  userTable();
});
</script>
<style>
.el-dialog__body {
  padding: 10px 20px;
}
.el-message {
  margin-top: 30px;
  text-align: center;
}
.el-message--info .el-message__content {
  color: #333 !important;
  font-size: 16px;
}
.el-message .el-icon-info {
  color: #333 !important;
  font-size: 16px;
}
.el-checkbox__label {
  font-size: 14px;
  font-weight: 700;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  padding-left: 34px;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
  position: absolute;
  left: 10px;
}
.el-select-dropdown__item {
  padding-left: 34px;
}
.el-checkbox:last-of-type {
  height: 26px;
  width: 100%;
}
</style>
<style lang="scss" scoped>
$dark_gray: #889aa4;

.lableline::before {
  display: inline-block;
  content: '|';
  font-size: 15px;
  color: #1890ffff;
  margin: 0 5px;
}
.el-table--border {
  margin-bottom: 30px;
}
.flex {
  display: flex;
}
.big-box {
  padding: 15px 13px;
  background: #e9ebec;
}
:deep(.el-form-item__label) {
  width: 105px;
  text-align: left;
}
.button2 {
  width: 70px;
  height: 30px;
  background: #1890ff;
  border-radius: 2px;
  border: 0;
  color: #fff;
  font-size: 16px;
  margin-right: 20px;
}
.user_mode {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  .top_box {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    .width70 {
      display: flex;
      justify-content: space-between;
    }
  }
  .el-body {
    :deep(.el-dialog__body) {
      padding: 0;
    }
    .dialog-box {
      overflow: auto;
      padding: 10px 0 20px 10px;
      .line-box {
        width: 100%;
        height: 1px;
        margin-bottom: 30px;
        background: rgba(0, 0, 0, 0.06);
      }
      .show-pwd {
        position: absolute;
        right: 30px;
        top: 0;
        font-size: 16px;
        color: $dark_gray;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
</style>
