<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-09-27 16:01:23
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-11 10:14:16
 * @FilePath: /digital-common/src/views/processManagement/flowSecondVLANNetworkAccess/index.vue
-->
<template>
  <div class="container-warp">
    <p class="title">二级VLAN列表</p>
    <div class="content-box">
      <div class="top-search">
        <div class="search-box">
          <el-input placeholder="请输入关键字搜索" v-model="state.keyWord" clearable class="input-with-select">
            <template #append>
              <el-button :icon="Search" @click="onSearch" />
            </template>
          </el-input>
        </div>
        <div class="btn-grounp">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
      </div>
      <div class="bottom-content">
        <el-table :data="state.tableData" v-loading="state.tableLoading">
          <el-table-column
            v-for="col in state.tableColumns"
            :prop="col.dataIndex"
            :key="col.dataIndex"
            :label="col.title"
            align="center">
            <template #default="scope">
              <template v-if="col.dataIndex == 'allocated'">
                <span>{{ scope.row['allocated'] == 'Y' ? '是' : '否' }}</span>
              </template>
              <template v-else-if="col.dataIndex == 'ownerName'">
                <span>{{ scope.row['owner'][0].name }}</span>
              </template>
              <template v-else>
                <span>{{ scope.row[col.dataIndex] }}</span>
              </template>
            </template>
          </el-table-column>
        </el-table>
        <div class="l-pagination">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="state.pagination.page"
            :page-sizes="[20, 50, 100, 200]"
            :page-size="state.pagination.size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="state.pagination.total"></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { getList } from '@/api/networkAccessFlow';
import { Search } from '@element-plus/icons-vue';
import { reactive } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const state = reactive({
  keyWord: '',
  tableData: [],
  tableColumns: [
    { title: '序号', dataIndex: 'vlan_id', align: 'center' },
    { title: '所属平台', dataIndex: 'cloud', align: 'center' },
    { title: '所属硬件资源池', dataIndex: 'related_pool', align: 'center' },
    { title: '类型', dataIndex: 'vlan_domain', align: 'center' },
    // { title: '类型', dataIndex: 'type', align: 'center' },
    { title: '用途', dataIndex: 'purpose', align: 'center' },
    { title: '规划范围', dataIndex: 'planningScope', align: 'center' },
    { title: '是否已分配', dataIndex: 'allocated', align: 'center' },
    { title: '备注', dataIndex: 'remarks', align: 'center' }
  ],
  pagination: {
    page: 1,
    size: 20,
    total: 0
  },
  tableLoading: false
});

// 接口
const getListFn = () => {
  state.tableLoading = true;
  let params = {
    page: state.pagination.page,
    size: state.pagination.size,
    word: state.keyWord
  };
  getList(params)
    .then(res => {
      state.pagination.total = res.data.total;
      state.tableData = res.data.data;
    })
    .finally(() => {
      state.tableLoading = false;
    });
};

const onSearch = () => {
  state.pagination.page = 1;
  getListFn();
};

// 分页改变
const handleSizeChange = val => {
  state.pagination.page = 1;
  state.pagination.size = val;
  getListFn();
};

// 当前也改变
const handleCurrentChange = val => {
  state.pagination.page = val;
  getListFn();
};

// 点击了新增
const handleAdd = () => {
  router.push({
    path: '/operations/projectAccess/flowSecondVLANNetworkAccess/add'
  });
};

getListFn();
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  background-color: #f1f2f5;
  .title {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    line-height: 30px;
  }
  .content-box {
    padding: 15px;
    background-color: #fff;
    .top-search {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      .serch-box {
        width: 260px;
      }
      .ant-btn {
        margin-left: 20px;
      }
    }
  }
}
.l-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
</style>
