<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2024-01-10 15:30:28
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-10 15:35:23
 * @FilePath: /digital-common/src/views/processManagement/flowSecondIPNetworkAccess/view.vue
-->
<template>
  <div class="view-container">
    <router-view></router-view>
  </div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.view-container {
  width: 100%;
}
</style>
