<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2024-01-12 14:51:58
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-16 09:47:48
 * @FilePath: /digital-common/src/views/resource/hardware/components/item.vue
-->
<template>
  <div class="item-view" :class="{ active: isActive }">
    <div class="left">
      <div class="area">
        {{ itemData.area }}
      </div>
      <div class="line"></div>
      <div class="name">
        {{ itemData.name }}
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
export default defineComponent({
  props: {
    isActive: {
      type: Boolean,
      default: false
    },
    itemData: {
      type: Object,
      default: () => {
        return {
          area: '-',
          name: '--'
        };
      }
    }
  },
  setup(props) {
    return {};
  }
});
</script>

<style lang="scss" scoped>
.item-view {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 294px;
  min-height: 188px;
  border-radius: 4px;
  background-image: url('../../../../assets/resource/cloud.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  &:hover,
  &.active {
    background-image: url('../../../../assets/resource/cloud-fill.png');
    .left {
      .area {
        color: rgba(255, 255, 255, 1);
      }
      .line {
        background-color: rgba(92, 111, 123, 1);
      }
      .name {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .left {
    padding-top: 66px;
    margin-left: 69px;
    .area {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(74, 124, 160, 1);
      line-height: 24px;
    }
    .line {
      width: 48px;
      height: 1px;
      background: #d8d8d8;
      margin: 8px 0;
    }
    .name {
      font-size: 24px;
      font-family: HelveticaNeue-Medium, HelveticaNeue;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.65);
      line-height: 32px;
    }
  }
}
</style>
