<template>
  <div class="home-page">
    <div class="head-view">
      <div class="search-box">
        <el-input
          v-model="state.searchValue"
          class="input-box"
          @keyup.native="handleKeyUP"
          placeholder="搜索应用、主机等信息，多值用逗号隔开" />
        <a class="search-btn back" @click="globalSearchHandle">全局搜索</a>
      </div>

      <el-tabs v-model="state.activeKey" @tab-click="tabChangeHandle" class="x-tab">
        <el-tab-pane v-for="(tab, index) in state.tabList" :name="tab.code" :key="tab.code">
          <template #label>
            <span>
              <img
                class="tab-icon"
                style="width: 14px; height: 14px; margin-right: 6px"
                :src="getIconImage(index, state.activeKey === tab.code)" />
              <span class="tab-label">
                {{ tab.name }}
              </span>
            </span>
          </template>
        </el-tab-pane>
      </el-tabs>
    </div>

    <div class="table-box">
      <div class="query-body">
        <div class="query-head">
          <span class="label" style="line-height: 32px">包含类目：</span>
          <div class="type-list" :class="{ 'is-expand': state.isExpand }">
            <a
              class="type"
              v-for="type in state.typeList"
              :key="type.code"
              :class="{ active: type.code === state.currentType }"
              @click="changeType(type, true)">
              {{ type.name }}
            </a>
          </div>
        </div>
        <div>
          <div class="query-box-2">
            <div class="search-box">
              <el-input
                size="small"
                v-model="state.queryWord"
                class="input-box"
                placeholder="输入关键字搜索"
                enterButton
                clearable>
                <template #append>
                  <el-button
                    :icon="Search"
                    @click="findDataViolence(true)"
                    style="background-color: #3f9eff; color: #fff" />
                </template>
              </el-input>
              <a class="search-btn" style="color: #439eff" @click="() => (state.isOpen = !state.isOpen)">
                高级搜索
                <i class="el-icon-arrow-down" v-show="!state.isOpen"></i>
                <i class="el-icon-arrow-up" v-show="state.isOpen"></i>
              </a>
            </div>

            <div v-show="state.isOpen" class="attr-config-right">
              <el-popover ref="xPopoverRef" class="field-box" width="900px" trigger="click" placement="bottom-end">
                <div class="check-attr" style="width: 900px; padding: 20px 0 0 20px">
                  <el-checkbox-group v-model="state.checkAttrData" style="width: 100%">
                    <el-row>
                      <el-col v-for="attr in state.queryFields" :key="attr.attr" :span="8" style="padding: 8px 0">
                        <el-checkbox :label="attr.attr">{{ attr.attrName }}</el-checkbox>
                      </el-col>
                    </el-row>
                  </el-checkbox-group>
                  <div class="btn-group" style="display: flex; justify-content: flex-end">
                    <el-button state. @click="handlePoppverCancel">取消</el-button>
                    <el-button type="primary" state. @click="checkAttrHandle">确认</el-button>
                  </div>
                </div>
                <template #reference>
                  <!-- <el-tooltip class="box-item" effect="dark" content="字段选择" placement="bottom-end"> -->
                  <el-icon style="font-size: 24px" @click="onOpenPopconfirm" class="el-icon-menu"><Menu /></el-icon>
                  <!-- </el-tooltip> -->
                </template>
              </el-popover>
            </div>
          </div>
          <div v-show="state.isOpen" class="query-from-body">
            <renderFrom
              ref="renderFormRef"
              :attrTypeList="state.showAttr"
              @onSearch="searchHandle"
              @onReset="resetHandle"></renderFrom>
          </div>
        </div>
      </div>

      <div class="table-body">
        <el-table v-loading="state.loading" border :data="state.tableData">
          <el-table-column
            v-for="(col, index) in columns"
            :prop="col.dataIndex"
            :key="col.dataIndex"
            :label="col.title"
            align="center">
            <template #default="{ $index, row, column }">
              <template v-if="col.slots && col.slots.customRender == 'lineBtn'">
                <span style="color: #3f9eff; cursor: pointer" @click="onSelectTableRow(row)">
                  {{ row[col.dataIndex] }}
                </span>
              </template>
              <template v-else-if="col.slots && col.slots.customRender == 'listBox'">
                <template v-if="row[col.dataIndex]">
                  <span
                    class="btn-link"
                    @click="gotoDetails(item)"
                    v-for="(item, index) in Array.from(row[col.dataIndex])">
                    <span style="color: #3f9eff; cursor: pointer">{{ item[0].value }}</span>
                    <span v-if="Array.from(row[col.dataIndex]).length - 1 != index">;</span>
                  </span>
                </template>
                <span v-else></span>
              </template>
              <template v-else-if="col.dataIndex == 'allocated'">
                {{
                  row[col.dataIndex] == true || row[col.dataIndex] == 'true' || row[col.dataIndex] == '是' ? '是' : '否'
                }}
              </template>
              <template v-else>
                <span>{{ row[col.dataIndex] }}</span>
              </template>
            </template>
          </el-table-column>
        </el-table>

        <div class="page-box">
          <el-pagination
            :key="state.paginationKey"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="state.tablePagination.current"
            :page-sizes="[10, 20, 50, 100]"
            :page-size="state.tablePagination.size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="state.tablePagination.total"></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import api from '@/api/homePage';
import { Search } from '@element-plus/icons-vue';
import { computed, getCurrentInstance, reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import renderFrom from './renderFrom';

const router = useRouter();
const route = useRoute();

const $forceUpdate = getCurrentInstance()?.proxy?.$forceUpdate;
const state = reactive({
  paginationKey: new Date().getTime(),
  modelCode: route.query.modelCode,
  searchValue: '',
  isOpen: false,
  isExpand: '',

  checkAttrData: [],

  scrollConfig: {
    x: true
  },

  isOpenPopover: false, // 展示字段弹窗

  queryWord: '',
  loading: false,
  tableData: [],

  tablePagination: {
    current: 1,
    size: 10,
    total: 0,
    showTotal: true,
    showSizeChanger: true
  },

  isViolence: false,

  queryFromContainer: null,

  // query.js
  activeKey: 0,
  tabList: [],
  typeList: [],
  currentType: '',
  queryFields: [],
  showAttr: []
});

const setResourceLoacl = () => {
  let params = {
    path: '/operations/resourceSearch',
    tab: state.activeKey,
    type: state.currentType,
    page: state.tablePagination.current,
    isViolence: state.isViolence,
    queryWord: state.queryWord
  };
  localStorage.setItem('backInfo', JSON.stringify(params));
  localStorage.setItem('arrtList', JSON.stringify(state.showAttr));

  state.queryFromContainer = renderFormRef.value.onSendParams();
  if (!state.isViolence && JSON.stringify(state.queryFromContainer) != '{}') {
    localStorage.setItem('arrtListAttr', JSON.stringify(state.queryFromContainer));
  } else {
    localStorage.removeItem('arrtListAttr');
  }
};
const clearResourLocal = () => {
  localStorage.removeItem('backInfo');
  localStorage.removeItem('arrtList');
  localStorage.removeItem('arrtListAttr');
};

const renderFormRef = ref();
const xPopoverRef = ref();

const columns = computed(() => {
  return state.showAttr.map((t, i) => {
    let config = {};
    if (i === 0) {
      config['slots'] = { customRender: 'lineBtn' };
    }

    if (t.attrType === 'list') {
      config['slots'] = { customRender: 'listBox' };
    }
    return {
      title: t.attrName,
      dataIndex: t.attr.split('.')[0],
      key: t.attr,
      width: '260px',
      textWrap: 'word-break',
      ellipsis: true,
      ...config
    };
  });
});

const handleKeyUP = e => {
  if (e.keyCode == 13) {
    globalSearchHandle();
  }
};
const tabChangeHandle = () => {
  changeTab(state.activeKey, true);
};

// 确认选择字段
const checkAttrHandle = () => {
  clearResourLocal();
  renderFormRef.value.setIsUpdate(false);

  let tempList = [];
  state.queryFields.forEach(item => {
    if (state.checkAttrData.indexOf(item.attr) > -1) {
      tempList.push(item);
    }
  });

  state.showAttr = tempList;
  handlePoppverCancel();
};

const onOpenPopconfirm = () => {
  state.checkAttrData = state.showAttr.map(t => t.attr);
  handlePoppverCancel();
};
const handlePoppverCancel = () => {
  xPopoverRef.value.hide();
};

const hidePopover = () => {
  const dom = document.getElementsByClassName('field-box')[0];
  dom.style.display = 'none';
};

const globalSearchHandle = () => {
  clearResourLocal();
  router.push('/operations/searchResult?word=' + state.searchValue);
};

const handleCurrentChange = page => {
  state.tablePagination.current = page;
  if (state.isViolence) {
    findDataViolence();
  } else {
    advancedSearchTable(state.queryFromContainer);
  }
};
const handleSizeChange = size => {
  state.tablePagination.current = 1;
  state.tablePagination.size = size;
  if (state.isViolence) {
    findDataViolence();
  } else {
    advancedSearchTable(state.queryFromContainer);
  }
};

// 模糊搜索
const findDataViolence = (isHand = false) => {
  if (isHand) state.tablePagination.current = 1;
  state.isViolence = true;
  state.loading = true;
  const fields = state.showAttr.map(t => t.attr);
  api
    .findDataViolence({
      fields: fields,
      modelCode: state.currentType,
      page: state.tablePagination.current,
      queryWord: state.queryWord,
      size: state.tablePagination.size
    })
    .then(res => {
      state.tableData = res.data.data;
      state.tablePagination.total = res.data.total;
      state.paginationKey = new Date().getTime();
      $forceUpdate();
      state.loading = false;
    })
    .catch(() => {
      state.loading = false;
    });
};

// 高级搜索
const advancedSearchTable = queryFrom => {
  state.isViolence = false;
  state.loading = true;

  const tempQueryFrom = queryFrom;
  const fields = Object.keys(tempQueryFrom)
    .filter(attr => {
      if (tempQueryFrom[attr]?.operation === 'notnull' || tempQueryFrom[attr]?.operation === 'null') {
        return true;
      } else {
        return Array.isArray(tempQueryFrom[attr].value)
          ? tempQueryFrom[attr].value.length > 0
          : tempQueryFrom[attr].value;
      }
    })
    .map(attr => {
      return {
        field: attr,
        operation: tempQueryFrom[attr]?.operation,
        word: Array.isArray(tempQueryFrom[attr].value) ? tempQueryFrom[attr].value.join(',') : tempQueryFrom[attr].value
      };
    });
  api
    .advancedSearchTable({
      fields: fields,
      modelCode: state.currentType,
      page: state.tablePagination.current,
      size: state.tablePagination.size
    })
    .then(res => {
      state.tableData = res.data.data;
      state.tablePagination.total = res.data.total;
      state.loading = false;
    })
    .catch(() => {
      state.loading = false;
    });
};

const searchHandle = (queryFrom, noChangePage) => {
  if (!noChangePage) {
    state.tablePagination.current = 1;
  }
  state.tablePagination.size = 10;
  state.tablePagination.total = 0;
  state.queryFromContainer = queryFrom;
  advancedSearchTable(queryFrom);
};

const resetHandle = queryFrom => {
  state.tablePagination.current = 1;
  state.tablePagination.size = 10;
  state.tablePagination.total = 0;
  state.queryFromContainer = queryFrom;
  advancedSearchTable(queryFrom);
};

const onSelectTableRow = row => {
  state.typeList.forEach(t => {
    if (t.code === state.currentType) {
      router.push({
        path: '/operations/details',
        query: {
          id: row.instance_id
        }
      });
      setResourceLoacl();
    }
  });
};

const gotoDetails = row => {
  row.forEach(t => {
    if (t.name === 'instance_id') {
      router.push({
        path: '/operations/details',
        query: {
          id: t.value
        }
      });
      setResourceLoacl();
    }
  });
};

const getIconImage = (index, isActive) => {
  const icons = [
    'map-pin',
    'file-text',
    'inbox',
    'sensor',
    'server',
    'bubble-chart',
    'hard-drive',
    'save',
    'global',
    'pie-chart-box-line',
    'stack'
  ];
  const icon = icons[index];
  return new URL(`../../assets/homePage/${icon}${isActive ? '-fill' : ''}@2x.png`, import.meta.url).href;
};

const getTypeList = () => {
  api.findTypeByGroup().then(({ data: { data } }) => {
    let tabCode = null;
    state.tabList = data.map(t => {
      const tempList = t.data.filter(t => t.code === state.modelCode);
      if (tempList.length > 0) {
        tabCode = t.group;
      }
      return {
        name: t.group,
        code: t.group,
        child: t.data
      };
    });

    // 详情返回来的tab
    let tab = JSON.parse(localStorage.getItem('backInfo') || '{}').tab;
    if (tab) {
      tabCode = tab;
    }

    if (state.tabList.length > 0) {
      if (tabCode) {
        changeTab(tabCode);
      } else {
        changeTab(state.tabList[0].code);
      }
    }
  });
};

const changeTab = (code, isHand = false) => {
  if (isHand) {
    clearResourLocal();
    renderFormRef.value.setIsUpdate(false);
  }
  state.activeKey = code;
  const activeList = state.tabList.filter(t => t.code === code);
  if (activeList.length > 0) {
    state.typeList = activeList[0].child;
  } else {
    state.typeList = [];
  }
  if (state.typeList.length > 0) {
    if (state.modelCode && !isHand) {
      changeType({ code: state.modelCode });
    } else if (JSON.parse(localStorage.getItem('backInfo') || '{}').type && !isHand) {
      // 详情返回当带回来的 currentType
      if (JSON.parse(localStorage.getItem('backInfo') || '{}').page) {
        state.tablePagination.current = parseInt(JSON.parse(localStorage.getItem('backInfo') || '{}').page);
        state.paginationKey = new Date().getTime();
      }
      changeType({ code: JSON.parse(localStorage.getItem('backInfo') || '{}').type }, isHand);
    } else {
      changeType(state.typeList[0], isHand);
    }
  }
};

const changeType = (type, isHand = false) => {
  if (isHand) {
    clearResourLocal();
    renderFormRef.value.setIsUpdate(false);
    state.tablePagination.current = 1;
  }
  state.currentType = type.code;

  getQueryFieldList(type.code, isHand);
};

const getQueryFieldList = (code, isHand = falsse) => {
  api.findAllAttr(code).then(res => {
    state.queryFields = res.data.data || [];
    if (!isHand && JSON.parse(localStorage.getItem('arrtList') || '[]').length) {
      state.showAttr = JSON.parse(localStorage.getItem('arrtList'));
      let arrtListAttr = JSON.parse(localStorage.getItem('arrtListAttr') || '{}');
      // 刷新或者返回的时候，并且存在展示字段
      if (arrtListAttr && JSON.stringify(arrtListAttr) != '{}') {
        renderFormRef.value.setFormData(JSON.parse(localStorage.getItem('arrtListAttr') || '{}'));
      }
    } else {
      state.showAttr = res.data.data.slice(0, 6);
    }

    if (JSON.parse(localStorage.getItem('backInfo') || '{}').isViolence) {
      state.queryWord = JSON.parse(localStorage.getItem('backInfo') || '{}').queryWord;
      findDataViolence();
    } else {
      // state.isOpen = true;
      renderFormRef.value.searchHandleNO(true);
    }
  });
};

// created
getTypeList();
</script>

<style lang="scss" scoped>
.home-page {
  // height: calc(100vh - 60px);
  padding: 20px;
  overflow-y: auto;
  background-color: #f5f5f5;
  .head-view {
    padding: 17px 32px 0px 32px;
    background-color: #fff;
    .page-title {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
    }
    .search-box {
      text-align: center;
      padding: 32px 0;
      .input-box {
        width: 552px;
        height: 40px;
      }
      .search-advanced-box {
        display: inline-block;
        position: relative;
      }
      .search-btn {
        border: 0;
        display: inline-block;
        padding: 8px 18px;
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        line-height: 24px;
        border-radius: 2px;
        margin-left: 8px;
        &.white {
          border-radius: 2px;
          // border: 1px solid #979797;
          color: rgba(38, 38, 38, 1);
        }
        &.active {
          // border: 1px solid rgba(0, 166, 249, 1);
          color: rgba(0, 166, 249, 1);
        }
        &.back {
          color: #ffffff;
          background: rgba(0, 166, 249, 1);
        }
      }
    }
    :deep(.ant-tabs-nav) {
      margin-bottom: 0px !important;
    }
    .tabs {
      :deep(.ant-tabs-tab-active) {
        .tab-label {
          color: #00a6f9;
        }
      }
      :deep(.ant-tabs-ink-bar) {
        background-color: #00a6f9;
      }
      .tab-icon {
        width: 14px;
        height: 14px;
        margin-right: 6px;
      }
    }
  }
  .table-box {
    .query-body {
      margin-top: 24px;
      background: #ffffff;
      border-radius: 2px;
      padding: 24px 32px;
      .query-head {
        padding-bottom: 17px;
        .label {
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.85);
          line-height: 22px;
        }
        .type-list {
          width: calc(100% - 200px);
          overflow: hidden;
          // height: 76px;
          display: inline-block;
          vertical-align: top;
          &.is-expand {
            height: auto;
          }
          .type {
            display: inline-block;
            margin-bottom: 6px;
            margin-left: 18px;
            padding: 4px 12px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.65);
            line-height: 24px;
            border-radius: 6px;
            &.active {
              background: #00a6f9;
              color: #ffffff;
            }
          }
        }

        .openOrClose {
          float: right;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #1890ff;
          line-height: 22px;
        }
      }
      .query-box-2 {
        border-top: 1px dotted #999;
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        .search-box {
          .input-box {
            width: 286px;
          }
          .search-btn {
            margin-left: 16px;
            text-align: center;
            display: inline-block;
            width: 88px;
            height: 32px;
            border-radius: 2px;
            // border: 1px solid #979797;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #262626;
            line-height: 30px;
          }
        }
        .attr-config-right {
          float: left;
        }
        .check-attr {
          width: 260px;
        }
      }
      .query-from-body {
        padding: 26px 46px;
        background: #fafafa;
      }
    }
  }

  .table-body {
    background: #ffffff;
    border-radius: 2px;
    padding: 0 32px 24px 32px;
    :deep(.ant-table td) {
      white-space: nowrap;
      max-width: 320px;
    }
    .btn-link {
      margin-right: 2px;
    }
  }
  .page-box {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    .pagination {
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
    }
  }
}

.el-icon-menu {
  font-size: 18px;
  cursor: pointer;
  &:hover {
    color: #05a6f9;
  }
}

.tab-label {
  font-weight: 700;
}

.x-tab {
  :deep(.el-tabs__nav-scroll) {
    display: flex;
    justify-content: center;
  }
}
</style>
