<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-12-13 11:18:51
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-16 17:03:26
 * @FilePath: /digital-common/src/layout/components/Sidebar/index.vue
-->
<template>
  <div
    class="sliderbar-container"
    :class="{ 'has-logo': showLogo }"
    :style="{ backgroundColor: sideTheme === 'theme-dark' ? variables.menuBackground : variables.menuLightBackground }">
    <el-scrollbar :class="sideTheme" wrap-class="scrollbar-wrapper">
      <el-menu
        :default-active="activeMenu"
        :collapse="isCollapse"
        :background-color="sideTheme === 'theme-dark' ? variables.menuBackground : variables.menuLightBackground"
        :text-color="sideTheme === 'theme-dark' ? variables.menuColor : variables.menuLightColor"
        :unique-opened="true"
        :active-text-color="theme"
        :collapse-transition="false"
        mode="vertical">
        <sidebar-item
          v-for="(route, index) in state.routes"
          :key="route.path + index"
          :item="route"
          :base-path="route.path" />
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<script setup lang="ts">
import variables from '@/assets/styles/variables.module.scss';
import { oprRoutes, opsRoutes, stagingRoutes, sysRoutes } from '@/router';
import useAppStore from '@/store/modules/app';
import usePermissionStore from '@/store/modules/permission';
import useActionRouterStore from '@/store/modules/routers';
import useSettingsStore from '@/store/modules/settings';
import { computed, getCurrentInstance, onMounted, reactive } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import SidebarItem from './SidebarItem';

const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;

const route = useRoute();
const router = useRouter();
const appStore = useAppStore();
const settingsStore = useSettingsStore();
const permissionStore = usePermissionStore();

const state = reactive({
  routes: []
});

const getPermissionsRouters = (routers, permissions) => {
  let resultRouters = [];
  let newRouters = [];
  for (let i = 0; i < routers.length; i++) {
    let item = { ...routers[i] };
    if (permissions.indexOf(item.path) >= 0) {
      if (Object.keys(routers[i]).lastIndexOf('children') >= 0) {
        item.children = getPermissionsRouters(routers[i].children, permissions);
      }
      newRouters.push(item);
    }
  }
  // 去掉需要隐藏的路由
  resultRouters = newRouters.filter(item => !item.meta?.isHide);
  return resultRouters;
};

// 计算当前模块的菜单
const getCurrentRouters = () => {
  const totalViewName = localStorage.getItem('TotalViewName');
  let routerList = useActionRouterStore().dynamicRouter;
  let pathList = [];
  routerList.forEach(item => {
    pathList.push(item.path);
  });
  if (totalViewName === 'quality') {
    const ops = getPermissionsRouters(opsRoutes, pathList);
    if (ops.length <= 0) {
      router.push('/403');
    } else {
      return ops;
    }
  } else if (totalViewName === 'resources') {
    const opr = getPermissionsRouters(oprRoutes, pathList);
    if (opr.length <= 0) {
      router.push('/403');
    } else {
      return opr;
    }
  } else if (totalViewName === 'staging') {
    const opr = getPermissionsRouters(stagingRoutes, pathList);
    if (opr.length <= 0) {
      router.push('/403');
    } else {
      return opr;
    }
  } else if (totalViewName === 'sys') {
    const opr = getPermissionsRouters(sysRoutes, pathList);
    if (opr.length <= 0) {
      router.push('/403');
    } else {
      return opr;
    }
  }
};

const getCurrentRoutersOut = () => {
  state.routes = getCurrentRouters();
};

const showLogo = computed(() => settingsStore.sidebarLogo);
const sideTheme = computed(() => settingsStore.sideTheme);
const theme = computed(() => settingsStore.theme);
const isCollapse = computed(() => !appStore.sidebar.opened);

const activeMenu = computed(() => {
  const { meta, path } = route;
  if (meta.activeMenu) {
    return meta.activeMenu;
  }
  return path;
});

onMounted(() => {
  getCurrentRoutersOut();
  // 切换tab后触发
  $bus.on('toggleMenu', () => {
    getCurrentRoutersOut();
  });
});

defineExpose({
  getCurrentRoutersOut
});
</script>

<style>
.sliderbar-container {
  top: 61px !important;
  .scrollbar-wrapper {
    background-color: #0080cc;
  }
}
</style>
