<template>
  <div class="table-view">
    <h3>{{ btnText }}</h3>
    <el-table class="my-table" :data="dataSource" border stripe style="width: 100%">
      <el-table-column
        v-for="col in columns"
        :fixed="col.key == 'operationDelete' ? 'right' : null"
        :prop="col.dataIndex"
        :key="col.dataIndex"
        :label="col.title">
        <template #default="scope">
          <template v-if="col.key == 'operation'">
            <el-button type="primary" link @click="onClickRow(scope.row, 'updateRelation')">刷新实例关系</el-button>
          </template>
          <template v-if="col.key == 'associatedInstance'">
            <el-button
              type="primary"
              link
              v-if="row[col.dataIndex] && row[col.dataIndex].length > 0"
              @click="onClickRow(scope.row, 'associatedInstance')">
              查看
            </el-button>
            <span v-else>无</span>
          </template>
          <template v-if="col.key == 'operationDelete'">
            <el-button type="primary" link @click="onClickRow(scope.row, 'delete')">删除</el-button>
          </template>

          <template v-if="col.key === 'operationCheck'">
            <el-checkbox v-model="row[col.dataIndex]"></el-checkbox>
          </template>
          <template v-if="col.key === 'operationDate'">
            <el-date-picker v-model="row[col.dataIndex]" type="date" />
          </template>
          <template v-if="col.key === 'operationSelect'">
            <el-select v-model="row[col.dataIndex]" clearable style="width: 160px">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
          </template>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script setup lang="ts">
import dayjs from 'dayjs';

const props = defineProps({
  btnText: {
    type: String,
    default: '--'
  },
  columns: {
    type: Array,
    default: () => {
      return [];
    }
  },
  dataSource: {
    type: Array,
    default: () => {
      return [];
    }
  }
});

const emits = defineEmits(['on-click']);

const onClickRow = (row, type) => {
  emits('on-click', row, type);
};
const disabledDate = current => {
  return current && current <= dayjs().endOf('day');
};

const options = [
  {
    value: '下线未下电',
    label: '下线未下电'
  },
  {
    value: '下线已下电',
    label: '下线已下电'
  },
  {
    value: '下电未报废',
    label: '下电未报废'
  }
];
</script>

<style lang="scss" scoped>
.table-view {
  margin: 20px 0;
  .label {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 20px;
  }
}
</style>
