<template>
  <div class="device-info-modal">
    <div class="mask" v-show="open"></div>
    <div v-show="open" class="modal" width="740px">
      <div class="head">
        <h3 class="title">实例详情</h3>
        <a class="close-btn" @click="closeDeviceModal">×</a>
      </div>
      {{ relationInfo.list }}
      <div class="content-main">
        <el-form v-show="!isShowDetails" label-position="right" label-width="120px" :inline="false">
          <el-row>
            <el-col :span="info.type === 'list' ? 24 : 12" v-for="info in relationInfo" :key="info.name">
              <el-form-item
                class="form-item"
                :label="info.property"
                :label-width="info.type === 'list' ? '16.6%' : '33%'"
                :style="{ width: info.type === 'list' ? '83%' : '58.33%' }">
                <div v-if="info.type === 'list'" class="btn-list">
                  <a class="btn-item" v-for="item in info.value" :key="item.instanceId" @click="showDeviceModal(item)">
                    {{ item.name }}
                  </a>
                </div>
                <div v-else class="value">{{ info.value }}</div>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>

        <div class="box" v-show="isShowDetails">
          <a class="back-btn back" @click="backHandle">返回</a>
          <el-form label-position="right" label-width="120px" :inline="false">
            <el-row>
              <el-col :span="info.type === 'list' ? 24 : 12" v-for="info in relationInfoDetails.list" :key="info.name">
                <el-form-item
                  class="form-item"
                  :label="info.property"
                  :label-width="info.type === 'list' ? '16.6%' : '33%'"
                  :style="{ width: info.type === 'list' ? '83%' : '58.33%' }">
                  <div v-if="info.type === 'list'" class="btn-list">
                    <a
                      class="btn-item"
                      v-for="item in info.value"
                      :key="item.instanceId"
                      @click="showDeviceModal(item)">
                      {{ item.name }}
                    </a>
                  </div>
                  <div v-else class="value">{{ info.value }}</div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, reactive, ref, watch } from 'vue';
export default defineComponent({
  props: {
    show: {
      type: Boolean,
      default: false
    },
    relationInfo: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  emits: ['update:show'],
  setup(props, content) {
    console.log('show');
    let open = ref(props.show);
    watch(
      () => props.show,
      newValue => {
        open.value = newValue;
      }
    );
    function closeDeviceModal() {
      open.value = false;
      backHandle();
      content.emit('update:show', false);
    }

    let relationInfoDetails = reactive({
      list: []
    });
    let isShowDetails = ref(false);
    function showDeviceModal(item) {
      relationInfoDetails.list = item.relation
        .filter(t => {
          if (t.type === 'list') {
            return t.value.length > 0;
          } else {
            return t.value;
          }
        })
        .map(t => {
          if (t.type === 'list') {
            return {
              ...t,
              value: t.value.map(cr => {
                const nameItem = cr.filter(({ name }) => name == 'name');
                let name = '--';
                if (nameItem.length > 0) {
                  name = nameItem[0].value;
                }
                return {
                  name,
                  relation: cr
                };
              })
            };
          } else {
            return t;
          }
        });
      isShowDetails.value = true;
    }
    function backHandle() {
      isShowDetails.value = false;
      relationInfoDetails.list = [];
    }
    return {
      open,
      showDeviceModal,
      closeDeviceModal,
      backHandle,
      relationInfoDetails,
      isShowDetails,
      labelCol: { span: 8 },
      wrapperCol: { span: 14 }
    };
  }
});
</script>

<style lang="scss" scoped>
.mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.5);
}
.modal {
  z-index: 9999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 866px;
  top: 100px;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 29px 24px;
    background: #ffffff;
    border-bottom: 1px solid #d9d9d9;
    .title {
      display: inline-block;
      width: 168px;
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      margin-bottom: 0;
    }
    .bread-crumbs {
      margin-left: 24px;
      margin-right: 16px;
      display: inline-block;
      .crumbs-item {
        cursor: pointer;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 22px;
        position: relative;
        &:not(:last-child) {
          &::after {
            content: '/';
            display: inline-block;
            width: 7px;
            height: 22px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.45);
            line-height: 22px;
            margin: 0 8px;
          }
        }
      }
    }
    .close-btn {
      display: inline-block;
      width: 32px;
      height: 24px;
      background: #2f404a;
      text-align: center;
      line-height: 24px;
      font-size: 14px;
      color: #ffffff;
    }
  }
  .content-main {
    padding: 22px 22px;
    max-height: 500px;
    overflow: auto;
    background: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-item {
      .label {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 22px;
      }
      .value {
        display: inline-block;
        word-wrap: break-word;
        width: 223px;
        min-height: 32px;
        padding: 5px 13px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid #d9d9d9;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        line-height: 22px;
      }
      .btn-list {
        .btn-item {
          display: inline-block;
          padding: 5px 13px;
          margin: 6px 10px;
          background: #ffffff;
          border-radius: 2px;
          border: 1px solid rgba(0, 166, 249, 1);
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(0, 166, 249, 1);
          line-height: 22px;
        }
      }
    }
    .bussiness-table {
      width: 100%;
    }

    .box {
      .back-btn {
        display: inline-block;
        padding: 6px 18px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        line-height: 18px;
        border-radius: 2px;
        margin-left: 8px;
        margin-bottom: 20px;
        &.white {
          border-radius: 2px;
          border: 1px solid #979797;
          color: rgba(38, 38, 38, 1);
        }
        &.active {
          border: 1px solid rgba(0, 166, 249, 1);
          color: rgba(0, 166, 249, 1);
        }
        &.back {
          color: #ffffff;
          background: rgba(0, 166, 249, 1);
        }
      }
    }
  }
}
</style>
