<template>
  <div>
    <el-drawer
      class="custom-class"
      title="添加下线设备"
      v-model="open"
      direction="rtl"
      size="60%"
      :before-close="closeHandle"
      :destroy-on-close="true"
      :show-close="true">
      <div class="box">
        <div class="form-box">
          <el-form :model="orderForm" name="basic" ref="queryForm" label-width="110px" :inline="false">
            <el-row :gutter="24">
              <el-col class="gutter-row" :span="12">
                <el-form-item label="设备类型" prop="typeCode" :rules="[{ required: true, message: '请选择设备类型' }]">
                  <el-select
                    v-model="orderForm.typeCode"
                    placeholder="请选择设备类型"
                    clearable
                    @change="onChangeTypeCode">
                    <el-option
                      v-for="item in typeOptions.list"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col class="gutter-row" :span="12">
                <el-form-item
                  label="设备所在机房"
                  prop="idcRoom"
                  :rules="[{ required: true, message: '请选择设备所在机房' }]">
                  <el-select v-model="orderForm.idcRoom" placeholder="请选择设备所在机房" clearable>
                    <el-option
                      v-for="item in roomOptions.list"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-input v-model="queryWord" placeholder="输入名称、IP搜索" class="input-box" clearable></el-input>
              </el-col>
              <el-col :span="12">
                <el-button class="search-btn back" @click="searchHandle">搜索</el-button>
              </el-col>
            </el-row>
          </el-form>

          <div class="table-body">
            <el-button type="primary" :disabled="!hasSelected" @click="addSelect">添加至下线清单</el-button>
            <span style="margin-left: 8px">
              <template v-if="hasSelected">
                {{ `已选择 ${selection.selectedRowKeys.length} 项` }}
              </template>
            </span>
            <!-- <a-table
              class="my-table"
              :row-selection="{
                selectedRowKeys: selection.selectedRowKeys,
                onChange: selection.onSelectChange,
                getCheckboxProps: selection.getCheckboxProps
              }"
              :loading="loadingTable"
              :bordered="true"
              :pagination="pagination"
              :dataSource="tableData.list"
              :columns="showColumns"
              :scroll="{ x: columns.list.length * 200 }">
              <template #bodyCell="row">
                <template v-if="row.column.key === 'action'">
                  <a v-if="row.record.relation.length > 0" @click="checkHandle(row.record)">查看</a>
                  <span v-else>无</span>
                </template>
              </template>
            </a-table> -->

            <el-table
              class="my-table"
              v-loading="loadingTable"
              :data="tableData.list"
              border
              stripe
              @selection-change="selection.onSelectChange">
              <el-table-column type="selection" width="55" />
              <el-table-column
                v-for="col in showColumns"
                :fixed="col.key == 'action' ? 'right' : null"
                :prop="col.dataIndex"
                :key="col.dataIndex"
                :label="col.title">
                <template #default="scope">
                  <template v-if="col.key == 'action'">
                    <a v-if="scope.row.relation.length > 0" @click="checkHandle(scope.row)">查看</a>
                    <span v-else>无</span>
                  </template>

                  <template v-else>
                    <span>{{ scope.row[col.dataIndex] }}</span>
                  </template>
                </template>
              </el-table-column>
            </el-table>

            <div class="l-pagination">
              <el-pagination
                @size-change="sizeChange"
                @current-change="currentChange"
                v-model:currentPage="pagination.page"
                :page-sizes="[10, 20, 30, 50]"
                :page-size="pagination.size"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pagination.total"
                background></el-pagination>
            </div>
          </div>
        </div>
      </div>
    </el-drawer>
    <device-info-modal v-model:show="showInfo" :relationInfo="currentRelation.list"></device-info-modal>
  </div>
</template>

<script>
import api from '@/api/networkAccess';
import { computed, defineComponent, reactive, ref, watch } from 'vue';
import deviceInfoModal from './deviceInfoModal.vue';
export default defineComponent({
  props: {
    show: {
      type: Boolean,
      default: false
    },
    cloud: {
      type: String,
      default: ''
    },
    group: {
      type: String,
      default: ''
    },
    pool: {
      type: String,
      default: ''
    }
  },
  components: {
    deviceInfoModal
  },
  emits: ['update:show'],
  setup(props, content) {
    let open = ref(props.show);
    watch(
      () => props.show,
      newValue => {
        if (!newValue) {
          (orderForm.typeCode = null), (orderForm.idcRoom = null);
          tableData.list = [];
          pagination.page = 1;
          pagination.size = 10;
          pagination.total = 0;
        } else {
          getTypeByGroup();
        }
        open.value = newValue;
      }
    );

    function closeHandle() {
      selection.selectedRowKeys = [];
      content.emit('update:show', false);
    }
    let typeOptions = reactive({
      list: []
    });
    function getTypeByGroup() {
      api
        .getTypeByGroup({
          group: props.group
        })
        .then(({ data: { data } }) => {
          typeOptions.list = data.map(t => {
            return {
              value: t.code,
              label: t.name
            };
          });
        });
    }

    let orderForm = reactive({
      typeCode: null,
      idcRoom: null
    });

    //机房列表
    let roomOptions = reactive({
      list: []
    });
    function onChangeTypeCode(typeCode) {
      roomOptions.list = [];
      orderForm.idcRoom = null;
      api
        .getRoom({
          cloud: props.cloud,
          pool: props.pool,
          typeCode: typeCode
        })
        .then(({ data: { data } }) => {
          roomOptions.list = data.map(t => {
            return {
              value: t,
              label: t
            };
          });
        });
    }

    let loadingTable = ref(false);
    let tableData = reactive({
      list: []
    });

    let queryData = {
      cloud: '',
      group: '',
      idcRoom: '',
      keyword: '',
      pool: '',
      typeCode: ''
    };

    let queryWord = ref('');
    let queryForm = ref();
    function searchHandle() {
      selection.selectedRowKeys = [];
      queryForm.value.validate().then(() => {
        queryData = {
          cloud: props.cloud,
          group: props.group,
          idcRoom: orderForm.idcRoom,
          keyword: queryWord.value,
          pool: props.pool,
          typeCode: orderForm.typeCode
        };
        getTableData();
      });
    }

    let pagination = reactive({
      page: 1,
      size: 10,
      total: 0,
      onChange: (page, pageSize) => {
        console.log('page, pageSize', page, pageSize);
        pagination.page = page;
        pagination.size = pageSize;
        getTableData();
      }
    });

    function sizeChange(pageSize) {
      pagination.size = pageSize;
      getTableData();
    }

    function currentChange(page) {
      pagination.page = page;
      getTableData();
    }

    let columns = reactive({
      list: []
    });
    function getTableData() {
      loadingTable.value = true;

      const data = {
        ...queryData,
        page: pagination.page,
        size: pagination.size
      };

      api
        .findDevice(data)
        .then(({ data: { data, total } }) => {
          if (data.length > 0) {
            columns.list = data[0].attr.map(t => {
              return {
                key: t.name,
                dataIndex: t.name,
                width: '200px',
                title: t.property
              };
            });
          }
          tableData.list = data.map(table => {
            let dataItem = {
              relation: table.relation
                .filter(t => {
                  if (t.type === 'list') {
                    return t.value.length > 0;
                  } else {
                    return t.value;
                  }
                })
                .map(t => {
                  if (t.type === 'list') {
                    return {
                      ...t,
                      value: t.value.map(cr => {
                        const nameItem = cr.filter(({ name }) => name == 'name');
                        let name = '--';
                        if (nameItem.length > 0) {
                          name = nameItem[0].value;
                        }
                        return {
                          name,
                          relation: cr
                        };
                      })
                    };
                  } else {
                    return t;
                  }
                })
            };
            table.attr.forEach(t => {
              if (t.name == 'instance_id') {
                dataItem['key'] = t.value;
              }
              dataItem[t.name] = t.value;
            });
            return dataItem;
          });
          pagination.total = total;
          loadingTable.value = false;
        })
        .catch(err => {
          loadingTable.value = false;
        });
    }

    function addSelect() {
      let name = null;
      typeOptions.list.forEach(({ value, label }) => {
        if (orderForm.typeCode === value) {
          name = label;
        }
      });
      tableData.list.filter(t => {
        return selection.selectedRowKeys.indexOf(t.key) > -1;
      });
      content.emit('add-device', {
        code: orderForm.typeCode,
        name,
        columns: columns.list,
        list: tableData.list.filter(t => {
          return selection.selectedRowKeys.indexOf(t.key) > -1;
        })
      });
    }
    let selection = reactive({
      selectedRowKeys: [],
      onSelectChange: selectedRowKeys => {
        let keys = [];
        selectedRowKeys.forEach(item => {
          keys.push(item.key);
        });
        selection.selectedRowKeys = keys;
      },
      getCheckboxProps: record => {
        return {
          disabled: false //record["life_cycle_state"] !== '在网',
        };
      }
    });
    const hasSelected = computed(() => {
      return selection.selectedRowKeys.length > 0;
    });
    const showColumns = computed(() => {
      return [].concat(columns.list, {
        key: 'action',
        width: '120px',
        fixed: 'right',
        title: '关联实例'
      });
    });
    let currentRelation = reactive({
      list: []
    });
    let showInfo = ref(false);
    function checkHandle(data) {
      currentRelation.list = data.relation;
      showInfo.value = true;
    }
    return {
      open,
      closeHandle,

      typeOptions,
      roomOptions,
      onChangeTypeCode,
      orderForm,
      queryWord,
      queryForm,
      searchHandle,

      showColumns,
      columns,
      loadingTable,
      tableData,
      pagination,

      addSelect,
      selection,
      hasSelected,
      checkHandle,
      currentRelation,
      showInfo,
      sizeChange,
      currentChange
    };
  }
});
</script>

<style lang="scss" scoped>
.search-btn {
  display: inline-block;
  padding: 8px 18px;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 18px;
  border-radius: 2px;
  margin-left: 8px;
  &.white {
    border-radius: 2px;
    border: 1px solid #979797;
    color: rgba(38, 38, 38, 1);
  }
  &.active {
    border: 1px solid rgba(0, 166, 249, 1);
    color: rgba(0, 166, 249, 1);
  }
  &.back {
    color: #ffffff;
    background: rgba(0, 166, 249, 1);
  }
}
.table-body {
  margin-top: 20px;
  .my-table {
    margin-top: 20px;
  }
}

:deep(.el-drawer__title) {
  text-align: left;
}

.l-pagination {
  padding: 20px;
}
</style>
