<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2024-01-09 10:11:28
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-10 12:03:56
 * @FilePath: /digital-common/src/views/processManagement/networkAccess/components/miniServer.vue
-->
<template>
  <div class="table-view">
    <el-button class="btn" type="primary">小型机服务器</el-button>

    <el-table :data="dataSource.data" border stripe>
      <el-table-column type="selection" width="55" />
      <el-table-column type="index" width="50" />
      <el-table-column
        v-for="col in columns"
        :prop="col.dataIndex"
        :key="col.dataIndex"
        :label="col.title"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { defineComponent, reactive } from 'vue';
export default defineComponent({
  setup() {
    const dataSource = reactive({
      data: []
    });
    return {
      dataSource,
      columns: [
        {
          title: '配置项编号',
          dataIndex: 'name',
          key: 'name'
        },
        {
          title: '设备名称',
          dataIndex: 'age',
          key: 'age'
        },
        {
          title: '所属云平台',
          dataIndex: 'address',
          key: 'address'
        },
        {
          title: '设备所属机房',
          dataIndex: 'name',
          key: 'name'
        },
        {
          title: '维护厂家名称',
          dataIndex: 'age',
          key: 'age'
        },
        {
          title: '管理IPv4地址',
          dataIndex: 'address',
          key: 'address'
        },
        {
          title: '设备序列号',
          dataIndex: 'address',
          key: 'address'
        },
        {
          title: '生命周期状态',
          dataIndex: 'address',
          key: 'address'
        }
      ]
    };
  }
});
</script>

<style lang="scss" scoped>
.table-view {
  margin: 20px 0;
  .btn {
    margin-bottom: 20px;
  }
}
</style>
