<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-12-20 09:53:00
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-12 10:46:33
 * @FilePath: /digital-common/src/views/advice/components/item.vue
-->
<template>
  <div class="word-item" @click="handleItem">
    <h4 class="label">
      <span>{{ model }}</span>
      -
      <span>{{ label }}</span>
    </h4>
    <div class="content" v-html="showContent"></div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useRouter } from 'vue-router';
const props = defineProps({
  model: {
    type: String,
    default: ''
  },
  id: {
    type: String,
    default: ''
  },
  label: {
    type: String,
    default: ''
  },
  content: {
    type: String,
    default: ''
  },
  keyword: {
    type: String,
    default: ''
  }
});

const emits = defineEmits(['handleItem']);

const router = useRouter();

const handleItem = () => {
  emits('handleItem', props.id);
};
const useBrightenKeyword = (result, keyword) => {
  const Reg = new RegExp(
    keyword
      .split(',')
      .filter(t => t)
      .join('|'),
    'ig'
  );
  let res = '';
  if (result) {
    res = result.replace(Reg, `<span style="color: #cc7921;">${keyword}</span>`);
    return res;
  }
};

const showContent = computed(() => {
  return useBrightenKeyword(props.content, props.keyword);
});
</script>

<style lang="scss" scoped>
.word-item {
  padding: 10px 20px;
  margin-top: 10px;
  word-break: break-all;
  cursor: pointer;
  .label {
    color: #137cec;
    font-size: 16px;
    line-height: 32px;
  }
  &:hover {
    background-color: #f2f2f2;
    border-radius: 7px;
  }
  .content {
    width: 70%;
    color: #242424;
    font-size: 14px;
    line-height: 1.5715;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
</style>
