<template>
  <div class="container-warp">
    <div class="content-warp">
      <el-tabs v-model="state.activeKey" type="border-card" @tab-click="handleTabsChange">
        <el-tab-pane label=" 待办工单 " name="treat">
          <div class="conten-box">
            <div class="top-search">
              <el-form :model="state.searchObj" ref="formRef" label-width="90px" :inline="true">
                <el-form-item label="云平台：" style="margin: 10px 20px 10px 0">
                  <el-select
                    v-model="state.searchObj.cloud"
                    placeholder="请选择云平台"
                    clearable
                    @change="handleSearch">
                    <el-option
                      v-for="item in state.platforms"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"></el-option>
                  </el-select>
                </el-form-item>

                <el-form-item label="发起时间：" style="margin: 10px 20px 10px 0">
                  <el-date-picker
                    v-model="state.searchObj.date"
                    type="daterange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    @change="handleSearch"></el-date-picker>
                </el-form-item>
              </el-form>
              <div class="btn-grounp">
                <el-button @click="handleReset">重 置</el-button>
                <el-button type="primary" @click="handleSearch">查 询</el-button>
              </div>
            </div>

            <div class="bottom-content">
              <el-table :data="state.leftSource" v-loading="state.isLoading">
                <el-table-column
                  v-for="col in state.leftColumns"
                  :prop="col.dataIndex"
                  :key="col.dataIndex"
                  :label="col.title"
                  :min-width="col.minWidth"
                  :width="col.width"
                  :align="col.align"
                  :fixed="col.fixed ? col.fixed : false">
                  <template #default="scope">
                    <template v-if="scope.column.property == 'operate'">
                      <el-button type="text" @click="handleDetail(scope.row)">查 询</el-button>
                    </template>
                    <template v-else>
                      <span>{{ scope.row[scope.column.property] }}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
              <div class="l-pagination">
                <el-pagination
                  @size-change="handleLeftSizeChange"
                  @current-change="handleLeftCurrentChange"
                  :current-page="state.leftPaginationParams.page"
                  :page-sizes="[10, 20, 50, 100]"
                  :page-size="state.leftPaginationParams.size"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="state.leftPaginationParams.total"></el-pagination>
              </div>
            </div>
          </div>
        </el-tab-pane>

        <el-tab-pane label=" 已办工单 " name="finish">
          <div class="conten-box">
            <div class="top-search">
              <el-form :model="state.earchObj" ref="formRef" label-width="90px" :inline="true">
                <el-form-item label="云平台：" style="margin: 10px 20px 10px 0">
                  <el-select
                    v-model="state.searchObj.cloud"
                    placeholder="请选择云平台"
                    clearable
                    @change="handleSearch">
                    <el-option
                      v-for="item in state.platforms"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"></el-option>
                  </el-select>
                </el-form-item>

                <el-form-item label="发起时间：" style="margin: 10px 20px 10px 0">
                  <el-date-picker
                    v-model="state.searchObj.date"
                    type="daterange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    @change="handleSearch"></el-date-picker>
                </el-form-item>
              </el-form>

              <div class="btn-grounp">
                <el-button @click="handleReset">重 置</el-button>
                <el-button type="primary" @click="handleSearch">查 询</el-button>
              </div>
            </div>

            <div class="bottom-content">
              <el-table :data="state.rightSource" v-loading="state.isLoading">
                <el-table-column type="index" align="center" label="序号" width="90" />
                <el-table-column
                  v-for="col in state.leftColumns"
                  :prop="col.dataIndex"
                  :key="col.dataIndex"
                  :label="col.title"
                  :align="col.align"
                  :min-width="col.minWidth"
                  :width="col.width"
                  :fixed="col.fixed ? col.fixed : false">
                  <template #default="scope">
                    <template v-if="scope.column.property == 'operate'">
                      <el-button type="text" @click="handleDetail(scope.row)">查 询</el-button>
                    </template>
                    <template v-else>
                      <span>{{ scope.row[scope.column.property] }}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
              <div class="l-pagination">
                <el-pagination
                  @size-change="handleRightSizeChange"
                  @current-change="handleRightCurrentChange"
                  :current-page="state.rightPaginationParams.page"
                  :page-sizes="[10, 20, 50, 100]"
                  :page-size="state.rightPaginationParams.size"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="state.rightPaginationParams.total"></el-pagination>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script setup lang="ts">
import { getCommissionList, getDoneList } from '@/api/networkAccessFlow';
import moment from 'moment';
import { reactive } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const route = useRoute();
const router = useRouter();

const dateFormat = 'YYYY-MM-DD';
const state = reactive({
  isLoading: false,
  activeKey: 'treat',
  searchObj: {
    cloud: null,
    date: [moment(moment(), dateFormat), moment(moment(), dateFormat)],
    startDate: moment(new Date()).format('YYYY-MM-DD'),
    endDate: moment(new Date()).format('YYYY-MM-DD')
  },

  statusList: {
    0: '未发起',
    1: '已取消',
    2: '已挂起',
    3: '已结束'
  },

  platforms: [
    { label: '网络云大区', value: '网络云大区' },
    { label: '网络云省内', value: '网络云省内' },
    { label: '移动边缘云', value: '移动边缘云' },
    { label: '融合边缘云', value: '融合边缘云' },
    { label: '网络边缘云', value: '网络边缘云' },
    { label: '平台云', value: '平台云' },
    { label: '政务云', value: '政务云' },
    { label: '非云', value: '非云' }
  ],

  leftSource: [],
  leftColumns: [
    {
      title: '序号',
      dataIndex: 'vlan_id',
      width: '100px',
      align: 'center'
    },
    {
      title: '工单名称',
      dataIndex: 'name',
      align: 'center',
      minWidth: '200px'
    },
    { title: '工单ID', dataIndex: 'id', align: 'center', width: '120px' },
    {
      title: '发起人',
      dataIndex: 'userName',
      align: 'center',
      minWidth: '120px'
    },
    {
      title: '工单类型',
      dataIndex: 'type',
      align: 'center',
      minWidth: '120px'
    },
    {
      title: '工单节点',
      dataIndex: 'pointName',
      align: 'center',
      minWidth: '120px'
    },
    {
      title: '所属资源池',
      dataIndex: 'relatedPool',
      align: 'center',
      minWidth: '160px'
    },
    {
      title: '工单状态',
      dataIndex: 'status',
      align: 'center',
      minWidth: '120px'
    },
    {
      title: '发起时间',
      dataIndex: 'crateTime',
      align: 'center',
      minWidth: '130px'
    },
    {
      title: '操作',
      dataIndex: 'operate',
      align: 'center',
      width: '90px',
      fixed: 'right'
    }
  ],

  // 左边分页
  leftPaginationParams: {
    page: 1,
    size: 10,
    total: 0
  },

  /**
   *
   * 右表格
   */
  rightSource: [],
  rightPaginationParams: {
    page: 1,
    size: 10,
    total: 0
  }
});

// 查询
const handleSearch = () => {
  if (!state.searchObj.date) {
    state.searchObj.date = [moment(moment(), dateFormat), moment(moment(), dateFormat)];
  }
  state.leftPaginationParams.page = 1;
  state.rightPaginationParams.page = 1;
  state.activeKey == 'treat' ? getCommissionListFn() : getDoneListFn();
};
// 重置
const handleReset = () => {
  state.searchObj.cloud = null;
  state.searchObj.date = [moment(moment(), dateFormat), moment(moment(), dateFormat)];
  state.searchObj.startDate = moment(moment(), dateFormat);
  state.searchObj.endDate = moment(moment(), dateFormat);
  state.leftPaginationParams.page = 1;
  state.rightPaginationParams.page = 1;
  state.activeKey == 'treat' ? getCommissionListFn() : getDoneListFn();
};

// tabs切换
const handleTabsChange = e => {
  state.activeKey = e.paneName;
  handleReset();
};

const handleLeftSizeChange = size => {
  state.leftPaginationParams.size = size;
  getCommissionListFn();
};

const handleLeftCurrentChange = page => {
  state.leftPaginationParams.page = page;
  getCommissionListFn();
};

const getCommissionListFn = () => {
  state.isLoading = true;
  let params = {
    page: state.leftPaginationParams.page,
    size: state.leftPaginationParams.size,
    cloud: state.searchObj.cloud,
    startDate: moment(state.searchObj.date[0]).format('YYYY-MM-DD'),
    endDate: moment(state.searchObj.date[1]).format('YYYY-MM-DD')
  };
  getCommissionList(params)
    .then(res => {
      state.leftPaginationParams.total = res.data.total || 0;
      state.leftSource = res.data.data || [];
    })
    .finally(() => {
      state.isLoading = false;
    });
};

const handleRightSizeChange = size => {
  state.leftPaginationParams.size = size;
  getDoneListFn();
};

const handleRightCurrentChange = page => {
  state.leftPaginationParams.page = page;
  getDoneListFn();
};

const getDoneListFn = () => {
  state.isLoading = true;
  let params = {
    page: state.leftPaginationParams.page,
    size: state.leftPaginationParams.size,
    cloud: state.searchObj.cloud,
    startDate: moment(state.searchObj.date[0]).format('YYYY-MM-DD'),
    endDate: moment(state.searchObj.date[1]).format('YYYY-MM-DD')
  };
  getDoneList(params)
    .then(res => {
      state.rightPaginationParams.total = res.data.total || 0;
      state.rightSource = res.data.data || [];
    })
    .finally(() => {
      state.isLoading = false;
    });
};
const handleDetail = row => {
  let urlObj = {
    0: '/operations/projectAccess/flowSecondVLANNetworkAccess/add',
    1: '/operations/projectAccess/flowSecondVLANNetworkAccess/cancel-order',
    2: '/operations/projectAccess/flowSecondVLANNetworkAccess/add',
    3: '/operations/projectAccess/flowSecondVLANNetworkAccess/finish-order'
  };
  router.push({
    path: urlObj[row.status],
    query: { id: row.id, status: row.status }
  });
};

getCommissionListFn();

if (route.query.to) {
  state.activeKey = route.query.to as string;
  state.activeKey == 'treat' ? getCommissionListFn() : getDoneListFn();
}
</script>

<style lang="scss" scoped>
.container-warp {
  padding: 15px 15px;
  background-color: #f1f2f5;
  .content-warp {
    background-color: #fff;
    .top-search :deep(.ant-select) {
      min-width: 200px;
    }
    :deep(.ant-tabs-nav-list) .ant-tabs-tab-btn {
      padding: 0 20px;
    }
    .conten-box {
      padding: 20px;
      .top-search {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .serch-box {
          width: 260px;
        }
        .ant-btn {
          margin-left: 20px;
        }
      }
    }
  }
}

::v-deep .el-tabs__item {
  min-width: 100px;
  text-align: center;
}

.btn-grounp {
  display: flex;
  align-items: center;
}
.l-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
</style>
