<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-09-27 16:54:26
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-10 16:36:30
 * @FilePath: /digital-common/src/views/processManagement/flowSecondIPNetworkAccess/add.vue
-->
<template>
  <div class="container-warp">
    <div class="flow-status-box">
      <div v-if="state.sendFail" class="send-fail-box">
        <img class="img" src="@/assets/workerOrder/send.svg" alt="" srcset="" />
        <div class="text">提交失败</div>
      </div>
      <el-steps v-else :active="2" finish-status="success" style="width: 100%">
        <el-step :title="item.title" v-for="item in state.steps"></el-step>
      </el-steps>
    </div>

    <div class="worder-order-info">
      <p class="order-title">工单信息</p>

      <el-form :model="state.formState" ref="formRef" :rules="state.rules" label-width="120px" :inline="true">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item class="info-form-item" label="工单发起人：">
              <el-input style="width: 60%" v-model="state.formState.userName" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item class="info-form-item" label="所属云平台：" prop="cloud">
              <el-select
                style="width: 60%"
                v-model="state.formState.cloud"
                placeholder="请选择所属平台"
                clearable
                @change="handleCloudChange">
                <el-option
                  v-for="item in state.platforms"
                  :key="item.value"
                  :label="item.laebl"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item class="info-form-item" label="所属专业组：">
              <el-input style="width: 60%" v-model="state.formState.group" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item class="info-form-item" label="硬件资源池：" prop="relatedPool">
              <el-select
                style="width: 60%"
                v-model="state.formState.relatedPool"
                placeholder="请选择硬件资源池"
                clearable>
                <el-option
                  v-for="item in state.relatedPoolList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>

    <div class="bottom-box">
      <div class="title-box">
        <p class="order-title">工单操作</p>
        <el-button style="margin: 0 0 10px 0px" type="primary" @click="handleRowAdd">增加行</el-button>
      </div>
      <div class="table-box">
        <el-form :model="state.form" ref="tableFormRef" :rules="state.rules" label-width="12px">
          <el-table :data="state.form.tableSource" border stripe>
            <el-table-column
              align="center"
              :prop="item.dataIndex"
              :label="item.title"
              :min-width="item.width"
              v-for="item in state.tableColumns">
              <template #default="{ $index, row }">
                <template v-if="item.dataIndex == 'cloud'">
                  <el-form-item
                    class="custom-form-item"
                    label=" "
                    :prop="'tableSource[' + $index + '].' + item.dataIndex"
                    :rules="state.rules.cloud">
                    <el-select
                      v-model="row.cloud"
                      placeholder="请选择所属平台"
                      clearable
                      @change="hanlePlatformChange($index)">
                      <el-option
                        v-for="item in state.platforms"
                        :key="item.value"
                        :label="item.laebl"
                        :value="item.value"></el-option>
                    </el-select>
                  </el-form-item>
                </template>

                <template v-else-if="item.dataIndex == 'related_pool'">
                  <el-form-item
                    class="custom-form-item"
                    label=" "
                    :prop="'tableSource[' + $index + '].' + item.dataIndex"
                    :rules="state.rules.relatedPool">
                    <el-select v-model="row.related_pool" placeholder="请选择资源池" clearable>
                      <el-option
                        v-for="item in state.platform[$index].children"
                        :key="item.value"
                        :label="item.laebl"
                        :value="item.value"></el-option>
                    </el-select>
                  </el-form-item>
                </template>

                <template v-else-if="item.dataIndex == 'type' || item.dataIndex == 'allocated'">
                  <el-form-item
                    class="custom-form-item"
                    label=" "
                    :prop="'tableSource[' + $index + '].' + item.dataIndex"
                    :rules="state.rules.change">
                    <el-select v-model="row[item.dataIndex]" placeholder="请选择" clearable>
                      <el-option
                        v-for="item in item.list"
                        :key="item.value"
                        :label="item.laebl"
                        :value="item.value"></el-option>
                    </el-select>
                  </el-form-item>
                </template>

                <template v-else-if="item.dataIndex == 'ownerId'">
                  <el-form-item class="custom-form-item" label="">
                    <el-select
                      v-model="row[item.dataIndex]"
                      filterable
                      remote
                      reserve-keyword
                      placeholder="请输入关"
                      :remote-method="remoteMethod"
                      @change="ownerChange($index)"
                      :loading="state.useLloading">
                      <el-option
                        v-for="item in state.ownerList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"></el-option>
                    </el-select>
                  </el-form-item>
                </template>

                <template v-else-if="item.dataIndex == 'operation'">
                  <el-button style="margin: 0 5px" type="danger" @click="handleRowDel($index)">删除</el-button>
                </template>

                <template
                  v-else-if="item.dataIndex == 'subnet' || item.dataIndex == 'mask' || item.dataIndex == 'name'">
                  <el-form-item
                    class="custom-form-item"
                    label=" "
                    :prop="'tableSource[' + $index + '].' + item.dataIndex"
                    :rules="state.rules.blur">
                    <el-input v-model="row[item.dataIndex]" placeholder="请输入" clearable></el-input>
                  </el-form-item>
                </template>

                <template v-else>
                  <el-input v-model="row[item.dataIndex]" placeholder="请输入" clearable></el-input>
                </template>
              </template>
            </el-table-column>
          </el-table>
        </el-form>
      </div>
      <div class="btn-box">
        <el-button v-if="state.sendFail" style="margin: 0 5px" @click="handleCancleApply">取消申请</el-button>
        <el-button style="margin: 0 5px" type="primary" :loading="state.submitLoading" @click="handleSubmit">
          提交
        </el-button>
      </div>
    </div>

    <el-dialog title="取消申请" v-model="state.isCancelApply" width="30%" :before-close="handleCancleApplyn">
      <div class="modal-warp">确定取消此次申请吗？取消后此工单会完结，如需申请需重新发起申请</div>
      <template #footer>
        <span>
          <el-button @click="state.isCancelApply = false">取消</el-button>
          <el-button type="primary" @click="handleOk">确认</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import {
  cancelWorkerOrder,
  getOwner,
  getPoolByCloud,
  getUserInfo,
  getWorkerOrderDetail,
  submitOrder
} from '@/api/ipImport';
import { ElMessage } from 'element-plus';
import { reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const router = useRouter();
const route = useRoute();

const state = reactive({
  steps: [{ title: '二级IP录入' }, { title: '新增' }, { title: '完成' }],
  platforms: [
    { label: '网络云大区', value: '网络云大区' },
    { label: '网络云省内', value: '网络云省内' },
    { label: '移动边缘云', value: '移动边缘云' },
    { label: '融合边缘云', value: '融合边缘云' },
    { label: '网络边缘云', value: '网络边缘云' },
    { label: '平台云', value: '平台云' },
    { label: '政务云', value: '政务云' },
    { label: '非云', value: '非云' }
  ],
  cancelId: '',
  relatedPoolListLocal: {
    网络云大区: [],
    网络云省内: [],
    移动边缘云: [],
    融合边缘云: [],
    网络边缘云: [],
    平台云: [],
    政务云: [],
    非云: []
  },

  formState: {
    userName: '',
    userId: '',
    relatedPool: null,
    cloud: null,
    group: null
  },
  rules: {
    blur: [{ required: true, message: '请输入', trigger: 'blur' }],
    change: [{ required: true, message: '请选择', trigger: 'change' }],
    cloud: [{ required: true, message: '请选择所属平台', trigger: 'change' }],
    relatedPool: [{ required: true, message: '请选择硬件资源池', trigger: 'change' }]
  },
  relatedPoolList: [], // 工单信息 - 资源池的list

  form: {
    tableSource: []
  },
  tableColumns: [
    {
      title: '类型',
      dataIndex: 'type',
      align: 'center',
      width: '140px',
      list: [
        { label: 'DCN', value: 'DCN' },
        { label: '承载网', value: '承载网' },
        { label: 'CMNET', value: 'CMNET' },
        { label: '其他', value: '其他' }
      ]
    },
    {
      title: 'VPN名称',
      dataIndex: 'vpn_name',
      align: 'center',
      width: '160px'
    },
    {
      title: '子网前缀',
      dataIndex: 'subnet',
      align: 'center',
      placeholder: '',
      width: '160px'
    },
    {
      title: '掩码长度',
      dataIndex: 'mask',
      align: 'center',
      width: '120px'
    },
    {
      title: '是否已分配',
      dataIndex: 'allocated',
      align: 'center',
      width: '120px',
      list: [
        { label: '是', value: '是' },
        { label: '否', value: '否' }
      ]
    },
    {
      title: '所属云平台',
      dataIndex: 'cloud',
      align: 'center',
      width: '180px'
    },
    {
      title: '所属硬件资源池',
      dataIndex: 'related_pool',
      align: 'center',
      width: '220px'
    },
    { title: '名称', dataIndex: 'name', align: 'center', width: '120px' },
    {
      title: '责任人',
      dataIndex: 'ownerId',
      align: 'center',
      width: '120px'
    },
    {
      title: '备注',
      dataIndex: 'comment',
      align: 'center',
      width: '120px'
    },
    {
      title: '操作',
      dataIndex: 'operation',
      key: 'operation',
      align: 'center',
      width: '80px',
      fixed: 'right'
    }
  ],

  useLloading: false,
  submitLoading: false,
  sendFail: false,

  platform: {},

  ownerList: [],

  // 取消申请
  isCancelApply: false
});

// methods
const getUserInfoFn = () => {
  // 获取当前登录用户信息
  getUserInfo().then(res => {
    state.formState.userName = res.data.data?.user?.username;
    state.formState.userId = res.data.data?.user?.id;
    state.formState.group = res.data.data?.user?.role_names?.[0];
  });
};

const handleCloudChange = cloud => {
  state.formState.relatedPool = null;
  state.relatedPoolList = state.relatedPoolListLocal[cloud];
};

const computedPlatform = () => {
  for (let i = 0; i < state.form.tableSource.length; i++) {
    state.platform[i] = {
      list: [
        { label: '网络云大区', value: '网络云大区' },
        { label: '网络云省内', value: '网络云省内' },
        { label: '移动边缘云', value: '移动边缘云' },
        { label: '融合边缘云', value: '融合边缘云' },
        { label: '网络边缘云', value: '网络边缘云' },
        { label: '平台云', value: '平台云' },
        { label: '政务云', value: '政务云' },
        { label: '非云', value: '非云' }
      ],
      children: state.relatedPoolListLocal[state.form.tableSource[i].cloud]
    };
  }
};

const echoDate = () => {
  getWorkerOrderDetail(route.query.id).then(res => {
    state.formState.userName = res.data.data.userName;
    state.formState.cloud = res.data.data.cloud;
    state.formState.group = res.data.data.group;
    state.formState.relatedPool = res.data.data.relatedPool;
    state.form.tableSource.splice(0, state.form.tableSource.length);
    res.data.data.deviceLists.forEach(item => {
      item.ownerBackUpId = item.ownerId;
      item.ownerId = item.ownerName;
      state.tableSource.push(item);
    });
    computedPlatform();
  });
};

// 行内平台改变
const hanlePlatformChange = index => {
  // 那数据
  state.form.tableSource[index].related_pool = null;
  state.platform[index].children = state.relatedPoolListLocal[state.form.tableSource[index].cloud];
};

const debounce = (fn, delay = 500) => {
  // timer 是在闭包中的
  let timer;
  return function () {
    if (timer) {
      clearTimeout(timer);
    }
    timer = setTimeout(() => {
      fn.apply(this, arguments);
      timer = null;
    }, delay);
  };
};

// 用户搜索
const remoteMethod = value => {
  state.useLloading = true;
  debounce(fn(value));
};

const fn = value => {
  state.ownerList = [];
  getOwner({ owner: value }).then(res => {
    const data = res.data.data.map(user => ({
      label: user.name,
      value: user.instance_id
    }));
    state.ownerList = data;
    state.useLloading = false;
  });
};

// 行内负责人改变 根据id拿到对应的明名字
const ownerChange = index => {
  state.form.tableSource[index].ownerName = state.form.tableSource[index].ownerId
    ? state.ownerList.find(item => item.value == state.form.tableSource[index].ownerId).label
    : '';
};

// 增加行
const handleRowAdd = () => {
  state.form.tableSource.push({
    type: null,
    vpn_name: null,
    subnet: null,
    mask: null,
    allocated: null,
    cloud: state.formState.cloud || null,
    related_pool: state.formState.relatedPool || null,
    name: null,
    ownerId: null,
    ownerName: null,
    comment: null
  });
  computedPlatform();
};

// 删除行捏行
const handleRowDel = index => {
  state.form.tableSource.splice(index, 1);
};

const formRef = ref();
const tableFormRef = ref();

// 提交申请
const handleSubmit = () => {
  state.submitLoading = true;
  let params = {};
  formRef.value.validate().then(() => {
    if (state.form.tableSource.length == 0) {
      return ElMessage.error('工单不能为空！');
    }

    tableFormRef.value.validate().then(() => {
      const tableSourceParams = JSON.parse(JSON.stringify(state.form.tableSource));
      tableSourceParams.forEach(item => {
        if (item.ownerBackUpId) {
          item.ownerId = item.ownerBackUpId;
        }
      });
      params = {
        ...state.formState,
        status: 1,
        deviceLists: tableSourceParams
      };
      submitOrder(params)
        .then(res => {
          if (res.data.code == 8200) {
            state.cancelId = res.data.data.id;
            if (res.data.data.status == 3) {
              ElMessage.success('二级IP地址入网添加成功！');
              router.push({
                path: '/operations/projectAccess/flowSecondIPNetworkAccess'
              });
            } else if (res.data.data.status == 2) {
              ElMessage.error({
                dangerouslyUseHTMLString: true,
                message: `<div
                            class="fail-tip-box"
                            style="
                              {
                                color: red;
                                display: flex;
                                flexdirection: column;
                                justifycontent: flex-start;
                              }
                            "
                          >
                            <div class="x">二级IP入网添加失败！</div>
                            <div class="x">失败原因：${res.data.data.errorMessage}</div>
                            <div class="x">工单已转为待办工单，请核实原因后重新提交!</div>
                          </div>`
              });
              state.sendFail = true;
            }
          }
        })
        .finally(() => {
          state.submitLoading = false;
        });
    });
  });
};

/**
 *
 * 取消申请
 */
const handleCancleApplyn = () => {
  state.isCancelApply = false;
};
const handleCancleApply = () => {
  state.isCancelApply = true;
};
// 确认取消申请
const handleOk = () => {
  cancelWorkerOrder(state.cancelId).then(res => {
    if (res.data.code == 8200) {
      ElMessage.success('工单已取消！');
      router.push({
        path: '/operations/workManagement/orderSecondIPNetworkAccess',
        query: {
          to: 'finish'
        }
      });
    } else if (res.data.data.status == 2) {
      state.sendFail = false;
    }
  });
};

// created
getUserInfoFn();
if (route.query.status == 2) {
  state.sendFail = true;
}
if (route.query.id) {
  echoDate();
}

state.platforms.forEach(item => {
  getPoolByCloud({ cloud: item.label }).then(res => {
    let arr = [];
    res.data.data.forEach(single => {
      arr.push({ label: single, value: single });
    });
    state.relatedPoolListLocal[item.label] = arr;
  });
});
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  background-color: #f1f2f5;
  .flow-status-box {
    width: 100%;
    height: 128px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .send-fail-box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .img {
        width: 40px;
        height: 40px;
      }
      .text {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
  .worder-order-info {
    height: 212px;
    padding: 15px;
    background-color: #fff;
    margin-top: 30px;
    .ant-form-item {
      width: 48%;
    }
    .ant-form-item {
      margin: 20px 0;
    }
  }

  .bottom-box {
    padding: 15px;
    background-color: #fff;
    margin-top: 30px;
    height: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    .table-box {
      width: 100%;
      flex: 1;
      overflow: auto;
    }
    .title-box {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .ant-table-striped :deep(.table-striped) td {
    background-color: #fafafa;
  }

  .order-title {
    font-size: 18px;
    font-weight: 500;
  }
  .btn-box {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
  }
}

.modal-btns {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.fail-tip-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.custom-form-item {
  margin-bottom: 0;
  height: 36px;
}

.info-form-item {
  width: 100%;
  height: 30px;
  margin: 10px 0;
}
</style>
