<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-09-27 16:54:26
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-11 08:58:59
 * @FilePath: /digital-common/src/views/processManagement/flowSecondIPNetworkAccess/cancelOrder.vue
-->
<template>
  <div class="container-warp">
    <div class="flow-status-box">
      <div v-if="state.sendFail" class="send-fail-box">
        <img class="img" src="@/assets/workerOrder/cancel.svg" alt="" srcset="" />
        <div class="text">工单已取消</div>
      </div>
      <el-steps v-else :active="3" finish-status="success" style="width: 100%">
        <el-step :title="item.title" v-for="item in state.steps"></el-step>
      </el-steps>
    </div>

    <div class="worder-order-info">
      <p class="order-title">工单信息</p>
      <el-form :model="state.formState" ref="formRef" label-width="120px" :inline="true">
        <el-form-item label="工单发起人：">
          <el-input v-model="state.formState.userName" disabled></el-input>
        </el-form-item>

        <el-form-item label="硬件资源池：">
          <el-input v-model="state.formState.relatedPool" disabled></el-input>
        </el-form-item>

        <el-form-item label="工单ID：">
          <el-input v-model="state.formState.id" disabled></el-input>
        </el-form-item>

        <el-form-item label="所属云平台：">
          <el-input v-model="state.formState.cloud" disabled></el-input>
        </el-form-item>

        <el-form-item label="所属专业组：">
          <el-input v-model="state.formState.group" disabled></el-input>
        </el-form-item>

        <el-form-item label="发起时间：">
          <el-input v-model="state.formState.crateTime" disabled></el-input>
        </el-form-item>
      </el-form>
    </div>

    <div class="bottom-box">
      <div class="title-box">
        <p class="order-title">工单操作</p>
      </div>
      <!-- <div class="tip-box">以下二级VLAN已成功录入！</div> -->
      <div class="l-table-box">
        <div class="l-table-head">
          <div class="l-table-head-tr tr">
            <div class="l-table-head-td td" v-for="item in state.tableColumns" :key="item.dataIndex">
              {{ item.title }}
            </div>
          </div>
        </div>
        <div class="l-table-body">
          <div class="l-table-body-tr tr" v-for="item in state.tableSource">
            <div class="l-table-body-td td" v-for="single in Object.keys(item)">
              {{ item[single] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { getWorkerOrderDetail } from '@/api/ipImport';
import { reactive } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const state = reactive({
  steps: [{ title: '二级IP录入' }, { title: '模板导入' }, { title: '完成' }],
  lTableHead: ['工单节点', '操作结果', '操作时间', '操作员', '备注'],
  formState: {
    userName: '',
    relatedPool: null,
    cloud: null,
    group: null,
    crateTime: null,
    id: null
  },
  tableSource: [
    {
      pointName: '发起工单',
      result: '创建',
      operationTime: '',
      operationer: '',
      comment: ''
    },
    {
      pointName: '系统判断',
      result: '提交失败',
      operationTime: '',
      operationer: '系统',
      comment: ''
    },
    {
      pointName: '取消工单',
      result: '已取消',
      operationTime: '',
      operationer: '',
      comment: ''
    }
  ],

  tableColumns: [
    { title: '工单节点', dataIndex: 'pointName', align: 'center' },
    { title: '操作结果', dataIndex: 'result', align: 'center' },
    { title: '操作时间', dataIndex: 'operationTime', align: 'center' },
    {
      title: '操作员',
      dataIndex: 'operationer',
      align: 'center',
      width: '160px'
    },
    { title: '备注', dataIndex: 'comment', align: 'center' }
  ],
  sendFail: false
});

const getWorkerOrderDetailFn = () => {
  // 获取详情 - 接口
  getWorkerOrderDetail(route.query.id).then(res => {
    state.formState.userName = res.data.data.userName;
    state.formState.relatedPool = res.data.data.relatedPool;
    state.formState.cloud = res.data.data.cloud;
    state.formState.group = res.data.data.group;
    state.formState.id = res.data.data.id;
    state.formState.crateTime = res.data.data.crateTime;
    state.tableSource[0].operationTime = res.data.data.crateTime;
    state.tableSource[1].operationTime = res.data.data.crateTime;
    state.tableSource[2].operationTime = res.data.data.processingTime;
    state.tableSource[0].operationer = res.data.data.userName;
    state.tableSource[2].operationer = res.data.data.processingUser;
    state.tableSource[1].comment = '失败原因：' + (res.data.data.errorMessage ? res.data.data.errorMessage : '');
  });
};

getWorkerOrderDetailFn();
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  background-color: #f1f2f5;
  .flow-status-box {
    width: 100%;
    height: 128px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .send-fail-box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .img {
        width: 40px;
        height: 40px;
      }
      .text {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
  .worder-order-info {
    height: 272px;
    padding: 15px;
    background-color: #fff;
    margin-top: 15px;
    .el-form-item {
      width: 48%;
    }
    .el-form-item {
      margin: 10px 10px;
    }
  }

  .bottom-box {
    padding: 15px;
    background-color: #fff;
    margin-top: 15px;
    height: calc(100% - 460px);
    display: flex;
    flex-direction: column;
    .table-box {
      width: 100%;
      flex: 1;
      overflow: auto;
    }
    .title-box {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }
    .tip-box {
      line-height: 40px;
    }
  }
  .el-table-striped :deep(.table-striped) td {
    background-color: #f2f5f8;
  }

  .order-title {
    font-size: 18px;
    font-weight: 500;
  }
  .btn-box {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
  }
}

.modal-warp {
  padding: 20px;
}
:deep(.el-table-thead) .el-table-cell {
  background-color: #e4e4e4;
}

:deep(.el-table-tbody) .el-table-row {
  margin-bottom: 10px;
}

.l-table-box {
  .l-table-head {
    .l-table-head-tr {
      height: 60px;
      background-color: #e4e4e4;
      .l-table-head-td {
        line-height: 60px;
        font-size: 600;
      }
    }
  }
  .l-table-body {
    .l-table-body-tr {
      height: 60px;
      background-color: #f2f5f8;
      margin-bottom: 10px;
      .l-table-body-td {
        line-height: 60px;
      }
    }
  }

  .tr {
    display: flex;
    justify-content: space-between;
    .td {
      flex: 1;
      text-align: center;
    }
  }
}

.el-form {
  padding: 10px 20px;
}
.el-form-item {
  width: 50%;
  margin: 10px 0;
}

.el-input {
  min-width: 300px;
}
</style>
