<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-09-27 16:54:26
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-11 08:58:15
 * @FilePath: /digital-common/src/views/processManagement/flowSecondIPNetworkAccess/finishOrder.vue
-->
<template>
  <div class="container-warp">
    <div class="flow-status-box">
      <div v-if="state.sendFail" class="send-fail-box">
        <img class="img" src="@/assets/workerOrder/send.svg" alt="" srcset="" />
        <div class="text">提交失败</div>
      </div>
      <el-steps v-else :active="3" finish-status="success" style="width: 100%">
        <el-step :title="item.title" v-for="item in state.steps"></el-step>
      </el-steps>
    </div>

    <div class="worder-order-info">
      <p class="order-title">工单信息</p>

      <el-form :model="state.formState" ref="formRef" label-width="100px" :inline="true">
        <el-form-item label="工单发起人：">
          <el-input v-model="state.formState.userName" disabled></el-input>
        </el-form-item>

        <el-form-item label="硬件资源池：">
          <el-input v-model="state.formState.relatedPool" disabled></el-input>
        </el-form-item>

        <el-form-item label="工单ID：">
          <el-input v-model="state.formState.id" disabled></el-input>
        </el-form-item>

        <el-form-item label="所属云平台：">
          <el-input v-model="state.formState.cloud" disabled></el-input>
        </el-form-item>

        <el-form-item label="所属专业组：">
          <el-input v-model="state.formState.group" disabled></el-input>
        </el-form-item>

        <el-form-item label="发起时间：">
          <el-input v-model="state.formState.crateTime" disabled></el-input>
        </el-form-item>
      </el-form>
    </div>

    <div class="bottom-box">
      <div class="title-box">
        <p class="order-title">工单操作</p>
      </div>
      <div class="tip-box">以下二级IP已成功录入！</div>
      <div class="table-box">
        <el-table :data="state.tableSource" border stripe>
          <el-table-column
            v-for="col in state.tableColumns"
            :prop="col.dataIndex"
            :key="col.dataIndex"
            :label="col.title"
            :width="col.width"></el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { getWorkerOrderDetail } from '@/api/ipImport';
import { reactive } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const state = reactive({
  steps: [{ title: '二级IP录入' }, { title: '模板导入' }, { title: '完成' }],

  formState: {
    userName: '',
    relatedPool: null,
    cloud: null,
    group: null,
    crateTime: null,
    id: null
  },
  tableSource: [],
  tableColumns: [
    {
      title: '类型',
      dataIndex: 'type',
      align: 'center',
      width: '160px'
    },
    {
      title: 'VPN名称',
      dataIndex: 'vpn_name',
      align: 'center',
      width: '240px'
    },
    {
      title: '子网前缀',
      dataIndex: 'subnet',
      align: 'center'
    },
    {
      title: '掩码长度',
      dataIndex: 'mask',
      align: 'center'
    },
    {
      title: '是否已分配',
      dataIndex: 'allocated',
      align: 'center'
    },
    {
      title: '所属云平台',
      dataIndex: 'cloud',
      align: 'center',
      width: '200px'
    },
    {
      title: '所属硬件资源池',
      dataIndex: 'related_pool',
      align: 'center',
      width: '200px'
    },
    {
      title: '名称',
      dataIndex: 'name',
      align: 'center'
    },
    {
      title: '责任人',
      dataIndex: 'ownerName',
      align: 'center',
      width: '160px'
    },
    {
      title: '备注',
      dataIndex: 'comment',
      align: 'center'
    }
  ],
  sendFail: false
});

const getWorkerOrderDetailFn = () => {
  getWorkerOrderDetail(route.query.id).then(res => {
    state.formState.userName = res.data.data.userName;
    state.formState.relatedPool = res.data.data.relatedPool;
    state.formState.cloud = res.data.data.cloud;
    state.formState.group = res.data.data.group;
    state.formState.id = res.data.data.id;
    state.formState.crateTime = res.data.data.crateTime;
    state.tableSource = JSON.parse(JSON.stringify(res.data.data.deviceLists));
  });

  getWorkerOrderDetailFn();
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  background-color: #f1f2f5;
  .flow-status-box {
    width: 100%;
    height: 128px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .send-fail-box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .img {
        width: 40px;
        height: 40px;
      }
      .text {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
  .worder-order-info {
    height: 272px;
    padding: 15px;
    background-color: #fff;
    margin-top: 15px;
    .el-form-item {
      width: 48%;
    }
    .el-form-item {
      margin: 10px 10px;
    }
  }

  .bottom-box {
    padding: 15px;
    background-color: #fff;
    margin-top: 15px;
    height: calc(100% - 460px);
    display: flex;
    flex-direction: column;
    .table-box {
      width: 100%;
      flex: 1;
      overflow: auto;
    }
    .title-box {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .tip-box {
      line-height: 40px;
    }
  }
  .el-table-striped :deep(.table-striped) td {
    background-color: #fafafa;
  }

  .order-title {
    font-size: 18px;
    font-weight: 500;
  }
  .btn-box {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
  }
}

.el-form {
  padding: 10px 20px;
}
.el-form-item {
  width: 50%;
  margin: 10px 0;
}

.el-input {
  min-width: 300px;
}

.modal-warp {
  padding: 20px;
}
</style>
