<template>
  <div class="commission-list">
    <div class="query-box">
      <el-form :model="orderForm" ref="basicForm" label-width="55px" :inline="true">
        <el-form-item label="云平台">
          <el-select v-model="orderForm.cloud" placeholder="请选择所属云平台" clearable>
            <el-option
              v-for="item in cloudOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="日期">
          <el-date-picker v-model="orderForm.date" type="daterange" placeholder="选择日期时间"></el-date-picker>
        </el-form-item>

        <el-button type="primary" style="margin-right: 12px" @click="searchHandle">搜索</el-button>
        <el-button @click="resetHandle">重置</el-button>
      </el-form>
    </div>

    <el-table class="my-table" :data="dataSource.list" border stripe>
      <el-table-column v-for="col in columns" :prop="col.dataIndex" :key="col.dataIndex" :label="col.title">
        <template #default="scope">
          <template v-if="col.dataIndx == 'operation'">
            <el-button type="primary" link size="default" @click="gotoNetwork(scope.row)"></el-button>
          </template>

          <template v-else>
            <span>{{ scope.row[col.dataIndx] }}</span>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <div class="l-pagination">
      <el-pagination
        v-model:current-page="pagination.page"
        v-model:page-size="pagination.pageSize"
        :page-sizes="[10, 20, 30, 50]"
        layout="total, sizes, prev, pager, next, jumper"
        :total="pagination.total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange" />
    </div>
  </div>
</template>

<script>
import { getDoneList } from '@/api/networkElement';
import dayjs from 'dayjs';
import { defineComponent, reactive } from 'vue';
import { useRouter } from 'vue-router';
export default defineComponent({
  setup() {
    const cloudOptions = [
      {
        value: '网络云大区',
        label: '网络云大区'
      },
      {
        value: '网络云省内',
        label: '网络云省内'
      },
      {
        value: '网络边缘云',
        label: '网络边缘云'
      },
      {
        value: '移动边缘云',
        label: '移动边缘云'
      },
      {
        value: '融合边缘云',
        label: '融合边缘云'
      },
      {
        value: '平台云',
        label: '平台云'
      },
      {
        value: '政企云',
        label: '政企云'
      },
      {
        value: '非云',
        label: '非云'
      }
    ];
    let orderForm = reactive({
      cloud: null,
      date: []
    });

    let pagination = reactive({
      total: 0,
      current: 1,
      pageSize: 10
    });

    const handleSizeChange = sizs => {
      pagination.pageSize = sizs;
      getTableData();
    };

    const handleCurrentChange = page => {
      pagination.current = page;
      getTableData();
    };

    let queryData = {
      cloud: '',
      endDate: '',
      startDate: ''
    };
    let dataSource = reactive({
      list: []
    });
    function getTableData() {
      const statusMap = {
        0: '未提交',
        1: '进行中',
        2: '已挂起',
        3: '已结束'
      };
      getDoneList({
        ...queryData,
        page: pagination.current,
        size: pagination.pageSize
      }).then(res => {
        if (res.data.data) {
          dataSource.list = res.data.data.map(t => {
            return {
              ...t,
              statusName: statusMap[t.status]
            };
          });
        }
        pagination.total = res.data.total || 0;
      });
    }

    function searchHandle() {
      pagination.current = 1;
      queryData.cloud = orderForm.cloud;
      queryData.startDate = orderForm.date[0].format(dateFormat);
      queryData.endDate = orderForm.date[1].format(dateFormat);
      getTableData();
    }
    let dateFormat = 'YYYY-MM-DD';
    function resetHandle() {
      pagination.current = 1;
      orderForm.cloud = null;
      orderForm.date = [dayjs().startOf('week'), dayjs()];
      queryData.cloud = '';
      queryData.startDate = orderForm.date[0].format(dateFormat);
      queryData.endDate = orderForm.date[1].format(dateFormat);
      getTableData();
    }
    resetHandle();
    const router = useRouter();
    function gotoNetwork(row) {
      console.log('gotoNetwork', row);
      const stepsMap = [
        'apply',
        'resRelation',
        'professionalConfirm1',
        'generalControlConfirm',
        'professionalConfirm2',
        'dataConfirm',
        'complete'
      ];
      const code = stepsMap[row.value.point];
      if (code === 'apply') {
        router.push('/operations/projectAccess/networkElementTwo/' + code);
      } else {
        router.push('/operations/projectAccess/networkElementTwo/' + code + '/' + row.id);
      }
    }
    return {
      orderForm,
      dateFormatList: [dateFormat, dateFormat],
      cloudOptions,
      dataSource,
      pagination,
      columns: [
        {
          dataIndex: 'name',
          title: '工单名称'
        },
        {
          dataIndex: 'id',
          title: '工单ID'
        },
        {
          dataIndex: 'userName',
          title: '发起人'
        },
        {
          dataIndex: 'type',
          title: '工单类型'
        },
        {
          dataIndex: 'pointName',
          title: '工单节点'
        },
        {
          dataIndex: 'cloud',
          title: '所属云平台'
        },
        {
          dataIndex: 'relatedPool',
          title: '所属资源池'
        },
        {
          dataIndex: 'statusName',
          title: '工单状态'
        },
        {
          dataIndex: 'crateTime',
          title: '发起时间'
        }
      ],
      searchHandle,
      resetHandle,
      gotoNetwork,
      handleSizeChange,
      handleCurrentChange
    };
  }
});
</script>

<style lang="scss" scoped>
.commission-list {
  padding: 15px;
  .el-form-item {
    margin: 10px 20px 10px 0;
  }
  .my-table {
    margin-top: 20px;
  }
}

.l-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
</style>
