<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2024-01-08 10:51:58
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-08 15:52:29
 * @FilePath: /digital-common/src/views/workManagement/networkElement/index.vue
-->
<template>
  <div class="content-warp">
    <div class="content-container">
      <el-tabs v-model="activeKey" type="border-card" tab-position="top" @tab-click="handleTabsToggle">
        <el-tab-pane label="待办工单" name="commission">
          <commissionList></commissionList>
        </el-tab-pane>

        <el-tab-pane label="已办工单" name="done">
          <doneList></doneList>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import commissionList from './commissionList.vue';
import doneList from './doneList.vue';

const panes = [
  { label: '待办工单', name: 'commission' },
  { label: '已办工单', name: 'done' }
];
const activeKey = ref('commission');

const handleTabsToggle = e => {};
</script>

<style lang="scss" scoped>
.content-warp {
  padding: 15px;
  background-color: #e9ebec;
  .content-container {
    background-color: #fff;
  }
}
</style>
