<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-12-27 16:10:18
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-16 15:32:51
 * @FilePath: /digital-common/src/views/403.vue
-->
<template>
  <div slot="empty" class="box">
    <el-empty :image-size="240" description="当前暂无查看权限" style="font-size: 28px"></el-empty>
    <button class="button3 iconfont icon-fanhui" @click="goback()">返回导航页</button>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    goback() {
      localStorage.setItem('TotalViewName', 'home');
      this.$router.push('/totalView');
    }
  }
};
</script>
<style lang="scss" scoped>
:deep(.el-empty) {
  width: 700px;
  height: 700px;
  margin: auto;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
  .button3:hover {
    cursor: pointer;
  }
  .button3 {
    width: 135px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 30px;
    background: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    color: #1890ff;
    font-size: 16px;
  }
}
</style>
