<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-12-27 16:09:52
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-12-29 11:12:59
 * @FilePath: /digital-common/src/views/editPassword.vue
-->
<template>
  <div>
    <el-dialog title="修改密码" v-model="state.passwordVisible" width="55%" class="customWidth" top="8%" :close-on-click-modal="false" :show-close="false">
      <el-form :model="state.editForm" :rules="state.addRules" ref="editFormRef" label-width="130px" class="demo-editForm">
        <el-form-item label="输入修改密码" prop="password" style="position: relative">
          <!-- <el-input v-model="editForm.password" placeholder="请输入6-20位字母、数字或下划线组成的密码，且以字母开头！"></el-input> -->
          <el-input :key="state.passwordType" ref="passwordRef" v-model="state.editForm.password" :type="state.passwordType" placeholder="请输入6-20位字母、数字或下划线组成的密码，且以字母开头！" tabindex="2" auto-complete="off" clearable />
          <span class="show-pwd" @click="showPwd">
            <svg-icon :icon-class="state.passwordType === 'password' ? 'eye' : 'eye-open'" />
          </span>
        </el-form-item>
        <el-form-item class="btn-group">
          <el-button @click="goBack()">取消</el-button>
          <el-button type="primary" :disabled="!state.editForm.password" @click="submitEditForm(state.editForm)">保存</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import { editPassword } from '@/api/authorityApi';
import { ElMessage } from 'element-plus';
import { nextTick, reactive, ref } from 'vue';
import { useRouter } from 'vue-router';
const router = useRouter();

const validatePassword = (rule, value, callback) => {
  if (/^[a-zA-Z](?![a-zA-Z]+$)\w{5,19}$/.test(value) == false) {
    callback(new Error('密码需由6-20位字母丶数字或下划线组成，且以字母开头！'));
  } else {
    callback();
  }
};

const state = reactive({
  passwordVisible: true,
  addRules: {
    password: [{ required: true, trigger: 'blur', validator: validatePassword }]
  },
  editForm: {
    password: ''
  },
  passwordType: 'password'
});

const passwordRef = ref();
const editFormRef = ref();

const submitEditForm = e => {
  let data = { password: e.password };
  editFormRef.value.validate(res => {
    if (res) {
      editPassword(data).then(res => {
        if (res.data.code === 1) {
          ElMessage.success('密码修改成功');
          router.push('/login');
        } else {
          ElMessage.error('密码修改失败，请重试！');
        }
      });
    }
  });
};

const showPwd = () => {
  if (state.passwordType === 'password') {
    state.passwordType = '';
  } else {
    state.passwordType = 'password';
  }

  nextTick(() => {
    passwordRef.value.focus();
  });
};
const goBack = () => {
  router.go(-1);
};
</script>
<style lang="scss" scoped>
.show-pwd {
  position: absolute;
  right: 30px;
  top: 0px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}
.btn-group {
  margin-top: 40px;
  margin-bottom: 0;
  :deep(.el-form-item__content) {
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
  }
}
</style>
