<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-12-13 11:18:51
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-02 09:34:43
 * @FilePath: /digital-common/src/views/index.vue
-->
<template>
  <div class="container-warp">index</div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
}
</style>
