<template>
  <div class="login-container">
    <div class="content-box">
      <div class="left-box">
        <div class="topimg"></div>
        <div class="bottomimg"></div>
      </div>
      <el-form ref="loginFormRef" :model="state.loginForm" :rules="state.loginRules" class="login-form" auto-complete="on" label-position="left">
        <div class="title-container"></div>

        <el-form-item class="username" prop="username">
          <span class="svg-container">
            <svg-icon icon-class="user" />
          </span>
          <el-input ref="username" v-model="state.loginForm.username" placeholder="请输入账号" name="username" type="primary" link tabindex="1" auto-complete="off" />
        </el-form-item>

        <el-form-item class="password" prop="password">
          <span class="svg-container">
            <svg-icon icon-class="password" />
          </span>
          <el-input :key="state.passWordType" ref="passwordRef" :status-icon="true" v-model="state.loginForm.password" :type="state.passWordType" placeholder="请输入密码" name="password" tabindex="2" @keyup.enter.native="handleLogin" clearable />
          <span class="show-pwd" @click="showPwd">
            <svg-icon :icon-class="state.passWordType === 'password' ? 'eye-open' : 'eye'" />
          </span>
        </el-form-item>
        <div class="remember-password">
          <div class="remb-left">
            <el-checkbox v-model="state.checked">两周之内自动登录</el-checkbox>
          </div>
          <a href="/" class="remb-right">忘记密码</a>
        </div>
        <el-button class="login-but" :loading="state.loading" type="primary" @click.native.prevent="handleLogin(loginFormRef)">登录</el-button>

        <div class="tips">
          <a href="/" class="otherAccount">其他账号登录</a>
          <el-checkbox v-model="state.checkeds" style="color: #b9bed1; width: 32%">本地登录</el-checkbox>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { userLogin } from '@/api/authorityApi';
import type { FormInstance, InputInstance } from 'element-plus';
import { ElMessage } from 'element-plus';
import { nextTick, reactive, ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const validatePassword = (rule, value, callback) => {
  if (value.length < 6) {
    callback(new Error('密码不能少于6位'));
  } else {
    callback();
  }
};
const state = reactive({
  checkeds: false,
  loginForm: {
    username: 'admin',
    password: ''
  },
  loginRules: {
    username: [],
    password: [{ required: true, trigger: 'blur', validator: validatePassword }]
  },
  loading: false,
  passWordType: 'password',
  redirect: undefined,
  checked: false,
  usernm: 'admin',
  passwd: 'Tj_2023@',
  usernameTwo: 'szh_zlz',
  passwordTwo: 'Szh_zlz@2022',
  usernameThree: 'zjyd_jtjc',
  passwordThree: 'Dnt_2022',
  allWriteList: []
});

const passwordRef = ref<InputInstance>();
const loginFormRef = ref<FormInstance>();

const showPwd = () => {
  if (state.passWordType === 'password') {
    state.passWordType = '';
  } else {
    state.passWordType = 'password';
  }

  nextTick(() => {
    passwordRef.value!.focus();
  });
};
const handleLogin = (ElForm: FormInstance) => {
  sessionStorage.setItem('local_login', state.checkeds + '');
  ElForm.validate(async valid => {
    if (!valid) return;
    let data = state.loginForm;
    state.loading = true;
    await userLogin(data)
      .then(res => {
        if (res.data.code === 1) {
          ElMessage.success('登陆成功');
          sessionStorage.setItem('token', res.data.data.x_token);
          // localStorage.setItem('ms_username', res.data.data.user.username);
          // setToken({'token':res.data.data.x_token});
          router.push('/totalView');
          state.loading = false;
          // savePermissionMenus(res.data.data.permissions);
          // router.beforeEach((to, from, next) => {
          //   if (to.path === "/") return next();
          //   const tokenStr = window.sessionStorage.getItem("token");
          //   if (!tokenStr) return next("/");
          //   next();
          // })
          return;
        } else {
          state.loginForm.password = '';
          state.loading = false;
          ElMessage({ message: '账号或密码错误', type: 'error' });
        }
      })
      .catch(err => {
        state.loginForm.password = '';
        state.loading = false;
        ElMessage({ message: '登录异常，请联系管理员！', type: 'error' });
      });
  });
};
</script>

<style lang="scss">
/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

$bg: #e0e5ea;
$light_gray: #fff;
$cursor: rgb(114, 114, 114);

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

::v-deep .login-container .el-input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 0px !important;
  box-shadow: 0 0 0px 0px !important;
  -webkit-text-fill-color: #d4d6d8 !important;
}
/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    // height: 47px;
    width: 55%;
    .el-input__wrapper {
      background: transparent !important;
      box-shadow: none;
    }

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: #000;
      caret-color: $cursor;
      &:focus {
        border: 0px;
      }
      &:hover {
        border: 0px;
      }
    }
  }

  .username {
    width: 310px;
    height: 50px;
    position: absolute;
    top: 32%;
    left: 105px;
    border-radius: 30px !important;
  }
  .password {
    width: 310px;
    height: 50px;
    position: absolute;
    top: 47%;
    left: 105px;
    border-radius: 30px !important;
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
  .remember-password {
    width: 280px;
    height: 30px;
    position: absolute;
    left: 120px;
    top: 60%;
    display: flex;
    justify-content: space-between;
    .remb-left {
      width: 120px;
      height: 30px;
      line-height: 30px;
      color: #333;
    }
    .remb-right {
      display: block;
      width: 70px;
      height: 30px;
      cursor: pointer;
      font-family: PingFang-SC-Medium;
      line-height: 30px;
      font-size: 14px;
      text-align: center;
      color: #0349fa;
    }
  }
}
</style>

<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #000;

.login-container {
  height: 100%;
  width: 100%;
  background: url('../assets/loginimg/backimage1.png') no-repeat;
  background-size: 100% 100%;
  overflow: hidden;

  .content-box {
    width: 62%;
    height: 75%;
    margin: auto;
    border-radius: 20px;
    margin-top: 5%;
    display: flex;
    .left-box {
      width: 450px;
      height: 100%;
      position: relative;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background: -webkit-linear-gradient(left top, #24c7fc, 70%, #0349fa, 100%); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(bottom right, #24c7fc, #0349fa); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(bottom right, #24c7fc, #0349fa); /* Firefox 3.6 - 15 */
      background: linear-gradient(to bottom right, #24c7fc, #0349fa); /* 标准的语法（必须放在最后） */
      .topimg {
        width: 380px;
        height: 15%;
        position: absolute;
        left: 35px;
        top: 15%;
        background: url('../assets/loginimg/title1.png') no-repeat;
        background-size: 100% 100%;
      }
      .bottomimg {
        width: 100%;
        height: 75%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: url('../assets/loginimg/backimage.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  .login-form {
    position: relative;
    width: 510px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    background: #fff;
  }
  .login-but {
    width: 310px !important;
    height: 50px;
    position: absolute;
    left: 105px;
    top: 68%;
    border-radius: 30px;
  }

  .tips {
    width: 290px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 120px;
    top: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
    :first-child {
      color: #b9bed1;
    }
    :last-child {
      color: #b9bed1;
    }

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: absolute;
    top: 15%;
    left: 175px;
    width: 160px;
    height: 50px;
    background: url('../assets/loginimg/logo1.png') no-repeat;
    background-size: 100% 100%;
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
}
</style>
