<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-09-13 18:02:20
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-12 14:31:19
 * @FilePath: /digital-common/src/views/totalView3.vue
-->
<template>
  <iframe id="iframeId" :src="state.url" width="100%"></iframe>
</template>

<script setup lang="ts">
import { onMounted, reactive } from 'vue';
const state = reactive({
  url: '',
  token: '',
  localLogin: '',
  host: ''
});

const getHeigth = () => {
  const ifm = document.getElementById('iframeId') as HTMLIFrameElement;
  ifm!.height = document.documentElement.clientHeight - 54;
};

onMounted(() => {
  state.token = sessionStorage.getItem('token');
  state.localLogin = sessionStorage.getItem('local_login');
  state.host = process.env.NODE_ENV == 'development' ? '188.103.137.104' : window.location.host;
  state.url = `http://${state.host}/h3ctext/#/?token=${state.token}&local_login=${state.localLogin}`;
  getHeigth();
});
</script>
