<template>
  <div class="screen-container">
    <div class="screen-container">
      <h2 class="title">数字化运维平台</h2>
      <div class="view">
        <div class="container">
          <router-link class="routers-box" to="/operations/workManagement">
            <div class="back-box" @click="setTotalViewName('resources')">
              <img src="../assets/loginimg/resourcesActive.png" alt="" />
              <div class="container-title" style="color: #0b68fb">资源</div>
            </div>
          </router-link>
        </div>
        <div class="container">
          <router-link class="routers-box" to="/operation/opsPlatform/overView">
            <div class="back-box" @click="setTotalViewName('staging')">
              <img src="../assets/loginimg/operatings.png" alt="" />
              <div class="container-title" style="color: #0b68fb">运营</div>
            </div>
          </router-link>
        </div>
        <div class="container">
          <router-link class="routers-box" to="/operation/systemManagement">
            <div class="back-box" @click="setTotalViewName('quality')">
              <img src="../assets/loginimg/operations.png" alt="" />
              <div class="container-title" style="color: #0b68fb">运维</div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { userInfo } from '@/api/authorityApi';
import useActionRouterStore from '@/store/modules/routers';
import { getCurrentInstance, onMounted } from 'vue';

const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;

onMounted(() => {
  setuserInfo();
});

const setTotalViewName = val => {
  localStorage.setItem('TotalViewName', val);
  setTimeout(() => {
    $bus.emit('toggleMenu');
  }, 0);
};

const setuserInfo = () => {
  let allWriteList = [];
  userInfo().then(res => {
    sessionStorage.setItem('userName', res.data.data.user.username);
    sessionStorage.setItem('name', res.data.data.user.name);
    sessionStorage.setItem('role_id', res.data.data.user.id);
    sessionStorage.setItem('roleNamesStr', res.data.data.user.role_names.join(',') || '');

    let nameRoles = res.data.data.user.role_names;
    if (nameRoles.indexOf('CMDB管理流程—工程组') >= 0) {
      let index = nameRoles.indexOf('CMDB管理流程—工程组');
      sessionStorage.setItem('roleName', nameRoles[index]);
    } else if (nameRoles.indexOf('CMDB管理流程—网络组') >= 0) {
      let idnex = nameRoles.indexOf('CMDB管理流程—网络组');
      sessionStorage.setItem('roleName', nameRoles[idnex]);
    } else if (nameRoles.indexOf('CMDB管理流程—主机组') >= 0) {
      let idnex = nameRoles.indexOf('CMDB管理流程—主机组');
      sessionStorage.setItem('roleName', nameRoles[idnex]);
    } else if (nameRoles.indexOf('CMDB管理流程—存储组') >= 0) {
      let idnex = nameRoles.indexOf('CMDB管理流程—存储组');
      sessionStorage.setItem('roleName', nameRoles[idnex]);
    } else if (nameRoles.indexOf('CMDB管理流程—云OS（虚拟化）组') >= 0) {
      let idnex = nameRoles.indexOf('CMDB管理流程—云OS（虚拟化）组');
      sessionStorage.setItem('roleName', nameRoles[idnex]);
    } else if (nameRoles.indexOf('CMDB管理流程—数据库组') >= 0) {
      let idnex = nameRoles.indexOf('CMDB管理流程—数据库组');
      sessionStorage.setItem('roleName', nameRoles[idnex]);
    } else if (nameRoles.indexOf('CMDB管理流程—数据组') >= 0) {
      let idnex = nameRoles.indexOf('CMDB管理流程—数据组');
      sessionStorage.setItem('roleName', nameRoles[idnex]);
    } else {
      sessionStorage.setItem('roleName', nameRoles[nameRoles.length - 2]);
    }

    useActionRouterStore().setRouterData(res.data.data.permissions);
    res.data.data.permissions.forEach(item => {
      if (item.type === 2) {
        allWriteList.push(item.path);
      }
    });
    useActionRouterStore().setWriteList(allWriteList);
  });
};
</script>
<style lang="scss" scoped>
.screen-container {
  height: 100%;
  width: 100%;
  background: url('../assets/loginimg/backimage1.png') no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  .title {
    width: 100%;
    font-size: 30px;
    font-family: Alibaba PuHuiTi;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 60px;
    z-index: 999;
  }
  .view {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 33%;
      height: 100%;
      // border: 1px solid #000;
      padding: 5px;
      transition: all 0.5s;
      position: relative;
      padding-top: 18%;
      .back-box {
        width: 246px;
        height: 293px;
        margin-top: 250px;
        background: #fff;
        border-radius: 20px;
        margin: auto;
        padding-left: 3%;
        padding-top: 12%;
        img {
          width: 94%;
          height: 45%;
          // border: 1px dashed #CED5DC;
          margin-bottom: 55px;
        }
        .container-title {
          width: 92%;
          text-align: center;
          font-size: 22px;
          font-family: Alibaba PuHuiTi;
          font-weight: bold;
          color: #cccccc;
        }
      }
    }
    .container:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      transform: translateY(-10px);
      background-color: rgba(23, 42, 92, 0.315);
    }
  }
}
</style>
