<template>
  <div class="big-box">
    <div class="header-box">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item style="color: #707070; cursor: pointer" @click.native="checkStatus()">工单管理</el-breadcrumb-item>
        <el-breadcrumb-item v-if="state.detailTitle" style="color: #333333">详情</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div v-if="state.show === 'table'" class="content-box">
      <el-tabs type="border-card" v-model="state.activeName">
        <el-tab-pane label="待办工单" name="first">
          <div class="select-box">
            <div class="chos-box1">
              <span>云平台</span>
              <el-select v-model="state.cloudPlatform" filterable clearable @change="searchData">
                <el-option v-for="item in state.options" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </div>
            <div v-if="state.role === 'CMDB管理流程—工程组' || state.role === 'CMDB管理流程—数据组'" class="chos-box2">
              <span>专业组</span>
              <el-select v-model="state.professionalGroup" filterable clearable @change="searchData">
                <el-option v-for="item in state.options2" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </div>
            <div class="select-box1" @click.once="chooseTimeScope">
              <span>工单发起时间</span>
              <el-date-picker v-model="state.selectDate" type="daterange" value-format="yyyy-MM-dd" range-separator="→" start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="state.pickerOptions"></el-date-picker>
            </div>
            <div class="button-query">
              <button class="button3" @click="resizeBut()">重置</button>
              <button class="button2" @click="queryBut()">查询</button>
            </div>
          </div>
          <div class="table-box">
            <el-table ref="multipleTable" :data="state.agentTableData" v-loading="state.loading" element-loading-text="加载中" tooltip-effect="dark" style="width: 100%; margin-bottom: 20px" border :header-cell-style="{ background: '#F2F2F2', color: '#000' }">
              <el-table-column label="工单名称" align="center" prop="order_name"></el-table-column>
              <el-table-column label="工单ID" align="center" prop="order_id"></el-table-column>
              <el-table-column label="发起人" align="center" prop="initiator"></el-table-column>
              <el-table-column label="工单类型" align="center" prop="order_type"></el-table-column>
              <el-table-column label="工单状态" align="center" prop="order_status"></el-table-column>
              <el-table-column label="发起时间" align="center" prop="created_time"></el-table-column>
              <el-table-column label="所属云平台" align="center" prop="cloud"></el-table-column>
              <el-table-column label="所属专业组" align="center" prop="specialty"></el-table-column>
              <el-table-column label="工程期数" align="center" prop="periods"></el-table-column>
              <el-table-column label="硬件资源池" align="center" prop="pool"></el-table-column>
              <el-table-column label="操作" align="center">
                <template #default="scope">
                  <el-button type="primary" link @click="openDetails(scope.row)">详情</el-button>
                </template>
              </el-table-column>
            </el-table>
            <div class="l-pagination">
              <el-pagination :total="state.agentTotal" :current-page="state.page" :page-size="state.pageSize" :page-sizes="[10, 20, 50]" background layout="total, sizes, prev, pager, next, jumper" align="center" @size-change="sizeChange" @current-change="currentChange"></el-pagination>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="已办工单" name="second">
          <div class="select-box">
            <div class="chos-box11">
              <span>工单状态</span>
              <el-select v-model="state.orderStatus" filterable clearable @change="searchDoneData">
                <el-option v-for="item in state.options3" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </div>
            <div class="chos-box1">
              <span>云平台</span>
              <el-select v-model="state.cloudPlatformDone" filterable clearable @change="searchDoneData">
                <el-option v-for="item in state.options" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </div>
            <div v-if="state.role === 'CMDB管理流程—工程组' || state.role === 'CMDB管理流程—数据组'" class="chos-box2">
              <span>专业组</span>
              <el-select v-model="state.professionalGroupDone" filterable clearable @change="searchDoneData">
                <el-option v-for="item in state.options2" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </div>
            <div class="select-box1" @click.once="chooseTimeScope">
              <span>工单发起时间</span>
              <el-date-picker v-model="state.selectDateDone" type="daterange" value-format="yyyy-MM-dd" range-separator="→" start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="state.pickerOptions"></el-date-picker>
            </div>
            <div class="button-query">
              <button class="button3" @click="resizeButDone()">重置</button>
              <button class="button2" @click="queryButDone()">查询</button>
            </div>
          </div>
          <div class="table-box">
            <el-table ref="multipleTable" :data="state.doneTableData" v-loading="state.loadingTwo" element-loading-text="加载中" tooltip-effect="dark" style="width: 100%; margin-bottom: 20px" border :header-cell-style="{ background: '#F2F2F2', color: '#000' }">
              <el-table-column label="工单名称" align="center" prop="order_name"></el-table-column>
              <el-table-column label="工单ID" align="center" prop="order_id"></el-table-column>
              <el-table-column label="发起人" align="center" prop="initiator"></el-table-column>
              <el-table-column label="工单类型" align="center" prop="order_type"></el-table-column>
              <el-table-column label="工单状态" align="center" prop="order_status"></el-table-column>
              <el-table-column label="工单节点" align="center" prop="order_node"></el-table-column>
              <el-table-column label="发起时间" align="center" prop="created_time"></el-table-column>
              <el-table-column label="所属云平台" align="center" prop="cloud"></el-table-column>
              <el-table-column label="所属专业组" align="center" prop="specialty"></el-table-column>
              <el-table-column label="工程期数" align="center" prop="periods"></el-table-column>
              <el-table-column label="硬件资源池" align="center" prop="pool"></el-table-column>
              <el-table-column label="操作" align="center">
                <template #default="scope">
                  <el-button type="primary" link @click="openDetails(scope.row)">详情</el-button>
                </template>
              </el-table-column>
            </el-table>
            <div class="l-pagination">
              <el-pagination :total="state.DoneTotal" :current-page="state.pageTwo" :page-size="state.pageSizeTwo" :page-sizes="[10, 20, 50]" background layout="total, sizes, prev, pager, next, jumper" align="center" @size-change="sizeChangeTwo" @current-change="currentChangeTwo"></el-pagination>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <div v-else class="content-box">
      <div v-if="state.role === 'CMDB管理流程—工程组'" class="role-box">
        <div v-if="state.detailType == 'reject'" class="detail-box">
          <div class="reject-content">
            <div class="reject-header">
              <div class="icon-box">
                <img class="icon-item" src="../../assets/energyicon/beRejected.png" alt="" />
                <h4>审核被驳回</h4>
              </div>
            </div>
            <detail-list :detail-list="state.rejectList"></detail-list>
            <detail-table :detail-table="state.auditTableData" :detail-loading="state.auditLoading"></detail-table>
            <div class="button-box">
              <div class="button-content">
                <el-button type="primary" @click="rejectFillAgain()">重新填写</el-button>
                <el-button style="background: #fff; border-radius: 2px; border: 1px solid #d9d9d9; color: #595959" @click="rejectApply()">取消申请</el-button>
              </div>
            </div>
          </div>
        </div>
        <div v-else-if="state.detailType == 'progress'" class="detail-box">
          <div class="progress-content">
            <step-components :step-active="state.statusActive"></step-components>
            <div class="line-box"></div>
            <detail-list :detail-list="state.rejectList"></detail-list>
            <div class="order-operation" v-if="state.statusActive >= 4">
              <div class="detail-header">专业组操作</div>
              <div class="file_detailbox">
                <div class="left-file">入网文件：</div>
                <div class="right-file">
                  <div class="filename-box" @click="downloadFile(state.creHashvalue, state.dataFileName)">
                    {{ state.dataFileName }}
                    <span class="iconfont icon-xiazai"></span>
                  </div>
                </div>
              </div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">验收交维工作</span>
                </div>
                <el-checkbox-group v-model="state.acceptanceList">
                  <el-checkbox disabled v-for="(item, index) in state.acceptanceOptionsTwo" :key="index" :label="item"></el-checkbox>
                </el-checkbox-group>
              </div>
            </div>
            <div class="order-operation" v-if="state.statusActive >= 3">
              <div class="detail-header">工单操作</div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">数据确认</span>
                </div>
                <el-checkbox v-model="state.groupValidation" disabled>数据已录入CMDB</el-checkbox>
              </div>
            </div>
            <detail-table :detail-table="state.auditTableData" :detail-loading="state.auditLoading"></detail-table>
            <div class="button-box1" v-if="state.statusActive < 2">
              <div class="button-content">
                <button class="button1" @click="progressApply()">取消申请</button>
              </div>
            </div>
          </div>
        </div>
        <div v-else-if="state.detailType == 'pass'" class="detail-box">
          <div class="pass-content">
            <div class="pass-header">
              <div class="icon-title">
                <div class="el-icon-success icon-box"></div>
                <h4>审核通过</h4>
              </div>
            </div>
            <detail-list :detail-list="state.rejectList"></detail-list>
            <div class="order-operation">
              <div class="detail-header">专业组操作</div>
              <div class="file_detailbox">
                <div class="left-file">入网文件：</div>
                <div class="right-file">
                  <div class="filename-box" @click="downloadFile(state.creHashvalue, state.dataFileName)">
                    {{ state.dataFileName }}
                    <span class="iconfont icon-xiazai"></span>
                  </div>
                </div>
              </div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">验收交维工作</span>
                </div>
                <el-checkbox-group v-model="state.acceptanceList">
                  <el-checkbox disabled v-for="(item, index) in state.acceptanceOptionsTwo" :key="index" :label="item"></el-checkbox>
                </el-checkbox-group>
              </div>
            </div>
            <div class="order-operation">
              <div class="detail-header">工单操作</div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">数据确认</span>
                </div>
                <el-checkbox v-model="state.groupValidation" disabled>数据已录入CMDB</el-checkbox>
              </div>
            </div>
            <detail-table :detail-table="state.auditTableData" :detail-loading="state.auditLoading"></detail-table>
          </div>
        </div>
        <div v-else-if="state.detailType == 'cancel'" class="detail-box">
          <div class="cancel-content">
            <div class="cancel-header">
              <div class="icon-box">
                <img class="icon-item" src="../../assets/energyicon/cancelled.png" alt="" />
                <h4>工单已取消</h4>
              </div>
            </div>
            <detail-list :detail-list="state.rejectList"></detail-list>
            <detail-table :detail-table="state.auditTableData" :detail-loading="state.auditLoading"></detail-table>
          </div>
        </div>
        <div v-else-if="state.detailType == 'rejectFillAg'" class="detail-box">
          <div v-if="state.rejectFillTips" class="rejectFillAg-content">
            <step-components :step-active="state.rejectAgActive"></step-components>
            <div class="title-box">
              <p>工单信息</p>
              <div class="line-box"></div>
            </div>
            <apply-form :success-tips="state.rejectFillTips" :detail-table="state.auditTableData" :reject-list="state.rejectList"></apply-form>
          </div>
          <div v-else class="frame-box">
            <div class="content_tip">
              <div class="el-icon-success icon-box"></div>
              <h4>提交成功</h4>
              <div class="tip-text">
                请到
                <span class="link-box" @click="linkPath">工单列表</span>
                中及时关注工单状态
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else-if="state.role === 'CMDB管理流程—网络组' || state.role === 'CMDB管理流程—主机组' || state.role === 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—云OS（虚拟化）组' || state.role === 'CMDB管理流程—数据库组'" class="role-box">
        <div class="detail-box">
          <div class="specialty-content">
            <div v-if="state.detailType == 'pass'" class="pass-header">
              <div class="icon-title">
                <div class="el-icon-success icon-box"></div>
                <h4>审核通过</h4>
              </div>
            </div>
            <div v-else-if="state.detailType == 'reject'" class="reject-header">
              <div class="icon-box">
                <img class="icon-item" src="../../assets/energyicon/beRejected.png" alt="" />
                <h4>审核被驳回</h4>
              </div>
            </div>
            <div v-else-if="state.detailType == 'cancel'" class="cancel-header">
              <div class="icon-box">
                <img class="icon-item" src="../../assets/energyicon/cancelled.png" alt="" />
                <h4>工单已取消</h4>
              </div>
            </div>
            <step-components v-else :step-active="state.statusActive"></step-components>
            <div class="line-box"></div>
            <detail-list :detail-list="state.rejectList"></detail-list>
            <div class="order-operation" v-if="state.statusActive == 3">
              <div class="detail-header">专业组操作</div>
              <div class="order-file" v-if="state.activeName == 'first'">
                <div class="file-title">{{ state.groupName }}工程入网</div>
                <div class="network-file">
                  <div class="upload-title">
                    <span style="color: red">*</span>
                    {{ state.technologyStack }}入网文件上传：
                  </div>
                  <el-upload class="upload-demo" ref="upload" action="" :http-request="handleUpload" :auto-upload="true" :multiple="false" :file-list="state.fileList">
                    <el-button class="el-icon-upload2 button1" slot="trigger" type="primary">点击上传</el-button>
                  </el-upload>
                </div>
              </div>
              <div class="file-tips" v-if="state.activeName == 'first'">
                请下载申请文件补充模板中
                <span style="color: red">标识需专业组填写</span>
                的字段，
                <span style="color: red">除需补充的字段，其他内容不得修改！</span>
                补充完成需上传入网文件
              </div>
              <div v-else class="file_detailbox">
                <div class="left-file">入网文件：</div>
                <div class="right-file">
                  <div class="filename-box" @click="downloadFile(state.creHashvalue, state.dataFileName)">
                    {{ state.dataFileName }}
                    <span class="iconfont icon-xiazai"></span>
                  </div>
                </div>
              </div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">验收交维工作</span>
                </div>
                <el-checkbox-group v-model="state.acceptanceList">
                  <el-checkbox :disabled="state.activeName !== 'first'" v-for="(item, index) in state.acceptanceOptions" :key="index" :label="item"></el-checkbox>
                </el-checkbox-group>
              </div>
            </div>
            <div class="order-operation" v-if="state.statusActive >= 4">
              <div class="detail-header">专业组操作</div>
              <div class="file_detailbox">
                <div class="left-file">入网文件：</div>
                <div class="right-file">
                  <div class="filename-box" @click="downloadFile(state.creHashvalue, state.dataFileName)">
                    {{ state.dataFileName }}
                    <span class="iconfont icon-xiazai"></span>
                  </div>
                </div>
              </div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">验收交维工作</span>
                </div>
                <el-checkbox-group v-model="state.acceptanceList">
                  <el-checkbox disabled v-for="(item, index) in state.acceptanceOptionsTwo" :key="index" :label="item"></el-checkbox>
                </el-checkbox-group>
              </div>
            </div>
            <div class="order-operation" v-if="state.statusActive >= 3">
              <div class="detail-header">工单操作</div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">数据确认</span>
                </div>
                <el-checkbox v-model="state.groupValidation" disabled>数据已录入CMDB</el-checkbox>
              </div>
            </div>
            <detail-table :detail-table="state.auditTableData" :detail-loading="state.auditLoading"></detail-table>
            <div class="button-box" v-if="state.activeName === 'first'">
              <div class="button-content">
                <el-button v-if="state.statusActive == 1" @click="auditPass()" type="primary">审核通过</el-button>
                <el-button v-else :disabled="state.acceptanceList.length < 5 || state.deviceList.length == 0" @click="auditPass()" type="primary">审核通过</el-button>
                <el-button style="background: #fff; border-radius: 2px; border: 1px solid #d9d9d9; color: #595959" v-if="state.statusActive !== 3" @click="specialtyReject()">驳回</el-button>
              </div>
            </div>
          </div>
        </div>

        <el-dialog :title="state.specialtyGroupDia == 'specialtyPass' ? '审核通过' : '驳回工单'" v-model="state.auditVisible" width="60%" height="60%" class="el-body">
          <div class="line-box"></div>
          <div class="dialog-cont">
            <p v-if="state.specialtyGroupDia == 'specialtyPass'">确定通过该审核吗？请填写审核意见。</p>
            <p v-else>确定驳回该审核吗？请填写审核意见。</p>
            <div class="input-box">
              <div class="input-title">
                <span style="color: red">*</span>
                <span class="title-content">审核意见</span>
                ：
              </div>
              <el-input type="textarea" :autosize="{ minRows: 8, maxRows: 80 }" resize="none" placeholder="请输入审核意见" v-model="state.specialtyOpinion"></el-input>
            </div>
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="state.auditVisible = false">取 消</el-button>
            <el-button type="primary" :disabled="!state.specialtyOpinion" @click="subAudit">提 交</el-button>
          </span>
        </el-dialog>
      </div>
      <div v-else-if="state.role === 'CMDB管理流程—数据组'" class="role-box">
        <div v-if="state.FirstAudit" class="detail-box">
          <div class="confirm-box">
            <div v-if="state.detailType == 'pass'" class="pass-header">
              <div class="icon-title">
                <div class="el-icon-success icon-box"></div>
                <h4>审核通过</h4>
              </div>
            </div>
            <step-components v-else :step-active="state.statusActive"></step-components>
            <div class="line-box"></div>
            <div class="reject-detail">
              <div class="detail-header">工单详情</div>
              <div class="detail-item">
                <div v-for="(item, index) in state.dataDetailList" :key="index">
                  <span>{{ item.itemName }}</span>
                  ：
                  <span v-if="index == state.dataDetailList.length - 1" style="color: #448ef7; cursor: pointer" @click="downloadFile(item.hash_value, item.itemVal)">
                    {{ item.itemVal }}
                    <span class="iconfont icon-xiazai" style="color: #448ef7"></span>
                  </span>
                  <span v-else>{{ item.itemVal }}</span>
                </div>
              </div>
              <div class="datadetail-box" v-if="state.activeName == 'first'">
                <el-button type="primary" style="margin: 0 0 10px 70px" @click="dataEntering">数据录入</el-button>
              </div>
            </div>
            <div class="order-operation" v-if="state.statusActive >= 5">
              <div class="detail-header">专业组操作</div>
              <div class="file_detailbox">
                <div class="left-file">入网文件：</div>
                <div class="right-file">
                  <div class="filename-box" @click="downloadFile(state.creHashvalue, state.dataFileName)">
                    {{ state.dataFileName }}
                    <span class="iconfont icon-xiazai"></span>
                  </div>
                </div>
              </div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">验收交维工作</span>
                </div>
                <el-checkbox-group v-model="state.acceptanceList">
                  <el-checkbox disabled v-for="(item, index) in state.acceptanceOptionsTwo" :key="index" :label="item"></el-checkbox>
                </el-checkbox-group>
              </div>
            </div>
            <div class="order-operation">
              <div class="detail-header">工单操作</div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">数据确认</span>
                </div>
                <el-checkbox v-if="state.statusActive == 2 || state.statusActive == 4" v-model="state.dataValidation">数据已录入CMDB</el-checkbox>
                <el-checkbox v-else v-model="state.dataValidation" disabled>数据已录入CMDB</el-checkbox>
                <div class="detail-tips" v-if="state.statusActive == 2 || state.statusActive == 4">
                  <span>注：</span>
                  <div>
                    请下载申请文件并
                    <span style="color: red">确认文件申请数据已经录入CMDB数据模型后</span>
                    进行勾选确认并审核通过工单；
                    <br />
                    如数据
                    <span style="color: red">录入模型失败则点击上方“数据录入”按钮重新录入</span>
                    ，待数据录入成功后进行勾选确认并审批通过工单
                  </div>
                </div>
              </div>
            </div>
            <detail-table :detail-table="state.auditTableData" :detail-loading="state.auditLoading"></detail-table>
            <div class="button-cre" v-if="state.activeName == 'first'">
              <el-button type="primary" @click="dataAudit" :disabled="!state.dataValidation">审核通过</el-button>
            </div>
          </div>
        </div>
        <div v-else class="detail-box">
          <div class="confirm-box">
            <div class="pass-header" v-if="state.statusActive == 5">
              <div class="icon-title">
                <div class="el-icon-success icon-box"></div>
                <h4>审核通过</h4>
              </div>
            </div>
            <step-components v-else :step-active="state.statusActive"></step-components>
            <div class="line-box"></div>
            <detail-list :detail-list="state.rejectList"></detail-list>
            <div class="operation-box">
              <div class="detail-header">专业组操作</div>
              <div class="operation-file">
                <div class="left-file">入网文件：</div>
                <div class="right-file">
                  <div class="filename-box" @click="downloadFile(state.creHashvalue, state.dataFileName)">
                    {{ state.dataFileName }}
                    <span class="iconfont icon-xiazai"></span>
                  </div>
                  <el-button type="primary" style="margin-bottom: 10px" @click="updateData">数据更新</el-button>
                </div>
              </div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">验收交维工作</span>
                </div>
                <el-checkbox-group v-model="state.dataAcceptanceList">
                  <el-checkbox disabled v-for="(item, index) in state.acceptanceOptionsTwo" :key="index" :label="item"></el-checkbox>
                </el-checkbox-group>
              </div>
            </div>
            <div class="order-operation">
              <div class="detail-header">工单操作</div>
              <div class="check-box">
                <div style="height: 40px; line-height: 40px">
                  <span style="color: red">*</span>
                  <span style="font-size: 14px; color: rgba(0, 0, 0, 0.85)">数据确认</span>
                </div>
                <el-checkbox v-model="state.dataValidation" :disabled="!state.statusActive == 2 || !state.statusActive == 4">数据已录入CMDB</el-checkbox>
                <div class="detail-tips">
                  <span>注：</span>
                  <div>
                    请下载申请文件并
                    <span style="color: red">确认文件申请数据已经录入CMDB数据模型后</span>
                    进行勾选确认并审核通过工单；
                    <br />
                    如数据
                    <span style="color: red">录入模型失败则点击上方“数据更新”按钮重新录入</span>
                    ，待数据录入成功后进行勾选确认并审批通过工单
                  </div>
                </div>
              </div>
            </div>
            <detail-table :detail-table="state.auditTableData" :detail-loading="state.auditLoading"></detail-table>
            <div class="button-cre">
              <el-button v-if="state.activeName == 'first'" type="primary" :disabled="!state.dataValidation" @click="dataAuditTwo">审核通过</el-button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div v-else-if="role==='CRE组'" class="role-box">
                <div class="detail-box">
                    <div class="cre-content">
                        <div v-if="detailType == 'pass'" class="pass-header" >
                            <div class="icon-title">
                                <div class="el-icon-success icon-box"></div>
                                <h4>审核通过</h4>
                            </div>
                        </div>
                        <step-components v-else :step-active='statusActive'></step-components>
                        <div class="line-box"></div>
                        <detail-list :detail-list="rejectList"></detail-list>
                        <div class="order-operation">
                            <div class="detail-header">
                                专业组操作
                            </div>
                            <div class="order-file" v-if="activeName == 'first'">
                                <div class="file-title">
                                    {{groupName}}工程入网
                                </div>
                                <div class="network-file">
                                    <div class="upload-title">
                                        <span style="color:red">*</span>
                                        {{technologyStack}}入网文件上传：
                                    </div>
                                    <el-upload
                                    class="upload-demo"
                                    ref="upload"
                                    action="http://188.103.137.104/api/cmdb_order/audit_excel"
                                    :on-success="handleSuccess"
                                    :data="{'device':state.technologyStack}"
                                    :auto-upload="true"
                                    :multiple="false"
                                    :file-list="fileList">
                                        <el-button class="el-icon-upload2 button1" slot="trigger"  type="primary">点击上传</el-button>
                                    </el-upload>
                                </div>
                            </div>
                            <div class="file-tips" v-if="activeName == 'first'">
                                请下载申请文件补充模板中
                                <span style="color:red">标识需专业组填写</span>
                                的字段，
                                <span style="color:red">除需补充的字段，其他内容不得修改！</span>
                                补充完成需上传入网文件
                            </div>
                            <div v-else class="file_detailbox">
                                <div class="left-file">
                                    入网文件：
                                </div>
                                <div class="right-file">
                                    <div class="filename-box" @click="downloadFile(creHashvalue)">
                                        {{dataFileName}}
                                        <span class="iconfont icon-xiazai"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="check-box">
                                <div style="height:40px;line-height:40px">
                                    <span style="color:red">*</span>
                                    <span style="font-size: 14px;color: rgba(0,0,0,0.85);">验收交维工作</span>
                                </div>
                                <el-checkbox-group v-model="acceptanceList">
                                    <el-checkbox
                                    :disabled="activeName != 'first'"
                                    v-for="(item,index) in acceptanceOptions"
                                    :key="index" :label="item">
                                    </el-checkbox>
                                </el-checkbox-group>
                            </div>
                        </div>
                        <div class="order-operation" v-if="statusActive >= 3">
                            <div class="detail-header">
                                工单操作
                            </div>
                            <div class="check-box">
                                <div style="height:40px;line-height:40px">
                                    <span style="color:red">*</span>
                                    <span style="font-size: 14px;color: rgba(0,0,0,0.85);">数据确认</span>
                                </div>
                                <el-checkbox
                                v-model="groupValidation"
                                disabled
                                >
                                    数据已录入CMDB
                                </el-checkbox>
                            </div>
                        </div>
                        <detail-table :detail-table="auditTableData" :detail-loading="auditLoading"></detail-table>
                        <div class="button-cre">
                            <el-button  type="primary" v-if="activeName == 'first'"
                            :disabled="state.acceptanceList.length <= 3 || state.deviceList.length<=0"  @click="creAudit">审核通过</el-button>
                        </div>
                    </div>
                </div>
            </div> -->
      <el-dialog title="审核通过" v-model="state.groupAuditVisible" width="60%" height="60%" class="el-body">
        <div class="line-box"></div>
        <div class="dialog-cont">
          <p>确定通过该审核吗？请填写审核意见。</p>
          <div class="input-box">
            <div class="input-title">
              <span style="color: red">*</span>
              <span class="title-content">审核意见</span>
              ：
            </div>
            <el-input type="textarea" :autosize="{ minRows: 8, maxRows: 80 }" resize="none" placeholder="请输入审核意见" v-model="state.auditOpinion"></el-input>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="state.groupAuditVisible = false">取 消</el-button>
          <el-button type="primary" :disabled="!state.auditOpinion" @click="subGroupAudit()">提 交</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { cancelOrder, creAgent, creDone, dataAgent, dataDone, dataPassOrder, dataUpdate, downloadOrder, engineeringAgent, engineeringDetail, engineeringDone, selectList, specialtyAgent, specialtyDone, specialtyPassOrder, specialtyRejectOrder, uploadFile } from '@/api/CMOBprocess/projectAccess';
import { ElMessage, ElMessageBox } from 'element-plus';
import { getCurrentInstance, onMounted, reactive, watch } from 'vue';
import { useRoute } from 'vue-router';
import ApplyForm from './components/applyForm';
import DetailList from './components/detailList';
import DetailTable from './components/detailTable';
import StepComponents from './components/stepComponents';
const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;
const route = useRoute();
const {
  proxy: { $forceUpdate }
}: any = getCurrentInstance();

const state = reactive({
  role: '', //角色
  uploadGroup: '',
  presentOrderId: 0,
  userId: '',
  show: 'table',
  activeName: 'first',
  detailType: '',
  detailTitle: false,
  options: [],
  cloudPlatform: '',
  options2: [],
  professionalGroup: '',
  selectDate: [],
  time: null,
  loading: true,
  agentTableData: [], //待办列表数据
  agentTotal: 0,
  page: 1,
  pageSize: 10,
  orderStatus: '',
  options3: ['进行中', '被驳回', '已取消', '审核通过'],
  cloudPlatformDone: '',
  options4: [],
  professionalGroupDone: '',
  options5: [],
  selectDateDone: [],
  doneTableData: [], //已办列表数据
  loadingTwo: true,
  DoneTotal: 0,
  pageTwo: 1,
  pageSizeTwo: 10,
  rejectList: [
    { itemName: '工单id', itemVal: '', itemfild: 'order_id' },
    { itemName: '工单发起人', itemVal: 'XXX', itemfild: 'initiator' },
    { itemName: '所属云平台', itemVal: '网络云', itemfild: 'cloud' },
    { itemName: '工单名称', itemVal: '', itemfild: 'order_name' },
    {
      itemName: '所属专业组',
      itemVal: 'CMDB管理流程—网络组',
      itemfild: 'specialty'
    },
    { itemName: '申请设备', itemVal: '路由器', itemfild: 'device' },
    { itemName: '工程期数', itemVal: '', itemfild: 'periods' },
    { itemName: '硬件资源池', itemVal: '网络云硬件', itemfild: 'pool' },
    {
      itemName: '申请文件',
      itemVal: '工程入网——路由器申请文件',
      itemfild: 'file_name'
    }
  ],
  auditTableData: [], //审核表格数据
  auditLoading: false,
  statusActive: 0,
  // rejectFillActive:0,
  rejectFillTips: true, // 驳回重新填写提示
  // specialtyActive:1, // 专业组状态
  firstProfessional: false, //专业组状态
  rejectAgActive: 0, //驳回重填状态
  auditVisible: false,
  specialtyOpinion: '', //审核意见
  specialtyGroupDia: '',
  // dataActive:2,
  FirstAudit: false, //数据组步骤
  dataValidation: '',
  groupValidation: true,
  dataFileName: '',
  creHashvalue: '',
  updateDevice: '',
  updateFileHash: '',
  dataAcceptanceList: [],
  dataDetailList: [
    { itemName: '工单id', itemVal: '', itemfild: 'order_id' },
    { itemName: '工单发起人', itemVal: 'XXX', itemfild: 'initiator' },
    { itemName: '所属云平台', itemVal: '', itemfild: 'cloud' },
    { itemName: '工单名称', itemVal: '', itemfild: 'order_name' },
    { itemName: '所属专业组', itemVal: '', itemfild: 'specialty' },
    { itemName: '申请设备', itemVal: '', itemfild: 'device' },
    { itemName: '工程期数', itemVal: '', itemfild: 'periods' },
    { itemName: '硬件资源池', itemVal: '', itemfild: 'pool' },
    { itemName: '申请文件', itemVal: '', itemfild: 'file_name' }
  ],
  // creActive:3,
  groupName: '',
  technologyStack: '',
  fileList: [],
  acceptanceList: [],
  deviceList: [],
  acceptanceOptions: ['事件已纳管', '告警已纳管', 'CMDB数据已纳管', '4A已纳管', '态势感知已接入'],
  acceptanceOptionsTwo: [],
  creDetailList: [
    { itemName: '工单id', itemVal: '123456789' },
    { itemName: '工单发起人', itemVal: 'XXX' },
    { itemName: '所属云平台', itemVal: '网络云' },
    { itemName: '工单名称', itemVal: 'gcrwWlZ20230418' },
    { itemName: '所属专业组', itemVal: 'CMDB管理流程—网络组' },
    { itemName: '申请设备', itemVal: '路由器' },
    { itemName: '工程期数', itemVal: '大区网络云一期' },
    { itemName: '硬件资源池', itemVal: '网络云硬件' },
    { itemName: '申请文件', itemVal: '工程入网——路由器申请文件' }
  ],
  groupAuditVisible: false,
  auditOpinion: '',
  pickerOptions: {
    disabledDate: time => {
      return time.getTime() >= Date.now(); //只能选择当天和当天日期之前的日期，当天之后的日期禁选
    },
    onPick: tim => {
      if (tim.minDate && tim.maxDate) {
        state.time = null;
        return;
      }
      state.time = tim.minDate;
    }
  }
});

// 时间选择器范围往前推一月
const chooseTimeScope = () => {
  let element = document.querySelector('button.el-picker-panel__icon-btn.el-icon-arrow-left');
  if (element) element.click();
};
const searchData = () => {};

// 待办查询
const queryBut = () => {
  if (state.role === 'CMDB管理流程—工程组') {
    getEngineeringAgent();
  } else if (state.role === 'CMDB管理流程—网络组' || state.role === 'CMDB管理流程—主机组' || state.role === 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—云OS（虚拟化）组' || state.role === 'CMDB管理流程—数据库组') {
    getSpecialtyAgent();
  } else if (state.role === 'CMDB管理流程—数据组') {
    getDataAgent();
  }
};

// 待办重置

const resizeBut = () => {
  state.cloudPlatform = '';
  state.professionalGroup = '';
  state.selectDate = [];
  queryBut();
};

const sizeChange = val => {
  state.pageSize = val;
  if (state.role === 'CMDB管理流程—工程组') {
    getEngineeringAgent();
  } else if (state.role === 'CMDB管理流程—网络组' || state.role === 'CMDB管理流程—主机组' || state.role === 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—云OS（虚拟化）组' || state.role === 'CMDB管理流程—数据库组') {
    getSpecialtyAgent();
  }
};
const currentChange = val => {
  state.page = val;
  if (state.role === 'CMDB管理流程—工程组') {
    getEngineeringAgent();
  } else if (state.role === 'CMDB管理流程—网络组' || state.role === 'CMDB管理流程—主机组' || state.role === 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—云OS（虚拟化）组' || state.role === 'CMDB管理流程—数据库组') {
    getSpecialtyAgent();
  } else if (state.role === 'CMDB管理流程—数据组') {
    getDataAgent();
  } else if (state.role === 'CRE组') {
    getCreAgent();
  }
};
// 下拉选项
const getSelectList = () => {
  let data = '';
  selectList(data).then(res => {
    state.options = res.data.data.cloud;
    state.options2 = res.data.data.specialty;
  });
};
// 工程组待办列表
const getEngineeringAgent = () => {
  state.loading = true;
  let data = { page: state.page, page_size: state.pageSize, cloud: '', specialty: '', start_time: '', end_time: '' };
  if (state.cloudPlatform) {
    data.cloud = state.cloudPlatform;
  }
  if (state.professionalGroup) {
    data.specialty = state.professionalGroup;
  }
  if (state.selectDate) {
    data.start_time = state.selectDate[0];
    data.end_time = state.selectDate[1];
  }
  engineeringAgent(data).then(res => {
    state.loading = false;
    if (res.data.code == 1) {
      showMessage({
        type: 'success',
        message: '请求成功',
        center: true
      });
      state.agentTableData = res.data.data.list;
      state.agentTotal = res.data.data.pagination.total;
    } else {
      state.agentTableData = [];
      showMessage({
        type: 'error',
        message: '请求失败，请刷新重试或联系管理员！',
        center: true
      });
    }
  });
};
// 工程组已办列表
const getEngineeringDone = () => {
  state.loadingTwo = true;
  let data = { page: state.pageTwo, page_size: state.pageSizeTwo, cloud: '', order_status: '', specialty: '', start_time: '', end_time: '' };
  if (state.orderStatus) {
    data.order_status = state.orderStatus;
  }
  if (state.cloudPlatformDone) {
    data.cloud = state.cloudPlatformDone;
  }
  if (state.professionalGroupDone) {
    data.specialty = state.professionalGroupDone;
  }
  if (state.selectDateDone) {
    data.start_time = state.selectDateDone[0];
    data.end_time = state.selectDateDone[1];
  }
  engineeringDone(data).then(res => {
    state.loadingTwo = false;
    if (res.data.code == 1) {
      // state.showMessage({ type: "success", message: "请求成功", center: true });
      state.doneTableData = res.data.data.list;
      state.DoneTotal = res.data.data.pagination.total;
    } else {
      state.doneTableData = [];
      showMessage({
        type: 'error',
        message: '请求失败，请刷新重试或联系管理员！',
        center: true
      });
    }
  });
};
// 专业组待办列表
const getSpecialtyAgent = () => {
  state.loading = true;
  let data = {
    page: state.page,
    page_size: state.pageSize,
    id: state.userId,
    role_names: [state.role],
    cloud: '',
    start_time: '',
    end_time: ''
  };
  if (state.cloudPlatform) {
    data.cloud = state.cloudPlatform;
  }
  if (state.selectDate) {
    data.start_time = state.selectDate[0];
    data.end_time = state.selectDate[1];
  }
  specialtyAgent(data).then(res => {
    state.loading = false;
    if (res.data.code === 1) {
      state.agentTableData = res.data.data.list;
      state.agentTotal = res.data.data.pagination.total;
      showMessage({
        type: 'success',
        message: '请求成功',
        center: true
      });
    } else {
      state.agentTableData = [];
      showMessage({
        type: 'error',
        message: '请求失败，请刷新重试或联系管理员！',
        center: true
      });
    }
  });
};
// 专业组已办工单
const getSpecialtyDone = () => {
  state.loadingTwo = true;
  let data = {
    page: state.pageTwo,
    page_size: state.pageSizeTwo,
    id: state.userId,
    role_names: [state.role],
    cloud: '',
    order_status: '',
    start_time: '',
    end_time: ''
  };
  if (state.orderStatus) {
    data.order_status = state.orderStatus;
  }
  if (state.cloudPlatformDone) {
    data.cloud = state.cloudPlatformDone;
  }
  if (state.selectDateDone) {
    data.start_time = state.selectDateDone[0];
    data.end_time = state.selectDateDone[1];
  }
  specialtyDone(data).then(res => {
    state.loadingTwo = false;
    if (res.data.code == 1) {
      // state.showMessage({ type: "success", message: "请求成功", center: true });
      state.doneTableData = res.data.data.list;
      state.DoneTotal = res.data.data.pagination.total;
    } else {
      state.doneTableData = [];
      showMessage({
        type: 'error',
        message: '请求失败，请刷新重试或联系管理员！',
        center: true
      });
    }
  });
};
// 工程组上传文件
const handleUpload = file => {
  let data = {
    file: file.file,
    device: state.technologyStack,
    group: '专业组'
  };
  uploadFile(data).then(res => {
    state.deviceList = [];
    if (res.data.code == 1) {
      showMessage({
        type: 'success',
        message: res.data.msg || '文件上传成功。'
      });
      state.deviceList.push(res.data.data.file_id);
      $forceUpdate();
    } else {
      ElMessageBox.confirm(res.data.msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'error'
      }).then(() => {});
      state.fileList = [];
    }
  });
};
// 数据组待办列表
const getDataAgent = () => {
  state.loading = true;
  let data = {
    page: state.page,
    page_size: state.pageSize,
    id: state.userId,
    role_names: [state.role],
    cloud: '',
    start_time: '',
    end_time: ''
  };
  if (state.cloudPlatform) {
    data.cloud = state.cloudPlatform;
  }
  if (state.selectDate) {
    data.start_time = state.selectDate[0];
    data.end_time = state.selectDate[1];
  }
  dataAgent(data).then(res => {
    state.loading = false;
    if (res.data.code === 1) {
      state.agentTableData = res.data.data.list;
      state.agentTotal = res.data.data.pagination.total;
      showMessage({
        type: 'success',
        message: '请求成功',
        center: true
      });
    } else {
      state.agentTableData = [];
      showMessage({
        type: 'error',
        message: '请求失败，请刷新重试或联系管理员！',
        center: true
      });
    }
  });
};
// 数据组已办列表
const getDataDone = () => {
  state.loadingTwo = true;
  let data = {
    page: state.pageTwo,
    page_size: state.pageSizeTwo,
    id: state.userId,
    role_names: [state.role],
    cloud: '',
    order_status: '',
    specialty: '',
    start_time: '',
    end_time: ''
  };
  if (state.orderStatus) {
    data.order_status = state.orderStatus;
  }
  if (state.cloudPlatformDone) {
    data.cloud = state.cloudPlatformDone;
  }
  if (state.professionalGroupDone) {
    data.specialty = state.professionalGroupDone;
  }
  if (state.selectDateDone) {
    data.start_time = state.selectDateDone[0];
    data.end_time = state.selectDateDone[1];
  }
  dataDone(data).then(res => {
    state.loadingTwo = false;
    if (res.data.code == 1) {
      // state.showMessage({ type: "success", message: "请求成功", center: true });
      state.doneTableData = res.data.data.list;
      state.DoneTotal = res.data.data.pagination.total;
    } else {
      state.doneTableData = [];
      showMessage({
        type: 'error',
        message: '请求失败，请刷新重试或联系管理员！',
        center: true
      });
    }
  });
};
// CRE组待办列表
const getCreAgent = () => {
  state.loading = true;
  let data = {
    page: state.page,
    page_size: state.pageSize,
    id: state.userId,
    role_names: [state.role],
    cloud: '',
    start_time: '',
    end_time: ''
  };
  if (state.cloudPlatform) {
    data.cloud = state.cloudPlatform;
  }
  if (state.selectDate) {
    data.start_time = state.selectDate[0];
    data.end_time = state.selectDate[1];
  }
  creAgent(data).then(res => {
    state.loading = false;
    if (res.data.code === 1) {
      state.agentTableData = res.data.data.list;
      state.agentTotal = res.data.data.pagination.total;
      showMessage({
        type: 'success',
        message: '请求成功',
        center: true
      });
    } else {
      state.agentTableData = [];
      showMessage({
        type: 'error',
        message: '请求失败，请刷新重试或联系管理员！',
        center: true
      });
    }
  });
};
// CRE组已办列表
const getCreDone = () => {
  state.loadingTwo = true;
  let data = {
    page: state.pageTwo,
    page_size: state.pageSizeTwo,
    id: state.userId,
    role_names: [state.role],
    cloud: '',
    order_status: '',
    start_time: '',
    end_time: ''
  };
  if (state.orderStatus) {
    data.order_status = state.orderStatus;
  }
  if (state.cloudPlatformDone) {
    data.cloud = state.cloudPlatformDone;
  }
  if (state.selectDateDone) {
    data.start_time = state.selectDateDone[0];
    data.end_time = state.selectDateDone[1];
  }
  creDone(data).then(res => {
    state.loadingTwo = false;
    if (res.data.code == 1) {
      // state.showMessage({ type: "success", message: "请求成功", center: true });
      state.doneTableData = res.data.data.list;
      state.DoneTotal = res.data.data.pagination.total;
    } else {
      state.doneTableData = [];
      showMessage({
        type: 'error',
        message: '请求失败，请刷新重试或联系管理员！',
        center: true
      });
    }
  });
};
// 工单详情
const openDetails = e => {
  // console.log(e,'详情ecancancassssssss');
  state.acceptanceList = [];
  state.dataAcceptanceList = [];
  state.show = 'detail';
  if (e.order_status === '被驳回') {
    state.detailType = 'reject';
  } else if (e.order_status === '进行中') {
    state.detailType = 'progress';
  } else if (e.order_status === '审核通过') {
    state.detailType = 'pass';
  } else if (e.order_status === '已取消') {
    state.detailType = 'cancel';
  }
  state.detailTitle = true;
  state.auditLoading = true;
  state.groupName = e.specialty; //cre详情
  state.acceptanceOptionsTwo = e.check_status;
  state.acceptanceList = e.check_status;
  if (state.role == 'CMDB管理流程—网络组' || state.role == 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—主机组' || state.role == 'CMDB管理流程—云OS（虚拟化）组' || state.role == 'CMDB管理流程—数据库组') {
    if (state.activeName == 'first') {
      state.acceptanceList = [];
    } else {
      state.acceptanceList = e.check_status;
    }
  }
  // if(state.role == 'CMDB管理流程—网络组' || state.role == 'CMDB管理流程—存储组' || state.role == 'CMDB管理流程—云OS（虚拟化）组' || state.role == '数据库组' && state.activeName == 'first' ){
  //     state.acceptanceList = []
  //     // $forceUpdate()
  // }else{
  //     state.acceptanceList = e.check_status
  // }
  state.statusActive = Number(e.node) - 1;
  // console.log(state.statusActive,'当前节点');
  state.dataAcceptanceList = e.check_status;
  state.technologyStack = e.device;
  state.presentOrderId = e.order_id;
  if (state.role === 'CMDB管理流程—数据组') {
    if (e.node != 5) {
      state.FirstAudit = true;
    } else {
      state.FirstAudit = false;
    }
  }
  state.firstProfessional = true;
  // if(e.node == 2 || e.node == 4 ){

  // }else{
  //     state.firstProfessional = false
  // }
  // console.log(state.statusActive,'节点-----------');
  if (state.statusActive == 2 || state.statusActive == 4) {
    state.dataValidation = false;
  } else {
    state.dataValidation = true;
  }
  engineeringDetail(state.presentOrderId).then(res => {
    if (res.data.code === 1) {
      // state.statusActive = Number(res.data.data.node) - 1
      state.rejectList.forEach(item => {
        item.itemVal = res.data.data[item.itemfild];
        if (item.itemName === '申请文件') {
          item.hash_value = res.data.data.hash_value;
        }
      });
      state.dataDetailList = state.rejectList;
      state.auditLoading = false;
      state.auditTableData = res.data.data.order_audit;
      state.dataFileName = res.data.data.cre_file_name;
      state.creHashvalue = res.data.data.cre_hash_value;
      state.updateDevice = res.data.data.device;
      if (e.node != '5') {
        state.updateFileHash = res.data.data.hash_value;
      } else {
        state.updateFileHash = res.data.data.cre_hash_value;
      }
    } else {
      showMessage({
        type: 'error',
        message: res.data.msg,
        center: true
      });
      state.statusActive = -1;
      state.auditLoading = false;
      state.auditTableData = [];
    }
  });
};
// 已办
const resizeButDone = () => {
  state.orderStatus = '';
  state.cloudPlatformDone = '';
  state.professionalGroupDone = '';
  state.selectDateDone = [];
  queryButDone();
};
const queryButDone = () => {
  if (state.role === 'CMDB管理流程—工程组') {
    getEngineeringDone();
  } else if (state.role === 'CMDB管理流程—网络组' || state.role === 'CMDB管理流程—主机组' || state.role === 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—云OS（虚拟化）组' || state.role == 'CMDB管理流程—数据库组') {
    getSpecialtyDone();
  } else if (state.role === 'CMDB管理流程—数据组') {
    getDataDone();
  }
};
const sizeChangeTwo = val => {
  state.pageSizeTwo = val;
  if (state.role === 'CMDB管理流程—工程组') {
    getEngineeringDone();
  } else if (state.role === 'CMDB管理流程—网络组' || state.role === 'CMDB管理流程—主机组' || state.role === 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—云OS（虚拟化）组' || state.role == 'CMDB管理流程—数据库组') {
    getSpecialtyDone();
  } else if (state.role === 'CMDB管理流程—数据组') {
    getDataDone();
  }
};
const currentChangeTwo = val => {
  state.pageTwo = val;
  if (state.role === 'CMDB管理流程—工程组') {
    getEngineeringDone();
  } else if (state.role === 'CMDB管理流程—网络组' || state.role === 'CMDB管理流程—主机组' || state.role === 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—云OS（虚拟化）组' || state.role == 'CMDB管理流程—数据库组') {
    getSpecialtyDone();
  } else if (state.role === 'CMDB管理流程—数据组') {
    getDataDone();
  }
};
const searchDoneData = () => {};
const checkStatus = () => {
  state.show = 'table';
  state.detailTitle = false;
};
// 进行中工单取消申请
const progressApply = () => {
  ElMessageBox.confirm('取消后此工单会完结，如需申请需重新发起申请。', '确定取消此次申请吗？', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning',
    center: true
  }).then(() => {
    let data = { order_id: state.presentOrderId, id: state.userId };
    // console.log(state.presentOrderId,'id111111111111111');
    cancelOrder(data).then(res => {
      if (res.data.code == 1) {
        showMessage({
          type: 'success',
          message: '取消工单成功',
          center: true
        });
      }
    });
    state.show = 'table';
    getEngineeringAgent();
    getEngineeringDone();
  });
};
// 驳回工单重新填写
const rejectFillAgain = () => {
  state.detailType = 'rejectFillAg';
};
// 驳回工单取消申请
const rejectApply = () => {
  ElMessageBox.confirm('取消后此工单会完结，如需申请需重新发起申请。', '确定取消此次申请吗？', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning',
    center: true
  }).then(() => {
    let data = { order_id: state.presentOrderId, id: state.userId };
    cancelOrder(data).then(res => {
      if (res.data.code == 1) {
        showMessage({
          type: 'success',
          message: '取消工单成功',
          center: true
        });
      }
    });
    state.show = 'table';
    getEngineeringAgent();
    getEngineeringDone();
  });
};
// 驳回工单提交完成
const linkPath = () => {
  state.show = 'table';
  state.activeName = 'second';
  getEngineeringAgent();
  getEngineeringDone();
  state.rejectFillTips = true;
};
// 数据组文件下载
const downloadFile = (e, name) => {
  showMessage({ type: 'success', message: '下载中...', center: true });
  downloadOrder(e).then(res => {
    let data = res.data; // 这里后端对文件流做了一层封装，将data指向res.data即可
    if (!data) {
      return;
    }
    let url = window.URL.createObjectURL(new Blob([data]));
    let a = document.createElement('a');
    a.style.display = 'none';
    a.href = url;
    a.setAttribute('download', `${name}`);
    document.body.appendChild(a);
    a.click(); //执行下载
    window.URL.revokeObjectURL(a.href); //释放url
    document.body.removeChild(a); //释放标签
  });
  // window.location.href = (`http://188.103.137.104/api/cmdb_order/filedown/${e}`)
};
// 数据组数据录入
const dataEntering = () => {
  ElMessageBox.confirm('重新录入数据后请核实录入是否成功，成功后审批通过工单', '确认需重新录入申请数据么？', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning',
    center: true
  }).then(() => {
    let data = {
      device: state.updateDevice,
      hash_value: state.updateFileHash,
      order_id: state.presentOrderId
    };
    dataUpdate(data).then(res => {
      if (res.data.code == 1) {
        showMessage({
          type: 'success',
          message: '数据录入成功',
          center: true
        });
      } else {
        showMessage({
          type: 'error',
          message: res.data.msg,
          center: true
        });
      }
    });
  });
};
// 数据组数据更新
const updateData = () => {
  ElMessageBox.confirm('重新更新数据后请核实更新是否成功，成功后审批通过工单', '确认需再次更新申请数据么？', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning',
    center: true
  }).then(() => {
    let data = {
      device: state.updateDevice,
      hash_value: state.updateFileHash,
      order_id: state.presentOrderId
    };
    dataUpdate(data).then(res => {
      if (res.data.code == 1) {
        showMessage({
          type: 'success',
          message: '数据更新成功',
          center: true
        });
      } else {
        showMessage({
          type: 'error',
          message: res.data.msg,
          center: true
        });
      }
    });
  });
};
// 数据组审核通过
const dataAudit = () => {
  state.groupAuditVisible = true;
};
// 详情专业组审核通过
const auditPass = () => {
  state.auditVisible = true;
  state.specialtyOpinion = '';
  state.specialtyGroupDia = 'specialtyPass';
};
// 详情专业组驳回
const specialtyReject = () => {
  state.auditVisible = true;
  state.specialtyOpinion = '';
  state.specialtyGroupDia = 'specialtyReject';
};
// 专业组审核意见提交
const subAudit = () => {
  if (state.specialtyGroupDia == 'specialtyReject') {
    let data = {
      id: state.userId,
      role_names: [state.role],
      audit_opinion: state.specialtyOpinion
    };
    specialtyRejectOrder(state.presentOrderId, data).then(res => {
      if (res.data.code == 1) {
        showMessage({
          type: 'success',
          message: '工单已驳回',
          center: true
        });
      }
    });
  } else {
    let data = {
      id: state.userId,
      role_names: [state.role],
      audit_opinion: state.specialtyOpinion,
      file_id: state.deviceList[0],
      check_status: state.acceptanceList
    };
    specialtyPassOrder(state.presentOrderId, data).then(res => {
      if (res.data.code == 1) {
        showMessage({
          type: 'success',
          message: '审核已通过',
          center: true
        });
      }
    });
    let dataTwo = {
      device: state.updateDevice,
      hash_value: state.updateFileHash,
      order_id: state.presentOrderId
    };
    dataUpdate(dataTwo).then(res => {
      if (res.data.code == 1) {
        console.log('CMDB录入');
        showMessage({
          type: 'success',
          message: '数据更新成功',
          center: true
        });
      } else {
        showMessage({
          type: 'error',
          message: res.data.msg,
          center: true
        });
      }
    });
  }
  state.auditVisible = false;
  state.show = 'table';
  getSpecialtyAgent();
  getSpecialtyDone();
};
// 详情CRE审核通过
// creAudit(){
//     console.log(state.acceptanceList,state.deviceList);
//     state.groupAuditVisible = true
// },
// 审核通过意见提交
const subGroupAudit = () => {
  if (state.role === 'CMDB管理流程—数据组') {
    let data = {
      id: state.userId,
      role_names: [state.role],
      audit_opinion: state.auditOpinion
    };
    dataPassOrder(state.presentOrderId, data).then(res => {
      if (res.data.code == 1) {
        showMessage({
          type: 'success',
          message: '审核已通过',
          center: true
        });
      }
      getDataAgent();
      getDataDone();
    });
  }
  // else if(state.role === 'CRE组'){
  //     let data = {
  //         'id':Number(state.userId),'role_names':[state.role],'audit_opinion':state.auditOpinion,
  //         'file_id':state.deviceList[0],'check_status':state.acceptanceList
  //         }
  //     crePassOrder(state.presentOrderId,data).then((res)=>{
  //         if(res.data.code == 1){
  //              showMessage({ type: "success", message: "审核已通过", center: true });
  //         }
  //          getCreAgent()
  //          getCreDone()
  //     })
  // }
  state.groupAuditVisible = false;
  state.show = 'table';
};
// 数据组审核通过
const dataAuditTwo = () => {
  state.groupAuditVisible = true;
};

const showMessage = msgConfig => {
  ElMessage.closeAll();
  ElMessage(msgConfig);
};

onMounted(() => {
  if (sessionStorage.getItem('activeName')) {
    state.activeName = sessionStorage.getItem('activeName');
  }
  state.role = sessionStorage.getItem('roleName');
  state.userId = sessionStorage.getItem('role_id');
  if (route.params.name) {
    state.activeName = route.params.name;
  }
  if (state.role === 'CMDB管理流程—工程组') {
    state.uploadGroup = 'CMDB管理流程—工程组';
    getEngineeringAgent();
    getEngineeringDone();
  } else if (state.role === 'CMDB管理流程—网络组' || state.role === 'CMDB管理流程—主机组' || state.role === 'CMDB管理流程—存储组' || state.role === 'CMDB管理流程—云OS（虚拟化）组' || state.role === 'CMDB管理流程—数据库组') {
    state.uploadGroup = '专业组';
    getSpecialtyAgent();
    getSpecialtyDone();
  } else if (state.role === 'CMDB管理流程—数据组') {
    getDataAgent();
    getDataDone();
  } else {
    state.loading = false;
    state.loadingTwo = false;
  }
  // else if(state.role === 'CRE组'){
  //     state.getCreAgent()
  //     state.getCreDone()
  // }
  $bus.on('changeShowTip', rejectFillTips => {
    state.rejectFillTips = rejectFillTips;
    $forceUpdate();
  });
  getSelectList();
});

watch(
  () => state.activeName,
  val => {
    sessionStorage.setItem('activeName', val);
  }
);
</script>

<style lang="scss" scoped>
.l-pagination {
  display: flex;
  justify-content: center;
}
.el-tab-pane {
  background-color: #fff;
}
.big-box {
  width: 100%;
  background: #e9ebec;
  .header-box {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
    background: #fff;
    font-size: 16px;
    :deep(.el-breadcrumb) {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
    }
  }
  :deep(.el-table tbody) tr:hover > td {
    background: transparent !important;
  }
  .filename-box {
    cursor: pointer;
    color: #448ef7;
    margin-bottom: 4px;
  }
  .content-box {
    width: 100%;
    background: #e9ebec;
    padding: 15px;
    :deep(.el-tabs__item) {
      padding: 0 15px;
    }
    :deep(.el-tabs--border-card) > .el-tabs__header .el-tabs__item.is-active {
      color: #1890ff;
    }
    :deep(.el-tabs--border-card) > .el-tabs__content {
      padding: 30px;
    }
    .select-box {
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      position: relative;
      :deep(.el-date-editor) .el-range-separator {
        color: rgba(0, 0, 0, 0.25);
      }
      .chos-box1 {
        margin-right: 25px;
        span {
          display: inline-block;
          width: 60px;
        }
      }
      .chos-box11 {
        margin-right: 25px;
        span {
          display: inline-block;
          width: 74px;
        }
      }
      .chos-box2 {
        margin-right: 25px;
        span {
          display: inline-block;
          width: 60px;
        }
      }
      .select-box1 {
        width: 420px;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          width: 115px;
        }
        :deep(.el-date-editor--daterange) .el-input__inner {
          width: 250px;
          height: 32px;
        }
        :deep(.el-date-editor) .el-range__icon {
          line-height: 24px;
        }
        :deep(.el-date-editor) .el-range-separator {
          line-height: 24px;
        }
        :deep(.el-date-editor) .el-range__close-icon {
          line-height: 24px;
        }
      }
      :deep(.el-input--small) .el-input__inner {
        width: 150px !important;
      }
      .button-query {
        width: 150px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        .button2 {
          width: 65px;
          height: 30px;
          background: #1890ff;
          border-radius: 2px;
          border: 0;
          color: #fff;
          font-size: 14px;
        }
        .button3 {
          width: 65px;
          height: 30px;
          background: #fff;
          border-radius: 2px;
          border: 1px solid #d9d9d9;
          color: rgba(0, 0, 0, 0.65);
          font-size: 14px;
          margin-right: 15px;
        }
      }
    }
    .table-box {
      width: 100%;
      height: 100%;
      background: #fff;
    }
    .role-box {
      width: 100%;
      .detail-box {
        width: 100%;
        .reject-content {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          .reject-header {
            width: 100%;
            height: 160px;
            border-bottom: 1px solid #e8e8e8;
            position: relative;
            .icon-box {
              position: absolute;
              text-align: center;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              .icon-item {
                width: 60px;
                height: 60px;
              }
              h4 {
                height: 50px;
                line-height: 55px;
                margin: 0;
              }
            }
          }
        }
        .progress-content {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          .line-box {
            width: 100%;
            margin-top: 15px;
            height: 1px;
            background: #e9e9e9;
          }
        }
        .pass-content {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          .pass-header {
            width: 100%;
            height: 160px;
            border-bottom: 1px solid #e8e8e8;
            position: relative;
            .icon-title {
              position: absolute;
              text-align: center;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              .icon-box {
                width: 100%;
                height: 60px;
                font-size: 60px;
                color: #74c041;
              }
              h4 {
                height: 50px;
                line-height: 55px;
                margin: 0;
              }
            }
          }
        }
        .cancel-content {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          .cancel-header {
            width: 100%;
            height: 160px;
            border-bottom: 1px solid #e8e8e8;
            position: relative;
            .icon-box {
              position: absolute;
              text-align: center;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              .icon-item {
                width: 60px;
                height: 60px;
              }
              h4 {
                height: 50px;
                line-height: 55px;
                margin: 0;
              }
            }
          }
        }
        .rejectFillAg-content {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          .title-box {
            width: 100%;
            height: 80px;
            p {
              width: 100%;
              height: 70px;
              line-height: 70px;
              padding: 0 0 0 25px;
              margin: 0;
            }
            .line-box {
              width: 100%;
              height: 1px;
              background: #e9e9e9;
            }
          }
        }
        .frame-box {
          width: 100%;
          background: #e9ebec;
          .content-box {
            width: 100%;
            padding: 50px 0 30px 0;
            border-radius: 4px;
            background: #fff;
            position: relative;
            .create-header {
              width: 80%;
              height: 60px;
              position: absolute;
              left: 50%;
              transform: translate(-51%, 0);
              :deep(.el-steps--horizontal) {
                position: relative;
              }
              :deep(.el-step__icon) {
                width: 20px;
                height: 20px;
              }
              :deep(.el-step__icon-inner) {
                color: #fff;
              }
              :deep(.el-step__head) .is-finish .el-step__icon-inner {
                color: #fff;
              }
              :deep(.el-step__head) .is-finish .el-step__icon.is-text {
                background: #fff;
                border-color: #448ef7;
              }
              :deep(.el-step__head) .is-process .el-step__icon.is-text {
                border-color: #3d97ff;
                background: #3d97ff;
              }
              :deep(.el-step__head) .is-process .el-step__line {
                height: 1px;
              }
              :ddep(.el-step__line) {
                color: #333333;
              }
              :deep(.el-step__head) .is-success {
                color: #333;
                border-color: rgba(0, 0, 0, 0.15);
              }
              :deep(.el-step__title) .is-success {
                color: #333333;
              }
              :deep(.el-step__head) .is-success .el-step__icon.is-text {
                border-color: #3d97ff;
                background: transparent;
              }
              :deep(.el-step__head) .is-success .el-step__icon-inner {
                color: #1890ff;
              }
              :deep(.el-step__title) .is-process {
                color: #333;
              }
              :deep(.el-step__title) .is-finish {
                color: #333;
              }
              :deep(.el-step__head) .is-wait .el-step__line {
                background: rgba(0, 0, 0, 0.15);
              }
              :deep(.el-step__title) {
                width: 140px;
                font-size: 14px;
                line-height: 38px;
                position: absolute;
                left: 24px;
                top: -8px;
              }
              :deep(.el-step__title) .is-wait {
                color: #8c8c8c;
              }
              :deep(.el-step).is-horizontal .el-step__line {
                height: 1px;
                top: 11px;
                width: 28%;
                left: 64%;
              }
              :deep(.el-step__line-inner) {
                border-color: rgba(0, 0, 0, 0.05);
              }
              :deep(.el-step__head) .is-wait .el-step__icon.is-text {
                background: rgba(0, 0, 0, 0.15);
                opacity: 1;
              }
              :deep(.el-step__head) .is-wait .el-step__icon-inner {
                color: rgba(0, 0, 0, 0.25);
              }
            }
            .title-box {
              width: 100%;
              margin-top: 50px;
              height: 80px;
              p {
                width: 100%;
                height: 70px;
                line-height: 70px;
                padding: 0 0 0 25px;
                margin: 0;
              }
              .line-box {
                width: 100%;
                height: 1px;
                background: #e9e9e9;
              }
            }
            .form-box {
              width: 100%;
            }
          }
          .content_tip {
            width: 100%;
            height: 600px;
            padding-top: 70px;
            background: #fff;
            text-align: center;
            .icon-box {
              width: 100%;
              height: 72px;
              font-size: 60px;
              color: #74c041;
            }
            h4 {
              margin: 15px;
            }
            .tip-text {
              font-size: 14px;
              color: #8c8c8c;
              .link-box {
                display: inline-block;
                color: #448ef7;
                cursor: pointer;
              }
            }
          }
        }
        .specialty-content {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          .pass-header {
            width: 100%;
            height: 160px;
            position: relative;
            .icon-title {
              position: absolute;
              text-align: center;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              .icon-box {
                width: 100%;
                height: 60px;
                font-size: 60px;
                color: #74c041;
              }
              h4 {
                height: 50px;
                line-height: 55px;
                margin: 0;
              }
            }
          }
          .line-box {
            width: 100%;
            margin-top: 15px;
            height: 1px;
            background: #e9e9e9;
          }
        }
        .button-box {
          width: 100%;
          height: 50px;
          position: relative;
          .button-content {
            width: 190px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-between;

            .button5 {
              width: 88px;
              height: 36px;
            }
          }
        }
        .button-box1 {
          width: 100%;
          height: 50px;
          position: relative;
          .button-content {
            width: 90px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-between;
            .button1 {
              width: 88px;
              height: 36px;
              background: #1890ff;
              border-radius: 2px;
              border: 0;
              color: #fff;
              font-size: 14px;
            }
          }
        }
        .confirm-box {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          .pass-header {
            width: 100%;
            height: 160px;
            position: relative;
            .icon-title {
              position: absolute;
              text-align: center;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              .icon-box {
                width: 100%;
                height: 60px;
                font-size: 60px;
                color: #74c041;
              }
              h4 {
                height: 50px;
                line-height: 55px;
                margin: 0;
              }
            }
          }
          .line-box {
            width: 100%;
            margin-top: 15px;
            height: 1px;
            background: #e9e9e9;
          }
          .reject-detail {
            width: 100%;
            padding: 30px 0;
            border-bottom: 1px solid #e8e8e8;
            .detail-header {
              color: rgba(0, 0, 0, 0.85);
              font-size: 14px;
              font-weight: 600;
              font-family: PingFangSC-Medium-, PingFangSC-Medium;
              height: 32px;
            }
            .detail-item {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              div {
                min-width: 32.5%;
                max-width: 33.3%;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                :nth-child(1) {
                  display: inline-block;
                  font-family: PingFangSC-Regular-, PingFangSC-Regular;
                  color: rgba(0, 0, 0, 0.85);
                }
                :nth-child(2) {
                  display: inline-block;
                  font-family: HelveticaNeue-, HelveticaNeue;
                  color: rgba(0, 0, 0, 0.65);
                }
              }
            }
            .datadetail-box {
              width: 100%;
              height: 30px;
              padding-left: 65%;
              .detail-tips {
                display: flex;
                font-size: 14px;
                color: #8c8c8c;
              }
            }
          }
          .button-cre {
            height: 60px;
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            :deep(.el-button--mini),
            .el-button--small {
              font-size: 14px;
            }
          }
          .operation-box {
            width: 100%;
            padding-top: 30px;
            height: 250px;
            border-bottom: 1px solid #e9ebec;
            .detail-header {
              color: rgba(0, 0, 0, 0.85);
              font-size: 14px;
              font-weight: 600;
              font-family: PingFangSC-Medium-, PingFangSC-Medium;
              height: 32px;
            }
            .operation-file {
              width: 100%;
              height: 90px;
              display: flex;
              .left-file {
                width: 6%;
                font-size: 14px;
                line-height: 34px;
                color: rgba(0, 0, 0, 0.85);
              }
              .right-file {
                width: 90%;
                .filename-box {
                  width: 25%;
                  height: 32px;
                  line-height: 32px;
                  font-size: 14px;
                  cursor: pointer;
                  color: #448ef7;
                  margin-bottom: 4px;
                }
                .detail-tips {
                  display: flex;
                  line-height: 22px;
                  font-size: 14px;
                  color: #8c8c8c;
                }
              }
            }
            .check-box {
              width: 100%;
              :deep(.el-checkbox__input).is-disabled + span.el-checkbox__label {
                color: rgba(0, 0, 0, 0.65);
              }
            }
          }
        }
        .cre-content {
          width: 100%;
          background: #fff;
          border-radius: 4px;
          padding: 15px;
          .line-box {
            width: 100%;
            margin-top: 15px;
            height: 1px;
            background: #e9e9e9;
          }
          .pass-header {
            width: 100%;
            height: 160px;
            position: relative;
            .icon-title {
              position: absolute;
              text-align: center;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              .icon-box {
                width: 100%;
                height: 60px;
                font-size: 60px;
                color: #74c041;
              }
              h4 {
                height: 50px;
                line-height: 55px;
                margin: 0;
              }
            }
          }
          .order-operation {
            width: 100%;
            padding: 30px 0;
            // height: 350px;
            border-bottom: 1px solid #e9ebec;
            .detail-header {
              color: rgba(0, 0, 0, 0.85);
              font-size: 14px;
              font-weight: 600;
              font-family: PingFangSC-Medium-, PingFangSC-Medium;
              height: 32px;
            }
            .order-file {
              width: 100%;
              height: 150px;
              background: #ffffff;
              border-radius: 2px;
              border: 1px solid #d9d9d9;
              .file-title {
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                font-weight: 600;
                color: #333;
                padding-left: 10px;
                background: #eaecef;
                border-radius: 1px 1px 0px 0px;
              }
              .network-file {
                width: 100%;
                height: 90px;
                padding: 10px;
                .upload-title {
                  height: 36px;
                  line-height: 36px;
                  font-size: 14px;
                  font-family: PingFangSC-Regular-, PingFangSC-Regular;
                  font-weight: normal;
                  color: rgba(0, 0, 0, 0.85);
                  padding: 0;
                  margin: 0;
                }
                .upload-demo {
                  display: flex;
                  align-content: center;
                  :deep(.el-upload-list__item):first-child {
                    margin-top: 5px;
                  }
                  :deep(.el-upload-list__item-name) {
                    border-bottom: 1px solid #1890ff;
                  }
                  .button1 {
                    width: 120px;
                    color: rgba(0, 0, 0, 0.65);
                    font-size: 14px;
                    background: #f7f7f7;
                    border-radius: 2px;
                    border: 1px solid #d9d9d9;
                    margin-right: 20px;
                  }
                  :deep(.el-icon-upload2):before {
                    margin-right: 5px;
                  }
                }
              }
            }
            .file-tips {
              width: 100%;
              height: 24px;
              line-height: 24px;
              font-size: 14px;
              color: #8c8c8c;
              margin-bottom: 20px;
            }
            .file_detailbox {
              width: 100%;
              height: 40px;
              display: flex;
              .left-file {
                width: 6%;
                font-size: 14px;
                line-height: 34px;
                color: rgba(0, 0, 0, 0.85);
              }
              .right-file {
                min-width: 10%;
                font-size: 14px;
                line-height: 34px;
                color: #448ef7;
              }
            }
            .check-box {
              width: 100%;
              .detail-tips {
                display: flex;
                font-size: 14px;
                color: #8c8c8c;
              }
            }
          }
          .button-cre {
            height: 60px;
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            :deep(.el-button--mini),
            .el-button--small {
              font-size: 14px;
            }
          }
        }
      }
    }
    .el-body {
      :deep(.el-dialog__body) {
        padding: 0;
        border-bottom: 1px solid #e9e9e9;
      }
      .line-box {
        width: 100%;
        height: 15px;
        border-bottom: 1px solid #e9e9e9;
        margin-bottom: 35px;
      }
      .dialog-cont {
        width: 100%;
        min-height: 50vh;
        padding: 0 20px;
        p {
          height: 40px;
          font-size: 14px;
          font-family: PingFang SC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.85);
        }
        .input-box {
          width: 100%;
          display: flex;
          min-height: 300px;
        }
        .input-title {
          width: 13%;
          height: 36px;
          line-height: 36px;
          .title-content {
            display: inline-block;
            width: 80%;
            font-size: 14px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.85);
          }
        }
      }
    }
  }
  .order-operation {
    width: 100%;
    padding: 30px 0;
    // height: 350px;
    border-bottom: 1px solid #e9ebec;
    .detail-header {
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      font-weight: 600;
      font-family: PingFangSC-Medium-, PingFangSC-Medium;
      height: 32px;
    }
    .order-file {
      width: 100%;
      height: 150px;
      background: #ffffff;
      border-radius: 2px;
      border: 1px solid #d9d9d9;
      .file-title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        padding-left: 10px;
        background: #eaecef;
        border-radius: 1px 1px 0px 0px;
      }
      .network-file {
        width: 100%;
        height: 90px;
        padding: 10px;
        .upload-title {
          height: 36px;
          line-height: 36px;
          font-size: 14px;
          font-family: PingFangSC-Regular-, PingFangSC-Regular;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.85);
          padding: 0;
          margin: 0;
        }
        .upload-demo {
          display: flex;
          align-content: center;
          :deep(.el-upload-list__item):first-child {
            margin-top: 5px;
          }
          :deep(.el-upload-list__item-name) {
            border-bottom: 1px solid #1890ff;
          }
          .button1 {
            width: 120px;
            color: rgba(0, 0, 0, 0.65);
            font-size: 14px;
            background: #f7f7f7;
            border-radius: 2px;
            border: 1px solid #d9d9d9;
            margin-right: 20px;
          }
          :deep(.el-icon-upload2):before {
            margin-right: 5px;
          }
        }
      }
    }
    .file-tips {
      width: 100%;
      height: 24px;
      line-height: 24px;
      font-size: 14px;
      color: #8c8c8c;
      margin-bottom: 20px;
    }
    .file_detailbox {
      width: 100%;
      height: 40px;
      display: flex;
      .left-file {
        width: 6%;
        font-size: 14px;
        line-height: 34px;
        color: rgba(0, 0, 0, 0.85);
      }
      .right-file {
        min-width: 10%;
        font-size: 14px;
        line-height: 34px;
        color: #448ef7;
      }
    }
    .check-box {
      width: 100%;
      .detail-tips {
        display: flex;
        font-size: 14px;
        padding-top: 20px;
        color: #8c8c8c;
      }
    }
  }
  .reject-header {
    width: 100%;
    height: 160px;
    position: relative;
    .icon-box {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .icon-item {
        width: 60px;
        height: 60px;
      }
      h4 {
        height: 50px;
        line-height: 55px;
        margin: 0;
      }
    }
  }
  .cancel-header {
    width: 100%;
    height: 160px;
    // border-bottom: 1px solid #E8E8E8;
    position: relative;
    .icon-box {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .icon-item {
        width: 60px;
        height: 60px;
      }
      h4 {
        height: 50px;
        line-height: 55px;
        margin: 0;
      }
    }
  }
}
</style>
