<template>
  <div class="item-box" v-loading="loading">
    <div class="is-none" v-show="!loading && itemList.list.length === 0">暂无数据</div>
    <div>
      <item-view
        class="item"
        v-for="item in itemList.list"
        @click="changePark(item)"
        :isActive="selectPark === item.id"
        :itemData="item"></item-view>
    </div>
  </div>
</template>

<script>
import api from '@/api/resource';
import { defineComponent, reactive, ref, watch } from 'vue';
import itemView from './components/item';
export default defineComponent({
  props: {
    isShow: {
      type: Boolean,
      default: false
    },
    cloud: {
      type: String,
      default: ''
    }
  },
  components: {
    itemView
  },
  setup(props, context) {
    let itemList = reactive({
      list: []
    });
    let loading = ref(false);

    function getData() {
      itemList.list = [];
      loading.value = true;
      api
        .findRelatedPool({
          cloud: props.cloud
        })
        .then(({ data: { data } }) => {
          itemList.list = data
            .filter(t => t !== 'null')
            .map(t => {
              const temp = t.split('-');
              return {
                area: temp[0],
                name: temp[temp.length - 1],
                pool: t,
                room: '' //'CCC'//t.room
              };
            });
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });
    }
    if (props.isShow) {
      getData();
    }
    watch(
      () => props.isShow,
      show => {
        if (show) {
          getData();
        }
      }
    );
    watch(
      () => props.cloud,
      cloud => {
        if (props.isShow) {
          getData();
        }
      }
    );
    let selectPark = ref(null);
    function changePark(item) {
      selectPark = item.id;
      context.emit('selectItem', item);
    }
    return {
      loading,
      itemList,
      selectPark,
      changePark
    };
  }
});
</script>

<style lang="scss" scoped>
.loading {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
.item-box {
  width: 100%;
  height: 100%;
  min-width: 1184px;
  overflow: auto;
  .is-none {
    padding: 168px 0;
    font-size: 18px;
    text-align: center;
  }
}
.item {
  margin-right: 24px;
  margin-bottom: 24px;
}
</style>
