<template>
  <div class="form-item">
    <!-- <a-input-group compact> -->
    <el-select
      size="small"
      style="width: 90px"
      @change="onChange"
      v-model="relationship"
    >
      <el-option
        v-for="operation in config.operation"
        :key="operation.code"
        :label="operation.name"
        :value="operation.code"
      ></el-option>
    </el-select>

    <el-select
      size="small"
      v-if="config.attrType === 'enum'"
      style="width: calc(100% - 98px)"
      @change="onChangeData"
      mode="multiple"
      placeholder="请选择"
      v-model="selectData.list"
    >
      <el-option
        v-for="attrEnum in config.attrEnum"
        :key="attrEnum"
        :label="attrEnum"
        :value="attrEnum"
      ></el-option>
    </el-select>

    <el-input
      size="small"
      v-else
      v-model="inputData"
      @input="onInput"
      :placeholder="placeholder"
      style="width: calc(100% - 98px)"
    />
    <!-- </a-input-group> -->
  </div>
</template>

<script>
export default {
  props: {
    value: null,
    operation: "",
    config: {
      type: Object,
      default: () => {
        return {
          attr: "",
          attrEnum: null,
          attrName: "",
          attrType: "",
          operation: [],
        };
      },
    },
  },

  data() {
    return {
      relationship: "",
      inputData: "",
      selectData: {
        list: [],
      },
      placeholder: "输入关键词",
    };
  },

  created() {
    if (this.config.operation.length > 0) {
      this.relationship = this.config.operation[0].code;

      this.$emit("updateOperation", this.relationship, this.config);
    }

    this.onChange();
  },

  computed: {
    xconfig() {
      return this.config;
    },
    xoperation() {
      return this.operation;
    },
    xValue() {
      return this.value;
    },
  },

  methods: {
    onInput() {
      this.$emit("updateValue", this.inputData, this.config);
    },

    onChangeData(value) {
      this.selectData.list = value;
      this.$emit("updateValue", value, this.config);
    },

    onChange() {
      if (
        this.relationship === "eq" ||
        this.relationship === "neq" ||
        this.relationship === "contain"
      ) {
        this.placeholder = "输入关键词，多值用英文逗号隔开";
      } else {
        this.placeholder = "输入关键词";
      }
      this.$emit("updateOperation", this.relationship, this.config);
    },
  },

  watch: {
    xValue: {
      handler(newData) {
        if (this.config.attrType === "enum") {
          this.selectData.list = newData;
        } else {
          this.inputData = newData;
        }
      },
      deep: true,
    },

    xconfig: {
      handler(newConfig) {
        if (newConfig.operation.length > 0) {
          this.relationship = newConfig.operation[0].code;
          this.$emit("updateOperation", this.relationship.value);
        }
      },
      deep: true,
    },

    xoperation: {
      handler(newData) {
        if (newData === "eq" || newData === "neq" || newData === "contain") {
          this.placeholder = "输入关键词，多值用英文逗号隔开";
        } else {
          this.placeholder = "输入关键词";
        }
        this.relationship = newData;
      },
      deep: true,
    },
  },
};
</script>
