<template>
  <div class="render-from">
    <el-form :model="state.formData" label-position="top" v-bind="state.formItemLayout">
      <el-row :gutter="16">
        <el-col :span="8" v-for="attrItem in props.attrTypeList" :key="attrItem.attr">
          <el-form-item :code="attrItem.attr" :label="attrItem.attrName">
            <!-- <form-item
              :key="itemKey"
              :value="formData[attrItem.attr].value"
              @updateValue="updateValue"
              :operation="formData[attrItem.attr].value"
              @updateOperation="updateOperation"
              :config="attrItem"
            ></form-item> -->
            <el-select
              :key="'select' + state.itemKey"
              size="small"
              style="width: 90px"
              v-model="state.formData[attrItem.attr].operation">
              <el-option
                v-for="operation in attrItem.operation"
                :key="operation.code"
                :label="operation.name"
                :value="operation.code"></el-option>
            </el-select>

            <el-select
              :key="'select2' + state.itemKey"
              size="small"
              v-if="attrItem.attrType === 'enum'"
              style="width: calc(100% - 98px)"
              mode="multiple"
              placeholder="请选择"
              v-model="state.formData[attrItem.attr].value">
              <el-option
                v-for="attrEnum in attrItem.attrEnum"
                :key="attrEnum"
                :label="attrEnum"
                :value="attrEnum"></el-option>
            </el-select>

            <el-input
              :key="'input' + state.itemKey"
              size="small"
              v-else
              @input="handleChange"
              v-model="state.formData[attrItem.attr].value"
              :placeholder="
                attrItem.operation[0].code == 'eq' ||
                attrItem.operation[0].code == 'neq' ||
                attrItem.operation[0].code == 'contain'
                  ? '输入关键词，多值用英文逗号隔开'
                  : '输入关键词'
              "
              style="width: calc(100% - 98px)" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <div class="btn-list">
      <a class="btn" @click="resettingHandle">重置</a>
      <a class="btn search" @click="searchHandle">搜索</a>
    </div>
  </div>
</template>

<script setup>
import { computed, reactive, watch } from 'vue';

const props = defineProps({
  attrTypeList: {
    type: Array,
    default: () => {
      return [];
    }
  }
});

const emits = defineEmits(['onSearch', 'onReset']);

const state = reactive({
  itemKey: new Date().getTime(),
  isUpdate: false,
  formData: {},
  formItemLayout: {},
  placeholder: '输入关键词'
});

const xattrTypeList = computed(() => {
  return props.attrTypeList;
});

const setIsUpdate = v => {
  state.isUpdate = v;
};

const setFormData = data => {
  Object.keys(data).forEach(item => {
    state.formData[item] = {
      value: data[item].value,
      operation: data[item]?.operation
    };
  });
  state.itemKey = new Date().getTime();
  state.isUpdate = true;
};

const handleChange = () => {};

const getDefaultData = type => {
  const defaultData = {
    string: '',
    enum: []
  };
  return defaultData[type] || null;
};

const initForm = configs => {
  let tempData = {};
  configs.forEach(t => {
    tempData[t.attr] = {
      value: getDefaultData(t.attrType),
      operation: t.operation[0].code
    };
  });
  if (!state.isUpdate) {
    state.formData = tempData;
  }
};

const searchHandle = () => {
  emits('onSearch', state.formData);
};

const onSendParams = () => {
  return state.formData;
};

const searchHandleNO = noChangePage => {
  emits('onSearch', state.formData, noChangePage);
};

const resettingHandle = () => {
  props.attrTypeList.forEach(t => {
    let operation = '';
    if (t.operation.length > 0) {
      operation = t.operation[0].code;
    }
    state.formData[t.attr] = {
      value: getDefaultData(t.attrType),
      operation
    };
  });
  emits('onReset', state.formData);
};

watch(
  () => props.attrTypeList,
  configs => {
    initForm(configs);
  }
);

defineExpose({
  onSendParams,
  isUpdate: state.isUpdate,
  setFormData,
  searchHandleNO,
  setIsUpdate
});
</script>

<style lang="scss">
.btn-list {
  text-align: right;
  .btn {
    display: inline-block;
    width: 65px;
    height: 32px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 32px;
    text-align: center;
    margin: 0 4px;
    &.search {
      background: #00a6f9;
      color: #ffffff;
    }
  }
}
</style>
