<template>
  <div class="view-details">
    <a class="back-btn" @click="backHandle">
      <el-icon><ArrowLeftBold /></el-icon>
      返回上一页
    </a>

    <div class="details-main" @click="handleUFElelent">
      <h3 class="label">{{ rackLabel }}</h3>

      <div class="details-body">
        <el-row type="flex" :gutter="20" class="flex-row" justify="center" align="top">
          <el-col :span="8" style="height: 100%">
            <div class="container-view">
              <div class="container">
                <div class="scale">
                  <div
                    :class="{ active: selectUIndex <= item && selectUIndex + holdCountU - 1 >= item }"
                    class="scale-item"
                    v-for="item in 48">
                    <span class="text">{{ item }}U</span>
                  </div>
                </div>

                <div class="shelf">
                  <div class="space-u">
                    <div
                      :class="{ active: selectIndexOperate == item }"
                      class="space-u-item"
                      v-for="item in fortyEight"
                      @click="handleSpaceU(item)">
                      <div>
                        <el-dropdown ref="dropdown" trigger="click" style="width: 100%">
                          <div class="set-container" style="color: #999; width: 100%; text-align: center">U位空闲</div>
                          <template #dropdown>
                            <el-menu style="width: 160px; background-color: rgb(255, 255, 255, 0.9)">
                              <div style="text-align: center; line-height: 30px; font-size: 14px">{{ item }}</div>
                              <div
                                style="
                                  text-align: center;
                                  font-size: 14px;
                                  padding-bottom: 10px;
                                  border-bottom: 1px solid #ccc;
                                ">
                                U位空闲
                              </div>
                              <el-menu-item
                                style="
                                  display: flex;
                                  justify-content: center;
                                  font-size: 16px;
                                  color: #0e9cf3;
                                  line-height: 20px;
                                "
                                key=""
                                @click="handleDeviceGrounding(item)">
                                设备上架
                              </el-menu-item>
                            </el-menu>
                          </template>
                        </el-dropdown>
                      </div>
                    </div>
                  </div>

                  <device-item
                    class="device-item"
                    v-for="(item, index) in tableData.list"
                    :key="item.instanceId"
                    :itemData="item"
                    :style="getStyle(item)"
                    @click="selectDevice(item.startPositionOfRu, item.holdCountOfRu)"></device-item>
                </div>
              </div>
            </div>
          </el-col>
          <el-col :span="16" id="rightTableBox" style="height: 100%; overflow-y: hidden">
            <div class="btn-wart" v-if="roleNamesStr && roleNamesStr.includes('现场组')">
              <el-button type="danger" :disabled="selectedURowKeys <= 0" @click="handleOffShelf">下架</el-button>
            </div>
            <!-- <template #operation="{ record }">
                <a-tooltip placement="bottom">
                  <template #title>
                    <span>查看设备</span>
                  </template>
                  <a @click="showDeviceModal(record)" class="btn device">
                  </a>
                </a-tooltip>
                <a-tooltip placement="bottom">
                  <template #title>
                    <span>查看业务</span>
                  </template>
                  <a @click="showBussinessModal(record)" class="btn business">
                  </a>
                </a-tooltip>
              </template> -->
            <div
              class="table-container"
              :style="{ height: roleNamesStr && roleNamesStr.includes('现场组') ? 'calc(100% - 40px)' : '100%' }">
              <el-table
                class="my-table-out"
                rowKey="key"
                id="myTable"
                :data="tableData.list"
                :row-class-name="setRowClass"
                border
                @selection-change="onSelectUChange">
                <el-table-column v-if="roleNamesStr && roleNamesStr.includes('现场组')" type="selection" width="55" />
                <el-table-column
                  v-for="col in columns"
                  :prop="col.dataIndex"
                  :key="col.dataIndex"
                  :label="col.title"
                  :width="col.width"
                  align="center"
                  :fixed="col.dataIndex == 'operate' ? 'right' : null">
                  <template #default="{ row, columns, $index }">
                    <template v-if="col.dataIndex == 'operate' && roleNamesStr && roleNamesStr.includes('现场组')">
                      <el-button type="danger" size="small" @click="handleOffShelf(row)">下架</el-button>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <div class="mask" v-show="showDevice || showBussiness"></div>
    <div v-show="showDevice" class="modal" width="740px">
      <div class="head">
        <h3 class="title">设备详情</h3>
        <div class="bread-crumbs">
          <span
            class="crumbs-item"
            v-for="(crumb, index) in showCrumbsList.list"
            :key="crumb.instanceId"
            @click="crumbHandle(crumb, index)">
            {{ crumb.name }}
          </span>
        </div>
        <a class="close-btn" @click="closeDeviceModal">×</a>
      </div>
      <div class="content-main">
        <el-form label-position="left">
          <el-row>
            <el-col :span="info.type === 'list' ? 24 : 12" v-for="info in deviceInfoList.list" :key="info.name">
              <el-form-item
                class="form-item"
                :label="info.property"
                :label-width="info.type === 'list' ? '16%' : '33%'"
                :style="{ width: info.type === 'list' ? '83%' : '58%' }">
                <div v-if="info.type === 'list'" class="btn-list">
                  <a class="btn-item" v-for="item in info.value" :key="item.instanceId" @click="showDeviceModal(item)">
                    {{ item.name }}
                  </a>
                </div>
                <div v-else class="value">{{ info.value }}</div>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </div>

    <div v-show="showBussiness" class="modal" width="740px">
      <div class="head">
        <h3 class="title">业务详情</h3>
        <div class="bread-crumbs">
          <span class="crumbs-item" v-for="crumb in showCrumbsList.list">{{ crumb.name }}</span>
        </div>
        <a class="close-btn" @click="closeBussinessModal">×</a>
      </div>
      <div class="content-main">
        <el-table class="bussiness-table" :data="bussinessData.list" border stripe>
          <el-table-column
            v-for="col in bussinesColumns"
            :prop="col.dataIndex"
            :key="col.dataIndex"
            :label="col.title"
            :width="col.width"></el-table-column>
        </el-table>
        <div class="l-pagination">
          <el-pagination
            @size-change="sizeChange"
            @current-change="currentChage"
            v-model:currentPage="pagination.current"
            :page-sizes="[10]"
            :page-size="10"
            layout="total, sizes, prev, pager, next, jumper"
            :total="pagination.total"
            background>
            >
          </el-pagination>
        </div>
      </div>
    </div>

    <el-dialog :title="selectUOperate" v-model="open" width="50%" :before-close="handleDeviceCancel">
      <template #footer>
        <el-form :model="formState" ref="tableFormRef" label-width="120px" :inline="false">
          <el-row :gutter="20">
            <el-col :span="20">
              <el-form-item label="设备生产商" prop="sbscs">
                <el-input v-model="formState.sbscs" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="设备型号" prop="xh">
                <el-input v-model="formState.xh" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="设备序列号" prop="sbscs">
                <el-input v-model="formState.sbscs" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="设备生产商" prop="xlh">
                <el-input v-model="formState.xlh" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="资产编号" prop="bh">
                <el-input v-model="formState.bh" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="机楼" prop="apartment">
                <el-input v-model="formState.apartment" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="机柜" prop="rack">
                <el-input v-model="formState.rack" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="机房" prop="room">
                <el-input v-model="formState.room" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="所属云平台" prop="cloud">
                <el-select ref="select" v-model="formState.cloud" style="width: 100%">
                  <el-option v-for="item in cloudList" :key="item" :value="item">{{ item }}</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="起始U位" prop="qsuw">
                <el-input v-model="formState.qsuw" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="占据U位" prop="zjuw">
                <el-input v-model="formState.zjuw" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="机房" prop="lx">
                <el-select ref="select" v-model="formState.lx" style="width: 100%">
                  <el-option v-for="item in deviceList" :key="item" :value="item">{{ item }}</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="数据中心" prop="roomBase">
                <el-input v-model="formState.roomBase" />
              </el-form-item>
            </el-col>
            <el-col :span="20">
              <el-form-item label="是否单电源" prop="sfddy">
                <el-radio-group v-model="formState.sfddy">
                  <el-radio label="1">是</el-radio>
                  <el-radio label="0">否</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <span>
          <el-button @click="handleDeviceCancel">取消</el-button>
          <el-button type="primary" @click="handleDeviceOk">确认</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import api from '@/api/resource';
import { ArrowLeftBold } from '@element-plus/icons-vue';
import { ElMessage, ElMessageBox } from 'element-plus';
import { defineComponent, nextTick, reactive, ref, watch } from 'vue';
import deviceItem from './components/deviceItem.vue';

export default defineComponent({
  props: {
    queryData: {
      type: Object,
      default: () => {
        return {
          cloud: '',
          rackId: '',
          room: ''
        };
      }
    },
    rackLabel: {
      type: String,
      default: '--'
    },
    rackObj: {
      type: Object,
      default: () => ({})
    }
  },
  emits: ['back'],
  components: {
    ArrowLeftBold,
    deviceItem
  },
  setup(props, context) {
    let loading = ref(true);

    let tableScroll = reactive({
      x: 2360,
      y: 460
    });

    /**
     * 获取用户角色 并转成字符串
     */
    let roleNamesStr = sessionStorage.getItem('roleNamesStr');

    let columns = [
      {
        key: 'cloud',
        dataIndex: 'cloud',
        title: '所属云平台',
        width: '200px'
      },
      {
        key: 'dataCenter',
        dataIndex: 'dataCenter',
        title: '数据中心',
        width: '200px'
      },
      {
        key: 'type',
        dataIndex: 'type',
        title: '设备类型',
        width: '100px'
      },
      {
        key: 'assetTags',
        dataIndex: 'assetTags',
        title: '资产编号',
        width: '200px'
      },
      {
        key: 'serialnumber',
        dataIndex: 'serialnumber',
        title: '设备序列号',
        width: '200px'
      },
      {
        key: 'manufacturer',
        dataIndex: 'manufacturer',
        title: '设备厂商',
        width: '200px'
      },
      {
        key: 'model',
        dataIndex: 'model',
        title: '设备型号',
        width: '200px'
      },
      {
        key: 'idcApartment',
        dataIndex: 'idcApartment',
        title: '机楼',
        width: '160px'
      },
      {
        key: 'idcRoom',
        dataIndex: 'idcRoom',
        title: '机房',
        width: '160px'
      },
      {
        key: 'idcRack',
        dataIndex: 'idcRack',
        title: '机柜',
        width: '140px'
      },
      {
        key: 'startPositionOfRu',
        dataIndex: 'startPositionOfRu',
        title: '起始U位',
        width: '100px'
      },
      {
        key: 'holdCountOfRu',
        dataIndex: 'holdCountOfRu',
        title: '占据U数',
        width: '100px'
      },
      {
        key: 'isSinglePower',
        dataIndex: 'isSinglePower',
        title: '是否单电源',
        width: '120px'
      },
      {
        key: 'instanceId',
        dataIndex: 'instanceId',
        title: '配置项编号',
        width: '200px'
      }
      // {
      //   key: 'operate',
      //   dataIndex: 'operate',
      //   title: '操作',
      //   width: '80px',
      //   fixed: 'right'
      // }
    ];

    if (roleNamesStr.includes('现场组')) {
      columns.push({
        key: 'operate',
        dataIndex: 'operate',
        title: '操作',
        width: '80px',
        fixed: 'right'
      });
    }

    let tableData = reactive({
      list: []
    });
    function getData(queryData) {
      loading.value = true;
      api
        .findDeviceByRack(queryData)
        .then(({ data: { data } }) => {
          tableData.list = data
            .map(t => {
              return {
                ...t,
                key: t.startPositionOfRu
              };
            })
            .sort((a, b) => parseInt(a.startPositionOfRu) - parseInt(b.startPositionOfRu));
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });
    }
    let tableBodyHeight = ref(100);
    let tableHeight = ref(100);
    function initHeight() {
      nextTick(() => {
        // console.log(document.querySelector('#rightTableBox').clientHeight)
        tableHeight.value = document.querySelector('#rightTableBox').clientHeight;
        tableScroll.y = document.querySelector('#rightTableBox').offsetHeight - 90;
        const headHeight = document.querySelector('#rightTableBox .el-table__header').offsetHeight;
        tableBodyHeight.value = tableHeight.value - headHeight;
      });
    }
    // getData(props.queryData)
    watch(props.queryData, queryData => {
      selectUIndex.value = -1;
      document.querySelector('#rightTableBox').scrollTop = 0;
      getData(queryData);
      initHeight();
    });

    function getStyle(item) {
      const start = (parseInt(item.startPositionOfRu) - 1) * 40;
      const height = parseInt(item.holdCountOfRu) * 40;
      return {
        bottom: `${start}px`,
        height: `${height}px`
      };
    }

    let showCrumbsList = reactive({
      list: []
    });

    let showBussiness = ref(false);
    let loadingBussiness = ref(false);
    let bussinessData = reactive({
      list: []
    });
    let pagination = reactive({
      current: 1,
      total: 0
    });

    function showBussinessModal(row) {
      showBussiness.value = true;
      loadingBussiness.value = true;
      api
        .findBussinessById(row.instanceId)
        .then(({ data: { data } }) => {
          showCrumbsList.list = [];
          bussinessData.list = data || [];
          pagination.total = bussinessData.list.length;
          loadingBussiness.value = false;
        })
        .catch(() => {
          loadingBussiness.value = false;
        });
    }

    function closeBussinessModal() {
      showBussiness.value = false;
    }

    let showDevice = ref(false);
    let loadingDevice = ref(false);
    let deviceInfoList = reactive({
      list: []
    });
    function showDeviceModal(row) {
      showDevice.value = true;
      loadingDevice.value = true;
      api
        .findDeviceDisById(row.instanceId)
        .then(({ data: { data } }) => {
          showCrumbsList.list = data.link;
          deviceInfoList.list = data.deviceInfo;
          loadingDevice.value = false;
        })
        .catch(() => {
          loadingDevice.value = false;
        });
    }
    function closeDeviceModal() {
      showDevice.value = false;
    }

    function crumbHandle(crumb, index) {
      const returnData = showCrumbsList.list.slice(0, index + 1);
      if (index === 0) {
        //返回首页选中tab
        context.emit('crumb-to', returnData, index);
        showDevice.value = false;
      } else if (index === 1) {
        //机房详情页
        context.emit('crumb-to', returnData, index);
        showDevice.value = false;
      } else if (index === 2) {
        //设备详情页
        showDevice.value = false;
      } else {
        showDeviceModal(crumb);
      }
    }

    let selectUIndex = ref(-1);
    let holdCountU = ref(0);
    let selectedRowKeys = reactive({
      list: []
    });

    function selectDevice(index, allSUm) {
      selectUIndex.value = parseInt(index);
      console.log('-------- selectUIndex.value --------', selectUIndex.value);
      holdCountU.value = parseInt(allSUm);
      scrollToTag(index);
    }

    function scrollToTag(index) {
      const list = document.querySelectorAll('#rightTableBox .el-table__body .el-table__row');
      let top = 0;
      tableData.list.forEach((t, i) => {
        if (parseInt(t.startPositionOfRu) < index) {
          top += list[i].offsetHeight;
        }
        if (t.startPositionOfRu == index) {
          document.querySelectorAll('#myTable .el-scrollbar__wrap')[0].scrollTop = top;
        }
      });
    }

    function sizeChange(size) {}

    function currentChage(page) {}

    function setRowClass({ row }) {
      return parseInt(row.startPositionOfRu) == selectUIndex.value ? 'table-tr-row-active' : 'aa';
    }

    // 1-48的数组
    let fortyEight = Array.from({ length: 48 }, (_, index) => 48 - index);

    // 选中的 index
    let selectIndexOperate = ref(0);
    let selectUOperate = ref(0) + '';
    function handleSpaceU(item) {
      selectIndexOperate.value = item;
      selectUOperate.value = item + '';
    }

    // 取消选中
    function handleUFElelent(e) {
      if (e.target.classList.value.indexOf('space-u-item') == -1) {
        selectIndexOperate.value = 0;
      }
    }

    let open = ref(false);
    const tableFormRef = ref(null);
    let formState = reactive({
      sbscs: '',
      xh: '',
      xlh: '',
      bh: '',
      apartment: '',
      rack: '',
      room: '',
      cloud: '',
      qsuw: '',
      zjuw: '1',
      lx: '',
      roomBase: '',
      sfddy: ''
    });

    let rules = {
      sbscs: [{ required: true, message: '请输入', trigger: 'blur' }],
      xh: [{ required: true, message: '请输入', trigger: 'blur' }],
      xlh: [{ required: true, message: '请输入', trigger: 'blur' }],
      bh: [{ required: true, message: '请输入', trigger: 'blur' }],
      apartment: [{ required: true, message: '请输入', trigger: 'blur' }],
      rack: [{ required: true, message: '请输入', trigger: 'blur' }],
      room: [{ required: true, message: '请输入', trigger: 'blur' }],
      cloud: [{ required: true, message: '请选择所属平台', trigger: 'change' }],
      qsuw: [{ required: true, message: '请输入', trigger: 'blur' }],
      zjuw: [{ required: true, message: '请输入', trigger: 'blur' }],
      lx: [{ required: true, message: '请选择', trigger: 'change' }],
      roomBase: [{ required: true, message: '请输入', trigger: 'blur' }],
      sfddy: [{ required: true, message: '请选择', trigger: 'change' }]
    };

    let cloudList = ref(['网络云大区', '网络云省内', '一级IT云', '省内IT云', '移动云', '平台云', '政企去', '非去']);
    let deviceList = ref(['服务器', '网络设备', '安全设备']);

    // 设备上架
    function handleDeviceGrounding() {
      formState.qsuw = selectUOperate.value + '';
      formState.apartment = props.rackObj.apartment;
      formState.rack = props.rackObj.rack || props.rackLabel;
      formState.room = props.rackObj.room;
      formState.roomBase = props.rackObj.roomBase;
      formState.cloud = props.rackObj.cloud;
      open.value = true;
    }

    // 确认上架
    function handleDeviceOk() {
      tableFormRef.value.validate().then(() => {
        ElMessage.success('上架成功');
        handleDeviceCancel();
      });
    }

    // 取消上架
    function handleDeviceCancel(params) {
      formState.sbscs = '';
      formState.xh = '';
      formState.xlh = '';
      formState.bh = '';
      formState.apartment = '';
      formState.rack = '';
      formState.room = '';
      formState.cloud = '';
      formState.qsuw = '';
      formState.zjuw = '1';
      formState.lx = '';
      formState.roomBase = '';
      formState.sfddy = '';
      open.value = false;
    }

    let selectedURowKeys = ref([]);
    let selectRows = [];
    function onSelectUChange(keys, rows) {
      selectedURowKeys.value = keys;
      selectRows.value = rows;
    }

    let currentOffShelfRow = ref({});
    // 下架
    function handleOffShelf(data) {
      if (data) currentOffShelfRow.value = data;
      ElMessageBox.confirm('是否确认下架？', '下架提示', {
        confirmButtonText: '确 认',
        cancelButtonText: '取 消',
        type: 'warning'
      })
        .then(res => {
          ElMessage.success('下架成功！');
        })
        .catch(res => {
          ElMessage.info('已取消！');
        });
    }

    // 确认下架
    function handleSubmitOffShelf() {}

    return {
      backHandle: () => {
        context.emit('back');
      },
      open,
      formState,
      loading,
      columns,
      tableData,
      getStyle,
      showDevice,
      showCrumbsList,
      deviceInfoList,
      showDeviceModal,
      closeDeviceModal,
      rowSelection: {
        onChange: item => {
          console.log('onChange', item, selectedRowKeys.list);
          selectedRowKeys.list = [item.length - 1];
          // item=[item.pop()]
        },
        selections: selectedRowKeys.list
      },
      tableHeight,
      tableBodyHeight,
      labelCol: { span: 8 },
      wrapperCol: { span: 14 },

      showBussiness,
      loadingBussiness,
      bussinessData,
      showBussinessModal,
      closeBussinessModal,

      bussinesColumns: [
        {
          key: 'name',
          dataIndex: 'name',
          title: '业务系统名称'
        },
        {
          key: 'belongDepartment',
          dataIndex: 'belongDepartment',
          title: '归属科室'
        },
        {
          key: 'tenantName',
          dataIndex: 'tenantName',
          title: '租户'
        },
        {
          key: 'ip',
          dataIndex: 'ip',
          title: 'IP'
        },
        {
          key: 'principal',
          dataIndex: 'principal',
          title: '负责人'
        },
        {
          key: 'relatedPool',
          dataIndex: 'relatedPool',
          title: '所属资源池'
        }
      ],
      pagination,
      crumbHandle,
      holdCountU,
      selectUIndex,
      setRowClass,
      selectDevice,
      tableScroll,
      handleSpaceU,
      selectIndexOperate,
      handleUFElelent,
      handleDeviceGrounding,
      selectUOperate,
      handleDeviceOk,
      handleDeviceCancel,
      fortyEight,
      rules,
      tableFormRef,
      cloudList,
      deviceList,
      selectedURowKeys,
      onSelectUChange,
      handleOffShelf,
      handleSubmitOffShelf,
      roleNamesStr,
      sizeChange,
      currentChage
    };
  }
});
</script>

<style lang="scss" scoped>
.my-table-out {
  height: 100%;
  :deep(.table-tr-row-active) {
    background-color: rgba(0, 166, 249, 0.1);
  }
  ::deep(.ant-spin-nested-loading) {
    height: 100%;
  }
  ::deep(.ant-spin-container) {
    height: 100%;
  }
  ::deep(.ant-table) {
    height: 100%;
  }
  ::deep(.ant-table-container) {
    height: 100%;
  }
}
.view-details {
  min-width: 1184px;
  height: 100%;
  .back-btn {
    display: inline-block;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid rgba(0, 166, 249, 1);
    padding: 6px 13px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 166, 249, 1);
    line-height: 22px;
    margin-bottom: 24px;
  }
  .details-main {
    height: calc(100% - 60px);
    // height: 620px;
    padding: 24px 24px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
    .label {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
    }
    .details-body {
      height: calc(100% - 65px);
      .flex-row {
        height: 100%;
        .my-table-out {
          height: 100%;
          ::deep(.ant-spin-nested-loading) {
            height: 100%;
          }
        }
      }
      .container-view {
        height: 100%;
        overflow-y: auto;
      }
      .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 10px;
        display: flex;
        .scale {
          margin-right: 8px;
          width: 66px;
          height: 100%;
          min-height: 600px;
          border-right: 1px solid #aeb0b2;
          display: flex;
          flex-direction: column-reverse;
          .scale-item {
            position: relative;
            height: 40px;
            width: 100%;
            line-height: 40px;
            .text {
              display: inline-block;
              width: 52px;
              height: 24px;
              line-height: 24px;
              border-radius: 12px;
              font-size: 14px;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 500;
              color: #2f404a;
              text-align: center;
            }
            // &::after {
            //   position: absolute;
            //   right: 0;
            //   top: 50%;
            //   content: '';
            //   display: inline-block;
            //   width: 12px;
            //   height: 1px;
            //   background-color: rgba(151, 151, 151, 1);
            // }
            &.active {
              .text {
                color: #ffffff;
                background: #00a6f9;
              }
            }
          }
        }
        .shelf {
          position: relative;
          width: calc(100% - 54px);
          min-height: 600px;
          border-color: rgba(47, 64, 74, 1);
          border-width: 0 2px;
          border-style: solid;
          .device-item {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 99;
          }
          .space-u {
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            box-sizing: border-box;
            .space-u-item {
              height: 40px;
              border-top: 1px solid #ccc;
              .set-container {
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #2f404a;
              }
              & :last-child {
                border-bottom: 1px solid #ccc;
              }

              &.active {
                color: #ffffff;
                background: #00a6f9;
                .set-container {
                  color: #ffffff;
                  background: #00a6f9;
                }
              }
            }
          }
        }
      }
      .btn {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 6px;
        &.device {
          background-image: url('assets/resource/server-fill@2x.png');
        }
        &.business {
          background-image: url('assets/resource/menu-line@2x.png');
        }
      }
    }
  }
}
</style>

<style lang="scss" scoped>
.mask {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.5);
}
.modal {
  z-index: 99;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 866px;
  top: 100px;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 29px 24px;
    background: #ffffff;
    border-bottom: 1px solid #d9d9d9;
    .title {
      display: inline-block;
      width: 168px;
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      margin-bottom: 0;
    }
    .bread-crumbs {
      margin-left: 24px;
      margin-right: 16px;
      display: inline-block;
      .crumbs-item {
        cursor: pointer;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 22px;
        position: relative;
        &:not(:last-child) {
          &::after {
            content: '/';
            display: inline-block;
            width: 7px;
            height: 22px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.45);
            line-height: 22px;
            margin: 0 8px;
          }
        }
      }
    }
    .close-btn {
      display: inline-block;
      width: 32px;
      height: 24px;
      background: #2f404a;
      text-align: center;
      line-height: 24px;
      font-size: 14px;
      color: #ffffff;
    }
  }
  .content-main {
    padding: 22px 22px;
    max-height: 500px;
    overflow: auto;
    background: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-item {
      .label {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 22px;
      }
      .value {
        display: inline-block;
        word-wrap: break-word;
        width: 223px;
        min-height: 32px;
        padding: 5px 13px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid #d9d9d9;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        line-height: 22px;
      }
      .btn-list {
        .btn-item {
          display: inline-block;
          padding: 5px 13px;
          margin: 6px 10px;
          background: #ffffff;
          border-radius: 2px;
          border: 1px solid rgba(0, 166, 249, 1);
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(0, 166, 249, 1);
          line-height: 22px;
        }
      }
    }
    .bussiness-table {
      width: 100%;
    }
  }
}
</style>

<style>
::deep(.ant-spin-nested-loading) {
  height: 100%;
}
::deep(.ant-spin-container) {
  height: 100%;
}
::deep(.ant-table) {
  height: 100%;
}
::deep(.ant-table-container) {
  height: 100%;
}

.btn-wart {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
</style>
