<template>
  <div class="view-list">
    <a class="back-btn" @click="backHandle">
      <el-icon><ArrowLeftBold /></el-icon>
      返回上一页
    </a>
    <div class="cabinet-main" v-loading="loading">
      <h3 class="park-label">{{ rackLabel }}</h3>
      <div class="is-none" v-show="tableData.list.length === 0 && !loading">暂无数据</div>
      <div class="cabinet-table">
        <div class="row">
          <div class="col" v-for="column in columns.list" :key="column.key" :class="column.key">{{ column.label }}</div>
        </div>
        <div class="row data-row" v-for="(item, index) in tableData.list" :key="index">
          <div class="col" v-for="column in columns.list" :key="column.key" :class="column.key">
            <div v-if="column.key === 'index'">
              {{ item[column.key] }}
            </div>
            <cabinet-item
              v-else
              :occupyValue="item[column.key].seizureRate"
              :label="item[column.key].label"
              @click="checkCabinet(item[column.key])"></cabinet-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api/resource';
import { ArrowLeftBold } from '@element-plus/icons-vue';
import { defineComponent, reactive, ref, watch } from 'vue';
import cabinetItem from './components/cabinetItem.vue';
export default defineComponent({
  props: {
    queryData: {
      type: Object,
      default: () => {
        return {
          cloud: '',
          rackId: '',
          room: ''
        };
      }
    },
    rackLabel: {
      type: String,
      default: ''
    },
    rackObj: {
      type: Object,
      default: () => ({})
    }
  },
  components: {
    ArrowLeftBold,
    cabinetItem
  },
  setup(props, context) {
    let loading = ref(false);
    let columns = reactive({
      list: [
        {
          key: 'index',
          label: ''
        }
      ]
    });
    let tableData = reactive({
      list: []
    });
    function getData(queryData) {
      columns.list = [
        {
          key: 'index',
          label: ''
        }
      ];
      loading.value = true;
      api.findRackByRoom(queryData).then(({ data: { data } }) => {
        let { info, maxColumn, maxRow } = data;
        let tempCol = [];
        for (let i = 1; i <= maxColumn; i++) {
          let label = i + '';
          if (i < 10) {
            label = '0' + i;
          }
          tempCol.push({
            key: i,
            label
          });
        }
        columns.list = columns.list.concat(tempCol);
        let tempData = [];
        const startNum = 65;
        const max = maxRow - startNum;
        for (let i = 0; i <= max; i++) {
          const charLabel = String.fromCharCode(i + startNum);
          let obj = {};
          let tempInfo = info[charLabel] || [];
          const rackColumns = tempInfo.map(t => t.rackColumn);
          tempCol.forEach(t => {
            const index = rackColumns.indexOf(t.label);
            if (index >= 0) {
              obj[t.key] = {
                ...tempInfo[index],
                label: `${charLabel}${t.label}`
              };
            } else {
              obj[t.key] = {
                id: t.key,
                label: `${charLabel}${t.label}`,
                seizureRate: '0%'
              };
            }
          });
          tempData.push({
            index: charLabel,
            ...obj
          });
        }
        tableData.list = tempData;
        loading.value = false;
      });
    }

    // getData(props.queryData)
    watch(props.queryData, queryData => {
      getData(queryData);
    });

    function checkCabinet(rack) {
      let obj = { ...props.rackObj, ...rack };
      context.emit('on-check-Rack', obj);
    }

    return {
      loading,
      columns,
      tableData,
      backHandle: () => {
        context.emit('back');
      },
      checkCabinet
    };
  }
});
</script>

<style lang="scss" scoped>
.view-list {
  min-width: 1184px;
  height: 100%;
  .back-btn {
    display: inline-block;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid rgba(0, 166, 249, 1);
    padding: 6px 13px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 166, 249, 1);
    line-height: 22px;
    margin-bottom: 24px;
  }
  .cabinet-main {
    position: relative;
    height: calc(100% - 55px);
    padding: 24px 24px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
    .loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 30px 50px;
      margin: 20px 0;
    }
    .is-none {
      padding: 168px 0;
      font-size: 18px;
      text-align: center;
    }
    .park-label {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
    }
    .cabinet-table {
      box-sizing: border-box;
      height: calc(100% - 70px);
      overflow-x: auto;
      overflow-y: auto;
      .row {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #2f404a;
        line-height: 24px;
        margin-bottom: 12px;
        &.data-row {
          margin-bottom: 74px;
          .index {
            width: 48px;
            height: 48px;
            background: #3a4d59;
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
            border-radius: 4px;
            font-size: 20px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #ffffff;
            line-height: 48px;
          }
        }
        .col {
          flex: 0 0 auto;
          width: 32px;
          text-align: center;
          font-size: 14px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #2f404a;
          line-height: 54px;
          margin: 0 22px;
          &.index {
            width: 48px;
          }
        }
      }
    }
  }
}
</style>
