<template>
  <div class="view-details">
    <a class="back-btn" @click="backHandle">
      <el-icon><ArrowLeftBold /></el-icon>
      返回上一页
    </a>
    <div class="global-search">
      <h3 class="label" v-if="isHardware">{{ label }}</h3>
      <div class="query-head" v-if="isHardware">
        <span class="type-label">设备类型：</span>
        <div class="type-list" :class="{ 'is-expand': isExpand }">
          <a
            class="type"
            v-for="type in deviceTypeList.list"
            :key="type.code"
            :class="{ active: type.code === selectType }"
            @click="handleChangeType(type)">
            {{ type.name }}
          </a>
        </div>
      </div>

      <el-table :data="tableData.list" border stripe>
        <el-table-column
          v-for="col in columns"
          :prop="col.dataIndex"
          :key="col.dataIndex"
          :label="col.title"
          align="center"
          :width="col.width">
          <template #default="{ row }">
            <template v-if="col.dataIndex == 'operation'">
              <el-tooltip effect="dark" content="查看设备" placement="bottom">
                <a @click="showDeviceModal(row)" class="btn device"></a>
              </el-tooltip>
              <el-tooltip effect="dark" content="查看业务" placement="bottom">
                <a @click="showBussinessModal(row)" class="btn business"></a>
              </el-tooltip>
            </template>

            <template v-else>{{ row[col.dataIndex] }}</template>
          </template>
        </el-table-column>
      </el-table>
      <div class="l-page">
        <el-pagination
          @current-change="tableCurrentChange"
          v-model:currentPage="tablePagination.current"
          :page-size="10"
          layout="total, prev, pager, next"
          :total="tablePagination.total"
          background>
          >
        </el-pagination>
      </div>

      <div class="mask" v-show="showDevice || showBussiness"></div>
      <div v-show="showDevice" class="modal" width="1000px">
        <div class="head">
          <h3 class="title">设备详情</h3>
          <a class="close-btn" @click="closeDeviceModal">×</a>
        </div>
        <div class="content-main" style="padding: 20px">
          <el-form
            ref="form"
            label-position="right"
            label-width="180px"
            :inline="false"
            style="padding: 20px; background-color: #fff">
            <el-row :gutter="20">
              <el-col :span="info.type === 'list' ? 24 : 12" v-for="info in deviceInfoList.list" :key="info.name">
                <el-form-item
                  class="form-item"
                  :label="info.property"
                  :label-width="info.type === 'list' ? '16%' : '40%'"
                  style="margin: 10px">
                  <div v-if="info.type === 'list'" class="btn-list">
                    <a
                      class="btn-item"
                      v-for="item in info.value"
                      :key="item.instanceId"
                      @click="showDeviceModal(item)">
                      {{ item.name }}
                    </a>
                  </div>
                  <div v-else class="value">{{ info.value }}</div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </div>

      <div v-show="showBussiness" class="modal" width="740px">
        <div class="head">
          <h3 class="title">业务详情</h3>
          <a class="close-btn" @click="closeBussinessModal">×</a>
        </div>
        <div class="content-main">
          <el-table :data="bussinessData.list" border stripe>
            <el-table-column
              v-for="col in bussinesColumns"
              :prop="col.dataIndex"
              :key="col.dataIndex"
              :label="col.title"
              :width="col.width"></el-table-column>
          </el-table>
          <div class="l-page" style="width: 100%; display: flex; justify-content: center">
            <el-pagination
              v-model:currentPage="pagination.current"
              :page-size="100"
              layout="total, prev, pager, next"
              :total="pagination.total"
              background>
              >
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api/resource';
import { ArrowLeftBold, Search } from '@element-plus/icons-vue';
import { defineComponent, nextTick, reactive, ref, watch } from 'vue';
export default defineComponent({
  components: {
    Search,
    ArrowLeftBold
  },
  props: {
    queryData: {
      type: Object,
      default: () => {
        return {
          name: '',
          lifeCycleState: '',
          ip: '',
          instanceId: '',
          model: '',
          manufacturer: '',
          serialnumber: '',
          businessSystem: '',
          tenant: '',
          belongDepartment: '',
          businessModuleName: ''
        };
      }
    },
    isAdv: {
      type: Boolean,
      default: false
    },
    isShow: {
      type: Boolean,
      default: false
    },
    isHardware: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    }
  },
  setup(props, context) {
    const columns = [
      {
        key: 'name',
        dataIndex: 'name',
        title: '设备名称',
        width: '260px'
      },
      {
        key: 'ip',
        dataIndex: 'ip',
        title: 'IP'
      },
      {
        key: 'deviceType',
        dataIndex: 'deviceType',
        title: '设备类型'
      },
      {
        key: 'relatedPool',
        dataIndex: 'relatedPool',
        title: '硬件资源池'
      },
      {
        key: 'cloud',
        dataIndex: 'cloud',
        title: '所属云平台'
      },
      {
        key: 'operation',
        title: '操作',
        dataIndex: 'operation'
      }
    ];
    let tableData = reactive({
      list: []
    });

    const isExpand = ref(false);

    let showDevice = ref(false);
    let loadingDevice = ref(false);
    let deviceInfoList = reactive({
      list: []
    });
    function showDeviceModal(row) {
      showDevice.value = true;
      loadingDevice.value = true;
      api
        .findDeviceDisById(row.instanceId)
        .then(({ data: { data } }) => {
          showCrumbsList.list = data.link;
          deviceInfoList.list = data.deviceInfo;
          loadingDevice.value = false;
        })
        .catch(() => {
          loadingDevice.value = false;
        });
    }
    function closeDeviceModal() {
      showDevice.value = false;
    }

    let showBussiness = ref(false);
    let loadingBussiness = ref(false);
    let bussinessData = reactive({
      list: []
    });
    let showCrumbsList = reactive({
      list: []
    });
    let pagination = reactive({
      current: 1,
      total: 0
    });
    // 查看业务
    function showBussinessModal(row) {
      showBussiness.value = true;
      loadingBussiness.value = true;
      api
        .findBussinessById(row.instanceId)
        .then(({ data: { data } }) => {
          showCrumbsList.list = [];
          bussinessData.list = data || [];
          pagination.total = bussinessData.list.length;
          loadingBussiness.value = false;
        })
        .catch(() => {
          loadingBussiness.value = false;
        });
    }

    function closeBussinessModal() {
      showBussiness.value = false;
    }

    let tablePagination = reactive({
      current: 1,
      total: 0,
      showSizeChanger: false
    });
    function tableCurrentChange(page) {
      tablePagination.current = page;
      queryDataHandle(props.queryData);
    }

    let loading = ref(false);
    function getData(queryData) {
      loading.value = true;
      api
        .findDeviceList(queryData)
        .then(({ data: { data, total } }) => {
          tableData.list = data;
          tablePagination.total = total;
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });
    }

    function advGetData(queryData) {
      loading.value = true;
      api
        .findDeviceListAdvanced(queryData)
        .then(({ data: { data, total } }) => {
          tableData.list = data;
          tablePagination.total = total;
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });
    }
    let selectType = ref('');
    function queryDataHandle(queryData) {
      if (props.isHardware) {
        api
          .findByRelatedPool({
            ...queryData,
            deviceType: selectType.value ? [selectType.value] : [],
            page: tablePagination.current,
            size: 10
          })
          .then(({ data: { data, total } }) => {
            tableData.list = data;
            tablePagination.total = total;
            loading.value = false;
          });
      } else {
        if (props.isAdv) {
          advGetData({
            ...queryData,
            page: tablePagination.current,
            size: 10
          });
        } else {
          getData({
            word: queryData.name,
            page: tablePagination.current,
            size: 10
          });
        }
      }
    }
    let deviceTypeList = reactive({
      list: []
    });

    function handleChangeType(type) {
      if (type.code === selectType.value) {
        selectType.value = '';
      } else {
        selectType.value = type.code;
      }
      handleSearch();
    }
    function handleSearch() {
      tablePagination.current = 1;
      queryDataHandle(props.queryData);
    }
    function handleReset() {
      selectType.value = '';
      tablePagination.current = 1;
      queryDataHandle(props.queryData);
    }

    watch(props.queryData, queryData => {
      tablePagination.current = 1;
      nextTick(() => {
        if (props.isHardware) {
          api.findDeviceTypeAll(queryData).then(({ data: { data, total } }) => {
            deviceTypeList.list = data;
          });
        }
        deviceTypeList.list = [];
        queryDataHandle(queryData);
      });
    });

    function crumbHandle(crumb, index) {
      const returnData = showCrumbsList.list.slice(0, index + 1);
      if (index === 0) {
        //返回首页选中tab
        context.emit('crumb-to', returnData, index);
        showDevice.value = false;
      } else if (index === 1) {
        //机房详情页
        context.emit('crumb-to', returnData, index);
        showDevice.value = false;
      } else if (index === 2) {
        //设备详情页
        context.emit('crumb-to', returnData, index);
        showDevice.value = false;
      } else {
        showDeviceModal(crumb);
      }
    }
    return {
      backHandle: () => {
        context.emit('back');
      },
      columns,
      tableData,
      tablePagination,
      loading,
      deviceTypeList,
      selectType,
      handleSearch,
      handleReset,
      handleChangeType,

      showDevice,
      showCrumbsList,
      deviceInfoList,
      showDeviceModal,
      closeDeviceModal,

      showBussiness,
      loadingBussiness,
      bussinessData,
      pagination,
      showBussinessModal,
      closeBussinessModal,
      isExpand,
      bussinesColumns: [
        {
          key: 'name',
          dataIndex: 'name',
          title: '业务系统名称'
        },
        {
          key: 'belongDepartment',
          dataIndex: 'belongDepartment',
          title: '归属科室'
        },
        {
          key: 'tenantName',
          dataIndex: 'tenantName',
          title: '租户'
        },
        {
          key: 'ip',
          dataIndex: 'ip',
          title: 'IP'
        },
        {
          key: 'principal',
          dataIndex: 'principal',
          title: '负责人'
        },
        {
          key: 'relatedPool',
          dataIndex: 'relatedPool',
          title: '所属资源池'
        }
      ],
      labelCol: { span: 8 },
      wrapperCol: { span: 14 },
      crumbHandle,
      tableCurrentChange
    };
  }
});
</script>

<style lang="scss" scoped>
.radio-box {
  :deep(.ant-radio-group) {
    width: 168px;
    max-height: 120px;
    overflow-y: auto;
  }
}
.view-details {
  min-width: 1184px;
  height: 100%;
  .back-btn {
    display: inline-block;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid rgba(0, 166, 249, 1);
    padding: 6px 13px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 166, 249, 1);
    line-height: 22px;
    margin-bottom: 24px;
  }
}
.global-search {
  // height: 100%;
  overflow: auto;
  background-color: #fff;
  padding: 24px 24px;
  .label {
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 28px;
  }
  .query-head {
    padding-bottom: 17px;
    .type-label {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.85);
      line-height: 22px;
    }
    .type-list {
      width: calc(100% - 200px);
      overflow: hidden;
      height: 22px;
      display: inline-block;
      vertical-align: top;
      &.is-expand {
        height: auto;
      }
      .type {
        display: inline-block;
        margin-bottom: 6px;
        margin-left: 18px;
        padding: 0 8px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        line-height: 22px;
        border-radius: 2px;
        &.active {
          background: #00a6f9;
          color: #ffffff;
        }
      }
    }
  }
  .btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 6px;
    &.device {
      background-image: url('../../assets/resource/server-fill@2x.png');
    }
    &.business {
      background-image: url('../../assets/resource/menu-line@2x.png');
    }
  }
}
</style>

<style lang="scss" scoped>
.mask {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.5);
}
.modal {
  z-index: 99;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 866px;
  top: 100px;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 29px 24px;
    background: #ffffff;
    border-bottom: 1px solid #d9d9d9;
    .title {
      width: 168px;
      display: inline-block;
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      margin-bottom: 0;
    }
    .bread-crumbs {
      margin-left: 24px;
      display: inline-block;
      .crumbs-item {
        cursor: pointer;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 22px;
        position: relative;
        &:not(:last-child) {
          &::after {
            content: '/';
            display: inline-block;
            width: 7px;
            height: 22px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.45);
            line-height: 22px;
            margin: 0 8px;
          }
        }
      }
    }
    .close-btn {
      display: inline-block;
      width: 32px;
      height: 24px;
      background: #2f404a;
      text-align: center;
      line-height: 24px;
      font-size: 14px;
      color: #ffffff;
    }
  }
  .content-main {
    padding: 22px 22px;
    max-height: 500px;
    overflow-y: auto;
    background: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-item {
      .label {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 22px;
      }
      .value {
        display: inline-block;
        word-wrap: break-word;
        width: 223px;
        min-height: 32px;
        padding: 5px 13px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid #d9d9d9;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        line-height: 22px;
      }
      .btn-list {
        .btn-item {
          display: inline-block;
          padding: 5px 13px;
          margin: 6px 10px;
          background: #ffffff;
          border-radius: 2px;
          border: 1px solid rgba(0, 166, 249, 1);
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(0, 166, 249, 1);
          line-height: 22px;
        }
      }
    }
    .bussiness-table {
      width: 100%;
    }
  }
}

.l-page {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
</style>
