<template>
  <div class="view-details">
    <a class="back-btn" @click="backHandle">
      <el-icon><ArrowLeftBold /></el-icon>
      返回上一页1
    </a>
    <div class="global-search">
      <h3 class="label" v-if="isHardware">{{ label }}</h3>
      <el-table :data="tableData.list" v-loading="loading" border stripe>
        <el-table-column
          v-for="col in columns"
          :prop="col.dataIndex"
          :key="col.dataIndex"
          :label="col.title"
          :width="col.width"></el-table-column>
      </el-table>
      <div class="page-box">
        <el-pagination
          @current-change="currentChange"
          v-model:currentPage="tablePagination.current"
          :page-sizes="[10]"
          :page-size="tablePagination.page"
          layout="total, prev, pager, next, jumper"
          :total="tablePagination.total"
          background>
          >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api/resource';
import { ArrowLeftBold } from '@element-plus/icons-vue';
import { defineComponent, nextTick, reactive, ref, watch } from 'vue';
export default defineComponent({
  props: {
    queryData: {
      type: Object,
      default: () => {
        return {
          name: '',
          lifeCycleState: '',
          ip: '',
          instanceId: '',
          model: '',
          manufacturer: '',
          serialnumber: '',
          businessSystem: '',
          tenant: '',
          belongDepartment: '',
          businessModuleName: ''
        };
      }
    },
    isAdv: {
      type: Boolean,
      default: false
    },
    isShow: {
      type: Boolean,
      default: false
    },
    isHardware: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    }
  },
  setup(props, context) {
    const columns = [
      {
        key: 'cloud',
        dataIndex: 'cloud',
        title: '所属云平台',
        width: '200px'
      },
      {
        key: 'dataCenter',
        dataIndex: 'dataCenter',
        title: '数据中心',
        width: '200px'
      },
      {
        key: 'type',
        dataIndex: 'type',
        title: '设备类型',
        width: '100px'
      },
      {
        key: 'assetTags',
        dataIndex: 'assetTags',
        title: '资产编号',
        width: '200px'
      },
      {
        key: 'serialnumber',
        dataIndex: 'serialnumber',
        title: '设备序列号',
        width: '200px'
      },
      {
        key: 'manufacturer',
        dataIndex: 'manufacturer',
        title: '设备厂商',
        width: '200px'
      },
      {
        key: 'model',
        dataIndex: 'model',
        title: '设备型号',
        width: '200px'
      },
      {
        key: 'idcApartment',
        dataIndex: 'idcApartment',
        title: '机楼',
        width: '200px'
      },
      {
        key: 'idcRoom',
        dataIndex: 'idcRoom',
        title: '机房',
        width: '200px'
      },
      {
        key: 'idcRack',
        dataIndex: 'idcRack',
        title: '机柜',
        width: '200px'
      },
      {
        key: 'startPositionOfRu',
        dataIndex: 'startPositionOfRu',
        title: '起始U位',
        width: '100px'
      },
      {
        key: 'holdCountOfRu',
        dataIndex: 'holdCountOfRu',
        title: '占据U数',
        width: '200px'
      },
      {
        key: 'isSinglePower',
        dataIndex: 'isSinglePower',
        title: '是否单电源',
        width: '200px'
      },
      {
        key: 'instanceId',
        dataIndex: 'instanceId',
        title: '配置项编号',
        width: '200px'
      }
    ];
    let tableData = reactive({
      list: []
    });
    let tablePagination = reactive({
      current: 1,
      total: 0,
      size: '10'
    });

    function sizeChange(size) {
      tablePagination.size = size;
      queryDataHandle(props.queryData);
    }

    function currentChange(page) {
      tablePagination.current = page;
      queryDataHandle(props.queryData);
    }
    const selectType = ref('');
    let loading = ref(false);
    function queryDataHandle(queryData) {
      if (props.isHardware) {
        api
          .findByRelatedPool({
            ...queryData,
            deviceType: selectType.value ? [selectType.value] : [],
            page: tablePagination.current,
            size: 10
          })
          .then(({ data: { data, total } }) => {
            tableData.list = data;
            tablePagination.total = total;
            loading.value = false;
          });
      } else {
        if (props.isAdv) {
          advGetData({
            ...queryData,
            page: tablePagination.current,
            size: 10
          });
        } else {
          getData({
            word: queryData.name,
            page: tablePagination.current,
            size: 10
          });
        }
      }
    }

    function getData(queryData) {
      loading.value = true;
      api
        .findFieldDeviceList(queryData)
        .then(({ data: { data, total } }) => {
          tableData.list = data;
          tablePagination.total = total;
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });
    }

    function advGetData(queryData) {
      loading.value = true;
      api
        .findFieldDeviceListAdvanced(queryData)
        .then(({ data: { data, total } }) => {
          tableData.list = data;
          tablePagination.total = total;
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });
    }

    watch(props.queryData, queryData => {
      tablePagination.current = 1;
      nextTick(() => {
        queryDataHandle(queryData);
      });
    });

    function crumbHandle(crumb, index) {
      const returnData = showCrumbsList.list.slice(0, index + 1);
      if (index === 0) {
        //返回首页选中tab
        context.emit('crumb-to', returnData, index);
        showDevice.value = false;
      } else if (index === 1) {
        //机房详情页
        context.emit('crumb-to', returnData, index);
        showDevice.value = false;
      } else if (index === 2) {
        //设备详情页
        context.emit('crumb-to', returnData, index);
        showDevice.value = false;
      } else {
        showDeviceModal(crumb);
      }
    }

    return {
      columns,
      tablePagination,
      loading,
      crumbHandle,
      tableData,
      backHandle: () => {
        context.emit('back');
      },
      sizeChange,
      currentChange
    };
  }
});
</script>

<style lang="scss" scoped>
.radio-box {
  :deep(.ant-radio-group) {
    width: 208px;
    max-height: 180px;
    overflow-y: auto;
  }
}
.view-details {
  min-width: 1184px;
  height: 100%;
  .back-btn {
    display: inline-block;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid rgba(0, 166, 249, 1);
    padding: 6px 13px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 166, 249, 1);
    line-height: 22px;
    margin-bottom: 24px;
  }
}
.global-search {
  height: calc(100% - 59px);
  overflow: auto;
  background-color: #fff;
  padding: 24px 24px;
  .label {
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 28px;
  }
  .btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 6px;
    &.device {
      background-image: url('assets/resource/server-fill@2x.png');
    }
    &.business {
      background-image: url('assets/resource/menu-line@2x.png');
    }
  }
}
</style>

<style lang="scss" scoped>
.mask {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.5);
}
.modal {
  z-index: 99;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 866px;
  top: 100px;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 29px 24px;
    background: #ffffff;
    border-bottom: 1px solid #d9d9d9;
    .title {
      width: 168px;
      display: inline-block;
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      margin-bottom: 0;
    }
    .bread-crumbs {
      margin-left: 24px;
      display: inline-block;
      .crumbs-item {
        cursor: pointer;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 22px;
        position: relative;
        &:not(:last-child) {
          &::after {
            content: '/';
            display: inline-block;
            width: 7px;
            height: 22px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.45);
            line-height: 22px;
            margin: 0 8px;
          }
        }
      }
    }
    .close-btn {
      display: inline-block;
      width: 32px;
      height: 24px;
      background: #2f404a;
      text-align: center;
      line-height: 24px;
      font-size: 14px;
      color: #ffffff;
    }
  }
  .content-main {
    padding: 22px 22px;
    max-height: 500px;
    overflow-y: auto;
    background: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-item {
      .label {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 22px;
      }
      .value {
        display: inline-block;
        word-wrap: break-word;
        width: 223px;
        min-height: 32px;
        padding: 5px 13px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid #d9d9d9;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        line-height: 22px;
      }
      .btn-list {
        .btn-item {
          display: inline-block;
          padding: 5px 13px;
          margin: 6px 10px;
          background: #ffffff;
          border-radius: 2px;
          border: 1px solid rgba(0, 166, 249, 1);
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(0, 166, 249, 1);
          line-height: 22px;
        }
      }
    }
    .bussiness-table {
      width: 100%;
    }
  }
}
.page-box {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  .pagination {
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
  }
}
</style>
