<template>
  <div class="resource-page">
    <div class="head-view">
      <el-radio-group v-model="currentCode" @change="changePage">
        <el-radio-button label="machineRoom">机房视图</el-radio-button>
        <el-radio-button label="hardware">资源池视图</el-radio-button>
      </el-radio-group>

      <div class="search-box">
        <el-input
          v-model="searchValue"
          class="input-box"
          :placeholder="routeCode === 'hardware' ? '请输入IP、设备名称' : '请输入设备序列号、资产编号'"></el-input>
        <a class="search-btn back" @click="globalSearchHandle">全局搜索</a>

        <div class="search-advanced-box">
          <advanced-search
            v-show="showAdvancedSearch && routeCode === 'hardware'"
            @on-search="advancedSearchHandle"></advanced-search>
          <advanced-search-room
            v-show="showAdvancedSearch && routeCode !== 'hardware'"
            @on-search="advancedSearchHandle"></advanced-search-room>
          <a class="search-btn white" :class="{ active: showAdvancedSearch }" @click.stop="openAdvancedSearchHandle">
            高级搜索
          </a>
        </div>
      </div>

      <el-tabs class="tabs" v-model="activeKey" @tab-click="changeTab">
        <el-tab-pane
          v-for="tab in showTabList"
          :key="tab.code"
          :label="tab.name"
          :name="tab.code"
          :disabled="tab.code === '非云' && routeCode !== 'machineRoom'"></el-tab-pane>
      </el-tabs>
    </div>
    <div class="page-body" v-show="pageStatus === 'park'">
      <park-list
        v-show="pageStatus === 'park'"
        :isShow="pageStatus === 'park'"
        @selectItem="selectParkHandle"
        :queryData="queryData"></park-list>
    </div>
    <div
      class="page-body padding-24"
      v-show="
        pageStatus === 'cabinetList' ||
        pageStatus === 'cabinetDetails' ||
        pageStatus === 'globalSearch' ||
        pageStatus === 'hardware'
      ">
      <cabinet-list
        :rackLabel="rackListLabel"
        :rackObj="rackObj"
        :queryData="queryRackData"
        v-show="pageStatus === 'cabinetList'"
        @back="cabinetBack"
        @on-check-Rack="checkRackHandle"></cabinet-list>

      <cabinet-details
        :rackLabel="rackLabel"
        :rackObj="rackObj"
        :queryData="queryRackDetailsData"
        v-show="pageStatus === 'cabinetDetails'"
        @back="cabinetDetailsBack"
        @crumb-to="crumbToHandle"></cabinet-details>

      <global-search
        v-show="pageStatus === 'globalSearch' && routeCode === 'hardware'"
        :label="globalQueryData.pool"
        :isAdv="isAdv"
        :queryData="globalQueryData"
        :isHardware="isHardware"
        @crumb-to="crumbToHandle"
        @back="searchBack"></global-search>

      <global-search-room
        v-show="pageStatus === 'globalSearch' && routeCode !== 'hardware'"
        :label="globalQueryData.name"
        :isAdv="isAdv"
        :queryData="globalQueryData"
        :isHardware="isHardware"
        @crumb-to="crumbToHandle"
        @back="searchBack"></global-search-room>

      <hardware
        v-show="pageStatus === 'hardware'"
        :isShow="pageStatus === 'hardware'"
        :cloud="activeKey"
        @selectItem="selectHardware"></hardware>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent, getCurrentInstance, reactive, ref, watch } from 'vue';
import { onBeforeRouteUpdate, useRoute, useRouter } from 'vue-router';
import cabinetDetails from './cabinetDetails.vue';
import cabinetList from './cabinetList.vue';
import advancedSearch from './components/advancedSearch';
import advancedSearchRoom from './components/advancedSearchRoom';
import globalSearch from './globalSearch.vue';
import globalSearchRoom from './globalSearchRoom.vue';
import parkList from './parkList.vue';

import hardware from './hardware/index.vue';
export default defineComponent({
  components: {
    parkList,
    cabinetList,
    cabinetDetails,
    globalSearch,
    globalSearchRoom,
    advancedSearch,
    advancedSearchRoom,
    hardware
  },
  setup() {
    const $bus = getCurrentInstance().appContext.config.globalProperties.mittBus;
    let searchValue = ref('');
    let globalQueryData = reactive({
      cloud: '',
      pool: '',
      name: '',
      lifeCycleState: '',
      ip: '',
      instanceId: '',
      model: '',
      manufacturer: '',
      serialnumber: '',
      businessSystem: '',
      tenant: '',
      belongDepartment: '',
      businessModuleName: ''
    });

    const router = useRouter();
    const route = useRoute();

    let isAdv = ref(false);
    let isHardware = ref(false);
    function globalSearchHandle() {
      isHardware.value = false;
      isAdv.value = false;
      globalQueryData.name = searchValue.value;
      pageStatus.value = 'globalSearch';
    }

    let currentCode = ref(route.path.includes('machineRoom') ? 'machineRoom' : 'hardware');

    function changePage(value) {
      currentCode.value = value;
      router.replace('/operations/' + currentCode.value);
    }

    function searchBack() {
      if (route.path.includes('machineRoom')) {
        pageStatus.value = 'park';
        queryData.cloud = tab;
        isHardware.value = false;
      } else {
        isHardware.value = true;
        pageStatus.value = 'hardware';
      }
    }
    function selectHardware(item) {
      isHardware.value = true;
      isAdv.value = false;
      globalQueryData.cloud = activeKey.value; //item.area
      globalQueryData.pool = item.pool;
      globalQueryData.name = item.name;
      pageStatus.value = 'globalSearch';
    }

    let showAdvancedSearch = ref(false);
    function advancedSearchHandle(data) {
      isAdv.value = true;
      Object.keys(data).forEach(key => {
        globalQueryData[key] = data[key];
      });
      pageStatus.value = 'globalSearch';
    }
    function openAdvancedSearchHandle() {
      showAdvancedSearch.value = true;
    }
    document.querySelector('#app').onclick = () => {
      showAdvancedSearch.value = false;
    };

    let activeKey = ref('');
    const tabList = [
      {
        code: '',
        name: '所有'
      },
      {
        code: '网络云大区',
        name: '网络云大区'
      },
      {
        code: '网络云省内',
        name: '网络云省内'
      },
      {
        code: '一级IT云',
        name: '一级IT云'
      },
      {
        code: '省内IT云',
        name: '省内IT云'
      },
      {
        code: '移动云',
        name: '移动云'
      },
      {
        code: '平台云',
        name: '平台云'
      },
      {
        code: '政企云',
        name: '政企云'
      },
      {
        code: '非云',
        name: '非云'
      }
    ];

    const tabListHandle = [
      {
        code: '',
        name: '所有'
      },
      {
        code: '网络云大区',
        name: '网络云大区'
      },
      {
        code: '网络云省内',
        name: '网络云省内'
      },
      {
        code: '网络边缘云',
        name: '网络边缘云'
      },
      {
        code: '移动边缘云',
        name: '移动边缘云'
      },
      {
        code: '融合边缘云',
        name: '融合边缘云'
      },
      {
        code: '平台云',
        name: '平台云'
      },
      {
        code: '政企云',
        name: '政企云'
      },
      {
        code: '非云',
        name: '非云'
      }
    ];

    const showTabList = computed(() => {
      return routeCode.value === 'hardware' ? tabListHandle : tabList;
    });

    let queryData = reactive({
      cloud: '',
      rackId: '',
      room: ''
    });

    function changeTab(tab) {
      $bus.emit('tabsChange');
      activeKey = tab.paneName;
      if (route.path.includes('machineRoom')) {
        pageStatus.value = 'park';
        queryData.cloud = tab.paneName;
      } else {
        pageStatus.value = 'hardware';
      }
    }

    let queryRackData = reactive({
      cloud: '',
      rackId: '',
      room: '',
      dataCenter: ''
    });
    let rackListLabel = ref('');
    function selectParkHandle(item) {
      rackListLabel.value = item.name;

      rackObj.value = {
        ...item,
        roomBase: item.dataCenter,
        apartment: item.name.split('-')[0],
        room: item.name.split('-')[1]
      };

      queryRackData.cloud = activeKey.value;
      queryRackData.room = item.room;
      queryRackData.dataCenter = item.dataCenter;
      pageStatus.value = 'cabinetList';
    }
    function cabinetBack() {
      pageStatus.value = 'park';
    }

    // park：机房列表 cabinetList：机柜列表
    //cabinetDetails：机柜详情 globalSearch: 全局搜索 hardware:云资源池
    let pageStatus = ref('park');

    let routeCode = ref(route.path.includes('machineRoom') ? 'machineRoom' : 'hardware');
    watch(
      () => route.path,
      newCode => {
        routeCode.value = newCode.includes('machineRoom') ? 'machineRoom' : 'hardware';
      }
    );

    if (route.path.includes('machineRoom') ? 'machineRoom' : 'hardware' === 'machineRoom') {
      pageStatus.value = 'park';
      isHardware.value = false;
    } else {
      pageStatus.value = 'hardware';
      isHardware.value = true;
    }
    onBeforeRouteUpdate(newRoute => {
      if (newRoute.params.code === 'machineRoom') {
        pageStatus.value = 'park';
        isHardware.value = false;
      } else {
        pageStatus.value = 'hardware';
        isHardware.value = true;
      }
    });

    let queryRackDetailsData = reactive({
      cloud: '',
      rackId: '',
      room: ''
    });
    let rackLabel = ref();
    let rackObj = ref({});

    //  点击机柜
    function checkRackHandle(rack) {
      rackLabel.value = rack.label;
      rackObj.value = { ...rackObj.value, ...rack };
      queryRackDetailsData.rackId = rack.id;
      pageStatus.value = 'cabinetDetails';
    }

    function cabinetDetailsBack() {
      pageStatus.value = 'cabinetList';
    }

    function crumbToHandle(data, index) {
      if (index >= 0) {
        //返回首页选中tab
        activeKey.value = data[0].instanceId;
        if (index === 0) {
          pageStatus.value = 'park';
          queryData.cloud = data[0].instanceId;
        }
      }
      if (index >= 1) {
        queryRackData.cloud = activeKey.value;
        if (index === 1) {
          queryRackData.room = data[1].instanceId;
          pageStatus.value = 'cabinetList';
        }
      }
      if (index >= 2) {
        queryRackDetailsData.cloud = activeKey.value;
        if (index === 2) {
          rackLabel.value = data[2].name;
          queryRackDetailsData.rackId = `${data[1].instanceId}-${data[2].instanceId}`;
          pageStatus.value = 'cabinetDetails';
        }
      }
    }

    return {
      currentCode,
      changePage,
      isAdv,
      searchValue,
      globalQueryData,
      isHardware,
      globalSearchHandle,
      showAdvancedSearch,
      advancedSearchHandle,
      openAdvancedSearchHandle,

      activeKey,
      showTabList,
      routeCode,
      pageStatus,

      changeTab,
      queryData,
      queryRackData,

      rackListLabel,
      selectParkHandle,
      cabinetBack,

      rackLabel,
      queryRackDetailsData,
      checkRackHandle,
      cabinetDetailsBack,

      crumbToHandle,
      searchBack,

      selectHardware,
      rackObj
    };
  }
});
</script>

<style lang="scss" scoped>
.resource-page {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #e8eaed;
  .head-view {
    padding: 17px 32px 0px 32px;
    background-color: #fff;
    .page-title {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
    }
    .search-box {
      text-align: center;
      padding: 32px 0;
      .input-box {
        width: 552px;
        height: 40px;
      }
      .search-advanced-box {
        display: inline-block;
        position: relative;
      }
      .search-btn {
        display: inline-block;
        padding: 8px 18px;
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        line-height: 24px;
        border-radius: 2px;
        margin-left: 8px;
        &.white {
          border-radius: 2px;
          border: 1px solid #979797;
          color: rgba(38, 38, 38, 1);
        }
        &.active {
          border: 1px solid rgba(0, 166, 249, 1);
          color: rgba(0, 166, 249, 1);
        }
        &.back {
          color: #ffffff;
          background: rgba(0, 166, 249, 1);
        }
      }
    }
    :deep(.ant-tabs-nav) {
      margin-bottom: 0px !important;
    }
  }
  .page-body {
    box-sizing: content-box;
    width: 100%;
    // height: calc(100vh - 270px);
    overflow: hidden;
    background-color: #e8eaed;
    &.padding-24 {
      margin-top: 20px;
      box-sizing: border-box;
      height: calc(100vh - 329px);
    }
  }
}
</style>
