<template>
  <div class="item-box">
    <div class="statistics-box">
      <div class="statistics-item" v-for="(item, index) in statisticsList.list" :key="index">
        <div class="content">
          <div class="left">
            <img class="icon" :src="getIconImage(index)" />
            <div class="text">
              <p class="label">{{ item.label }}</p>
              <p class="english-name">{{ item.en }}</p>
            </div>
          </div>
          <div class="right">
            <span class="value" :style="{ color: item.color }">{{ item.value }}</span>
            <span class="unit">个</span>
          </div>
        </div>
      </div>
    </div>
    <div class="list-box" v-loading="loading">
      <div class="is-none" v-show="!loading && dataCenter.list.length === 0">暂无数据</div>
      <div class="data-center">
        <card-item
          class="card-item-box"
          v-for="(dataCenter, index) in dataCenter.list"
          :key="index"
          :cloud="queryData.cloud"
          :label="dataCenter.dataCenter"
          :total="dataCenter.rackCount"
          @selectItem="changePark"></card-item>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api/resource';
import { defineComponent, reactive, ref, watch } from 'vue';
import cardItem from './components/cardItem.vue';
export default defineComponent({
  props: {
    queryData: {
      type: Object,
      default: () => {
        return {
          cloud: '',
          rackId: '',
          room: ''
        };
      }
    },
    isShow: {
      type: Boolean,
      default: false
    }
  },
  components: {
    cardItem
  },
  setup(props, context) {
    let statisticsList = reactive({
      list: [
        {
          label: '数据中心',
          en: 'Data center',
          color: '#00A6F9',
          value: 0
        },
        {
          label: '机房',
          en: 'Machine room',
          color: '#00E3B4',
          value: 0
        },
        {
          label: '机柜',
          en: 'CABINET',
          color: '#007FEA',
          value: 0
        },
        {
          label: '设备',
          en: 'Device',
          color: '#8700EA',
          value: 0
        }
      ]
    });

    let dataCenter = reactive({
      list: []
    });
    let loading = ref(false);
    function getData() {
      statisticsList.list.forEach(t => {
        t.value = 0;
      });
      dataCenter.list = [];
      loading.value = true;
      dataCenter.list = [
        { dataCenter: '中国移动（杭州）三墩数据中心', rackCount: 9 },
        { dataCenter: '中国移动长三角（宁波）浙东数据中心', rackCount: 27 },
        { dataCenter: '中国移动长三角（金华）浙中数据中心', rackCount: 17 },
        { dataCenter: '中国移动（宁波）杭州湾数据中心', rackCount: 4 },
        { dataCenter: '中国移动（金华）政和路数据中心', rackCount: 1 },
        { dataCenter: '中国移动（杭州）学院路数据中心', rackCount: 3 }
      ];
      api
        .findMainData(props.queryData)
        .then(({ data: { data } }) => {
          statisticsList.list[0].value = data.dataCenterCount || 0;
          statisticsList.list[1].value = data.roomCount || 0;
          statisticsList.list[2].value = data.rackCount || 0;
          statisticsList.list[3].value = data.deviceCount || 0;
          dataCenter.list = data.dataCenter;
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });
    }

    watch(props.queryData, queryData => {
      getData(queryData);
    });
    if (props.isShow) {
      getData({});
    }
    watch(
      () => props.isShow,
      show => {
        if (show) {
          getData(props.queryData);
        }
      }
    );
    let selectPark = ref(null);

    function changePark(item) {
      selectPark = item.id;
      context.emit('selectItem', item);
    }

    return {
      loading,
      selectPark,
      changePark,
      getIconImage(index, isActive) {
        const icons = ['pie-chart-2-fill@2x', 'server-fill@2x', 'tv-2-fill@2x', 'box-3-fill@2x'];
        const icon = icons[index];
        return new URL(`../../assets/machineRoom/${icon}.png`, import.meta.url).href;
      },
      statisticsList,
      dataCenter
    };
  }
});
</script>

<style lang="scss" scoped>
.loading {
  text-align: center;
  background: #e8eaed;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
.item-box {
  width: 100%;
  height: 100%;
  .statistics-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    .statistics-item {
      width: calc(25% - 24px);
      display: inline-block;
      background-color: #fff;
      padding: 28px 24px;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          .icon {
            width: 22px;
            height: 22px;
            margin-right: 16px;
          }
          .text {
            p {
              margin-bottom: 0;
            }
            .label {
              font-size: 18px;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 600;
              color: rgba(0, 0, 0, 0.65);
              line-height: 24px;
            }
            .english-name {
              font-size: 12px;
              font-family: Montserrat-Regular, Montserrat;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.25);
              line-height: 15px;
            }
          }
        }
        .right {
          .value {
            font-size: 24px;
            font-family: Montserrat-Regular, Montserrat;
            font-weight: 400;
            line-height: 22px;
          }
          .unit {
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.25);
            line-height: 20px;
          }
        }
      }
    }
  }
  .is-none {
    padding: 168px 0;
    font-size: 18px;
    text-align: center;
  }

  .list-box {
    background: #ffffff;
    border-radius: 2px;
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: auto;
    padding: 24px 0;
    .data-center {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;
      width: 90%;
      vertical-align: top;
      margin: 0 auto;
      .card-item-box {
        display: inline-block;
        width: calc(50% - 24px);
        margin: 12px 12px;
      }
    }
  }
}
.item {
  margin-right: 24px;
  margin-bottom: 24px;
}
</style>
