<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-09-26 09:05:04
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-11 16:25:17
 * @FilePath: /digital-common/src/views/advice/details.vue
-->
<template>
  <div class="advice-details">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/operations/resourceSearch' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item v-if="state.label" :to="{ path: `/operations/resourceSearch?modelCode=${state.modelCode}` }">
        {{ state.label }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>实例详情</el-breadcrumb-item>
    </el-breadcrumb>

    <a class="back-btn" @click="backHandle">
      <i class="el-icon-arrow-left"></i>
      返回上一页
    </a>

    <h4 class="title">{{ state.title ? state.title : '' }}</h4>

    <div class="main" v-loading="state.loading">
      <el-tabs v-model="state.activeKey" tab-position="top" class="tabs-box">
        <el-tab-pane label="基本信息" name="base" class="tab-base">
          <div class="base-main">
            <div class="left">
              <div class="left-head">
                <h5>实例关系</h5>

                <div class="icon-show-all-list" @click="handleShowAllList">
                  <svg
                    v-if="state.isShowAll"
                    viewBox="64 64 896 896"
                    focusable="false"
                    data-icon="eye"
                    width="1em"
                    height="1em"
                    fill="currentColor"
                    aria-hidden="true">
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
                  </svg>

                  <svg
                    v-else
                    viewBox="64 64 896 896"
                    focusable="false"
                    data-icon="eye-invisible"
                    width="1em"
                    height="1em"
                    fill="currentColor"
                    aria-hidden="true">
                    <path
                      d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z"></path>
                    <path
                      d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z"></path>
                  </svg>
                </div>
              </div>
              <div class="left-body" v-if="state.relationList.length">
                <!-- <p class="subtitle">其它关联资源</p> -->
                <div class="list-box">
                  <div
                    class="item"
                    v-for="relation in state.relationList"
                    :key="relation.name"
                    @click="showDrawerHandle(relation)">
                    <span class="item-list">
                      <i class="el-icon-document-copy" :style="{ fontSize: '14px' }"></i>
                      {{ relation.property }}
                    </span>
                    <span class="item-total" style="margin-right: 16px">
                      {{ relation.value.length ? relation.value.length : '0' }}
                    </span>
                  </div>
                </div>
              </div>
              <div v-else class="left-body" style="height: 100px; line-height: 100px; text-align: center; color: #555">
                暂无
              </div>
            </div>
            <div class="right">
              <div class="data-item">
                <p class="item-label">基本信息</p>
                <div class="item-value-list">
                  <div class="item-value" :key="item.name" v-for="item in state.dataList">
                    <span class="value-label">{{ item.property }}：</span>
                    <span class="value-data">{{ item.value ? item.value : '' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </el-tab-pane>
        <!-- <el-tab-pane disabled label="实例拓扑" name="instanceTopology">
        </el-tab-pane>
        <el-tab-pane disabled label="变更历史" name="history"> </el-tab-pane> -->
      </el-tabs>
    </div>

    <el-drawer
      :wrapperClosable="false"
      size="50%"
      :title="state.currentRelation.property"
      v-model="state.isShowDrawer"
      direction="rtl"
      :before-close="handleClose">
      <div v-if="state.currentRelation.value && state.currentRelation.value.length > 1" class="drawer-table-box">
        <div class="drawer-table-search">
          <el-input
            style="width: 300px"
            v-model="state.searchTable"
            class="input-box"
            placeholder="输入关键字搜索"
            enterButton>
            <template #append>
              <el-button :icon="Search" @click="handleSearch" style="background-color: #3f9eff; color: #fff" />
            </template>
          </el-input>
        </div>
        <el-table :data="state.dataSource" border>
          <el-table-column
            v-for="col in state.columns"
            :prop="col.dataIndex"
            :key="col.dataIndex"
            :label="col.title"
            min-width="120px"
            align="center">
            <template #default="{ $index, row, column }">
              <template v-if="col.slots && col.slots.customRender == 'link'">
                <span style="color: #3f9eff; cursor: pointer" @click="showDataSourceDrawer(row)">
                  {{ row[col.dataIndex] }}
                </span>
              </template>

              <template v-else>
                <span>{{ row[col.dataIndex] }}</span>
              </template>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-box">
          <el-pagination
            :key="state.paginationKey"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="state.tablePagination.current"
            :page-sizes="[10, 20, 50, 100]"
            :page-size="state.tablePagination.size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="state.tablePagination.total"></el-pagination>
        </div>
      </div>
      <div v-else class="data-item" style="padding: 20px">
        <p class="item-label">基本信息</p>
        <div class="item-value-list">
          <div class="item-value" :key="item.name" v-for="(item, index) in state.currentRelation.value[0] || []">
            <span class="value-label">{{ item.property }}：</span>
            <span v-if="index > 0" class="value-data">{{ item.value }}</span>
            <a v-else class="value-data is-link" @click="gotoDetails(state.currentRelation.value[0] || [])">
              {{ item.value }}
            </a>
          </div>
        </div>
        <div v-if="state.currentRelation.value.length === 0" class="is-null">暂无数据！</div>
      </div>
    </el-drawer>
  </div>
</template>

<script setup lang="ts">
import api from '@/api/advice';
import { Search } from '@element-plus/icons-vue';
import _ from 'lodash';
import { reactive, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const router = useRouter();
const route = useRoute();

const state = reactive({
  activeKey: 'base',
  instanceId: route.query.id,
  dataList: [],
  relationList: [],
  relationListBackUp: [],
  loading: false,

  isShowAll: true,
  tablePagination: {
    current: 1,
    size: 10,
    total: 0,
    showTotal: true,
    showSizeChanger: true
  },
  paginationKey: new Date().getTime(),

  label: '',
  title: '',

  isShowDrawer: false,
  searchTable: '',

  columns: [],
  currentRelation: {
    property: '--',
    value: []
  },
  dataSourceAll: [],
  dataSourceAllbackUp: [],
  dataSourcePage: [],
  dataSource: [],
  page: 1,
  modelCode: ''
});

// computed
// let dataSourcePage = computed(() => {
//   console.log('-------- 33333333 --------');
//   return _.chunk(state.dataSourceAll, state.tablePagination.size);
// });

// let dataSource = computed(() => {
//   return dataSourcePage[state.tablePagination.current - 1];
// });

// methods
const computedDataSource = () => {
  state.dataSourcePage = _.chunk(state.dataSourceAll, state.tablePagination.size);
  state.dataSource = state.dataSourcePage[state.tablePagination.current - 1];
};
const handleSizeChange = size => {
  state.tablePagination.size = size;
  computedDataSource();
};

const handleCurrentChange = page => {
  if (page > state.dataSourcePage.length) state.tablePagination.current = state.dataSourcePage.length - 1;
  else state.tablePagination.current = page;
  computedDataSource();
};

const handleSearch = () => {
  if (!state.searchTable) {
    state.dataSourceAll = state.dataSourceAllbackUp;
  } else {
    state.dataSourceAll = state.dataSourceAllbackUp.filter(item => item.allFileds.includes(state.searchTable));
  }
  state.tablePagination.current = 1;
  state.tablePagination.total = state.dataSourceAll.length;
  computedDataSource();
};

const handleShowAllList = () => {
  state.isShowAll = !state.isShowAll;
  if (state.isShowAll) {
    state.relationList = state.relationListBackUp;
  } else {
    state.relationList = state.relationListBackUp.filter(item => item.value.length);
  }
};
const findInfoFn = instanceId => {
  state.loading = true;
  api
    .findInfo({
      instanceId: instanceId
    })
    .then(res => {
      // 过滤掉value 为 0 的
      // state.relationList = res.data.data.relation.filter(
      //   (item) => item.value.length
      // );
      // state.relationList = res.data.data.relation;
      state.relationListBackUp = res.data.data.relation;
      handleShowAllList();
      state.title = getTitle(res.data.data.attr);
      state.dataList = res.data.data.attr;
      state.label = res.data.data.model;

      state.modelCode = res.data.data.modelCode;
      state.loading = false;
    })
    .catch(() => {
      state.loading = false;
    });
};

const getTitle = arr => {
  let index = arr.findIndex(
    item =>
      item.name == 'name' ||
      item.name == 'cluster_elementname' ||
      item.name == 'app_name' ||
      item.name == 'cloud_computer_name' ||
      item.name == 'serialnumber'
  );
  if (index != -1) return arr[index].value;
  else return '';
};

const showDrawerHandle = relation => {
  state.tablePagination.current = 1;
  state.searchTable = '';
  state.isShowDrawer = true;
  Object.keys(state.currentRelation).forEach(key => {
    state.currentRelation[key] = relation[key];
  });
  if (relation.value && relation.value.length > 1) {
    state.columns = relation.value[0].map((t, i) => {
      let resultItem = {
        title: t.property,
        dataIndex: t.name,
        width: 200,
        key: t.name
      };
      if (i === 0) {
        resultItem['slots'] = { customRender: 'link' };
      }
      return resultItem;
    });

    state.dataSourceAll = relation.value.map(t => {
      let result = {};
      t.forEach(t => {
        result[t.name] = t.value;
      });
      t.forEach(t => {
        result['allFileds'] += t.value ? t.value : '';
      });
      return result;
    });
    state.dataSourceAllbackUp = state.dataSourceAll;
    state.tablePagination.total = state.dataSourceAll.length;
    computedDataSource();
  }
};

const showDataSourceDrawer = data => {
  let id = data.instance_id;
  if (id) {
    router.push('/operations/details?id=' + id);
  }
};

const gotoDetails = dataList => {
  let id = '';
  dataList.forEach(t => {
    if (t.name === 'instance_id') {
      id = t.value;
    }
  });
  if (id) {
    router.push('/operations/details?id=' + id);
  }
};

const backHandle = () => {
  let path = JSON.parse(localStorage.getItem('backInfo') || '{}').path;
  if (path) {
    router.push({
      path,
      query: {
        back: true,
        page: state.page
      }
    });
  } else {
    router.back();
  }
};

const handleClose = () => {
  state.isShowDrawer = false;
};

// created
findInfoFn(state.instanceId);
if (route.query.page) state.page = route.query.page;

watch(
  () => route.query.id,
  newId => {
    state.isShowDrawer = false;
    findInfoFn(newId);
  }
);
</script>

<style lang="scss" scoped>
.advice-details {
  background-color: #f5f5f5;
  padding: 20px 20px;
  .title {
    margin: 12px 0;
  }
  .main {
    margin-top: 24px;
    background: #ffffff;
    border-radius: 2px;
    padding: 24px 32px;
    .spin-example {
      position: absolute;
      z-index: 999;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      min-height: 180px;
      line-height: 1;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 130px 50px;
      margin: 20px 0;
    }
    .tabs-box {
      width: 100%;
      .tab-base {
        width: 100%;
        .base-main {
          width: 100%;
        }
        .left {
          display: inline-block;
          margin-right: 20px;
          width: 346px;
          padding: 16px;
          border-radius: 8px;
          box-sizing: border-box;
          background-color: #f7f8fa;
          .left-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icon-show-all-list {
              display: flex;
              cursor: pointer;
              padding: 16px;
              // & :hover {
              //   border-radius: 50%;
              //   background: #87b6eb7e;
              //   color: #3f9eff;
              // }
              svg:hover {
                color: #3f9eff;
              }
            }

            h5 {
              font-size: 14px;
              color: #262626;
              font-weight: 500;
            }
          }
          .left-body {
            .subtitle {
              color: #8c8c8c;
              font-size: 12px;
              margin-top: 5px;
              margin-bottom: 12px;
            }
            .list-box {
              max-height: 620px;
              overflow-y: auto;
              .item {
                font-size: 14px;
                margin-bottom: 10px;
                width: 28 0px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                color: #5e5e5e;
                .item-list {
                  display: inline-block;
                  max-width: 260px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
        }
        .right {
          display: inline-block;
          vertical-align: top;
          width: calc(100% - 380px);
        }
      }
    }
  }
}
</style>

<style lang="scss" scoped>
.drawer-table-box {
  padding: 20px;
  .drawer-table-search {
    padding: 12px 0;
  }
}
</style>

<style lang="scss" scoped>
.back-btn {
  display: inline-block;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0, 166, 249, 1);
  padding: 6px 13px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 166, 249, 1);
  line-height: 22px;
  margin: 16px 0;
}
.data-item {
  .item-label {
    margin-top: 12px;
    margin-left: 2px;
    padding: 0 0 12px 0;
    font-size: 14px;
    font-weight: bold;
    color: #6b6b6b;
  }
  .item-value-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item-value {
      margin: 8px 0;
      font-size: 12px;
      width: 50%;
      .value-label {
        display: inline-block;
        width: 35%;
        text-align: right;
        color: rgba(0, 0, 0, 0.65);
      }
      .value-data {
        display: inline-block;
        width: calc(65% - 6px);
        color: rgba(0, 0, 0, 0.85);
        vertical-align: top;
        flex-wrap: nowrap;
        word-break: break-all;
        &.is-link {
          color: rgba(0, 166, 249, 1);
          text-decoration: underline;
        }
      }
    }
  }
  .is-null {
    margin: 160px auto;
    text-align: center;
    font-size: 14px;
    color: #6b6b6b;
  }
}

.pagination-box {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}
</style>
