<template>
  <div class="advice-list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/operations/resourceSearch' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>搜索结果</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- <a class="back-btn" @click="backHandle">
      <i class="el-icon-arrow-left"></i>
      返回上一页
    </a> -->
    <div class="main">
      <div class="search-box">
        <el-input
          v-model="state.searchValue"
          state.
          class="input-box"
          placeholder="搜索应用、主机等信息"
          @pressEnter="globalSearch" />
        <a class="search-btn back" @click="globalSearch">全局搜索</a>

        <el-cascader
          clearable
          v-model="state.modelCodeList"
          placeholder="为空则为搜索全部"
          style="width: 180px; margin-left: 10px"
          :options="state.optionsList"
          @change="handleChangeByType"></el-cascader>
      </div>

      <div class="data-list">
        <div class="content" v-loading="state.loading">
          <item
            class="content-item"
            v-for="item in state.listData"
            :key="item.instance_Id"
            :id="item.instance_Id"
            :label="item.name"
            :model="item.model"
            :content="item.data"
            :keyword="state.keyword"
            @handleItem="handleItem"></item>
          <div class="is-null" v-if="!state.loading && state.listData.length === 0">未搜索到信息</div>
        </div>
        <div class="bottom">
          <div class="l-pagination">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="state.tablePagination.current"
              :page-sizes="[10, 20, 50, 100]"
              :page-size="state.tablePagination.size"
              layout="total, sizes, prev, pager, next, jumper"
              :total="state.tablePagination.total"></el-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import api from '@/api/advice';
import apiHomePage from '@/api/homePage';
import { computed, reactive, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import item from './components/item.vue';

const router = useRouter();
const route = useRoute();

const state = reactive({
  keyword: '',
  searchValue: route.query.word,
  modelCode: '',
  modelCodeList: [],
  optionsList: [],

  pageData: {
    current: 1,
    size: 10,
    total: 0
  },
  tablePagination: {
    current: 1,
    size: 10,
    total: 0,
    showTotal: true,
    showSizeChanger: true
  },
  listData: [],
  loading: false,
  nextpage: false
});

const word = computed(() => {
  return route.query.word;
});

const handleSizeChange = size => {
  state.tablePagination.size = size;
  state.tablePagination.current = 1;
  globalSearchHandle();
};
const handleCurrentChange = page => {
  if (page > state.dataSourcePage) state.tablePagination.current = state.dataSourcePage.length - 1;
  else state.tablePagination.current = page;
  globalSearchHandle();
};
const findTypeByGroup = () => {
  apiHomePage.findTypeByGroup().then(({ data: { data } }) => {
    state.optionsList = data.map(t => {
      const children = t.data.map(item => {
        return {
          value: item.code,
          label: item.name
        };
      });
      return {
        value: t.group,
        label: t.group,
        children
      };
    });
  });
};

const backHandle = () => {
  let path = route.query.path;
  let tab = route.query.tab;
  let type = route.query.type;
  if (path) {
    router.push({
      path,
      query: {
        tab,
        type
      }
    });
  } else {
    router.back();
  }
};

const handleChangeByType = val => {
  state.tablePagination.current = 1;
  if (val && val.length > 0) {
    state.modelCode = val[val.length - 1];
  } else {
    state.modelCode = '';
  }
  globalSearchHandle();
};
const globalSearch = () => {
  if (!localStorage.getItem('searchPage')) state.tablePagination.current = 1;
  state.keyword = state.searchValue;
  router.replace({
    query: {
      word: state.searchValue
    }
  });
  globalSearchHandle();
};

const globalSearchHandle = () => {
  state.loading = true;
  api
    .fullSearch({
      page: state.tablePagination.current,
      modelCode: state.modelCode,
      size: state.tablePagination.size,
      word: state.keyword
    })
    .then(res => {
      state.listData = res.data.data.data;
      state.tablePagination.total = res.data.data.total;
      state.loading = false;
    })
    .catch(() => {
      state.listData = [];
      state.loading = false;
    });
};

const handleItem = id => {
  router.push('/operations/details?id=' + id);
  localStorage.setItem('searchPage', state.tablePagination.current);
};

// created
if (localStorage.getItem('searchPage')) {
  state.tablePagination.current = localStorage.getItem('searchPage') * 1;
}
findTypeByGroup();
globalSearch();

watch(
  () => word,
  nval => {
    state.searchValue = nval;
  }
);
</script>

<style lang="scss" scoped>
.advice-list {
  background-color: #f5f5f5;
  padding: 24px 24px;
  .main {
    margin-top: 24px;
    background: #ffffff;
    border-radius: 2px;
    padding: 24px 32px;
    .search-box {
      .input-box {
        width: 300px;
      }
      .search-btn {
        margin-left: 16px;
        text-align: center;
        display: inline-block;
        width: 88px;
        height: 30px;
        border-radius: 2px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        background: rgba(0, 166, 249, 1);
        line-height: 30px;
      }
    }
    .data-list {
      margin-top: 62px;
      .content {
        position: relative;
        .spin-example {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          min-height: 180px;
          line-height: 1;
          text-align: center;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          margin-bottom: 20px;
          padding: 130px 50px;
          margin: 20px 0;
        }
        margin-bottom: 26px;
        .content-item {
          margin-bottom: 42px;
        }
      }
      .is-null {
        text-align: center;
        padding: 160px 0 80px 0;
      }
      .bottom {
        text-align: right;
      }
    }
  }
}

.back-btn {
  display: inline-block;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0, 166, 249, 1);
  padding: 6px 13px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 166, 249, 1);
  line-height: 22px;
  margin: 16px 0;
}

.l-pagination {
  display: flex;
  justify-content: center;
}
</style>
