<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2024-01-12 14:51:58
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-12 15:00:33
 * @FilePath: /digital-common/src/views/resource/machineRoom/index.vue
-->
<template>
  <div class="machine-room">
    <park-list v-show="pageStatus === 'park'" @selectItem="selectParkHandle" :queryData="queryData"></park-list>

    <cabinet-list
      :queryData="queryRackData"
      v-show="pageStatus === 'cabinetList'"
      @back="cabinetBack"
      @on-check-Rack="checkRackHandle"></cabinet-list>

    <cabinet-details
      :queryData="queryRackDetailsData"
      v-show="pageStatus === 'cabinetDetails'"
      @back="cabinetDetailsBack"></cabinet-details>

    <global-search v-show="pageStatus === 'globalSearch'" :isAdv="isAdv" :queryData="globalQueryData"></global-search>
  </div>
</template>

<script>
import { defineComponent, reactive, ref } from 'vue';

import cabinetDetails from '../cabinetDetails.vue';
import cabinetList from '../cabinetList.vue';
import globalSearch from '../globalSearch.vue';
import parkList from '../parkList.vue';

export default defineComponent({
  components: {
    parkList,
    cabinetList,
    cabinetDetails,
    globalSearch,
    advancedSearch
  },
  setup() {
    let queryData = reactive({
      cloud: '',
      rackId: '',
      room: ''
    });

    let pageStatus = ref('park'); // park：机房列表 cabinetList：机柜列表 cabinetDetails：机柜详情 globalSearch: 全局搜索

    let queryRackData = reactive({
      cloud: '',
      rackId: '',
      room: ''
    });
    function selectParkHandle(item) {
      queryRackData.room = item.area;
      pageStatus.value = 'cabinetList';
    }
    function cabinetBack() {
      pageStatus.value = 'park';
    }

    let queryRackDetailsData = reactive({
      cloud: '',
      rackId: '',
      room: ''
    });
    function checkRackHandle(rack) {
      queryRackDetailsData.rackId = rack.id;
      pageStatus.value = 'cabinetDetails';
    }

    function cabinetDetailsBack() {
      pageStatus.value = 'cabinetList';
    }

    return {
      queryData,
      pageStatus,

      queryRackData,
      selectParkHandle,
      cabinetBack,

      queryRackDetailsData,
      checkRackHandle,
      cabinetDetailsBack
    };
  }
});
</script>
