<template>
  <div class="advanced-search" @click.stop>
    <div class="search-body">
      <el-form :model="queryData" ref="formRef" label-width="120px" :inline="false">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item label="设备名称">
              <el-input v-model="queryData.name" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="生命周期">
              <el-input v-model="queryData.lifeCycleState" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备IP">
              <el-input v-model="queryData.ip" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="资产编号">
              <el-input v-model="queryData.lifeCycleState" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备型号">
              <el-input v-model="queryData.model" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备生产商">
              <el-input v-model="queryData.manufacturer" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备序列号">
              <el-input v-model="queryData.serialnumber" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="所属业务平台">
              <el-input v-model="queryData.businessSystem" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="租户">
              <el-input v-model="queryData.belongDepartment" clearable></el-input>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="业务名称">
              <el-input v-model="queryData.businessModuleName" clearable></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <div class="bottom">
      <el-button class="btn" @click="reset">重置</el-button>
      <el-button class="btn" type="primary" @click="searchHandle">搜索</el-button>
    </div>
  </div>
</template>

<script>
import { ElMessage } from 'element-plus';
import { defineComponent, reactive, ref } from 'vue';

export default defineComponent({
  emits: ['on-search'],
  setup(props, context) {
    let queryData = reactive({
      name: '',
      lifeCycleState: '',
      ip: '',
      instanceId: '',
      model: '',
      manufacturer: '',
      serialnumber: '',
      businessSystem: '',
      tenant: '',
      belongDepartment: '',
      businessModuleName: ''
    });
    const formRef = ref();
    function reset() {
      formRef.value.resetFields();
      Object.keys(queryData).forEach(key => {
        queryData[key] = '';
      });
    }

    function searchHandle() {
      let notEmpty = false;
      Object.keys(queryData).forEach(key => {
        if (queryData[key]) {
          notEmpty = true;
        }
      });
      if (notEmpty) {
        context.emit('on-search', queryData);
      } else {
        ElMessage.warning('请输入搜索条件');
      }
    }
    return {
      formRef,
      queryData,
      reset,
      searchHandle,
      labelCol: { span: 8 },
      wrapperCol: { span: 16 }
    };
  }
});
</script>

<style lang="scss" scoped>
.advanced-search {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 100;
  width: 734px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  .search-body {
    padding: 24px 28px;
    .ant-col {
      padding: 7px 0;
    }
  }
  .bottom {
    border-top: 1px solid rgba(217, 217, 217, 1);
    padding: 16px 28px;
    text-align: right;
    .btn {
      margin: 0 4px;
    }
  }
  :deep(.el-select) {
    width: 100%;
  }
}
</style>
