<template>
  <div class="advanced-search" @click.stop>
    <div class="search-body">
      <!-- <a-form ref="formRef" layout="inline" :labelCol="labelCol" :wrapper-col="wrapperCol" :model="queryData">
        <a-row>
          <a-col :span="12">
            <a-form-item label="资产编号">
              <a-input v-model:value="queryData.assetTags" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="所属云平台">
              <a-select
                v-model:value="queryData.cloud"
                placeholder="请选择"
                allowClear
                :options="cloudOptions"></a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="数据中心">
              <a-select
                v-model:value="queryData.dataCenter"
                placeholder="请选择"
                allowClear
                :options="dataCenterOptions"></a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="占据U数">
              <a-input v-model:value="queryData.holdCountOfRu" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="机楼">
              <a-input v-model:value="queryData.idcApartment" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="机架">
              <a-input v-model:value="queryData.idcRack" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="机房">
              <a-input v-model:value="queryData.idcRoom" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="配置项编号">
              <a-input v-model:value="queryData.instanceId" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="是否单电源">
              <a-select
                v-model:value="queryData.isSinglePower"
                placeholder="请选择"
                allowClear
                :options="isOrNoOptions"></a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="设备生产商">
              <a-input v-model:value="queryData.manufacturer" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="设备型号">
              <a-input v-model:value="queryData.model" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="设备序列号">
              <a-input v-model:value="queryData.serialnumber" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="起始U位">
              <a-input v-model:value="queryData.startPositionOfRu" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="类型">
              <a-select
                v-model:value="queryData.type"
                placeholder="请选择"
                allowClear
                :options="typeOptions"></a-select>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form> -->
      <el-form :model="queryData" ref="formRef" layout="inline" label-width="120px" :inline="false">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item label="资产编号">
              <el-input v-model="queryData.assetTags" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="所属云平台">
              <el-select v-model="queryData.cloud" placeholder="请选择" clearable>
                <el-option
                  v-for="item in cloudOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="数据中心">
              <el-select v-model="queryData.dataCenter" placeholder="请选择" clearable>
                <el-option
                  v-for="item in dataCenterOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="占据U数">
              <el-input v-model="queryData.holdCountOfRu" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="机楼">
              <el-input v-model="queryData.idcApartment" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="机架">
              <el-input v-model="queryData.idcRack" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="机房">
              <el-input v-model="queryData.idcRoom" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="配置项编号">
              <el-input v-model="queryData.instanceId" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="是否单电源">
              <el-select v-model="queryData.isSinglePower" placeholder="请选择" clearable>
                <el-option
                  v-for="item in isOrNoOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备生产商">
              <el-input v-model="queryData.manufacturer" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备型号">
              <el-input v-model="queryData.model" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="设备序列号">
              <el-input v-model="queryData.serialnumber" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="起始U位">
              <el-input v-model="queryData.startPositionOfRu" placeholder="" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="类型">
              <el-select v-model="queryData.type" placeholder="请选择" clearable>
                <el-option
                  v-for="item in typeOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <div class="bottom">
      <el-button class="btn" @click="reset">重置</el-button>
      <el-button class="btn" type="primary" @click="searchHandle">搜索</el-button>
    </div>
  </div>
</template>

<script>
import { ElMessage } from 'element-plus';
import { defineComponent, reactive, ref } from 'vue';

export default defineComponent({
  emits: ['on-search'],
  setup(props, context) {
    let queryData = reactive({
      assetTags: '',
      cloud: '',
      dataCenter: '',
      holdCountOfRu: '',
      idcApartment: '',
      idcRack: '',
      idcRoom: '',
      instanceId: '',
      isSinglePower: '',
      manufacturer: '',
      model: '',
      serialnumber: '',
      startPositionOfRu: '',
      type: ''
    });
    const formRef = ref();
    function reset() {
      formRef.value.resetFields();
      Object.keys(queryData).forEach(key => {
        queryData[key] = '';
      });
    }

    function searchHandle() {
      let notEmpty = false;
      Object.keys(queryData).forEach(key => {
        if (queryData[key]) {
          notEmpty = true;
        }
      });
      if (notEmpty) {
        context.emit('on-search', queryData);
      } else {
        ElMessage.warning('请输入搜索条件');
      }
    }
    return {
      formRef,
      queryData,
      reset,
      searchHandle,
      labelCol: { span: 8 },
      wrapperCol: { span: 16 },
      cloudOptions: [
        {
          value: '网络云大区'
        },
        {
          value: '网络云省内'
        },
        {
          value: '平台云'
        },
        {
          value: '政企云'
        },
        {
          value: '非云'
        },
        {
          value: '省内IT云'
        },
        {
          value: '一级IT云'
        },
        {
          value: '移动云'
        }
      ],
      typeOptions: [
        {
          value: '服务器'
        },
        {
          value: '网络设备'
        },
        {
          value: '安全设备'
        },
        {
          value: '其他'
        }
      ],
      dataCenterOptions: [
        {
          value: '中国移动长三角（宁波）浙东数据中心'
        },
        {
          value: '中国移动（宁波）杭州湾数据中心'
        },
        {
          value: '中国移动长三角（金华）浙中数据中心'
        },
        {
          value: '中国移动（金华）政和路数据中心'
        },
        {
          value: '中国移动（杭州）石桥数据中心'
        },
        {
          value: '中国移动（杭州）三墩数据中心'
        },
        {
          value: '中国移动（杭州）学院路数据中心'
        },
        {
          value: '中国移动（杭州）萧山产业园数据中心'
        },
        {
          value: '中国移动（杭州）滨江数据中心'
        },
        {
          value: '中国移动（杭州）上塘数据中心'
        },
        {
          value: '中国移动（杭州）萧山枢纽数据中心'
        }
      ],
      isOrNoOptions: [
        {
          value: '是',
          label: '是'
        },
        {
          value: '否',
          label: '否'
        }
      ]
    };
  }
});
</script>

<style lang="scss" scoped>
.advanced-search {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 100;
  width: 880px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  .search-body {
    padding: 24px 28px;
    .ant-col {
      padding: 7px 0;
    }
  }
  .bottom {
    border-top: 1px solid rgba(217, 217, 217, 1);
    padding: 16px 28px;
    text-align: right;
    .btn {
      margin: 0 4px;
    }
  }
  :deep(.el-select) {
    width: 100%;
  }
}
</style>
