<template>
  <div class="cabinet-item">
    <img src="../../../assets/resource/cabinet.png" srcset="../../../assets/resource/cabinet@2x.png" />
    <div class="mask" :style="{ height: showValue }"></div>
    <i class="drop"></i>

    <div class="message">
      <div class="label">{{ label }}</div>
      <div class="info">
        机柜占用率%
        <span class="occupy">{{ showValue }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent } from 'vue';

export default defineComponent({
  props: {
    occupyValue: {
      type: String,
      default: '0%'
    },
    label: {
      type: String,
      default: '--'
    }
  },
  setup(props, context) {
    const isRed = computed(() => {
      return Number(props.occupyValue.replace('%', '')) >= 85;
    });
    const showValue = computed(() => {
      return Number(props.occupyValue.replace('%', '')) >= 100 ? '100%' : props.occupyValue;
    });

    return { isRed, showValue };
  }
});
</script>

<style lang="scss" scoped>
.cabinet-item {
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 54px;
  &:hover {
    .message {
      width: 174px;
      opacity: 1;
    }
    .drop {
      opacity: 1;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.8;
    background-color: rgba(0, 154, 249);
    &.red {
      background-color: rgba(242, 60, 60);
    }
  }
  .message {
    opacity: 0;
    width: 0;
    z-index: 10;
    position: absolute;
    left: 100%;
    top: 50%;
    background: rgba(21, 38, 49, 0.8);
    border-radius: 4px;
    padding: 8px 12px;
    text-align: left;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    line-height: 24px;
    .label {
      color: #ffffff;
    }
    .info {
      font-weight: 500;
      color: rgba(255, 255, 255, 0.65);
      .occupy {
        margin-left: 14px;
        color: #ffffff;
      }
    }
  }
  .drop {
    opacity: 0;
    display: inline-block;
    position: relative;
    bottom: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2f404a;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
    }
  }
}
</style>
