<template>
  <div class="card-item">
    <div class="card-head" :class="{ isOpen: isOpen }" @click="clickHandle">
      <div class="left">
        <i class="icon"></i>
        <span class="label">{{ label }}</span>
      </div>
      <div class="right">
        <span class="count">（{{ total }}）</span>
        <el-icon v-show="!isOpen"><ArrowDownBold /></el-icon>
        <el-icon v-show="isOpen"><ArrowUpBold /></el-icon>
      </div>
    </div>
    <div class="card-boy" v-show="isOpen" v-loading="loading">
      <div class="is-none" v-show="!loading && itemList.list.length === 0">暂无数据</div>
      <item-view
        v-for="(item, index) in itemList.list"
        :key="index"
        @click="changePark(item)"
        :itemData="item"
        class="item-view"></item-view>
    </div>
  </div>
</template>

<script>
import api from '@/api/resource';
import { ArrowDownBold, ArrowUpBold } from '@element-plus/icons-vue';
import { defineComponent, onMounted, reactive, ref } from 'vue';
import itemView from './item';
export default defineComponent({
  props: {
    cloud: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    total: {
      type: Number,
      default: 0
    }
  },
  components: {
    ArrowDownBold,
    ArrowUpBold,
    itemView
  },
  setup(props, context) {
    const $bus = getCurrentInstance().appContext.config.globalProperties.mittBus;

    onMounted(() => {
      $bus.on('tabsChange', () => {
        isOpen.value = false;
      });
    });
    let isOpen = ref(false);

    function clickHandle() {
      isOpen.value = !isOpen.value;
      getRoomByCloud();
    }
    let loading = ref(false);
    let itemList = reactive({
      list: []
    });
    function getRoomByCloud() {
      itemList.list = [];
      loading.value = true;
      api
        .findRoomByCardCloud({
          cloud: props.cloud,
          dataCenter: props.label
        })
        .then(res => {
          itemList.list = res.data.data.map(item => {
            return {
              area: item.roomBase,
              name: item.roomCode,
              room: item.room,
              dataCenter: props.label
            };
          });
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });
    }
    function changePark(item) {
      context.emit('selectItem', item);
    }
    return {
      isOpen,
      getIconImage(isActive) {
        return new URL(`../../../assets/machineRoom/card-icon${isActive ? '-fill@2x' : ''}.png`, import.meta.url).href;
      },
      clickHandle,
      itemList,
      changePark,
      loading
    };
  }
});
</script>

<style lang="scss" scoped>
.loading {
  text-align: center;
  background: #e8eaed;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  margin: auto;
  width: 100%;
}
.is-none {
  padding: 168px 0;
  font-size: 18px;
  text-align: center;
}
.card-item {
  width: 100%;
  display: inline-block;
  .card-head {
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 16px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.isOpen,
    &:hover {
      .left {
        .icon {
          background-image: url('../../../assets/machineRoom/card-icon-fill@2x.png');
        }
        .label {
          color: #00a6f9;
        }
      }
    }
    .left {
      .icon {
        display: inline-block;
        width: 14px;
        height: 23px;
        margin-right: 8px;
        vertical-align: sub;
        background-size: cover;
        background-image: url('../../../assets/machineRoom/card-icon.png');
      }
      .label {
        font-size: 18px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.65);
        line-height: 24px;
      }
    }
    .right {
      .count {
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #4a7ca0;
        line-height: 22px;
        margin-right: 16px;
      }
    }
  }
  .card-boy {
    width: 100%;
    height: auto;
    background: #f2f3f5;
    display: flex;
    flex-wrap: wrap;
    .item-view {
      margin: 8px 8px;
      width: calc(100% / 3 - 16px);
    }
  }
}
</style>
