<template>
  <div class="device-item">
    <span class="left"></span>
    <div class="middle">
      {{ itemData.serialnumber }}
    </div>
    <span class="right"></span>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
export default defineComponent({
  props: {
    itemData: {
      type: Object,
      default: () => {
        return {
          assetTags: ''
        };
      }
    }
  }
});
</script>

<style lang="scss" scoped>
.device-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 42px;
  background: linear-gradient(146deg, #2d404b 0%, #3a4d59 100%),
    linear-gradient(180deg, rgba(153, 194, 255, 0.1) 0%, rgba(73, 194, 255, 0) 100%);
  border-bottom: 3px solid #5f727e;
  .left,
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 100%;
    min-height: 42px;
    background: #657886;
    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 57%;
      background-color: rgba(58, 77, 89, 1);
    }
  }
  .middle {
    font-size: 16px;
    font-family: PingFangTC-Medium, PingFangTC;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
  }
}
</style>
