<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2024-01-12 14:51:58
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-01-16 15:08:38
 * @FilePath: /digital-common/src/views/resource/components/item.vue
-->
<template>
  <div class="item-view" :class="{ active: isActive }">
    <div class="left">
      <div class="name">
        {{ itemData.name }}
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
export default defineComponent({
  props: {
    isActive: {
      type: Boolean,
      default: false
    },
    itemData: {
      type: Object,
      default: () => {
        return {
          area: '-',
          name: '--'
        };
      }
    }
  },
  setup(props) {
    return {};
  }
});
</script>

<style lang="scss" scoped>
.item-view {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 252px;
  min-height: 122px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
  background-image: url('../../../assets/resource/backgroup.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  &:hover,
  &.active {
    background-color: rgba(47, 64, 74, 1);
    background-image: url('../../../assets/resource/backgroup-fill.png');
    .left {
      .name {
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .left {
    padding-top: 23px;
    margin-left: 24px;
    .area {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #4a7ca0;
      line-height: 24px;
    }
    .line {
      width: 48px;
      height: 1px;
      background: #d8d8d8;
      margin: 8px 0;
    }
    .name {
      font-size: 24px;
      font-family: HelveticaNeue-Medium, HelveticaNeue;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.65);
      line-height: 32px;
    }
  }
}
</style>
