<template>
  <div class="Nav_head">
    <div class="log-nav">
      <div class="logo" @click="handleGoHome">
        <div class="log-left"></div>
        <div style="height: 30px; border-left: 1px solid rgb(151, 146, 146)"></div>
        <div class="log-right"></div>
      </div>

      <div class="hamburger-container-warp" style="width: 60px">
        <hamburger
          v-show="showHamburger"
          :is-active="sidebar.opened"
          class="hamburger-container"
          @toggleClick="toggleSideBar" />
      </div>

      <div class="el-nav-tab">
        <el-tabs v-model="state.activeName" class="demo-tabs" @tab-click="handleClick">
          <el-tab-pane label="首页" name="home"></el-tab-pane>
          <el-tab-pane label="运维工作台" name="staging"></el-tab-pane>
          <el-tab-pane label="资源管理" name="resources"></el-tab-pane>
          <el-tab-pane label="质量运营" name="quality"></el-tab-pane>
          <el-tab-pane label="系统设置" name="sys"></el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <div class="total-user">
      <div class="header-count">
        <div class="head-count-num">
          <span>
            注册用户数[
            <span class="count-num">{{ state.total.registrations }}</span>
            ]
          </span>
        </div>
        <div style="height: 20px; border-left: 1px solid rgb(151, 146, 146)"></div>
        <div class="head-count-num">
          <span>
            累计访问数[
            <span class="count-num">{{ state.total.interview }}</span>
            ]
          </span>
        </div>
        <div style="height: 20px; border-left: 1px solid rgb(151, 146, 146)"></div>
        <div class="head-count-num">
          <span>
            当前在线[
            <span class="count-num">{{ state.total.Currently }}</span>
            ]
          </span>
        </div>
      </div>
      <div class="header-user">
        <div class="r-content">
          <el-dropdown class="avatar-container" trigger="click">
            <div class="avatar-wrapper" style="display: flex; align-items: center">
              <span style="display: inline-block; font-size: 18px; margin-right: 10px; color: black">
                {{ state.userName }}
              </span>
              <img class="user" src="./assets/view-total/user.png" alt="" />
            </div>
            <template #dropdown>
              <el-dropdown-menu class="user-dropdown">
                <el-dropdown-item divided @click="logoutFn">
                  <span style="display: block">退 出</span>
                </el-dropdown-item>
                <el-dropdown-item divided @click="editPassword">
                  <span style="display: block">修改密码</span>
                </el-dropdown-item>
              </el-dropdown-menu>
            </template>
          </el-dropdown>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { userInfo } from '@/api/authorityApi';
import Hamburger from '@/components/Hamburger';
import useAppStore from '@/store/modules/app';
import useActionRouterStore from '@/store/modules/routers';
import { logout } from '@/utils/auth';
import type { TabsPaneContext } from 'element-plus';
import { ElMessage, ElMessageBox } from 'element-plus';
import { computed, getCurrentInstance, onMounted, reactive } from 'vue';
import { useRouter } from 'vue-router';

const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;
const router = useRouter();
const appStore = useAppStore();

const emit = defineEmits(['toggleTab']);
const props = defineProps({
  showHamburger: {
    type: Boolean,
    default: false
  }
});

const state = reactive({
  userName: sessionStorage.getItem('userName') || '',
  activeName: localStorage.getItem('TotalViewName') || 'home',
  total: {
    registrations: 876,
    interview: 34,
    Currently: 45
  },
  paths: {
    home: '/totalView',
    staging: '/operation/opsPlatform',
    resources: '/operations/resourceSearch',
    quality: '/operation/systemManagement',
    sys: '/operation/systemManagement/authorComponents'
  }
});

const sidebar = computed(() => useAppStore().sidebar);

const handleClick = (tab: TabsPaneContext, event: Event) => {
  localStorage.setItem('TotalViewName', tab.paneName as string);
  setTimeout(() => {
    router.push(state.paths[tab.paneName as string]);
    emit('toggleTab');
  }, 0);
};

const handleGoHome = () => {
  state.activeName = 'home';
  localStorage.setItem('TotalViewName', state.activeName);
  router.push('/totalView');
};

const toggleSideBar = () => {
  appStore.toggleSideBar();
};
const logoutFn = () => {
  ElMessageBox.confirm('确认退出登陆吗？', '提示', {
    confirmButtonText: '确 认',
    cancelButtonText: '取 消',
    type: 'warning'
  })
    .then(() => {
      logout();
      router.push({ path: '/' });
      ElMessage({
        type: 'success',
        message: '退出登陆成功'
      });
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '已取消'
      });
    });
};
const editPassword = () => {
  router.push('/editPassword');
};

const setTotalViewName = val => {
  localStorage.setItem('TotalViewName', val);
};

const setActiveName = v => {
  state.activeName = v;
};

const setuserInfo = () => {
  var allWriteList = [];
  userInfo()
    .then(res => {
      state.userName = res.data.data.user.username;
      sessionStorage.setItem('userName', res.data.data.user.username);
      sessionStorage.setItem('name', res.data.data.user.name);
      sessionStorage.setItem('role_id', res.data.data.user.id);
      sessionStorage.setItem('roleNamesStr', res.data.data.user.role_names.join(',') || '');

      let nameRoles = res.data.data.user.role_names;
      if (nameRoles.indexOf('CMDB管理流程—工程组') >= 0) {
        let index = nameRoles.indexOf('CMDB管理流程—工程组');
        sessionStorage.setItem('roleName', nameRoles[index]);
      } else if (nameRoles.indexOf('CMDB管理流程—网络组') >= 0) {
        let idnex = nameRoles.indexOf('CMDB管理流程—网络组');
        sessionStorage.setItem('roleName', nameRoles[idnex]);
      } else if (nameRoles.indexOf('CMDB管理流程—主机组') >= 0) {
        let idnex = nameRoles.indexOf('CMDB管理流程—主机组');
        sessionStorage.setItem('roleName', nameRoles[idnex]);
      } else if (nameRoles.indexOf('CMDB管理流程—存储组') >= 0) {
        let idnex = nameRoles.indexOf('CMDB管理流程—存储组');
        sessionStorage.setItem('roleName', nameRoles[idnex]);
      } else if (nameRoles.indexOf('CMDB管理流程—云OS（虚拟化）组') >= 0) {
        let idnex = nameRoles.indexOf('CMDB管理流程—云OS（虚拟化）组');
        sessionStorage.setItem('roleName', nameRoles[idnex]);
      } else if (nameRoles.indexOf('CMDB管理流程—数据库组') >= 0) {
        let idnex = nameRoles.indexOf('CMDB管理流程—数据库组');
        sessionStorage.setItem('roleName', nameRoles[idnex]);
      } else if (nameRoles.indexOf('CMDB管理流程—数据组') >= 0) {
        let idnex = nameRoles.indexOf('CMDB管理流程—数据组');
        sessionStorage.setItem('roleName', nameRoles[idnex]);
      } else {
        sessionStorage.setItem('roleName', nameRoles[nameRoles.length - 2]);
      }
      useActionRouterStore().setRouterData(res.data.data.permissions);
      res.data.data.permissions.forEach(item => {
        if (item.type === 2) {
          allWriteList.push(item.path);
        }
      });
      useActionRouterStore().setWriteList(allWriteList);
    })
    .catch(() => {
      useActionRouterStore().setRouterData([]);
      useActionRouterStore().setWriteList([]);
    });
};

onMounted(() => {
  if (
    !sessionStorage.getItem('userName') ||
    useActionRouterStore().writeList.length == 0 ||
    useActionRouterStore().dynamicRouter.length == 0
  ) {
    setuserInfo();
  }
  $bus.on('toggleMenu', () => {
    state.activeName = localStorage.getItem('TotalViewName') || 'home';
  });
});

defineExpose({
  setTotalViewName,
  setActiveName
});
</script>
<style lang="scss">
.Nav_head {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .log-nav {
    display: flex;
    align-items: center;
    .logo {
      width: 200px;
      height: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .log-left {
        margin-left: 25px;
        width: 50%;
        height: 40px;
        background: url('./assets/view-total/andH.png') no-repeat center center / contain;
      }
      .log-right {
        margin-left: 5px;
        width: 130px;
        height: 40px;
        background-image: url('./assets/view-total/logo.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 100% 80%;
      }
    }
    .el-nav-tab {
      margin-left: 30px;
      height: 60px;
      padding: 0;
      .el-tabs {
        height: 100%;
        .el-tabs__header {
          height: 100%;
          margin: 0;
          .el-tabs__nav-wrap {
            height: 100%;
            .el-tabs__nav-scroll {
              height: 100%;
              .el-tabs__nav {
                height: 100%;
              }
            }
            .el-tabs__item {
              line-height: 60px;
              font-size: 18px;
              height: 100%;
              padding-right: 15px;
            }
            .el-tabs__item:hover {
              color: #0085d0;
            }
          }
        }
        .el-tabs__nav-wrap::after {
          background-color: #fff;
        }
      }
    }
  }
  .total-user {
    display: flex;
    align-items: center;
    .header-count {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .head-count-num {
        margin: 0 20px;

        display: flex;

        .count-num {
          color: #409eff;
        }
      }
    }
    .header-user {
      margin-left: 50px;
      margin-right: 20px;
      .el-dropdown-link {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #409eff;
        .user {
          width: 40px;
          height: 40px;
          // 50%变圆形
          border-radius: 50%;
        }
      }
    }
  }
}
</style>
