<template>
  <div class="big-box">
    <div class="header-box">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>CMDB数据管理流程</el-breadcrumb-item>
        <el-breadcrumb-item style="color: #333333">工程入网</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="content-container">
      <div v-show="state.show == 1" class="frame-box">
        <div class="content-box">
          <div class="create-header">
            <el-steps :active="state.active" finish-status="success">
              <el-step title="工程入网申请" style="width: 180px; flex-basis: 21%"></el-step>
              <el-step title="专业组数据管理员审核" style="width: 253px; flex-basis: 32%"></el-step>
              <el-step title="数据组确认" style="width: 220px; flex-basis: 22%"></el-step>
              <el-step title="专业组数据管理员审核" style="width: 240px; flex-basis: 32%"></el-step>
              <el-step title="数据组确认" style="width: 200px; flex-basis: 20.5%"></el-step>
              <el-step title="完成" style="flex-basis: 20%"></el-step>
            </el-steps>
          </div>
        </div>
      </div>

      <div class="form-box">
        <div class="title-box">
          <p>工单信息</p>
        </div>
        <from-components></from-components>
      </div>
      <div v-show="state.show == 2" class="frame-box">
        <div class="content_tip">
          <div class="el-icon-success icon-box"></div>
          <h4>提交成功</h4>
          <div class="tip-text">
            请到
            <span class="link-box" @click="linkPath">工单列表</span>
            中及时关注工单状态
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { getCurrentInstance, onMounted, reactive } from 'vue';
import { useRouter } from 'vue-router';
import FromComponents from './components/form.vue';

const $bus = getCurrentInstance()!.appContext.config.globalProperties.mittBus;
const $forceUpdate = getCurrentInstance()!.proxy!.$forceUpdate;
const router = useRouter();

const state = reactive({
  active: 0,
  show: 1
});

const linkPath = () => {
  router.push({ name: 'WorkManagement', params: { name: 'second' } });
};

onMounted(() => {
  $bus.on('changeShow', showTips => {
    state.show = showTips;
    $forceUpdate();
  });
});
</script>
<style lang="scss" scoped>
.big-box {
  width: 100%;
  background: #e9ebec;
  .header-box {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
    background: #fff;
    font-size: 16px;
    :deep(.el-breadcrumb__item:last-child) .el-breadcrumb__inner {
      // color: dodgerblue;
      cursor: pointer;
    }
    :deep(.el-breadcrumb) {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
    }
  }
  .frame-box {
    width: 100%;
    background: #fff;
    padding: 15px;
    .content-box {
      width: 100%;
      padding: 50px 0 50px 0;
      border-radius: 4px;
      position: relative;
      .create-header {
        width: 80%;
        height: 60px;
        position: absolute;
        left: 50%;
        transform: translate(-51%, 0);
        :deep(.el-steps--horizontal) {
          position: relative;
        }
        :deep(.el-step__icon) {
          width: 20px;
          height: 20px;
        }
        :deep(.el-step__icon-inner) {
          color: #fff;
        }
        :deep(.el-step__head).is-finish .el-step__icon-inner {
          color: #fff;
        }
        :deep(.el-step__head).is-finish .el-step__icon.is-text {
          background: #fff;
          border-color: #448ef7;
        }
        :deep(.el-step__head).is-process .el-step__icon.is-text {
          border-color: #3d97ff;
          background: #3d97ff;
        }
        :deep(.el-step__head).is-process .el-step__line {
          height: 1px;
        }
        :deep(.el-step__line) {
          color: #333333;
        }
        :deep(.el-step__head).is-success {
          color: #333;
          border-color: rgba(0, 0, 0, 0.15);
        }
        :deep(.el-step__title).is-success {
          color: #333333;
        }
        :deep(.el-step__head).is-success .el-step__icon.is-text {
          border-color: #3d97ff;
          background: transparent;
        }
        :deep(.el-step__head).is-success .el-step__icon-inner {
          color: #1890ff;
        }
        :deep(.el-step__title).is-process {
          color: #333;
        }
        :deep(.el-step__title).is-finish {
          color: #333;
        }
        :deep(.el-step__head).is-wait .el-step__line {
          background: rgba(0, 0, 0, 0.15);
        }
        :deep(.el-step__title) {
          width: 140px;
          font-size: 14px;
          line-height: 38px;
          position: absolute;
          left: 24px;
          top: -8px;
        }
        :deep(.el-step__title).is-wait {
          color: #8c8c8c;
        }
        :deep(.el-step).is-horizontal .el-step__line {
          height: 1px;
          top: 11px;
          width: 28%;
          left: 64%;
        }
        :deep(.el-step__line-inner) {
          border-color: rgba(0, 0, 0, 0.05);
        }
        :deep(.el-step__head).is-wait .el-step__icon.is-text {
          background: rgba(0, 0, 0, 0.15);
          opacity: 1;
        }
        :deep(.el-step__head).is-wait .el-step__icon-inner {
          color: rgba(0, 0, 0, 0.25);
        }
      }
      .title-box {
        width: 100%;
        margin-top: 50px;
        height: 80px;
        p {
          width: 100%;
          height: 70px;
          line-height: 70px;
          padding: 0 0 0 25px;
          margin: 0;
        }
        .line-box {
          width: 100%;
          height: 1px;
          background: #e9e9e9;
        }
      }
    }
    .content_tip {
      width: 100%;
      height: 600px;
      padding-top: 70px;
      background: #fff;
      text-align: center;
      .icon-box {
        width: 100%;
        height: 72px;
        font-size: 60px;
        color: #74c041;
      }
      h4 {
        margin: 15px;
      }
      .tip-text {
        font-size: 14px;
        color: #8c8c8c;
        .link-box {
          display: inline-block;
          color: #448ef7;
          cursor: pointer;
        }
      }
    }
  }
}

.content-container {
  padding: 20px;
}

.form-box {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  background-color: #fff;
}
</style>
