<template>
  <div :class="classObj" class="app-wrapper" :style="{ '--current-color': theme }">
    <TopNavbar ref="TopNavbarRef" :showHamburger="isShowSildbar" @toggleTab="toggleTab" />
    <div
      class="main-container"
      :style="{
        marginLeft: !isShowSildbar ? '0px' : sidebar.opened ? '200px' : '54px'
      }">
      <sidebar
        ref="slidbarRef"
        :style="{ width: isShowSildbar ? '200px' : '0 !important' }"
        class="sidebar-container" />
      <app-main :isShowSildbar="isShowSildbar" />
    </div>
  </div>
</template>

<script setup>
import { useWindowSize } from '@vueuse/core';
import { AppMain } from './components';
import Sidebar from './components/Sidebar/index.vue';
import TopNavbar from './components/TopNavbar';

import useAppStore from '@/store/modules/app';
import useSettingsStore from '@/store/modules/settings';
import { watch } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const settingsStore = useSettingsStore();
const theme = computed(() => settingsStore.theme);
const sidebar = computed(() => useAppStore().sidebar);
const device = computed(() => useAppStore().device);
const needTagsView = computed(() => settingsStore.tagsView);
const fixedHeader = computed(() => settingsStore.fixedHeader);

const classObj = computed(() => ({
  hideSidebar: !sidebar.value.opened,
  openSidebar: sidebar.value.opened,
  withoutAnimation: sidebar.value.withoutAnimation,
  mobile: device.value === 'mobile'
}));

const isShowSildbar = ref(false);
const routePath = computed(() => {
  return route.path;
});

const slidbarRef = ref();
const TopNavbarRef = ref();
const toggleTab = () => {
  slidbarRef.value.getCurrentRoutersOut();
};

watch(
  routePath,
  n => {
    if (n.includes('/totalView')) {
      localStorage.setItem('TotalViewName', 'home');
      isShowSildbar.value = false;
      if (TopNavbarRef.value) {
        TopNavbarRef.value.setActiveName('home');
      }
    } else {
      isShowSildbar.value = true;
    }
  },
  { immediate: true }
);

const { width, height } = useWindowSize();
const WIDTH = 992;

watchEffect(() => {
  if (device.value === 'mobile' && sidebar.value.opened) {
    useAppStore().closeSideBar({ withoutAnimation: false });
  }
  if (width.value - 1 < WIDTH) {
    useAppStore().toggleDevice('mobile');
    useAppStore().closeSideBar({ withoutAnimation: true });
  } else {
    useAppStore().toggleDevice('desktop');
  }
});

function handleClickOutside() {
  useAppStore().closeSideBar({ withoutAnimation: false });
}

const settingRef = ref(null);
function setLayout() {
  settingRef.value.openSetting();
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/mixin.scss';
@import '@/assets/styles/variables.module.scss';

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &.mobile.openSidebar {
    position: fixed;
    top: 0;
  }
}

.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$base-sidebar-width});
  transition: width 0.28s;
}

.hideSidebar .fixed-header {
  width: calc(100% - 54px);
}

.sidebarHide .fixed-header {
  width: 100%;
}

.mobile .fixed-header {
  width: 100%;
}
</style>
